In [4]:
import matplotlib.pyplot as plt
from datetime import datetime
import pandas as pd
import numpy as np
import pickle
import umap.umap_ as umap
from NFLUtils import NFLUtils
nfl_utils = NFLUtils()

### 1. Import & set main dataframe
Import dataset, set df as the original reference dataset

In [5]:
cont_cols = nfl_utils.cont_cols
track_cols = nfl_utils.track_cols


y_col = ['H_Won']

df = pd.read_csv('footballData/combined.csv', index_col=False, low_memory=False)
df = df.sort_values(by='Date')

# Create the H_Won column
df['H_Won'] = np.where(df['H_Final'] > df['V_Final'], 1.0, 0.0)

# Combine passing & rushing TD for UMAP
df['H_passing_rushing_td'] = df['H_passing_td'] + df['H_rushing_td']
df['V_passing_rushing_td'] = df['V_passing_td'] + df['V_rushing_td']

# Create the H_final_allowed, V_final_allowed columns
df['H_Final_Allowed'] = df['V_Final']
df['V_Final_Allowed'] = df['H_Final']

# Remove the performance set
test_performance_size = 200
test_performance_df = df[df.shape[0]-test_performance_size:]
df = df[:df.shape[0]-test_performance_size]
# print(f'df after perf set removed: {df.shape}')
# print(f'df perf set size {test_performance_df.shape}')

for i in range(0,len(df.columns)):
    print(f"{df.columns[i]} {df.dtypes[i]}")

Season int64
Date object
Home_Team object
H_Q1 int64
H_Q2 int64
H_Q3 int64
H_Q4 int64
H_OT int64
H_Final int64
Visitor_Team object
V_Q1 int64
V_Q2 int64
V_Q3 int64
V_Q4 int64
V_OT int64
V_Final int64
H_First_Downs int64
V_First_Downs int64
H_Rush int64
V_Rush int64
H_Yds int64
V_Yds int64
H_TDs int64
V_TDs int64
H_Cmp int64
V_Cmp int64
H_Att int64
V_Att int64
H_Yd int64
V_Yd int64
H_TD int64
V_TD int64
H_INT int64
V_INT int64
H_Sacked int64
V_Sacked int64
H_Yards int64
V_Yards int64
H_Net_Pass_Yards int64
V_Net_Pass_Yards int64
H_Total_Yards int64
V_Total_Yards int64
H_Fumbles int64
V_Fumbles int64
H_Lost int64
V_Lost int64
H_Turnovers int64
V_Turnovers int64
H_Penalties int64
V_Penalties int64
H_Yards.1 int64
V_Yards.1 int64
H_Third_Down_Conv object
V_Third_Down_Conv object
H_Fourth_Down_Conv object
V_Fourth_Down_Conv object
H_Time_of_Possession object
V_Time_of_Possession object
H_passing_att float64
H_passing_cmp float64
H_passing_int float64
H_passing_lng float64
H_passing_sk float64
H_passing_td float64
H_passing_yds float64
H_receiving_lng float64
H_receiving_td float64
H_receiving_yds float64
H_rushing_att float64
H_rushing_lng float64
H_rushing_td float64
H_rushing_yds float64
V_passing_att float64
V_passing_cmp float64
V_passing_int float64
V_passing_lng float64
V_passing_sk float64
V_passing_td float64
V_passing_yds float64
V_receiving_lng float64
V_receiving_td float64
V_receiving_yds float64
V_rushing_att float64
V_rushing_lng float64
V_rushing_td float64
V_rushing_yds float64
H_def_interceptions_int float64
H_def_interceptions_lng float64
H_def_interceptions_td float64
H_def_interceptions_yds float64
H_fumbles_ff float64
H_fumbles_fr float64
H_fumbles_td float64
H_fumbles_yds float64
H_sk float64
H_tackles_ast float64
H_tackles_comb float64
H_tackles_solo float64
V_def_interceptions_int float64
V_def_interceptions_lng float64
V_def_interceptions_td float64
V_def_interceptions_yds float64
V_fumbles_ff float64
V_fumbles_fr float64
V_fumbles_td float64
V_fumbles_yds float64
V_sk float64
V_tackles_ast float64
V_tackles_comb float64
V_tackles_solo float64
H_kick_returns_lng float64
H_kick_returns_rt float64
H_kick_returns_td float64
H_kick_returns_yds float64
H_punt_returns_lng float64
H_punt_returns_ret float64
H_punt_returns_td float64
H_punt_returns_yds float64
V_kick_returns_lng float64
V_kick_returns_rt float64
V_kick_returns_td float64
V_kick_returns_yds float64
V_punt_returns_lng float64
V_punt_returns_ret float64
V_punt_returns_td float64
V_punt_returns_yds float64
H_punting_lng float64
H_punting_pnt float64
H_punting_yds float64
H_scoring_fga float64
H_scoring_fgm float64
H_scoring_xpa float64
H_scoring_xpm float64
V_punting_lng float64
V_punting_pnt float64
V_punting_yds float64
V_scoring_fga float64
V_scoring_fgm float64
V_scoring_xpa float64
V_scoring_xpm float64
H_halftime_odds float64
V_halftime_odds float64
H_start_odds float64
V_start_odds float64
H_Won float64
H_passing_rushing_td float64
V_passing_rushing_td float64
H_Final_Allowed int64
V_Final_Allowed int64

/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/37712009.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{df.columns[i]} {df.dtypes[i]}")

# Check and remove missing data
from https://www.kaggle.com/code/gpreda/santander-eda-and-prediction

In [6]:
def missing_data(data):
    total = data.isnull().sum()
    percent = (data.isnull().sum()/data.isnull().count()*100)
    tt = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    types = []
    for col in data.columns:
        dtype = str(data[col].dtype)
        types.append(dtype)
    tt['Types'] = types
    return(np.transpose(tt))

In [7]:
pd.set_option('display.max_columns', None)
df.dropna()
missing_data(df)

,Season,Date,Home_Team,H_Q1,H_Q2,H_Q3,H_Q4,H_OT,H_Final,Visitor_Team,V_Q1,V_Q2,V_Q3,V_Q4,V_OT,V_Final,H_First_Downs,V_First_Downs,H_Rush,V_Rush,H_Yds,V_Yds,H_TDs,V_TDs,H_Cmp,V_Cmp,H_Att,V_Att,H_Yd,V_Yd,H_TD,V_TD,H_INT,V_INT,H_Sacked,V_Sacked,H_Yards,V_Yards,H_Net_Pass_Yards,V_Net_Pass_Yards,H_Total_Yards,V_Total_Yards,H_Fumbles,V_Fumbles,H_Lost,V_Lost,H_Turnovers,V_Turnovers,H_Penalties,V_Penalties,H_Yards.1,V_Yards.1,H_Third_Down_Conv,V_Third_Down_Conv,H_Fourth_Down_Conv,V_Fourth_Down_Conv,H_Time_of_Possession,V_Time_of_Possession,H_passing_att,H_passing_cmp,H_passing_int,H_passing_lng,H_passing_sk,H_passing_td,H_passing_yds,H_receiving_lng,H_receiving_td,H_receiving_yds,H_rushing_att,H_rushing_lng,H_rushing_td,H_rushing_yds,V_passing_att,V_passing_cmp,V_passing_int,V_passing_lng,V_passing_sk,V_passing_td,V_passing_yds,V_receiving_lng,V_receiving_td,V_receiving_yds,V_rushing_att,V_rushing_lng,V_rushing_td,V_rushing_yds,H_def_interceptions_int,H_def_interceptions_lng,H_def_interceptions_td,H_def_interceptions_yds,H_fumbles_ff,H_fumbles_fr,H_fumbles_td,H_fumbles_yds,H_sk,H_tackles_ast,H_tackles_comb,H_tackles_solo,V_def_interceptions_int,V_def_interceptions_lng,V_def_interceptions_td,V_def_interceptions_yds,V_fumbles_ff,V_fumbles_fr,V_fumbles_td,V_fumbles_yds,V_sk,V_tackles_ast,V_tackles_comb,V_tackles_solo,H_kick_returns_lng,H_kick_returns_rt,H_kick_returns_td,H_kick_returns_yds,H_punt_returns_lng,H_punt_returns_ret,H_punt_returns_td,H_punt_returns_yds,V_kick_returns_lng,V_kick_returns_rt,V_kick_returns_td,V_kick_returns_yds,V_punt_returns_lng,V_punt_returns_ret,V_punt_returns_td,V_punt_returns_yds,H_punting_lng,H_punting_pnt,H_punting_yds,H_scoring_fga,H_scoring_fgm,H_scoring_xpa,H_scoring_xpm,V_punting_lng,V_punting_pnt,V_punting_yds,V_scoring_fga,V_scoring_fgm,V_scoring_xpa,V_scoring_xpm,H_halftime_odds,V_halftime_odds,H_start_odds,V_start_odds,H_Won,H_passing_rushing_td,V_passing_rushing_td,H_Final_Allowed,V_Final_Allowed
Total,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,31,29,31,29,27,25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Percent,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.397997,0.37232,0.397997,0.37232,0.346643,0.320965,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Types,int64,object,object,int64,int64,int64,int64,int64,int64,object,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,object,object,object,object,object,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,int64,int64

In the above table, we see the following sets of columns that contain empty values:

In [8]:
columns_with_empty_values = df.columns[df.isnull().sum() > 0].tolist()
print(columns_with_empty_values)

['H_Third_Down_Conv', 'V_Third_Down_Conv', 'H_Fourth_Down_Conv', 'V_Fourth_Down_Conv', 'H_Time_of_Possession', 'V_Time_of_Possession']

Since some of these columns are strings, replace them with NaN and drop them via df.dropna

There are so few of them that we don't really need to worry about the missing games interfering with the overall prediction

In [9]:
for column in columns_with_empty_values:
    df[column].replace('', np.nan, inplace=True)
df.dropna(subset=columns_with_empty_values, inplace=True)
missing_data(df)

/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/2769842864.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].replace('', np.nan, inplace=True)

,Season,Date,Home_Team,H_Q1,H_Q2,H_Q3,H_Q4,H_OT,H_Final,Visitor_Team,V_Q1,V_Q2,V_Q3,V_Q4,V_OT,V_Final,H_First_Downs,V_First_Downs,H_Rush,V_Rush,H_Yds,V_Yds,H_TDs,V_TDs,H_Cmp,V_Cmp,H_Att,V_Att,H_Yd,V_Yd,H_TD,V_TD,H_INT,V_INT,H_Sacked,V_Sacked,H_Yards,V_Yards,H_Net_Pass_Yards,V_Net_Pass_Yards,H_Total_Yards,V_Total_Yards,H_Fumbles,V_Fumbles,H_Lost,V_Lost,H_Turnovers,V_Turnovers,H_Penalties,V_Penalties,H_Yards.1,V_Yards.1,H_Third_Down_Conv,V_Third_Down_Conv,H_Fourth_Down_Conv,V_Fourth_Down_Conv,H_Time_of_Possession,V_Time_of_Possession,H_passing_att,H_passing_cmp,H_passing_int,H_passing_lng,H_passing_sk,H_passing_td,H_passing_yds,H_receiving_lng,H_receiving_td,H_receiving_yds,H_rushing_att,H_rushing_lng,H_rushing_td,H_rushing_yds,V_passing_att,V_passing_cmp,V_passing_int,V_passing_lng,V_passing_sk,V_passing_td,V_passing_yds,V_receiving_lng,V_receiving_td,V_receiving_yds,V_rushing_att,V_rushing_lng,V_rushing_td,V_rushing_yds,H_def_interceptions_int,H_def_interceptions_lng,H_def_interceptions_td,H_def_interceptions_yds,H_fumbles_ff,H_fumbles_fr,H_fumbles_td,H_fumbles_yds,H_sk,H_tackles_ast,H_tackles_comb,H_tackles_solo,V_def_interceptions_int,V_def_interceptions_lng,V_def_interceptions_td,V_def_interceptions_yds,V_fumbles_ff,V_fumbles_fr,V_fumbles_td,V_fumbles_yds,V_sk,V_tackles_ast,V_tackles_comb,V_tackles_solo,H_kick_returns_lng,H_kick_returns_rt,H_kick_returns_td,H_kick_returns_yds,H_punt_returns_lng,H_punt_returns_ret,H_punt_returns_td,H_punt_returns_yds,V_kick_returns_lng,V_kick_returns_rt,V_kick_returns_td,V_kick_returns_yds,V_punt_returns_lng,V_punt_returns_ret,V_punt_returns_td,V_punt_returns_yds,H_punting_lng,H_punting_pnt,H_punting_yds,H_scoring_fga,H_scoring_fgm,H_scoring_xpa,H_scoring_xpm,V_punting_lng,V_punting_pnt,V_punting_yds,V_scoring_fga,V_scoring_fgm,V_scoring_xpa,V_scoring_xpm,H_halftime_odds,V_halftime_odds,H_start_odds,V_start_odds,H_Won,H_passing_rushing_td,V_passing_rushing_td,H_Final_Allowed,V_Final_Allowed
Total,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Percent,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Types,int64,object,object,int64,int64,int64,int64,int64,int64,object,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,object,object,object,object,object,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,int64,int64

### Convert
Time_of_Possession from %M:%S to %M
Third & fourth down conversion from attempts-total to percentage

In [10]:
for team in ["H", "V"]:
    # Time of possessiion conversion to minutes only
    df[f"{team}_Time_of_Possession"] = pd.to_datetime(df[f"{team}_Time_of_Possession"], format="%M:%S").dt.minute
    
    # Conversion from attempts-total to percentage
    df[f'{team}_Third_Down_Conv'] = df[f'{team}_Third_Down_Conv'].apply(
        lambda x: 0 if int(x.split('-')[1]) == 0 else (int(x.split('-')[0]) / int(x.split('-')[1])) * 100
    )
    df[f'{team}_Fourth_Down_Conv'] = df[f'{team}_Fourth_Down_Conv'].apply(
        lambda x: 0 if int(x.split('-')[1]) == 0 else (int(x.split('-')[0]) / int(x.split('-')[1])) * 100
    )

In [11]:
for col in track_cols[1:]:
    if col in df.columns and df[f'H_{col}'].dtype == 'object':
        print(f'converting {col} to int')
        df.astype({f'H_{col}': 'float32'})
        df.astype({f'V_{col}': 'float32'})

# Combine similar columns
Here we combine the 8 kick_returns & punt_returns columns into 4 kick_punt returns columns. We will calculate maximum between each longest punt (lng) columns and will add the rest

In [12]:
# These columns will be dropped and ignored after everything is calculated
drop_columns = [
    # Removed b/c correlation matrix similarity
    "H_passing_yds", "V_passing_yds",
    "H_receiving_yds", "V_receiving_yds",    
    "H_def_interceptions_lng", "V_def_interceptions_lng",
    "H_receiving_td", "V_receiving_td",
    
    # Removed b/c unimportant (based on domain knowledge)
    "H_punting_lng", "V_punting_lng",
    
    # Removed b/c replaced with meta-feature
    "H_punting_yds", "V_punting_yds",
    "H_scoring_fgm", "V_scoring_fgm",
    "H_scoring_xpm", "V_scoring_xpm"
]


# These columns will be added to create the new (key) column
# The columns composing the key column will be dropped
# { <New column name> : [<combine column names>, ...] }
combine_dict_add = {
    "kick_punt_returns_rt": ["kick_returns_rt", "punt_returns_ret"],
    "kick_punt_returns_td": ["kick_returns_td", "punt_returns_td"],
    "kick_punt_returns_yds": ["kick_returns_yds", "punt_returns_yds"]
}

# These columns will be divided. None will be dropped unless in drop_columns
# { <New column name> : [<numerator column name>, <denominator column name>] }
combine_dict_divide = {
    "scoring_fgp": ["scoring_fgm", "scoring_fga"],
    "scoring_xpp": ["scoring_xpm", "scoring_xpa"],
    "punting_avg": ["punting_yds", "punting_pnt"],
}

# Perform column based operations (max, add, divide)
for team in ["H", "V"]:
    # For the longest kick/punt, get the max & drop columns
    df[f'{team}_kick_punt_returns_lng'] = np.maximum(df[f'{team}_kick_returns_lng'], df[f'{team}_punt_returns_lng'])
    df.drop([f'{team}_kick_returns_lng', f'{team}_punt_returns_lng'], axis=1, inplace=True)

    # -------- Columns to add --------
    for (key, value) in combine_dict_add.items():
        df[f'{team}_{key}'] = df[f'{team}_{value[0]}'] + df[f'{team}_{value[1]}']
        df.drop([f'{team}_{value[0]}', f'{team}_{value[1]}'], axis=1, inplace=True)

    # -------- Columns to divide --------
    for (key, value) in combine_dict_divide.items():
        df[f'{team}_{key}'] = np.where(df[f'{team}_{value[1]}'] > 0, df[f'{team}_{value[0]}']/df[f'{team}_{value[1]}'], 0)

        
# Drop columns
df.drop(drop_columns, axis=1, inplace=True)
print(len(df.columns))
print(list(df.columns))

131
['Season', 'Date', 'Home_Team', 'H_Q1', 'H_Q2', 'H_Q3', 'H_Q4', 'H_OT', 'H_Final', 'Visitor_Team', 'V_Q1', 'V_Q2', 'V_Q3', 'V_Q4', 'V_OT', 'V_Final', 'H_First_Downs', 'V_First_Downs', 'H_Rush', 'V_Rush', 'H_Yds', 'V_Yds', 'H_TDs', 'V_TDs', 'H_Cmp', 'V_Cmp', 'H_Att', 'V_Att', 'H_Yd', 'V_Yd', 'H_TD', 'V_TD', 'H_INT', 'V_INT', 'H_Sacked', 'V_Sacked', 'H_Yards', 'V_Yards', 'H_Net_Pass_Yards', 'V_Net_Pass_Yards', 'H_Total_Yards', 'V_Total_Yards', 'H_Fumbles', 'V_Fumbles', 'H_Lost', 'V_Lost', 'H_Turnovers', 'V_Turnovers', 'H_Penalties', 'V_Penalties', 'H_Yards.1', 'V_Yards.1', 'H_Third_Down_Conv', 'V_Third_Down_Conv', 'H_Fourth_Down_Conv', 'V_Fourth_Down_Conv', 'H_Time_of_Possession', 'V_Time_of_Possession', 'H_passing_att', 'H_passing_cmp', 'H_passing_int', 'H_passing_lng', 'H_passing_sk', 'H_passing_td', 'H_receiving_lng', 'H_rushing_att', 'H_rushing_lng', 'H_rushing_td', 'H_rushing_yds', 'V_passing_att', 'V_passing_cmp', 'V_passing_int', 'V_passing_lng', 'V_passing_sk', 'V_passing_td', 'V_receiving_lng', 'V_rushing_att', 'V_rushing_lng', 'V_rushing_td', 'V_rushing_yds', 'H_def_interceptions_int', 'H_def_interceptions_td', 'H_def_interceptions_yds', 'H_fumbles_ff', 'H_fumbles_fr', 'H_fumbles_td', 'H_fumbles_yds', 'H_sk', 'H_tackles_ast', 'H_tackles_comb', 'H_tackles_solo', 'V_def_interceptions_int', 'V_def_interceptions_td', 'V_def_interceptions_yds', 'V_fumbles_ff', 'V_fumbles_fr', 'V_fumbles_td', 'V_fumbles_yds', 'V_sk', 'V_tackles_ast', 'V_tackles_comb', 'V_tackles_solo', 'H_punting_pnt', 'H_scoring_fga', 'H_scoring_xpa', 'V_punting_pnt', 'V_scoring_fga', 'V_scoring_xpa', 'H_halftime_odds', 'V_halftime_odds', 'H_start_odds', 'V_start_odds', 'H_Won', 'H_passing_rushing_td', 'V_passing_rushing_td', 'H_Final_Allowed', 'V_Final_Allowed', 'H_kick_punt_returns_lng', 'H_kick_punt_returns_rt', 'H_kick_punt_returns_td', 'H_kick_punt_returns_yds', 'H_scoring_fgp', 'H_scoring_xpp', 'H_punting_avg', 'V_kick_punt_returns_lng', 'V_kick_punt_returns_rt', 'V_kick_punt_returns_td', 'V_kick_punt_returns_yds', 'V_scoring_fgp', 'V_scoring_xpp', 'V_punting_avg']

In [13]:
# df['Date'].values
df['Season'].values

array([1995, 1995, 1995, ..., 2024, 2024, 2024])

### 2. Create a dict to track the track_cols array
create another dict to track previous games for each team during the year

In [14]:
track_dict = {}

for row in df.itertuples():
    # year = row.Date.split('-')[0]
    year = row.Season
    home_team = row.Home_Team
    visitor_team = row.Visitor_Team
    
    # Home or visitor team has < minimum_window total games
    for col in track_cols:
        home_column_name = f'{year}_{home_team}_{col}'
        visitor_column_name = f'{year}_{visitor_team}_{col}'
        
        # Home team
        home_col = col if col == 'Date' else 'H_' + col
        if home_column_name in track_dict:
            track_dict[home_column_name].append(getattr(row, home_col))
        else:
            track_dict[home_column_name] = [getattr(row, home_col)]
        
        # Visitor team
        visitor_col = col if col == 'Date' else 'V_' + col
        if visitor_column_name in track_dict:
            track_dict[visitor_column_name].append(getattr(row, visitor_col))
        else:
            track_dict[visitor_column_name] = [getattr(row, visitor_col)]

In [15]:
track_dict['1999_NWE_Rush']

[27, 121, 57, 35, 19, 122, 133, 43, 188, 19, 25, 63, 20, 27, 168, 119]

### 3. Use track_dict to enforce minimum_window, update df or drop row

In [16]:
print(df.shape)
# for index in df.itertuples():
#    print(f"{index.Index} {index.Date} out of {df.shape[0]}")

(7757, 131)

In [17]:
minimum_window = 4
ema_span = 7
print(df.shape)

indices_to_drop = []
current_count = 0

for row in df.itertuples():
    if current_count % 300 == 0:
        print(f'{current_count}/{df.shape[0]}')
    current_count = current_count + 1
    index = row.Index
    # year = row.Date.split('-')[0]
    year = row.Season
    home_team = row.Home_Team
    visitor_team = row.Visitor_Team
    # Home team min window
    home_date_column = f'{year}_{home_team}_Date'
    visitor_date_column = f'{year}_{visitor_team}_Date'

    # Current row is older than Home team at min_window
    if len(track_dict[home_date_column]) > minimum_window and row.Date <= track_dict[home_date_column][minimum_window]:
        indices_to_drop.append(index)
        continue
    # Current row is older than Visitor team at min_window
    if len(track_dict[visitor_date_column]) > minimum_window and row.Date <= track_dict[visitor_date_column][minimum_window]:
        indices_to_drop.append(index)
        continue

    home_date_index = track_dict[home_date_column].index(row.Date)
    visitor_date_index = track_dict[visitor_date_column].index(row.Date)
    # print(f'H: {home_date_index} V: {visitor_date_index}')

    # Update df to have average for each track_cols (Ignoring 'Date', 'datediff' the 1-2nd item)
    for col in track_cols[1:]:
        if col in ['start_odds', 'halftime_odds']:
            continue
        else:
            # Update df to have average for each track_cols (Ignoring 'Date', 'datediff' the 1-2nd item)
            # Update home
            home_col_list = track_dict[f'{year}_{home_team}_{col}'][:home_date_index-1]
            dataframe_val = pd.DataFrame({'value': home_col_list})
            ema = dataframe_val['value'].ewm(span=min(ema_span, len(home_col_list)), adjust=True).mean().iloc[-1]
            df.at[index, 'H_' + col] = ema

            # Update Visitor
            visitor_col_list = track_dict[f'{year}_{visitor_team}_{col}'][:visitor_date_index-1]
            dataframe_val = pd.DataFrame({'value': visitor_col_list})
            ema = dataframe_val['value'].ewm(span=min(minimum_window, len(visitor_col_list)), adjust=False).mean().iloc[-1]
            df.at[index, 'V_' + col] = ema


    # --------------------------------------------------- 
    # ------------------ Custom Columns -----------------
    # --------------------------------------------------- 
    #
    
    # 1. Add variant of Bill James pythagorean expectation (NFL).
    # Recent games weighted more heavily since 'Final' columns not excluded from the above loop
    home_points_for = sum(track_dict[f'{year}_{home_team}_Final'][:home_date_index-1])
    home_points_against = sum(track_dict[f'{year}_{home_team}_Final_Allowed'][:home_date_index-1])
    df.at[index, 'H_pythagorean'] = home_points_for**2.37 / (home_points_for**2.37 + home_points_against**2.37)

    visitor_points_for = sum(track_dict[f'{year}_{visitor_team}_Final'][:visitor_date_index-1])
    visitor_points_against = sum(track_dict[f'{year}_{visitor_team}_Final_Allowed'][:visitor_date_index-1])
    df.at[index, 'V_pythagorean'] = visitor_points_for**2.37 / (visitor_points_for**2.37 + visitor_points_against**2.37)            
            
        
    # 2. Add num days since last game for home, visitor
    df.at[index, f'H_datediff'] = 0
    if home_date_index > 0:
        current_game_date = datetime.strptime(track_dict[home_date_column][home_date_index], "%Y-%m-%d")
        previous_game_date = datetime.strptime(track_dict[home_date_column][home_date_index-1], "%Y-%m-%d")
        game_diff = int((current_game_date - previous_game_date).days)
        # print(f'{current_game_date} minus {previous_game_date} is {game_diff}')
        df.at[index, f'H_datediff'] = game_diff
    
    df.at[index, f'V_datediff'] = 0
    if visitor_date_index > 0:
        current_game_date = datetime.strptime(track_dict[visitor_date_column][visitor_date_index], "%Y-%m-%d")
        previous_game_date = datetime.strptime(track_dict[visitor_date_column][visitor_date_index-1], "%Y-%m-%d")
        game_diff = int((current_game_date - previous_game_date).days)
        # print(f'{current_game_date} minus {previous_game_date} is {game_diff}')
        df.at[index, f'V_datediff'] = game_diff
        
df.drop(indices_to_drop, inplace=True)

# Add custom metrics to track_cols so it creates the difference (D_) column
track_cols.append('datediff')
track_cols.append('pythagorean')
for col in track_cols[1:]:
    cont_cols.append('D_' + col)
    df['D_' + col] = (df['H_' + col] - df['V_' + col]).round(3) # Round to 3 sig figs

print(track_cols)
track_cols.pop()


print(df.shape)

(7757, 131)
0/7757

/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:44: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '18.753676470588232' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'H_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:50: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '16.296' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'V_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:44: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '91.2720588235294' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'H_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:50: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '78.728' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'V_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:44: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '11.856617647058822' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'H_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:50: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '17.64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'V_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:44: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '54.34926470588234' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'H_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:50: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '34.455999999999996' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'V_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:44: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '25.139705882352935' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'H_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:50: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '30.375999999999998' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'V_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:44: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '106.95955882352939' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'H_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:50: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '83.16' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'V_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:44: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '14.613970588235293' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'H_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:50: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '9.304' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'V_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:44: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '217.1066176470588' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'H_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:50: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '111.184' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'V_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:44: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.7499999999999999' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'H_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:50: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.248' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'V_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:44: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '7.647058823529411' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'H_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:50: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '6.824000000000001' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'V_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:44: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '8.227941176470585' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'H_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:50: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '11.944' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'V_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:44: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '302.1433823529411' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'H_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:50: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '162.672' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'V_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:44: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '388.20588235294116' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'H_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:50: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '258.104' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'V_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:50: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.1680000000000001' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'V_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:44: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.5477941176470584' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'H_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:50: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.6960000000000002' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'V_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:44: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.625' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'H_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:50: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.872' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'V_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:44: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '43.253676470588225' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'H_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:50: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '19.088' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'V_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:44: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '25.53676470588235' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  df.at[index, 'H_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:50: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '27.160000000000004' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  df.at[index, 'V_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:44: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '25.011029411764703' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'H_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:50: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '12.440000000000001' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'V_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:44: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '28.977941176470583' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'H_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:50: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '12.863999999999999' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'V_' + col] = ema
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_21064/4174120937.py:44: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.1102941176470587' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[index, 'H_' + col] = ema

300/7757
600/7757

KeyboardInterrupt:

dataframe_val
   value
0      1
1     23
2      0
3     18
4      4
5      1
ema
0     1.000000
1    13.833333
2     7.614679
3    11.626126
4     8.949569
5     6.330412
Name: value, dtype: float64
ema is: 6.330412451972085
dataframe_val
   value
0     26
1    260
2     39
3    189
4     21
5     41
ema
0     26.000000
1    162.500000
2    106.981651
3    138.662162
4     97.366028
5     78.795029
Name: value, dtype: float64
ema is: 78.79502862071669
dataframe_val
   value
0      1
1      1
2      3
3      1
4      0
5      2
ema
0    1.000000
1    1.000000
2    1.899083
3    1.551802
4    1.007163
5    1.334274
Name: value, dtype: float64
ema is: 1.3342742884027288
dataframe_val
   value
0      1
1      0
2      1
3      5
4      3
5      3
ema
0    1.000000
1    0.416667
2    0.678899
3    2.347973
4    2.576816
5    2.716243
Name: value, dtype: float64
ema is: 2.7162432368854383
dataframe_val
   value
0      5
1      9
2      2
3     13
4      1
5      1
ema
0    5.000000
1    7.333333
2    4.935780
3    8.050676
4    5.576085
5    4.068396
Name: value, dtype: float64
ema is: 4.068395671606679
dataframe_val
   value
0    294
1    251
2    139
3    176
4    232
5    318
ema
0    294.000000
1    268.916667
2    210.513761
3    197.182432
4    209.402427
5    245.182232
Name: value, dtype: float64
ema is: 245.18223163177288
dataframe_val
   value
0    371
1    397
2    270
3    334
4    327
5    369
ema
0    371.000000
1    386.166667
2    333.944954
3    333.966216
4    331.521269
5    343.869442
Name: value, dtype: float64
ema is: 343.8694424841214
dataframe_val
   value
0      3
1      0
2      3
3      0
4      1
5      3
ema
0    3.000000
1    1.250000
2    2.036697
3    1.250000
4    1.162257
5    1.767741
Name: value, dtype: float64
ema is: 1.7677409237042265
dataframe_val
   value
0      2
1      1
2      2
3      0
4      1
5      1
ema
0    2.000000
1    1.416667
2    1.678899
3    1.030405
4    1.019734
5    1.013232
Name: value, dtype: float64
ema is: 1.0132321806633733
dataframe_val
   value
0      3
1      2
2      1
3      1
4      4
5      3
ema
0    3.000000
1    2.416667
2    1.779817
3    1.478604
4    2.363543
5    2.573238
Name: value, dtype: float64
ema is: 2.5732376695679444
dataframe_val
   value
0      7
1     57
2      5
3     84
4     12
5      6
ema
0     7.000000
1    36.166667
2    22.155963
3    46.043919
4    34.095454
5    24.838803
Name: value, dtype: float64
ema is: 24.838802634674195
dataframe_val
       value
0  30.769231
1  54.545455
2  28.571429
3  57.894737
4  33.333333
5  62.500000
ema
0    30.769231
1    44.638695
2    37.415795
3    45.326017
4    41.116920
5    48.162035
Name: value, dtype: float64
ema is: 48.16203530302535
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3  100.0
4   50.0
5    0.0
ema
0     0.000000
1     0.000000
2     0.000000
3    38.626126
4    42.618038
5    28.576609
Name: value, dtype: float64
ema is: 28.576609425233276
dataframe_val
   value
0     26
1     34
2     25
3     36
4     26
5     36
ema
0    26.000000
1    30.666667
2    28.119266
3    31.163288
4    29.351118
5    31.541735
Name: value, dtype: float64
ema is: 31.541735277973807
dataframe_val
   value
0   47.0
1   35.0
2   23.0
3   32.0
4   41.0
5   42.0
ema
0    47.000000
1    40.000000
2    32.357798
3    32.219595
4    35.301272
5    37.508312
Name: value, dtype: float64
ema is: 37.50831176977966
dataframe_val
   value
0   23.0
1   23.0
2   10.0
3   18.0
4   22.0
5   28.0
ema
0    23.000000
1    23.000000
2    17.155963
3    17.481982
4    19.067680
5    22.010625
Name: value, dtype: float64
ema is: 22.01062495099192
dataframe_val
   value
0    1.0
1    1.0
2    0.0
3    1.0
4    4.0
5    1.0
ema
0    1.000000
1    1.000000
2    0.550459
3    0.724099
4    1.873849
5    1.585941
Name: value, dtype: float64
ema is: 1.5859405630047831
dataframe_val
   value
0   39.0
1   24.0
2   39.0
3   25.0
4   23.0
5   54.0
ema
0    39.000000
1    30.250000
2    34.183486
3    30.636261
4    27.956147
5    36.536854
Name: value, dtype: float64
ema is: 36.53685407355132
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    2.0
4    3.0
5    3.0
ema
0    1.000000
1    1.000000
2    1.000000
3    1.386261
4    1.952639
5    2.297714
Name: value, dtype: float64
ema is: 2.2977142633105934
dataframe_val
   value
0    1.0
1    2.0
2    1.0
3    0.0
4    1.0
5    1.0
ema
0    1.000000
1    1.583333
2    1.321101
3    0.810811
4    0.877211
5    0.917666
Name: value, dtype: float64
ema is: 0.9176664314278993
dataframe_val
   value
0  108.0
1   70.0
2   88.0
3   63.0
4   98.0
5  182.0
ema
0    108.000000
1     85.833333
2     86.807339
3     77.611486
4     84.767285
5    116.802693
Name: value, dtype: float64
ema is: 116.80269348388613
dataframe_val
   value
0   20.0
1   36.0
2   30.0
3   39.0
4   20.0
5   31.0
ema
0    20.000000
1    29.333333
2    29.633028
3    33.251126
4    28.600351
5    29.390967
Name: value, dtype: float64
ema is: 29.390966831333806
dataframe_val
   value
0   53.0
1   24.0
2   27.0
3   49.0
4   19.0
5   23.0
ema
0    53.000000
1    36.083333
2    32.000000
3    38.566441
4    31.699167
5    28.833039
Name: value, dtype: float64
ema is: 28.833039284874147
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    2.0
4    1.0
5    1.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.772523
4    0.852361
5    0.901004
Name: value, dtype: float64
ema is: 0.901003685407355
dataframe_val
   value
0   77.0
1  146.0
2  131.0
3  158.0
4   95.0
5   51.0
ema
0     77.000000
1    117.250000
2    123.431193
3    136.783784
4    122.118842
5     98.687211
Name: value, dtype: float64
ema is: 98.68721085234846
dataframe_val
   value
0    1.0
1    2.0
2    1.0
3    2.0
4    2.0
5    2.0
ema
0    1.000000
1    1.583333
2    1.321101
3    1.583333
4    1.729572
5    1.818670
Name: value, dtype: float64
ema is: 1.8186701168352544
dataframe_val
   value
0    0.0
1    2.0
2    1.0
3    0.0
4    1.0
5    0.0
ema
0    0.000000
1    1.166667
2    1.091743
3    0.670045
4    0.785850
5    0.526935
Name: value, dtype: float64
ema is: 0.5269348388614444
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    1.0
2    4.0
3    0.0
4    0.0
5    0.0
ema
0    0.000000
1    0.583333
2    2.119266
3    1.300676
4    0.844175
5    0.566043
Name: value, dtype: float64
ema is: 0.5660432839331921
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    1.0
1    0.0
2    3.0
3    0.0
4    1.0
5    2.0
ema
0    1.000000
1    0.416667
2    1.577982
3    0.968468
4    0.979535
5    1.315749
Name: value, dtype: float64
ema is: 1.3157492354740061
dataframe_val
   value
0    0.0
1    0.0
2    1.0
3    0.0
4    0.0
5    0.0
ema
0    0.000000
1    0.000000
2    0.449541
3    0.275901
4    0.179067
5    0.120070
Name: value, dtype: float64
ema is: 0.12006978750098017
dataframe_val
   value
0   -3.0
1    0.0
2   29.0
3    0.0
4   -3.0
5    0.0
ema
0    -3.000000
1    -1.250000
2    12.348624
3     7.578829
4     3.865955
5     2.592233
Name: value, dtype: float64
ema is: 2.592233200031365
dataframe_val
   value
0    5.0
1    1.0
2    2.0
3    1.0
4    1.0
5    1.0
ema
0    5.000000
1    2.666667
2    2.366972
3    1.838964
4    1.544511
5    1.365110
Name: value, dtype: float64
ema is: 1.3651101701560417
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    6.0
1    6.0
2    8.0
3    6.0
4    5.0
5    8.0
ema
0    6.000000
1    6.000000
2    6.899083
3    6.551802
4    6.007163
5    6.663746
Name: value, dtype: float64
ema is: 6.6637457853054185
dataframe_val
   value
0    0.0
1    0.0
2    1.0
3    0.0
4    0.0
5    0.0
ema
0    0.000000
1    0.000000
2    0.449541
3    0.275901
4    0.179067
5    0.120070
Name: value, dtype: float64
ema is: 0.12006978750098017
dataframe_val
   value
0   87.0
1   83.0
2  215.0
3   67.0
4   79.0
5  173.0
ema
0     87.000000
1     84.666667
2    143.256881
3    113.801802
4    101.587341
5    125.115777
Name: value, dtype: float64
ema is: 125.11577667999686
dataframe_val
   value
0    4.0
1    4.0
2    8.0
3    5.0
4    4.0
5    4.0
ema
0    4.000000
1    4.000000
2    5.798165
3    5.489865
4    4.966964
5    4.648377
Name: value, dtype: float64
ema is: 4.648376852505293
dataframe_val
   value
0  44.50
1  39.25
2  41.75
3  38.60
4  59.50
5  50.75
ema
0    44.500000
1    41.437500
2    41.577982
3    40.427703
4    47.121547
5    48.317019
Name: value, dtype: float64
ema is: 48.31701854465616
dataframe_val
   value
0    1.0
1    0.0
2    2.0
3    1.0
4    1.0
5    3.0
ema
0    1.000000
1    0.416667
2    1.128440
3    1.078829
4    1.051162
5    1.693249
Name: value, dtype: float64
ema is: 1.6932486473770876
dataframe_val
   value
0    0.0
1    0.0
2    1.0
3    1.0
4    1.0
5    1.0
ema
0    0.000000
1    0.000000
2    0.449541
3    0.662162
4    0.780734
5    0.852976
Name: value, dtype: float64
ema is: 0.852975770406963
dataframe_val
   value
0    1.0
1    2.0
2    3.0
3    2.0
4    1.0
5    2.0
ema
0    1.000000
1    1.583333
2    2.220183
3    2.135135
4    1.736734
5    1.823473
Name: value, dtype: float64
ema is: 1.8234729083352936
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
ema
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
Name: value, dtype: float64
ema is: 1.0
dataframe_val
   value
0      7
1     14
2     27
3     17
4     16
5     23
ema
0     7.000000
1    11.083333
2    18.238532
3    17.760135
4    17.142377
5    19.072297
Name: value, dtype: float64
ema is: 19.07229671449855
dataframe_val
   value
0     17
1     10
2     21
3      6
4     31
5     29
ema
0    17.000000
1    12.916667
2    16.550459
3    12.475225
4    18.976904
5    22.279228
Name: value, dtype: float64
ema is: 22.279228416843093
dataframe_val
   value
0     16
1     19
2     19
3     23
4     22
ema
0    16.000000
1    17.800000
2    18.368421
3    20.292308
4    20.947867
Name: value, dtype: float64
ema is: 20.947867298578196
dataframe_val
   value
0     22
1     15
2    121
3     78
4     59
ema
0    22.000000
1    17.800000
2    66.684211
3    71.384615
4    66.630332
Name: value, dtype: float64
ema is: 66.63033175355449
dataframe_val
   value
0      0
1      0
2     29
3     22
4     22
ema
0     0.000000
1     0.000000
2    13.736842
3    17.169231
4    19.023697
Name: value, dtype: float64
ema is: 19.02369668246445
dataframe_val
   value
0    150
1    155
2      1
3      1
4      3
ema
0    150.000000
1    153.000000
2     81.000000
3     47.769231
4     30.582938
Name: value, dtype: float64
ema is: 30.582938388625607
dataframe_val
   value
0     18
1     27
2     25
3     44
4     40
ema
0    18.000000
1    23.400000
2    24.157895
3    32.400000
4    35.317536
Name: value, dtype: float64
ema is: 35.31753554502369
dataframe_val
   value
0    195
1    279
2      1
3      2
4      2
ema
0    195.000000
1    245.400000
2    129.631579
3     76.615385
4     47.971564
Name: value, dtype: float64
ema is: 47.97156398104266
dataframe_val
   value
0      1
1      1
2     17
3     28
4     24
ema
0     1.000000
1     1.000000
2     8.578947
3    16.646154
4    19.469194
Name: value, dtype: float64
ema is: 19.469194312796205
dataframe_val
   value
0     35
1     29
2    217
3    291
4    273
ema
0     35.000000
1     31.400000
2    119.315789
3    190.630769
4    222.251185
Name: value, dtype: float64
ema is: 222.25118483412317
dataframe_val
   value
0      0
1      1
2      0
3      0
4      1
ema
0    0.000000
1    0.600000
2    0.315789
3    0.184615
4    0.497630
Name: value, dtype: float64
ema is: 0.4976303317535545
dataframe_val
   value
0      2
1      4
2     49
3     10
4      4
ema
0     2.000000
1     3.200000
2    24.894737
3    18.707692
4    13.061611
Name: value, dtype: float64
ema is: 13.061611374407583
dataframe_val
   value
0      1
1      2
2     19
3      5
4      5
ema
0    1.000000
1    1.600000
2    9.842105
3    7.830769
4    6.744076
Name: value, dtype: float64
ema is: 6.7440758293838865
dataframe_val
   value
0    180
1    272
2    198
3    286
4    268
ema
0    180.000000
1    235.200000
2    217.578947
3    246.000000
4    254.445498
Name: value, dtype: float64
ema is: 254.44549763033174
dataframe_val
   value
0    302
1    326
2    358
3    316
4    429
ema
0    302.000000
1    316.400000
2    336.105263
3    327.753846
4    366.620853
Name: value, dtype: float64
ema is: 366.6208530805687
dataframe_val
   value
0      0
1      2
2      0
3      0
4      1
ema
0    0.000000
1    1.200000
2    0.631579
3    0.369231
4    0.611374
Name: value, dtype: float64
ema is: 0.6113744075829385
dataframe_val
   value
0      2
1      1
2      3
3      0
4      0
ema
0    2.000000
1    1.400000
2    2.157895
3    1.261538
4    0.777251
Name: value, dtype: float64
ema is: 0.7772511848341233
dataframe_val
   value
0      1
1      1
2      3
3      0
4      1
ema
0    1.000000
1    1.000000
2    1.947368
3    1.138462
4    1.085308
Name: value, dtype: float64
ema is: 1.085308056872038
dataframe_val
   value
0     10
1      9
2     82
3     46
4     39
ema
0    10.000000
1     9.400000
2    43.789474
3    44.707692
4    42.516588
Name: value, dtype: float64
ema is: 42.51658767772511
dataframe_val
       value
0  38.461538
1  40.000000
2  61.538462
3  50.000000
4  58.333333
ema
0    38.461538
1    39.384615
2    49.878543
3    49.928994
4    53.155304
Name: value, dtype: float64
ema is: 53.15530441122859
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3  100.0
4    0.0
ema
0     0.000000
1     0.000000
2     0.000000
3    41.538462
4    25.592417
Name: value, dtype: float64
ema is: 25.59241706161137
dataframe_val
   value
0     26
1     29
2     27
3     31
4     28
ema
0    26.000000
1    27.800000
2    27.421053
3    28.907692
4    28.559242
Name: value, dtype: float64
ema is: 28.55924170616114
dataframe_val
   value
0   32.0
1   48.0
2   26.0
3   42.0
4   38.0
ema
0    32.000000
1    41.600000
2    34.210526
3    37.446154
4    37.658768
Name: value, dtype: float64
ema is: 37.658767772511844
dataframe_val
   value
0   18.0
1   27.0
2   17.0
3   28.0
4   24.0
ema
0    18.000000
1    23.400000
2    20.368421
3    23.538462
4    23.715640
Name: value, dtype: float64
ema is: 23.715639810426538
dataframe_val
   value
0    1.0
1    1.0
2    0.0
3    0.0
4    1.0
ema
0    1.000000
1    1.000000
2    0.526316
3    0.307692
4    0.573460
Name: value, dtype: float64
ema is: 0.5734597156398104
dataframe_val
   value
0   30.0
1   47.0
2   39.0
3   25.0
4   40.0
ema
0    30.000000
1    40.200000
2    39.631579
3    33.553846
4    36.028436
Name: value, dtype: float64
ema is: 36.028436018957336
dataframe_val
   value
0    2.0
1    4.0
2    2.0
3    3.0
4    3.0
ema
0    2.000000
1    3.200000
2    2.631579
3    2.784615
4    2.867299
Name: value, dtype: float64
ema is: 2.867298578199052
dataframe_val
   value
0    2.0
1    1.0
2    1.0
3    1.0
4    2.0
ema
0    2.000000
1    1.400000
2    1.210526
3    1.123077
4    1.459716
Name: value, dtype: float64
ema is: 1.4597156398104265
dataframe_val
   value
0   70.0
1  121.0
2   69.0
3   87.0
4  102.0
ema
0     70.000000
1    100.600000
2     85.631579
3     86.200000
4     92.265403
Name: value, dtype: float64
ema is: 92.26540284360189
dataframe_val
   value
0   22.0
1   15.0
2   29.0
3   22.0
4   22.0
ema
0    22.000000
1    17.800000
2    23.105263
3    22.646154
4    22.398104
Name: value, dtype: float64
ema is: 22.398104265402843
dataframe_val
   value
0   58.0
1   31.0
2   61.0
3   10.0
4   80.0
ema
0    58.000000
1    41.800000
2    50.894737
3    33.907692
4    51.601896
Name: value, dtype: float64
ema is: 51.60189573459716
dataframe_val
   value
0    0.0
1    0.0
2    1.0
3    1.0
4    3.0
ema
0    0.000000
1    0.000000
2    0.473684
3    0.692308
4    1.578199
Name: value, dtype: float64
ema is: 1.578199052132701
dataframe_val
   value
0  122.0
1   54.0
2  160.0
3   30.0
4  161.0
ema
0    122.000000
1     81.200000
2    118.526316
3     81.753846
4    112.175355
Name: value, dtype: float64
ema is: 112.17535545023696
dataframe_val
   value
0    2.0
1    1.0
2    2.0
3    2.0
4    5.0
ema
0    2.000000
1    1.400000
2    1.684211
3    1.815385
4    3.037915
Name: value, dtype: float64
ema is: 3.0379146919431275
dataframe_val
   value
0    4.0
1    0.0
2    0.0
3    1.0
4    0.0
ema
0    4.000000
1    1.600000
2    0.842105
3    0.907692
4    0.559242
Name: value, dtype: float64
ema is: 0.5592417061611376
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0   31.0
1    0.0
2    0.0
3    4.0
4    0.0
ema
0    31.000000
1    12.400000
2     6.526316
3     5.476923
4     3.374408
Name: value, dtype: float64
ema is: 3.3744075829383893
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    2.0
2    0.0
3    0.0
4    4.0
ema
0    0.000000
1    1.200000
2    0.631579
3    0.369231
4    1.763033
Name: value, dtype: float64
ema is: 1.76303317535545
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    9.0
2    0.0
3    0.0
4   11.0
ema
0    0.000000
1    5.400000
2    2.842105
3    1.661538
4    5.246445
Name: value, dtype: float64
ema is: 5.246445497630331
dataframe_val
   value
0    1.0
1    2.0
2    7.0
3    1.0
4    1.0
ema
0    1.000000
1    1.600000
2    4.157895
3    2.846154
4    2.137441
Name: value, dtype: float64
ema is: 2.137440758293839
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    5.0
1    7.0
2    8.0
3    6.0
4    8.0
ema
0    5.000000
1    6.200000
2    7.052632
3    6.615385
4    7.146919
Name: value, dtype: float64
ema is: 7.14691943127962
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0   79.0
1  125.0
2  155.0
3  116.0
4   99.0
ema
0     79.000000
1    106.600000
2    129.526316
3    123.907692
4    114.345972
Name: value, dtype: float64
ema is: 114.34597156398102
dataframe_val
   value
0    5.0
1    6.0
2    3.0
3    2.0
4    4.0
ema
0    5.000000
1    5.600000
2    4.368421
3    3.384615
4    3.620853
Name: value, dtype: float64
ema is: 3.620853080568721
dataframe_val
       value
0  40.000000
1  42.833333

dataframe_val
   value
0     36
1     27
2    188
3    136
4     32
5    220
6    249
ema
0     36.000000
1     30.857143
2     98.810811
3    112.411429
4     86.053777
5    126.790615
6    162.049447
Name: value, dtype: float64
ema is: 162.0494470662816
dataframe_val
   value
0      0
1      2
2      4
3      0
4      1
5      0
6      0
ema
0    0.000000
1    1.142857
2    2.378378
3    1.508571
4    1.341869
5    0.933769
6    0.664366
Name: value, dtype: float64
ema is: 0.6643657110657181
dataframe_val
   value
0      1
1      7
2      0
3     14
4      1
5      6
6      0
ema
0    1.000000
1    4.428571
2    2.513514
3    6.714286
4    4.841229
5    5.193644
6    3.695217
Name: value, dtype: float64
ema is: 3.6952172994294568
dataframe_val
   value
0      5
1      1
2     23
3     13
4      0
5     38
6     30
ema
0     5.000000
1     2.714286
2    11.486486
3    12.040000
4     8.093470
5    17.188892
6    20.885046
Name: value, dtype: float64
ema is: 20.885046136507714
dataframe_val
   value
0    202
1    210
2    165
3    123
4    252
5    182
6    219
ema
0    202.000000
1    206.571429
2    188.594595
3    164.605714
4    193.252241
5    189.830116
6    198.245967
Name: value, dtype: float64
ema is: 198.24596745791365
dataframe_val
   value
0    285
1    311
2    239
3    236
4    310
5    299
6    263
ema
0    285.000000
1    299.857143
2    273.540541
3    259.811429
4    276.262484
5    283.177606
6    277.356132
Name: value, dtype: float64
ema is: 277.3561315770937
dataframe_val
   value
0      0
1      2
2      2
3      1
4      1
5      3
6      2
ema
0    0.000000
1    1.142857
2    1.513514
3    1.325714
4    1.218950
5    1.760618
6    1.829682
Name: value, dtype: float64
ema is: 1.8296823272522365
dataframe_val
   value
0      2
1      1
2      3
3      1
4      3
5      0
6      2
ema
0    2.000000
1    1.428571
2    2.108108
3    1.702857
4    2.128041
5    1.480843
6    1.630626
Name: value, dtype: float64
ema is: 1.630626188631401
dataframe_val
   value
0      1
1      4
2      7
3      1
4      0
5      0
6      2
ema
0    1.000000
1    2.714286
2    4.567568
3    3.262857
4    2.193342
5    1.526285
6    1.662957
Name: value, dtype: float64
ema is: 1.6629569627386067
dataframe_val
   value
0      8
1      5
2     36
3     20
4     11
5     87
6     20
ema
0     8.000000
1     6.285714
2    19.135135
3    19.451429
4    16.681178
5    38.067122
6    32.854547
Name: value, dtype: float64
ema is: 32.854546735225746
dataframe_val
       value
0  40.000000
1  57.142857
2  27.272727
3  54.545455
4  23.076923
5  20.000000
6  33.333333
ema
0    40.000000
1    49.795918
2    40.056160
3    45.355102
4    38.052652
5    32.562329
6    32.784773
Name: value, dtype: float64
ema is: 32.7847729270565
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4  100.0
5    0.0
6    0.0
ema
0     0.000000
1     0.000000
2     0.000000
3     0.000000
4    32.778489
5    22.809623
6    16.228781
Name: value, dtype: float64
ema is: 16.228780728322885
dataframe_val
   value
0     25
1     30
2     26
3     28
4     26
5     35
6     31
ema
0    25.000000
1    27.857143
2    27.054054
3    27.400000
4    26.941101
5    29.392040
6    29.855955
Name: value, dtype: float64
ema is: 29.85595548355286
dataframe_val
   value
0   19.0
1   36.0
2   34.0
3   18.0
4   33.0
5   33.0
6   37.0
ema
0    19.000000
1    28.714286
2    31.000000
3    26.245714
4    28.459667
5    29.840511
6    31.906107
Name: value, dtype: float64
ema is: 31.906106923998028
dataframe_val
   value
0   11.0
1   20.0
2   15.0
3   13.0
4   13.0
5   15.0
6   24.0
ema
0    11.000000
1    16.142857
2    15.648649
3    14.680000
4    14.129321
5    14.394119
6    17.165528
Name: value, dtype: float64
ema is: 17.165527928435584
dataframe_val
   value
0    1.0
1    2.0
2    4.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    1.000000
1    1.571429
2    2.621622
3    1.662857
4    1.117798
5    0.777844
6    0.553427
Name: value, dtype: float64
ema is: 0.5534267803056985
dataframe_val
   value
0   64.0
1   38.0
2   36.0
3   20.0
4  119.0
5   62.0
6   16.0
ema
0    64.000000
1    49.142857
2    43.459459
3    34.880000
4    62.453265
5    62.315414
6    48.952877
Name: value, dtype: float64
ema is: 48.952877368458125
dataframe_val
   value
0    1.0
1    7.0
2    4.0
3    2.0
4    1.0
5    7.0
6    3.0
ema
0    1.000000
1    4.428571
2    4.243243
3    3.422857
4    2.628681
5    3.958123
6    3.681693
Name: value, dtype: float64
ema is: 3.6816933154891878
dataframe_val
   value
0    2.0
1    0.0
2    0.0
3    1.0
4    0.0
5    0.0
6    0.0
ema
0    2.000000
1    0.857143
2    0.486486
3    0.674286
4    0.453265
5    0.315414
6    0.224414
Name: value, dtype: float64
ema is: 0.2244136085088399
dataframe_val
   value
0  112.0
1  140.0
2   93.0
3   95.0
4  162.0
5  113.0
6   94.0
ema
0    112.000000
1    128.000000
2    112.864865
3    106.331429
4    124.578745
5    121.057321
6    113.250969
Name: value, dtype: float64
ema is: 113.25096851447489
dataframe_val
   value
0   29.0
1   26.0
2   22.0
3   30.0
4   26.0
5   35.0
6   23.0
ema
0    29.000000
1    27.285714
2    25.000000
3    26.828571
4    26.556978
5    29.124740
6    27.357681
Name: value, dtype: float64
ema is: 27.357681200253573
dataframe_val
   value
0   20.0
1   20.0
2   18.0
3   21.0
4   16.0
5   31.0
6   13.0
ema
0    20.000000
1    20.000000
2    19.135135
3    19.817143
4    18.565941
5    22.347490
6    19.650630
Name: value, dtype: float64
ema is: 19.65063041487638
dataframe_val
   value
0    1.0
1    1.0
2    0.0
3    1.0
4    2.0
5    1.0
6    1.0
ema
0    1.000000
1    1.000000
2    0.567568
3    0.725714
4    1.143406
5    1.099792
6    1.071001
Name: value, dtype: float64
ema is: 1.0710009156864126
dataframe_val
   value
0   83.0
1  101.0
2   74.0
3  113.0
4   58.0
5  117.0
6   44.0
ema
0    83.000000
1    93.285714
2    84.945946
3    95.205714
4    83.010243
5    93.347490
6    79.110164
Name: value, dtype: float64
ema is: 79.11016411918011
dataframe_val
   value
0    3.0
1    1.0
2    0.0
3    2.0
4    2.0
5    1.0
6    1.0
ema
0    3.000000
1    1.857143
2    1.054054
3    1.400000
4    1.596671
5    1.415206
6    1.295415
Name: value, dtype: float64
ema is: 1.2954145241952526
dataframe_val
   value
0    1.0
1    0.0
2    0.0
3    1.0
4    1.0
5    3.0
6    2.0
ema
0    1.000000
1    0.428571
2    0.243243
3    0.520000
4    0.677337
5    1.383724
6    1.561527
Name: value, dtype: float64
ema is: 1.5615270831865886
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    8.0
1    0.0
2    0.0
3    0.0
4   21.0
5   43.0
6    0.0
ema
0     8.000000
1     3.428571
2     1.945946
3     1.234286
4     7.713188
5    18.444906
6    13.123336
Name: value, dtype: float64
ema is: 13.1233359160386
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    1.0
1    1.0
2    2.0
3    2.0
4    4.0
5    3.0
6    2.0
ema
0    1.000000
1    1.000000
2    1.432432
3    1.640000
4    2.413572
5    2.591922
6    2.421145
Name: value, dtype: float64
ema is: 2.4211453123899416
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    1.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    0.000000
5    0.000000
6    0.288512
Name: value, dtype: float64
ema is: 0.28851165739240686
dataframe_val
   value
0   13.0
1    0.0
2   12.0
3    0.0
4    0.0
5    0.0
6   78.0
ema
0    13.000000
1     5.571429
2     8.351351
3     5.297143
4     3.560819
5     2.477873
6    24.266887
Name: value, dtype: float64
ema is: 24.266887370571247
dataframe_val
   value
0    5.0
1    1.0
2    0.0
3    3.0
4    0.0
5    1.0
6    0.0
ema
0    5.000000
1    2.714286
2    1.540541
3    2.074286
4    1.394366
5    1.274428
6    0.906741
Name: value, dtype: float64
ema is: 0.9067408607452279
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    6.0
1    5.0
2    9.0
3    5.0
4    5.0
5    5.0
6    7.0
ema
0    6.000000
1    5.428571
2    6.972973
3    6.251429
4    5.841229
5    5.585388
6    5.993520
Name: value, dtype: float64
ema is: 5.993519757695288
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0  109.0
1   87.0
2  130.0
3   87.0
4  101.0
5   74.0
6  128.0
ema
0    109.000000
1     96.428571
2    110.945946
3    102.188571
4    101.798976
5     93.344520
6    103.343030
Name: value, dtype: float64
ema is: 103.34303021765162
dataframe_val
   value
0    5.0
1    2.0
2    3.0
3    5.0
4    5.0
5    6.0
6    6.0
ema
0    5.000000
1    3.285714
2    3.162162
3    3.834286
4    4.216389
5    4.758836
6    5.116926
Name: value, dtype: float64
ema is: 5.116926111150243
dataframe_val
       value
0  38.400000
1  49.000000
2  51.333333
3  43.600000
4  50.400000
5  40.166667
6  43.500000
ema
0    38.400000
1    44.457143
2    47.430631
3    46.029714
4    47.462228
5    45.243441
6    44.740438
Name: value, dtype: float64
ema is: 44.740438120729735
dataframe_val
   value
0    0.0
1    1.0
2    2.0
3    0.0
4    3.0
5    6.0
6    2.0
ema
0    0.000000
1    0.571429
2    1.189189
3    0.754286
4    1.490397
5    2.861895
6    2.613228
Name: value, dtype: float64
ema is: 2.6132281467915757
dataframe_val
      value
0  0.000000
1  0.000000
2  1.000000
3  0.000000
4  0.666667
5  0.666667
6  1.000000
ema
0    0.000000
1    0.000000
2    0.432432
3    0.274286
4    0.402902
5    0.483120
6    0.632246
Name: value, dtype: float64
ema is: 0.6322462492075791
dataframe_val
   value
0    3.0
1    0.0
2    0.0
3    2.0
4    2.0
5    1.0
6    2.0
ema
0    3.000000
1    1.285714
2    0.729730
3    1.194286
4    1.458387
5    1.318978
6    1.515461
Name: value, dtype: float64
ema is: 1.5154610128900472
dataframe_val
   value
0    1.0
1    0.0
2    0.0
3    1.0
4    1.0
5    1.0
6    1.0
ema
0    1.000000
1    0.428571
2    0.243243
3    0.520000
4    0.677337
5    0.775468
6    0.840248
Name: value, dtype: float64
ema is: 0.8402479397055715
dataframe_val
   value
0     21
1      6
2      6
3     14
4     20
5     19
6     20
ema
0    21.000000
1    12.428571
2     9.648649
3    11.240000
4    14.111396
5    15.598159
6    16.868141
Name: value, dtype: float64
ema is: 16.868141156582375
dataframe_val
   value
0      6
1     22
2     25
3      6
4     13
5     16
6     17
ema
0     6.000000
1    15.142857
2    19.405405
3    14.502857
4    14.010243
5    14.615385
6    15.303374
Name: value, dtype: float64
ema is: 15.303373952243431
dataframe_val
   value
0     26
1     27
2     20
3     26
4     19
5     25
ema
0    26.000000
1    26.583333
2    23.623853
3    24.541667
4    22.596696
5    23.388516
Name: value, dtype: float64
ema is: 23.38851642750725
dataframe_val
   value
0     35
1     89
2     23
3     52
4     26
5     74
ema
0    35.000000
1    66.500000
2    46.944954
3    48.897523
4    40.861131
5    51.779444
Name: value, dtype: float64
ema is: 51.77944405237983
dataframe_val
   value
0      4
1     38
2      2
3     36
4      0
5     34
ema
0     4.000000
1    23.833333
2    14.018349
3    22.509009
4    14.608975
5    20.997765
Name: value, dtype: float64
ema is: 20.997765231710183
dataframe_val
   value
0     65
1      2
2     92
3      3
4    136
5      2
ema
0    65.000000
1    28.250000
2    56.908257
3    36.085586
4    71.152755
5    48.368894
Name: value, dtype: float64
ema is: 48.36889359366424
dataframe_val
   value
0     16
1     35
2     24
3     34
4     23
5     41
ema
0    16.000000
1    27.083333
2    25.697248
3    28.904279
4    26.832042
5    31.499980
Name: value, dtype: float64
ema is: 31.49998039676938
dataframe_val
   value
0    229
1      3
2    246
3      2
4    254
5      1
ema
0    229.000000
1     97.166667
2    164.073394
3    101.470721
4    155.004239
5    104.264232
Name: value, dtype: float64
ema is: 104.26423194542461
dataframe_val
   value
0      0
1     18
2      0
3     19
4      1
5     24
ema
0     0.000000
1    10.500000
2     5.779817
3    10.886261
4     7.416460
5    12.880263
Name: value, dtype: float64
ema is: 12.88026346741943
dataframe_val
   value
0     34
1    196
2     38
3    251
4     24
5    316
ema
0     34.000000
1    128.500000
2     87.816514
3    150.847973
4    106.327876
5    175.408865
Name: value, dtype: float64
ema is: 175.4088645808829
dataframe_val
   value
0      0
1      1
2      2
3      0
4      2
5      0
ema
0    0.000000
1    0.583333
2    1.220183
3    0.748874
4    1.187984
5    0.796577
Name: value, dtype: float64
ema is: 0.7965772759350741
dataframe_val
   value
0      0
1     24
2      2
3     28
4      2
5      0
ema
0     0.000000
1    14.000000
2     8.605505
3    16.096847
4    11.149247
5     7.475888
Name: value, dtype: float64
ema is: 7.475888026346742
dataframe_val
   value
0      2
1      0
2      3
3      0
4      1
5      4
ema
0    2.000000
1    0.833333
2    1.807339
3    1.109234
4    1.070896
5    2.035952
Name: value, dtype: float64
ema is: 2.0359523249431506
dataframe_val
   value
0    229
1    196
2    233
3    251
4    238
5    312
ema
0    229.000000
1    209.750000
2    220.201835
3    232.097973
4    234.169420
5    259.812377
Name: value, dtype: float64
ema is: 259.8123774798087
dataframe_val
   value
0    461
1    358
2    387
3    440
4    356
5    448
ema
0    461.000000
1    400.916667
2    394.660550
3    412.173423
4    392.458120
5    410.757586
Name: value, dtype: float64
ema is: 410.75758645024695
dataframe_val
   value
0      2
1      1
2      3
3      0
4      2
5      0
ema
0    2.000000
1    1.416667
2    2.128440
3    1.306306
4    1.549773
5    1.039167
Name: value, dtype: float64
ema is: 1.0391672547635848
dataframe_val
   value
0      1
1      0
2      2
3      1
4      3
5      0
ema
0    1.000000
1    0.416667
2    1.128440
3    1.078829
4    1.753106
5    1.175508
Name: value, dtype: float64
ema is: 1.1755077236728613
dataframe_val
   value
0      1
1      1
2      2
3      1
4      2
5      0
ema
0    1.000000
1    1.000000
2    1.449541
3    1.275901
4    1.530039
5    1.025935
Name: value, dtype: float64
ema is: 1.0259350741002116
dataframe_val
   value
0      6
1     58
2      5
3     63
4      7
5     30
ema
0     6.000000
1    36.333333
2    22.247706
3    37.988739
4    27.112557
5    28.063887
Name: value, dtype: float64
ema is: 28.063886928565825
dataframe_val
       value
0  28.571429
1  57.142857
2  30.769231
3  30.000000
4  36.363636
5  50.000000
ema
0    28.571429
1    45.238095
2    38.733743
3    35.360237
4    35.712402
5    40.419758
Name: value, dtype: float64
ema is: 40.41975823909486
dataframe_val
   value
0  100.0
1  100.0
2  100.0
3  100.0
4    0.0
5    0.0
ema
0    100.000000
1    100.000000
2    100.000000
3    100.000000
4     64.902792
5     43.519172
Name: value, dtype: float64
ema is: 43.51917195953893
dataframe_val
   value
0     30
1     34
2     29
3     31
4     32
5     32
ema
0    30.000000
1    32.333333
2    30.834862
3    30.898649
4    31.285192
5    31.520701
Name: value, dtype: float64
ema is: 31.520701011526697
dataframe_val
   value
0   21.0
1   31.0
2   38.0
3   30.0
4   32.0
5   31.0
ema
0    21.000000
1    26.833333
2    31.853211
3    31.137387
4    31.440140
5    31.295127
Name: value, dtype: float64
ema is: 31.295126636869757
dataframe_val
   value
0   16.0
1   18.0
2   24.0
3   19.0
4   23.0
5   24.0
ema
0    16.000000
1    17.166667
2    20.238532
3    19.760135
4    20.897237
5    21.919509
Name: value, dtype: float64
ema is: 21.91950913510546
dataframe_val
   value
0    0.0
1    1.0
2    0.0
3    0.0
4    1.0
5    0.0
ema
0    0.000000
1    0.583333
2    0.321101
3    0.197072
4    0.478877
5    0.321101
Name: value, dtype: float64
ema is: 0.3211009174311927
dataframe_val
   value
0   44.0
1   29.0
2   26.0
3   50.0
4   61.0
5   48.0
ema
0    44.000000
1    35.250000
2    31.091743
3    38.395270
4    46.328899
5    46.879479
Name: value, dtype: float64
ema is: 46.87947933819493
dataframe_val
   value
0    0.0
1    0.0
2    2.0
3    0.0
4    2.0
5    1.0
ema
0    0.000000
1    0.000000
2    0.899083
3    0.551802
4    1.060079
5    1.040285
Name: value, dtype: float64
ema is: 1.040284638908492
dataframe_val
   value
0    1.0
1    2.0
2    1.0
3    1.0
4    1.0
5    2.0
ema
0    1.000000
1    1.583333
2    1.321101
3    1.197072
4    1.127905
5    1.415236
Name: value, dtype: float64
ema is: 1.415235630831961
dataframe_val
   value
0   94.0
1   72.0
2   96.0
3  147.0
4   99.0
5  125.0
ema
0     94.000000
1     81.166667
2     87.834862
3    110.688063
4    106.585879
5    112.652807
Name: value, dtype: float64
ema is: 112.65280718262368
dataframe_val
   value
0   35.0
1   38.0
2   23.0
3   36.0
4   26.0
5   34.0
ema
0    35.000000
1    36.750000
2    30.568807
3    32.666667
4    30.326853
5    31.537050
Name: value, dtype: float64
ema is: 31.537050105857446
dataframe_val
   value
0  105.0
1   50.0
2   49.0
3   69.0
4   37.0
5   37.0
ema
0    105.000000
1     72.916667
2     62.165138
3     64.805180
4     55.046338
5     49.100584
Name: value, dtype: float64
ema is: 49.10058417627225
dataframe_val
   value
0    4.0
1    2.0
2    2.0
3    3.0
4    0.0
5    2.0
ema
0    4.000000
1    2.833333
2    2.458716
3    2.667793
4    1.731472
5    1.819944
Name: value, dtype: float64
ema is: 1.8199443268250606
dataframe_val
   value
0  232.0
1  162.0
2  154.0
3  189.0
4  118.0
5  136.0
ema
0    232.000000
1    191.166667
2    174.458716
3    180.075450
4    158.288700
5    150.945209
Name: value, dtype: float64
ema is: 150.94520897043833
dataframe_val
   value
0    5.0
1    4.0
2    3.0
3    4.0
4    1.0
5    4.0
ema
0    5.000000
1    4.416667
2    3.779817
3    3.864865
4    2.859377
5    3.235180
Name: value, dtype: float64
ema is: 3.2351799576570217
dataframe_val
   value
0    1.0
1    1.0
2    0.0
3    3.0
4    1.0
5    1.0
ema
0    1.000000
1    1.000000
2    0.550459
3    1.496622
4    1.322321
5    1.216126
Name: value, dtype: float64
ema is: 1.2161256175017643
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    1.0
5    0.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    0.350972
5    0.235337
Name: value, dtype: float64
ema is: 0.23533678350192108
dataframe_val
   value
0    0.0
1   18.0
2    0.0
3    2.0
4   37.0
5   15.0
ema
0     0.000000
1    10.500000
2     5.779817
3     4.319820
4    15.789651
5    15.529483
Name: value, dtype: float64
ema is: 15.529483258841056
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    1.0
1    2.0
2    2.0
3    0.0
4    1.0
5    1.0
ema
0    1.000000
1    1.583333
2    1.770642
3    1.086712
4    1.056278
5    1.037736
Name: value, dtype: float64
ema is: 1.0377362189288795
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0

0    2.000000
1    2.000000
2    1.100917
3    0.675676
4    0.789504
5    1.517800
Name: value, dtype: float64
ema is: 1.5177997333960636
dataframe_val
   value
0      1
1      0
2      1
3      0
4      0
5      2
ema
0    1.000000
1    0.416667
2    0.678899
3    0.416667
4    0.270428
5    0.840273
Name: value, dtype: float64
ema is: 0.8402728769701245
dataframe_val
   value
0      2
1      2
2      1
3      2
4      1
5      2
ema
0    2.000000
1    2.000000
2    1.550459
3    1.724099
4    1.469961
5    1.644593
Name: value, dtype: float64
ema is: 1.6445934289970983
dataframe_val
   value
0     55
1      6
2     62
3      4
4     30
5     41
ema
0    55.000000
1    26.416667
2    42.412844
3    27.575450
4    28.426400
5    32.569043
Name: value, dtype: float64
ema is: 32.569042578216894
dataframe_val
       value
0  41.666667
1  41.666667
2  47.058824
3  30.000000
4  38.461538
5  40.000000
ema
0    41.666667
1    41.666667
2    44.090664
3    38.647986
4    38.582548
5    39.049558
Name: value, dtype: float64
ema is: 39.04955820882177
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3  100.0
4    0.0
5   50.0
ema
0     0.000000
1     0.000000
2     0.000000
3    38.626126
4    25.069434
5    33.283345
Name: value, dtype: float64
ema is: 33.2833450952717
dataframe_val
   value
0     21
1     27
2     31
3     20
4     20
5     31
ema
0    21.000000
1    24.500000
2    27.422018
3    24.555180
4    22.956439
5    25.606563
Name: value, dtype: float64
ema is: 25.606563161609028
dataframe_val
   value
0   38.0
1   40.0
2   44.0
3   32.0
4   28.0
5   33.0
ema
0    38.000000
1    39.166667
2    41.339450
3    37.731982
4    34.316328
5    33.882635
Name: value, dtype: float64
ema is: 33.88263545832353
dataframe_val
   value
0   23.0
1   24.0
2   30.0
3   19.0
4   12.0
5   21.0
ema
0    23.000000
1    23.583333
2    26.467890
3    23.583333
4    19.517907
5    20.006214
Name: value, dtype: float64
ema is: 20.006214224104134
dataframe_val
   value
0    1.0
1    1.0
2    0.0
3    2.0
4    1.0
5    0.0
ema
0    1.000000
1    1.000000
2    0.550459
3    1.110360
4    1.071627
5    0.718556
Name: value, dtype: float64
ema is: 0.7185564180977024
dataframe_val
   value
0   37.0
1   24.0
2   79.0
3   30.0
4   34.0
5   43.0
ema
0    37.000000
1    29.416667
2    51.706422
3    43.322072
4    40.050285
5    41.022132
Name: value, dtype: float64
ema is: 41.0221320473614
dataframe_val
   value
0    1.0
1    5.0
2    3.0
3    2.0
4    3.0
5    1.0
ema
0    1.000000
1    3.333333
2    3.183486
3    2.726351
4    2.822394
5    2.221967
Name: value, dtype: float64
ema is: 2.2219673802242608
dataframe_val
   value
0    2.0
1    1.0
2    3.0
3    3.0
4    0.0
5    4.0
ema
0    2.000000
1    1.416667
2    2.128440
3    2.465090
4    1.599912
5    2.390673
Name: value, dtype: float64
ema is: 2.3906727828746175
dataframe_val
   value
0  120.0
1   99.0
2  196.0
3  125.0
4   65.0
5  124.0
ema
0    120.000000
1    107.750000
2    147.422018
3    138.761261
4    112.873118
5    116.539108
Name: value, dtype: float64
ema is: 116.53910844507175
dataframe_val
   value
0   13.0
1   15.0
2   22.0
3   18.0
4   16.0
5   31.0
ema
0    13.000000
1    14.166667
2    17.688073
3    17.808559
4    17.173805
5    21.729142
Name: value, dtype: float64
ema is: 21.729142162628403
dataframe_val
   value
0    8.0
1   30.0
2   10.0
3   46.0
4   76.0
5   39.0
ema
0     8.000000
1    20.833333
2    15.963303
3    27.565315
4    44.564537
5    42.731181
Name: value, dtype: float64
ema is: 42.731180898612095
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    1.0
4    1.0
5    1.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.386261
4    0.601666
5    0.732906
Name: value, dtype: float64
ema is: 0.7329059829059829
dataframe_val
   value
0   26.0
1   97.0
2   50.0
3   87.0
4  119.0
5   80.0
ema
0    26.000000
1    67.416667
2    59.587156
3    70.175676
4    87.311650
5    84.902670
Name: value, dtype: float64
ema is: 84.9026699600094
dataframe_val
   value
0    2.0
1    1.0
2    3.0
3    4.0
4    1.0
5    5.0
ema
0    2.000000
1    1.416667
2    2.128440
3    2.851351
4    2.201579
5    3.123579
Name: value, dtype: float64
ema is: 3.123578765780601
dataframe_val
   value
0    1.0
1    0.0
2    1.0
3    1.0
4    0.0
5    2.0
ema
0    1.000000
1    0.416667
2    0.678899
3    0.802928
4    0.521123
5    1.008371
Name: value, dtype: float64
ema is: 1.0083705794714968
dataframe_val
   value
0    1.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    1.000000
1    0.416667
2    0.229358
3    0.140766
4    0.091361
5    0.061260
Name: value, dtype: float64
ema is: 0.061260095663765404
dataframe_val
   value
0   47.0
1    0.0
2    0.0
3   12.0
4    0.0
5   12.0
ema
0    47.000000
1    19.583333
2    10.779817
3    11.251126
4     7.302295
5     8.850055
Name: value, dtype: float64
ema is: 8.850054889045715
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    2.0
1    1.0
2    1.0
3    0.0
4    1.0
5    3.0
ema
0    2.000000
1    1.416667
2    1.229358
3    0.754505
4    0.840667
5    1.552105
Name: value, dtype: float64
ema is: 1.5521053869677721
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    5.0
1    3.0
2    7.0
3    1.0
4    5.0
5    2.0
ema
0    5.000000
1    3.833333
2    5.256881
3    3.612613
4    4.099547
5    3.407806
Name: value, dtype: float64
ema is: 3.407806006429859
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    5.0
1    5.0
2    9.0
3    7.0
4    6.0
5    6.0
ema
0    5.000000
1    5.000000
2    6.798165
3    6.876126
4    6.568630
5    6.381283
Name: value, dtype: float64
ema is: 6.381282835411276
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0  102.0
1   65.0
2  206.0
3  158.0
4  148.0
5  110.0
ema
0    102.000000
1     80.416667
2    136.871560
3    145.032658
4    146.074112
5    134.188720
Name: value, dtype: float64
ema is: 134.18872030110563
dataframe_val
   value
0    5.0
1    4.0
2    8.0
3    3.0
4    7.0
5    3.0
ema
0    5.000000
1    4.416667
2    6.027523
3    4.858108
4    5.609852
5    4.749980
Name: value, dtype: float64
ema is: 4.749980396769388
dataframe_val
       value
0  38.200000
1  39.500000
2  44.250000
3  38.000000
4  44.428571
5  37.333333
ema
0    38.200000
1    38.958333
2    41.337156
3    40.048142
4    41.585550
5    40.184566
Name: value, dtype: float64
ema is: 40.18456604981834
dataframe_val
   value
0    1.0
1    3.0
2    1.0
3    1.0
4    1.0
5    3.0
ema
0    1.000000
1    2.166667
2    1.642202
3    1.394144
4    1.255811
5    1.830471
Name: value, dtype: float64
ema is: 1.8304712616639223
dataframe_val
      value
0  1.000000
1  0.666667
2  1.000000
3  1.000000
4  1.000000
5  0.000000
ema
0    1.000000
1    0.805556
2    0.892966
3    0.934309
4    0.957365
5    0.641940
Name: value, dtype: float64
ema is: 0.6419404584542198
dataframe_val
   value
0    1.0
1    1.0
2    3.0
3    3.0
4    1.0
5    4.0
ema
0    1.000000
1    1.000000
2    1.899083
3    2.324324
4    1.859523
5    2.564749
Name: value, dtype: float64
ema is: 2.564749470712773
dataframe_val
      value
0  1.000000
1  1.000000
2  1.000000
3  0.666667
4  1.000000
5  0.750000
ema
0    1.000000
1    1.000000
2    1.000000
3    0.871246
4    0.916435
5    0.861600
Name: value, dtype: float64
ema is: 0.8615995582738702
dataframe_val
   value
0     22
1     13
2     24
3     29
4     10
5     33
ema
0    22.000000
1    16.750000
2    20.009174
3    23.481982
4    18.750183
5    23.445091
Name: value, dtype: float64
ema is: 23.445091351054653
dataframe_val
   value
0     24
1     17
2     27
3     45
4     15
5     30
ema
0    24.000000
1    19.916667
2    23.100917
3    31.559685
4    25.747698
5    27.148710
Name: value, dtype: float64
ema is: 27.1487101074257
dataframe_val
   value
0     10
1     14
2     20
3     13
4     16
5     17
6     26
ema
0    10.000000
1    12.285714
2    15.621622
3    14.662857
4    15.101152
5    15.678646
6    18.656477
Name: value, dtype: float64
ema is: 18.656476720433893
dataframe_val
   value
0    160
1     29
2     35
3    129
4     20
5     68
6    135
ema
0    160.000000
1     85.142857
2     63.459459
3     87.428571
4     65.326504
5     66.139590
6     86.006621
Name: value, dtype: float64
ema is: 86.00662111713743
dataframe_val
   value
0     22
1      1
2      0
3     23
4      1
5     29
6     23
ema
0    22.000000
1    10.000000
2     5.675676
3    12.011429
4     8.402049
5    14.666469
6    17.070790
Name: value, dtype: float64
ema is: 17.070789603437348
dataframe_val
   value
0      0
1    118
2     79
3      0
4     91
5      1
6      0
ema
0     0.000000
1    67.428571
2    72.432432
3    45.942857
4    60.711908
5    42.551827
6    30.275129
Name: value, dtype: float64
ema is: 30.275128548284847
dataframe_val
   value
0     23
1     12
2     15
3     30
4     15
5     35
6     29
ema
0    23.000000
1    16.714286
2    15.972973
3    21.102857
4    19.102433
5    23.937333
6    25.397971
Name: value, dtype: float64
ema is: 25.39797140240896
dataframe_val
   value
0      1
1    179
2    138
3      2
4    174
5      1
6      3
ema
0      1.000000
1    102.714286
2    117.972973
3     75.560000
4    107.827145
5     75.337986
6     54.467634
Name: value, dtype: float64
ema is: 54.467634007184614
dataframe_val
   value
0     10
1      1
2      1
3     16
4      1
5     17
6     30
ema
0    10.000000
1     4.857143
2     3.189189
3     7.874286
4     5.620999
5     9.081675
6    15.116856
Name: value, dtype: float64
ema is: 15.116855673733887
dataframe_val
   value
0     69
1     30
2     43
3    156
4     47
5    189
6    302
ema
0     69.000000
1     46.714286
2     45.108108
3     85.662857
4     72.989757
5    108.271755
6    164.164612
Name: value, dtype: float64
ema is: 164.16461224202297
dataframe_val
   value
0      1
1      2
2      3
3      0
4      1
5      0
6      1
ema
0    1.000000
1    1.571429
2    2.189189
3    1.388571
4    1.261204
5    0.877636
6    0.912939
Name: value, dtype: float64
ema is: 0.9129393533845177
dataframe_val
   value
0      0
1      7
2      6
3      9
4      3
5      0
6      0
ema
0    0.000000
1    4.000000
2    4.864865
3    6.377143
4    5.270166
5    3.667360
6    2.609284
Name: value, dtype: float64
ema is: 2.6092836514756637
dataframe_val
   value
0     24
1      3
2      0
3     31
4      2
5     18
6     14
ema
0    24.000000
1    12.000000
2     6.810811
3    15.657143
4    11.180538
5    13.254529
6    13.469606
Name: value, dtype: float64
ema is: 13.469606254842573
dataframe_val
   value
0     45
1    140
2    105
3    125
4    151
5    171
6    288
ema
0     45.000000
1     99.285714
2    101.756757
3    110.257143
4    123.612036
5    138.024057
6    181.293865
Name: value, dtype: float64
ema is: 181.29386490103542
dataframe_val
   value
0    146
1    259
2    251
3    201
4    219
5    267
6    409
ema
0    146.000000
1    210.571429
2    228.054054
3    218.160000
4    218.435339
5    233.205227
6    283.924068
Name: value, dtype: float64
ema is: 283.9240684651687
dataframe_val
   value
0      1
1      1
2      3
3      0
4      2
5      1
6      0
ema
0    1.000000
1    1.000000
2    1.864865
3    1.182857
4    1.450704
5    1.313632
6    0.934634
Name: value, dtype: float64
ema is: 0.9346340776220329
dataframe_val
   value
0      1
1      2
2      0
3      0
4      3
5      0
6      0
ema
0    1.000000
1    1.571429
2    0.891892
3    0.565714
4    1.363636
5    0.948916
6    0.675143
Name: value, dtype: float64
ema is: 0.67514263576812
dataframe_val
   value
0      2
1      2
2      3
3      0
4      3
5      0
6      1
ema
0    2.000000
1    2.000000
2    2.432432
3    1.542857
4    2.020487
5    1.405999
6    1.288864
Name: value, dtype: float64
ema is: 1.2888638444741847
dataframe_val
   value
0     69
1      7
2      8
3     70
4      7
5     35
6     46
ema
0    69.000000
1    33.571429
2    22.513514
3    39.880000
4    29.102433
5    30.896050
6    35.253716
Name: value, dtype: float64
ema is: 35.25371557371275
dataframe_val
       value
0  16.666667
1  41.176471
2  41.176471
3  33.333333
4  12.500000
5  21.428571
6  46.153846
ema
0    16.666667
1    30.672269
2    35.214626
3    34.526611
4    27.306620
5    25.518939
6    31.472351
Name: value, dtype: float64
ema is: 31.472350536651614
dataframe_val
        value
0    0.000000
1   50.000000
2   33.333333
3    0.000000
4    0.000000
5    0.000000
6  100.000000
ema
0     0.000000
1    28.571429
2    30.630631
3    19.428571
4    13.060179
5     9.088209
6    35.317321
Name: value, dtype: float64
ema is: 35.317320560681836
dataframe_val
   value
0     24
1     29
2     27
3     26
4     25
5     32
6     31
ema
0    24.000000
1    26.857143
2    26.918919
3    26.582857
4    26.064020
5    27.869320
6    28.772558
Name: value, dtype: float64
ema is: 28.772557582587872
dataframe_val
   value
0   26.0
1   30.0
2   33.0
3   29.0
4   27.0
5   30.0
6   48.0
ema
0    26.000000
1    28.285714
2    30.324324
3    29.840000
4    28.909091
5    29.240867
6    34.653096
Name: value, dtype: float64
ema is: 34.653095724448825
dataframe_val
   value
0   10.0
1   12.0
2   15.0
3   16.0
4   15.0
5   17.0
6   30.0
ema
0    10.000000
1    11.142857
2    12.810811
3    13.977143
4    14.312420
5    15.129789
6    19.420018
Name: value, dtype: float64
ema is: 19.420018313728253
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    0.0
4    1.0
5    0.0
6    1.0
ema
0    1.000000
1    1.000000
2    1.000000
3    0.634286
4    0.754161
5    0.524800
6    0.661900
Name: value, dtype: float64
ema is: 0.6619004014932732
dataframe_val
   value
0   21.0
1   93.0
2   18.0
3   19.0
4   53.0
5   39.0
6   23.0
ema
0    21.000000
1    62.142857
2    43.054054
3    34.257143
4    40.400768
5    39.974755
6    35.077340
Name: value, dtype: float64
ema is: 35.077340283158414
dataframe_val
   value
0    4.0
1    7.0
2    6.0
3    5.0
4    3.0
5    4.0
6    1.0
ema
0    4.000000
1    5.714286
2    5.837838
3    5.531429
4    4.701665
5    4.488268
6    3.481862
Name: value, dtype: float64
ema is: 3.4818623652884413
dataframe_val
   value
0    0.0
1    1.0
2    1.0
3    2.0
4    1.0
5    1.0
6    3.0
ema
0    0.000000
1    0.571429
2    0.756757
3    1.211429
4    1.142125
5    1.098901
6    1.647390
Name: value, dtype: float64
ema is: 1.6473902937240261
dataframe_val
   value
0   40.0
1  133.0
2   71.0
3   85.0
4  108.0
5   91.0
6  116.0
ema
0    40.000000
1    93.142857
2    83.567568
3    84.091429
4    91.928297
5    91.645976
6    98.672396
Name: value, dtype: float64
ema is: 98.67239557653025
dataframe_val
   value
0   22.0
1   29.0
2   35.0
3   23.0
4   20.0
5   29.0
6   23.0
ema
0    22.000000
1    26.000000
2    29.891892
3    27.371429
4    24.955186
5    26.185328
6    25.266324
Name: value, dtype: float64
ema is: 25.266323871240402
dataframe_val
   value
0   60.0
1   52.0
2   47.0
3   29.0
4   39.0
5   28.0
6   35.0
ema
0    60.000000
1    55.428571
2    51.783784
3    43.451429
4    41.992318
5    37.736858
6    36.947242
Name: value, dtype: float64
ema is: 36.94724237514968
dataframe_val
   value
0    0.0
1    1.0
2    0.0
3    0.0
4    1.0
5    1.0
6    0.0
ema
0    0.000000
1    0.571429
2    0.324324
3    0.205714
4    0.466069
5    0.628453
6    0.447137
Name: value, dtype: float64
ema is: 0.44713671902514623
dataframe_val
   value
0  101.0
1  119.0
2  146.0
3   76.0
4   68.0
5   96.0
6  121.0
ema
0    101.000000
1    111.285714
2    126.297297
3    107.902857
4     94.823303
5     95.181170
6    102.630204
Name: value, dtype: float64
ema is: 102.63020356413327
dataframe_val
   value
0    0.0
1    2.0
2    1.0
3    2.0
4    2.0
5    2.0
6    3.0
ema
0    0.000000
1    1.142857
2    1.081081
3    1.417143
4    1.608195
5    1.727354
6    2.094527
Name: value, dtype: float64
ema is: 2.094527012749172
dataframe_val
   value
0    0.0
1    0.0
2    1.0
3    1.0
4    1.0
5    0.0
6    0.0
ema
0    0.000000
1    0.000000
2    0.432432
3    0.640000
4    0.758003
5    0.527473
6    0.375291
Name: value, dtype: float64
ema is: 0.3752905543424667
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    5.0
3    2.0
4   17.0
5    0.0
6    0.0
ema
0    0.000000
1    0.000000
2    2.162162
3    2.102857
4    6.985915
5    4.861301
6    3.458759
Name: value, dtype: float64
ema is: 3.4587588927238144
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    2.0
1    2.0
2    1.0
3    0.0
4    2.0
5    2.0
6    0.0
ema
0    2.000000
1    2.000000
2    1.567568
3    0.994286
4    1.323944
5    1.529552
6    1.088258
Name: value, dtype: float64
ema is: 1.0882580826935269
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    3.0
2    0.0
3    2.0
4    2.0
5    0.0
6    0.0
ema
0    0.000000
1    1.714286
2    0.972973
3    1.348571
4    1.562100
5    1.087021
6    0.773403
Name: value, dtype: float64
ema is: 0.7734028315841375
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    5.0
1    7.0
2    5.0
3    9.0
4    7.0
5    6.0
6    3.0
ema
0    5.000000
1    6.142857
2    5.648649
3    6.874286
4    6.915493
5    6.637066
6    5.587730
Name: value, dtype: float64
ema is: 5.58772980207086
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value

ema
0     77.000000
1    111.857143
2    105.432432
3    132.337143
4    126.326504
5    113.757945
6     97.959639
Name: value, dtype: float64
ema is: 97.95963936042826
dataframe_val
   value
0    8.0
1    6.0
2    6.0
3    8.0
4    5.0
5    8.0
6    1.0
ema
0    8.000000
1    6.857143
2    6.486486
3    7.040000
4    6.371319
5    6.866647
6    5.174051
Name: value, dtype: float64
ema is: 5.174050855814609
dataframe_val
    value
0  43.125
1  41.500
2  46.500
3  45.375
4  46.200
5  48.500
6  55.000
ema
0    43.125000
1    42.196429
2    44.057432
3    44.539286
4    45.083643
5    46.122654
6    48.683872
Name: value, dtype: float64
ema is: 48.68387159258998
dataframe_val
   value
0    2.0
1    1.0
2    1.0
3    0.0
4    1.0
5    2.0
6    4.0
ema
0    2.000000
1    1.428571
2    1.243243
3    0.788571
4    0.857875
5    1.205227
6    2.011552
Name: value, dtype: float64
ema is: 2.011551736282313
dataframe_val
   value
0    0.5
1    1.0
2    1.0
3    0.0
4    1.0
5    1.0
6    0.5
ema
0    0.500000
1    0.785714
2    0.878378
3    0.557143
4    0.702305
5    0.792842
6    0.708354
Name: value, dtype: float64
ema is: 0.7083538775797704
dataframe_val
   value
0    0.0
1    2.0
2    1.0
3    2.0
4    2.0
5    2.0
6    3.0
ema
0    0.000000
1    1.142857
2    1.081081
3    1.417143
4    1.608195
5    1.727354
6    2.094527
Name: value, dtype: float64
ema is: 2.094527012749172
dataframe_val
   value
0    0.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
ema
0    0.000000
1    0.571429
2    0.756757
3    0.845714
4    0.896287
5    0.927829
6    0.948651
Name: value, dtype: float64
ema is: 0.9486511234767909
dataframe_val
   value
0      3
1     17
2     10
3     14
4     17
5     20
6     27
ema
0     3.000000
1    11.000000
2    10.567568
3    11.822857
4    13.519846
5    15.490644
6    18.811228
Name: value, dtype: float64
ema is: 18.81122772416708
dataframe_val
   value
0     10
1     24
2     27
3     24
4     16
5     16
6     30
ema
0    10.000000
1    18.000000
2    21.891892
3    22.662857
4    20.478873
5    19.116721
6    22.256674
Name: value, dtype: float64
ema is: 22.25667394519969
dataframe_val
   value
0     14
1     16
2     17
3     23
4     22
5     23
ema
0    14.000000
1    15.166667
2    15.990826
3    18.698198
4    19.857038
5    20.892555
Name: value, dtype: float64
ema is: 20.89255469301341
dataframe_val
   value
0     20
1    101
2     91
3     36
4     51
5     78
ema
0    20.000000
1    67.250000
2    77.926606
3    61.731982
4    57.965356
5    64.566200
Name: value, dtype: float64
ema is: 64.5662001097781
dataframe_val
   value
0      0
1     43
2     29
3      0
4     45
5     38
ema
0     0.000000
1    25.083333
2    26.844037
3    16.475225
4    26.486625
5    30.279954
Name: value, dtype: float64
ema is: 30.27995373637575
dataframe_val
   value
0    140
1      2
2      1
3     90
4      1
5      0
ema
0    140.000000
1     59.500000
2     33.201835
3     55.140766
4     36.138869
5     24.232141
Name: value, dtype: float64
ema is: 24.2321414569121
dataframe_val
   value
0     15
1     23
2     33
3     27
4     32
5     34
ema
0    15.000000
1    19.666667
2    25.660550
3    26.177928
4    28.221313
5    30.125225
Name: value, dtype: float64
ema is: 30.125225437152043
dataframe_val
   value
0    190
1      0
2      1
3    256
4      1
5      1
ema
0    190.000000
1     79.166667
2     44.027523
3    125.904279
4     82.066365
5     55.357308
Name: value, dtype: float64
ema is: 55.357308084372306
dataframe_val
   value
0      0
1      4
2     19
3      1
4      9
5     21
ema
0     0.000000
1     2.333333
2     9.825688
3     6.416667
4     7.323345
5    11.829413
Name: value, dtype: float64
ema is: 11.829412687210851
dataframe_val
   value
0     41
1    176
2    201
3     35
4    101
5    275
ema
0     41.000000
1    119.750000
2    156.275229
3    109.431306
4    106.472153
5    161.997275
Name: value, dtype: float64
ema is: 161.99727515094486
dataframe_val
   value
0      0
1      3
2      0
3      0
4      1
5      0
ema
0    0.000000
1    1.750000
2    0.963303
3    0.591216
4    0.734688
5    0.492629
Name: value, dtype: float64
ema is: 0.49262918528973587
dataframe_val
   value
0      2
1     32
2     36
3      1
4     36
5     28
ema
0     2.000000
1    19.500000
2    26.917431
3    16.906532
4    23.607806
5    25.054909
Name: value, dtype: float64
ema is: 25.054908648945343
dataframe_val
   value
0      2
1      0
2      0
3      3
4      3
5     16
ema
0    2.000000
1    0.833333
2    0.458716
3    1.440315
4    1.987721
5    6.604368
Name: value, dtype: float64
ema is: 6.604367599780443
dataframe_val
   value
0    174
1    176
2    201
3    246
4     98
5    259
ema
0    174.000000
1    175.166667
2    186.779817
3    209.654279
4    170.466745
5    199.635929
Name: value, dtype: float64
ema is: 199.63592880106643
dataframe_val
   value
0    234
1    348
2    261
3    406
4    318
5    374
ema
0    234.000000
1    300.500000
2    282.743119
3    330.352477
4    326.017103
5    341.826100
Name: value, dtype: float64
ema is: 341.82609974123733
dataframe_val
   value
0      0
1      0
2      1
3      1
4      2
5      1
ema
0    0.000000
1    0.000000
2    0.449541
3    0.662162
4    1.131706
5    1.088313
Name: value, dtype: float64
ema is: 1.0883125539088843
dataframe_val
   value
0      2
1      0
2      1
3      1
4      1
5      0
ema
0    2.000000
1    0.833333
2    0.908257
3    0.943694
4    0.963456
5    0.646024
Name: value, dtype: float64
ema is: 0.6460244648318042
dataframe_val
   value
0      0
1      3
2      1
3      2
4      2
5      0
ema
0    0.000000
1    1.750000
2    1.412844
3    1.639640
4    1.766116
5    1.184231
Name: value, dtype: float64
ema is: 1.1842311612953815
dataframe_val
   value
0      9
1     50
2    112
3      9
4     79
5     35
ema
0     9.000000
1    32.916667
2    68.467890
3    45.497748
4    57.256103
5    49.923351
Name: value, dtype: float64
ema is: 49.9233513683055
dataframe_val
       value
0   8.333333
1  42.857143
2  40.000000
3  58.333333
4  16.666667
5  35.294118
ema
0     8.333333
1    28.472222
2    33.654434
3    43.186937
4    33.879063
5    34.345283
Name: value, dtype: float64
ema is: 34.345282847711346
dataframe_val
        value
0   33.333333
1    0.000000
2    0.000000
3    0.000000
4  100.000000
5  100.000000
ema
0    33.333333
1    13.888889
2     7.645260
3     4.692192
4    38.142572
5    58.522831
Name: value, dtype: float64
ema is: 58.52283122925325
dataframe_val
   value
0     22
1     29
2     26
3     32
4     28
5     31
ema
0    22.000000
1    26.083333
2    26.045872
3    28.345721
4    28.224382
5    29.138869
Name: value, dtype: float64
ema is: 29.138869285658274
dataframe_val
   value
0   32.0
1   21.0
2   35.0
3   34.0
4   22.0
5   36.0
ema
0    32.000000
1    25.583333
2    29.816514
3    31.432432
4    28.121912
5    30.717517
Name: value, dtype: float64
ema is: 30.71751744687525
dataframe_val
   value
0   15.0
1    4.0
2   19.0
3   27.0
4    9.0
5   21.0
ema
0    15.000000
1     8.583333
2    13.266055
3    18.570946
4    15.211811
5    17.118854
Name: value, dtype: float64
ema is: 17.118854387203008
dataframe_val
   value
0    0.0
1    3.0
2    0.0
3    1.0
4    1.0
5    0.0
ema
0    0.000000
1    1.750000
2    0.963303
3    0.977477
4    0.985382
5    0.660727
Name: value, dtype: float64
ema is: 0.660726887791108
dataframe_val
   value
0   52.0
1   77.0
2   37.0
3   41.0
4   18.0
5   31.0
ema
0    52.000000
1    66.583333
2    53.284404
3    48.539414
4    37.820933
5    35.573630
Name: value, dtype: float64
ema is: 35.573629734180194
dataframe_val
   value
0    2.0
1    0.0
2    1.0
3    1.0
4    1.0
5    2.0
ema
0    2.000000
1    0.833333
2    0.908257
3    0.943694
4    0.963456
5    1.304967
Name: value, dtype: float64
ema is: 1.3049674586371833
dataframe_val
   value
0    1.0
1    1.0
2    0.0
3    2.0
4    1.0
5    3.0
ema
0    1.000000
1    1.000000
2    0.550459
3    1.110360
4    1.071627
5    1.706971
Name: value, dtype: float64
ema is: 1.7069709088057707
dataframe_val
   value
0   90.0
1  137.0
2   98.0
3  124.0
4   45.0
5  110.0
ema
0     90.000000
1    117.416667
2    108.688073
3    114.602477
4     90.173951
5     96.706069
Name: value, dtype: float64
ema is: 96.7060691601976
dataframe_val
   value
0   20.0
1   43.0
2   29.0
3   36.0
4   45.0
5   38.0
ema
0    20.000000
1    33.416667
2    31.431193
3    33.195946
4    37.338839
5    37.556673
Name: value, dtype: float64
ema is: 37.55667293970046
dataframe_val
   value
0   27.0
1   45.0
2   19.0
3   44.0
4   65.0
5   34.0
ema
0    27.000000
1    37.500000
2    29.183486
3    34.906532
4    45.468499
5    41.689955
Name: value, dtype: float64
ema is: 41.689955304634196
dataframe_val
   value
0    0.0
1    2.0
2    1.0
3    0.0
4    1.0
5    0.0
ema
0    0.000000
1    1.166667
2    1.091743
3    0.670045
4    0.785850
5    0.526935
Name: value, dtype: float64
ema is: 0.5269348388614444
dataframe_val
   value
0   60.0
1  172.0
2   60.0
3  160.0
4  220.0
5  115.0
ema
0     60.000000
1    125.333333
2     95.963303
3    120.698198
4    155.550358
5    142.190171
Name: value, dtype: float64
ema is: 142.19017094017093
dataframe_val
   value
0    1.0
1    3.0
2    1.0
3    2.0
4    2.0
5    3.0
ema
0    1.000000
1    2.166667
2    1.642202
3    1.780405
4    1.857477
5    2.233906
Name: value, dtype: float64
ema is: 2.2339057476672153
dataframe_val
   value
0    1.0
1    1.0
2    0.0
3    1.0
4    2.0
5    3.0
ema
0    1.000000
1    1.000000
2    0.550459
3    0.724099
4    1.171905
5    1.774210
Name: value, dtype: float64
ema is: 1.77420998980632
dataframe_val
   value
0    0.0
1    1.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.000000
1    0.583333
2    0.321101
3    0.197072
4    0.127905
5    0.085764
Name: value, dtype: float64
ema is: 0.08576413392927154
dataframe_val
   value
0   10.0
1   32.0
2    0.0
3    0.0
4   29.0
5   29.0
ema
0    10.000000
1    22.833333
2    12.568807
3     7.713964
4    15.184768
5    19.736493
Name: value, dtype: float64
ema is: 19.736493374108054
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    2.0
2    2.0
3    0.0
4    2.0
5    2.0
ema
0    0.000000
1    1.166667
2    1.541284
3    0.945946
4    1.315889
5    1.541284
Name: value, dtype: float64
ema is: 1.5412844036697244
dataframe_val
   value
0    0.0
1    0.0
2    1.0
3    0.0
4    0.0
5    0.0
ema
0    0.000000
1    0.000000
2    0.449541
3    0.275901
4    0.179067
5    0.120070
Name: value, dtype: float64
ema is: 0.12006978750098017
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    2.0
5    0.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    0.701944
5    0.470674
Name: value, dtype: float64
ema is: 0.47067356700384216
dataframe_val
   value
0    2.0
1    2.0
2    5.0
3    3.0
4    4.0
5    4.0
ema
0    2.000000
1    2.000000
2    3.348624
3    3.213964
4    3.489841
5    3.657924
Name: value, dtype: float64
ema is: 3.6579236258135333
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0   10.0
1    8.0
2    4.0
3    8.0
4    7.0
5    4.0
ema
0    10.000000
1     8.833333
2     6.660550
3     7.177928
4     7.115480
5     6.089018
Name: value, dtype: float64
ema is: 6.0890182702109295
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0  143.0
1   58.0
2   44.0
3  146.0
4  150.0
5   48.0
ema
0    143.000000
1     93.416667
2     71.201835
3    100.093468
4    117.609268
5     94.674998
Name: value, dtype: float64
ema is: 94.67499803967695
dataframe_val
   value
0    8.0
1    6.0
2    6.0
3    2.0
4    2.0
5    7.0
ema
0    8.000000
1    6.833333
2    6.458716
3    4.736486
4    3.776056
5    4.838254
Name: value, dtype: float64
ema is: 4.838253744217046
dataframe_val
       value
0  41.500000
1  41.000000
2  37.333333
3  47.500000
4  36.000000
5  39.571429
ema
0    41.500000
1    41.208333
2    39.466361
3    42.569444
4    40.263753
5    40.035652
Name: value, dtype: float64
ema is: 40.03565174207376
dataframe_val
   value
0    0.0
1    1.0
2    2.0
3    4.0
4    6.0
5    3.0
ema
0    0.000000
1    0.583333
2    1.220183
3    2.293919
4    3.594650
5    3.398730
Name: value, dtype: float64
ema is: 3.398729710656316
dataframe_val
      value
0  0.000000
1  1.000000
2  1.000000
3  0.750000
4  0.833333
5  0.666667
ema
0    0.000000
1    0.583333
2    0.770642
3    0.762669
4    0.787470
5    0.747669
Name: value, dtype: float64
ema is: 0.7476688491596748
dataframe_val
   value
0    1.0
1    4.0
2    2.0
3    2.0
4    2.0
5    3.0
ema
0    1.000000
1    2.750000
2    2.412844
3    2.253378
4    2.164450
5    2.439740
Name: value, dtype: float64
ema is: 2.439739669097467
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    0.5
4    1.0
5    1.0
ema
0    1.000000
1    1.000000
2    1.000000
3    0.806869
4    0.874653
5    0.915951
Name: value, dtype: float64
ema is: 0.9159511487493138
dataframe_val
   value
0      7
1     31
2     20
3     22
4     29
5     27
ema
0     7.000000
1    21.000000
2    20.550459
3    21.110360
4    23.879404
5    24.907551
Name: value, dtype: float64
ema is: 24.907551164431897
dataframe_val
   value
0     22
1      9
2     14
3     19
4     10
5     21
ema
0    22.000000
1    14.416667
2    14.229358
3    16.072072
4    13.940944
5    16.266702
Name: value, dtype: float64
ema is: 16.266701952481768
dataframe_val
   value
0     20
1     15
2     24
3     26
4     19
5     16
ema
0    20.000000
1    17.083333
2    20.192661
3    22.435811
4    21.229937
5    19.506822
Name: value, dtype: float64
ema is: 19.506821924253114
dataframe_val
   value
0    141
1     22
2    110
3     75
4     27
5     30
ema
0    141.000000
1     71.583333
2     88.853211
3     83.502252
4     63.671539
5     52.577727
Name: value, dtype: float64
ema is: 52.57772680937818
dataframe_val
   value
0     18
1      0
2     36
3     41
4      1
5      2
ema
0    18.000000
1     7.500000
2    20.311927
3    28.302928
4    18.720363
5    13.211480
Name: value, dtype: float64
ema is: 13.211479651846625
dataframe_val
   value
0      0
1    146
2      1
3      3
4    195
5    115
ema
0     0.000000
1    85.166667
2    47.330275
3    30.207207
4    88.044876
5    96.925821
Name: value, dtype: float64
ema is: 96.92582137536266
dataframe_val
   value
0     23
1     13
2     43
3     45
4     15
5     15
ema
0    23.000000
1    17.166667
2    28.779817
3    35.045045
4    28.009794
5    23.723438
Name: value, dtype: float64
ema is: 23.72343762252019
dataframe_val
   value
0      3
1    127
2      2
3      1
4    236
5    218
ema
0      3.000000
1     75.333333
2     42.366972
3     26.388514
4     99.956293
5    138.848330
Name: value, dtype: float64
ema is: 138.8483298047518
dataframe_val
   value
0     24
1      2
2     21
3     16
4      2
5      3
ema
0    24.000000
1    11.166667
2    15.587156
3    15.746622
4    10.921941
5     8.311887
Name: value, dtype: float64
ema is: 8.311887399043364
dataframe_val
   value
0    286
1     35
2    279
3    222
4     34
5     36
ema
0    286.000000
1    139.583333
2    202.256881
3    209.882883
4    148.152902
5    111.201717
Name: value, dtype: float64
ema is: 111.20171724300164
dataframe_val
   value
0      1
1      2
2      1
3      0
4      3
5      3
ema
0    1.000000
1    1.583333
2    1.321101
3    0.810811
4    1.579155
5    2.047283
Name: value, dtype: float64
ema is: 2.0472829922371205
dataframe_val
   value
0      0
1      1
2      0
3      0
4      2
5      4
ema
0    0.000000
1    0.583333
2    0.321101
3    0.197072
4    0.829849
5    1.874324
Name: value, dtype: float64
ema is: 1.8743236885438719
dataframe_val
   value
0     22
1      1
2     16
3     30
4      3
5      2
ema
0    22.000000
1     9.750000
2    12.559633
3    19.296171
4    13.576670
5     9.762487
Name: value, dtype: float64
ema is: 9.762487257900101
dataframe_val
   value
0    264
1    127
2    263
3    192
4    227
5    190
ema
0    264.000000
1    184.083333
2    219.559633
3    208.914414
4    215.261950
5    206.938858
Name: value, dtype: float64
ema is: 206.93885752371992
dataframe_val
   value
0    342
1    209
2    406
3    422
4    343
5    268
ema
0    342.000000
1    264.416667
2    328.064220
3    364.347973
4    356.855430
5    327.580099
Name: value, dtype: float64
ema is: 327.58009880028226
dataframe_val
   value
0      0
1      1
2      0
3      1
4      1
5      2
ema
0    0.000000
1    0.583333
2    0.321101
3    0.583333
4    0.729572
5    1.148142
Name: value, dtype: float64
ema is: 1.148141613737944
dataframe_val
   value
0      1
1      1
2      0
3      0
4      0
5      1
ema
0    1.000000
1    1.000000
2    0.550459
3    0.337838
4    0.219266
5    0.476496
Name: value, dtype: float64
ema is: 0.47649572649572647
dataframe_val
   value
0      2
1      2
2      1
3      0
4      2
5      4
ema
0    2.000000
1    2.000000
2    1.550459
3    0.951577
4    1.319544
5    2.202678
Name: value, dtype: float64
ema is: 2.2026778013016544
dataframe_val
   value
0     25
1      9
2     70
3     20
4      8
5      5
ema
0    25.000000
1    15.666667
2    40.091743
3    32.331081
4    23.791551
5    17.600271
Name: value, dtype: float64
ema is: 17.600270524582452
dataframe_val
       value
0  28.571429
1  50.000000
2  35.714286
3  64.285714
4   0.000000
5  26.666667
ema
0    28.571429
1    41.071429
2    38.663172
3    48.560167
4    31.516904
5    29.918889
Name: value, dtype: float64
ema is: 29.918889299623242
dataframe_val
        value
0  100.000000
1    0.000000
2    0.000000
3    0.000000
4   66.666667
5   66.666667
ema
0    100.000000
1     41.666667
2     22.935780
3     14.076577
4     32.534230
5     43.779895
Name: value, dtype: float64
ema is: 43.77989492668391
dataframe_val
   value
0     27
1     25
2     31
3     37
4     26
5     28
ema
0    27.000000
1    25.833333
2    28.155963
3    31.572072
4    29.616430
5    29.083863
Name: value, dtype: float64
ema is: 29.083862620559866
dataframe_val
   value
0   46.0
1   29.0
2   30.0
3   24.0
4   33.0
5   34.0
ema
0    46.000000
1    36.083333
2    33.348624
3    29.737613
4    30.882620
5    31.909708
Name: value, dtype: float64
ema is: 31.90970751979926
dataframe_val
   value
0   24.0
1   13.0
2   21.0
3   16.0
4   15.0
5   15.0
ema
0    24.000000
1    17.583333
2    19.119266
3    17.914414
4    16.891536
5    16.268329
Name: value, dtype: float64
ema is: 16.2683290206226
dataframe_val
   value
0    1.0
1    2.0
2    1.0
3    0.0
4    2.0
5    3.0
ema
0    1.000000
1    1.583333
2    1.321101
3    0.810811
4    1.228183
5    1.811946
Name: value, dtype: float64
ema is: 1.8119462087351992
dataframe_val
   value
0   54.0
1   20.0
2   50.0
3   51.0
4   35.0
5   54.0
ema
0    54.000000
1    34.166667
2    41.284404
3    45.037162
4    41.514398
5    45.628048
Name: value, dtype: float64
ema is: 45.628048302360234
dataframe_val
   value
0    3.0
1    1.0
2    2.0
3    4.0
4    2.0
5    4.0
ema
0    3.000000
1    1.833333
2    1.908257
3    2.716216
4    2.464844
5    2.970634
Name: value, dtype: float64
ema is: 2.970634360542617
dataframe_val
   value

ema
0     47.000000
1    168.916667
2    111.412844
3    156.832207
4    180.406227
5    133.487434
Name: value, dtype: float64
ema is: 133.4874343291774
dataframe_val
   value
0      0
1      0
2      1
3      0
4      1
5      2
ema
0    0.000000
1    0.000000
2    0.449541
3    0.275901
4    0.530039
5    1.014350
Name: value, dtype: float64
ema is: 1.0143495648082803
dataframe_val
   value
0      3
1     45
2      1
3      9
4     10
5      1
ema
0     3.000000
1    27.500000
2    15.587156
3    13.042793
4    11.974857
5     8.358955
Name: value, dtype: float64
ema is: 8.358954755743747
dataframe_val
   value
0      0
1      3
2      1
3      8
4     20
5      3
ema
0    0.000000
1    1.750000
2    1.412844
3    3.957207
4    9.587780
5    7.417294
Name: value, dtype: float64
ema is: 7.417293970046265
dataframe_val
   value
0    241
1    253
2    138
3    221
4    204
5    196
ema
0    241.000000
1    248.000000
2    198.550459
3    207.221847
4    206.091069
5    202.766349
Name: value, dtype: float64
ema is: 202.76634909433074
dataframe_val
   value
0    301
1    323
2    270
3    345
4    294
5    255
ema
0    301.000000
1    313.833333
2    294.128440
3    313.778153
4    306.836574
5    289.757900
Name: value, dtype: float64
ema is: 289.7579001019368
dataframe_val
   value
0      0
1      2
2      0
3      0
4      1
5      1
ema
0    0.000000
1    1.166667
2    0.642202
3    0.394144
4    0.606783
5    0.736337
Name: value, dtype: float64
ema is: 0.7363365482631538
dataframe_val
   value
0      0
1      1
2      2
3      1
4      0
5      3
ema
0    0.000000
1    0.583333
2    1.220183
3    1.135135
4    0.736734
5    1.482416
Name: value, dtype: float64
ema is: 1.4824159021406726
dataframe_val
   value
0      1
1      1
2      0
3      1
4      1
5      1
ema
0    1.000000
1    1.000000
2    0.550459
3    0.724099
4    0.820933
5    0.879930
Name: value, dtype: float64
ema is: 0.8799302124990197
dataframe_val
   value
0      5
1     41
2      6
3     74
4     65
5      7
ema
0     5.000000
1    26.000000
2    17.009174
3    39.022523
4    48.139892
5    34.585470
Name: value, dtype: float64
ema is: 34.585470085470085
dataframe_val
       value
0  45.454545
1  30.000000
2  27.272727
3  42.857143
4  33.333333
5  37.500000
ema
0    45.454545
1    36.439394
2    32.318599
3    36.389230
4    35.316696
5    36.036032
Name: value, dtype: float64
ema is: 36.03603222295882
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3  100.0
4    0.0
5  100.0
ema
0     0.000000
1     0.000000
2     0.000000
3    38.626126
4    25.069434
5    49.756920
Name: value, dtype: float64
ema is: 49.75691994040617
dataframe_val
   value
0     26
1     29
2     27
3     33
4     27
5     31
ema
0    26.000000
1    27.750000
2    27.412844
3    29.570946
4    28.668616
5    29.436740
Name: value, dtype: float64
ema is: 29.43674037481377
dataframe_val
   value
0   29.0
1   27.0
2   23.0
3   37.0
4   35.0
5   40.0
ema
0    29.000000
1    27.833333
2    25.660550
3    30.040541
4    31.781172
5    34.489042
Name: value, dtype: float64
ema is: 34.48904179408767
dataframe_val
   value
0   20.0
1   17.0
2   10.0
3   22.0
4   18.0
5   22.0
ema
0    20.000000
1    18.250000
2    14.541284
3    17.422297
4    17.625055
5    19.066475
Name: value, dtype: float64
ema is: 19.066474555006664
dataframe_val
   value
0    1.0
1    0.0
2    0.0
3    0.0
4    1.0
5    0.0
ema
0    1.000000
1    0.416667
2    0.229358
3    0.140766
4    0.442333
5    0.296597
Name: value, dtype: float64
ema is: 0.2965968791656865
dataframe_val
   value
0   70.0
1   40.0
2   35.0
3   53.0
4   43.0
5   49.0
ema
0    70.000000
1    52.500000
2    44.633028
3    47.864865
4    46.157433
5    47.093978
Name: value, dtype: float64
ema is: 47.09397788755587
dataframe_val
   value
0    3.0
1    1.0
2    1.0
3    1.0
4    3.0
5    1.0
ema
0    3.000000
1    1.833333
2    1.458716
3    1.281532
4    1.884666
5    1.593194
Name: value, dtype: float64
ema is: 1.593193758331373
dataframe_val
   value
0    2.0
1    2.0
2    2.0
3    2.0
4    0.0
5    2.0
ema
0    2.000000
1    2.000000
2    2.000000
3    2.000000
4    1.298056
5    1.529326
Name: value, dtype: float64
ema is: 1.5293264329961578
dataframe_val
   value
0  144.0
1  120.0
2  108.0
3  107.0
4   98.0
5  114.0
ema
0    144.000000
1    130.000000
2    120.110092
3    115.046171
4    109.063441
5    110.689896
Name: value, dtype: float64
ema is: 110.68989649494236
dataframe_val
   value
0   16.0
1   31.0
2   30.0
3   32.0
4   20.0
5   25.0
ema
0    16.000000
1    24.750000
2    27.110092
3    28.998874
4    25.840520
5    25.563593
Name: value, dtype: float64
ema is: 25.56359288010664
dataframe_val
   value
0   19.0
1   30.0
2   56.0
3   46.0
4   51.0
5   27.0
ema
0    19.000000
1    25.416667
2    39.165138
3    41.805180
4    45.032305
5    39.091175
Name: value, dtype: float64
ema is: 39.0911746255783
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    1.0
4    0.0
5    0.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.386261
4    0.250694
5    0.168098
Name: value, dtype: float64
ema is: 0.16809770250137224
dataframe_val
   value
0   60.0
1   70.0
2  132.0
3  124.0
4   90.0
5   59.0
ema
0     60.000000
1     65.833333
2     95.577982
3    106.556306
4    100.745505
5     86.991551
Name: value, dtype: float64
ema is: 86.99155100760605
dataframe_val
   value
0    2.0
1    2.0
2    2.0
3    3.0
4    0.0
5    2.0
ema
0    2.000000
1    2.000000
2    2.000000
3    2.386261
4    1.548750
5    1.697424
Name: value, dtype: float64
ema is: 1.6974241354975301
dataframe_val
   value
0    0.0
1    2.0
2    4.0
3    2.0
4    1.0
5    1.0
ema
0    0.000000
1    1.166667
2    2.440367
3    2.270270
4    1.824441
5    1.552811
Name: value, dtype: float64
ema is: 1.552811103269819
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    2.0
4    0.0
5    0.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.772523
4    0.501389
5    0.336195
Name: value, dtype: float64
ema is: 0.3361954050027445
dataframe_val
   value
0    0.0
1   19.0
2   36.0
3   42.0
4    0.0
5   11.0
ema
0     0.000000
1    11.083333
2    22.284404
3    29.899775
4    19.405789
5    16.636321
Name: value, dtype: float64
ema is: 16.636320865678663
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    2.0
2    0.0
3    1.0
4    2.0
5    0.0
ema
0    0.000000
1    1.166667
2    0.642202
3    0.780405
4    1.208449
5    0.810300
Name: value, dtype: float64
ema is: 0.8102995373637576
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    3.0
5    0.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    1.052916
5    0.706010
Name: value, dtype: float64
ema is: 0.7060103505057634
dataframe_val
   value
0    0.0
1    7.0
2    1.0
3    1.0
4    1.0
5    3.0
ema
0    0.000000
1    4.083333
2    2.697248
3    2.041667
4    1.676071
5    2.112268
Name: value, dtype: float64
ema is: 2.112267701717243
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    7.0
1    3.0
2    2.0
3    6.0
4    6.0
5    9.0
ema
0    7.000000
1    4.666667
2    3.467890
3    4.445946
4    4.991376
5    6.312103
Name: value, dtype: float64
ema is: 6.3121030345800975
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    1.0
5    0.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    0.350972
5    0.235337
Name: value, dtype: float64
ema is: 0.23533678350192108
dataframe_val
   value
0  129.0
1   36.0
2   40.0
3   81.0
4  205.0
5  161.0
ema
0    129.000000
1     74.750000
2     59.128440
3     67.576577
4    115.808361
5    130.697718
Name: value, dtype: float64
ema is: 130.6977181839567
dataframe_val
   value
0    6.0
1    3.0
2    8.0
3    6.0
4    3.0
5    6.0
ema
0    6.000000
1    4.250000
2    5.935780
3    5.960586
4    4.921503
5    5.276837
Name: value, dtype: float64
ema is: 5.276836822708382
dataframe_val
       value
0  41.166667
1  38.666667
2  43.625000
3  38.000000
4  38.666667
5  47.833333
ema
0    41.166667
1    39.708333
2    41.469037
3    40.129082
4    39.615815
5    42.323253
Name: value, dtype: float64
ema is: 42.32325318879218
dataframe_val
   value
0    0.0
1    3.0
2    0.0
3    1.0
4    5.0
5    2.0
ema
0    0.000000
1    1.750000
2    0.963303
3    0.977477
4    2.389271
5    2.261017
Name: value, dtype: float64
ema is: 2.261017015604171
dataframe_val
   value
0    0.0
1    1.0
2    0.0
3    0.0
4    0.8
5    1.0
ema
0    0.000000
1    0.583333
2    0.321101
3    0.197072
4    0.408683
5    0.603505
Name: value, dtype: float64
ema is: 0.6035050576334979
dataframe_val
   value
0    2.0
1    1.0
2    2.0
3    5.0
4    1.0
5    2.0
ema
0    2.000000
1    1.416667
2    1.678899
3    2.961712
4    2.273206
5    2.183192
Name: value, dtype: float64
ema is: 2.1831921900729236
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
ema
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
Name: value, dtype: float64
ema is: 1.0
dataframe_val
   value
0     14
1     22
2     14
3     35
4     19
5     20
ema
0    14.000000
1    18.666667
2    16.568807
3    23.688063
4    22.042684
5    21.369678
Name: value, dtype: float64
ema is: 21.36967772288873
dataframe_val
   value
0     17
1      6
2      7
3     17
4     22
5     38
ema
0    17.000000
1    10.583333
2     8.972477
3    12.073198
4    15.557228
5    22.951482
Name: value, dtype: float64
ema is: 22.951482004234293
dataframe_val
   value
0     21
1     23
2     16
3     16
4     20
5     26
ema
0    21.000000
1    22.166667
2    19.394495
3    18.083333
4    18.756030
5    21.142712
Name: value, dtype: float64
ema is: 21.142711518858306
dataframe_val
   value
0     54
1     36
2    116
3     29
4     19
5    129
ema
0    54.000000
1    43.500000
2    76.091743
3    57.902027
4    44.248502
5    72.171705
Name: value, dtype: float64
ema is: 72.17170469693404
dataframe_val
   value
0     18
1      0
2     25
3      1
4      2
5     37
ema
0    18.000000
1     7.500000
2    15.366972
3     9.817568
4     7.073820
5    16.933643
Name: value, dtype: float64
ema is: 16.93364306437701
dataframe_val
   value
0      0
1     92
2      0
3     76
4    136
5      1
ema
0     0.000000
1    53.666667
2    29.541284
3    47.486486
4    78.552258
5    53.001000
Name: value, dtype: float64
ema is: 53.00099976476123
dataframe_val
   value
0     30
1     21
2     50
3     20
4     21
5     41
ema
0    30.000000
1    24.750000
2    36.100917
3    29.881757
4    26.764508
5    31.454697
Name: value, dtype: float64
ema is: 31.454696934054734
dataframe_val
   value
0      2
1    312
2      0
3    202
4    295
5      3
ema
0      2.000000
1    182.833333
2    100.642202
3    139.792793
4    194.266189
5    131.249432
Name: value, dtype: float64
ema is: 131.24943150631225
dataframe_val
   value
0     29
1      1
2     14
3      1
4      1
5     23
ema
0    29.000000
1    12.666667
2    13.266055
3     8.528153
4     5.885982
5    11.524563
Name: value, dtype: float64
ema is: 11.524562847957345
dataframe_val
   value
0    299
1     25
2    141
3     29
4     31
5    342
ema
0    299.000000
1    139.166667
2    139.990826
3     97.119369
4     73.913317
5    162.240238
Name: value, dtype: float64
ema is: 162.24023759115502
dataframe_val
   value
0      3
1      1
2      0
3      2
4      2
5      0
ema
0    3.000000
1    1.833333
2    1.009174
3    1.391892
4    1.605321
5    1.076413
Name: value, dtype: float64
ema is: 1.0764133929271544
dataframe_val
   value
0     33
1      2
2     12
3      2
4      0
5      0
ema
0    33.000000
1    14.916667
2    13.605505
3     9.122748
4     5.920918
5     3.970144
Name: value, dtype: float64
ema is: 3.970144279777307
dataframe_val
   value
0     37
1      2
2     28
3      5
4      1
5     15
ema
0    37.000000
1    16.583333
2    21.715596
3    15.259009
4    10.254495
5    11.818004
Name: value, dtype: float64
ema is: 11.818003606994433
dataframe_val
   value
0    262
1    306
2    113
3    193
4    295
5    327
ema
0    262.000000
1    287.666667
2    209.146789
3    202.909910
4    235.230960
5    265.466243
Name: value, dtype: float64
ema is: 265.4662432368855
dataframe_val
   value
0    315
1    431
2    198
3    322
4    369
5    436
ema
0    315.000000
1    382.666667
2    299.651376
3    308.283784
4    329.593480
5    364.651396
Name: value, dtype: float64
ema is: 364.6513957500195
dataframe_val
   value
0      0
1      2
2      0
3      2
4      0
5      0
ema
0    0.000000
1    1.166667
2    0.642202
3    1.166667
4    0.757199
5    0.507724
Name: value, dtype: float64
ema is: 0.5077236728612875
dataframe_val
   value
0      0
1      3
2      0
3      0
4      1
5      0
ema
0    0.000000
1    1.750000
2    0.963303
3    0.591216
4    0.734688
5    0.492629
Name: value, dtype: float64
ema is: 0.49262918528973587
dataframe_val
   value
0      3
1      1
2      0
3      1
4      1
5      0
ema
0    3.000000
1    1.833333
2    1.009174
3    1.005631
4    1.003654
5    0.672979
Name: value, dtype: float64
ema is: 0.672978906923861
dataframe_val
   value
0     42
1      1
2     79
3      9
4      5
5     56
ema
0    42.000000
1    18.083333
2    45.467890
3    31.381757
4    22.122497
5    33.284168
Name: value, dtype: float64
ema is: 33.28416843095742
dataframe_val
       value
0  35.714286
1  72.222222
2  25.000000
3  56.250000
4  57.142857
5  42.857143
ema
0    35.714286
1    57.010582
2    42.620504
3    47.885050
4    51.134282
5    48.407201
Name: value, dtype: float64
ema is: 48.4072005622082
dataframe_val
   value
0  100.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    100.000000
1     41.666667
2     22.935780
3     14.076577
4      9.136091
5      6.126010
Name: value, dtype: float64
ema is: 6.126009566376538
dataframe_val
   value
0     30
1     37
2     27
3     33
4     27
5     37
ema
0    30.000000
1    34.083333
2    30.899083
3    31.710586
4    30.057302
5    32.344723
Name: value, dtype: float64
ema is: 32.34472281031914
dataframe_val
   value
0   51.0
1   38.0
2   25.0
3   30.0
4   41.0
5   34.0
ema
0    51.000000
1    43.416667
2    35.137615
3    33.153153
4    35.907177
5    35.278817
Name: value, dtype: float64
ema is: 35.27881674900023
dataframe_val
   value
0   29.0
1   21.0
2   14.0
3   20.0
4   21.0
5   23.0
ema
0    29.000000
1    24.333333
2    19.688073
3    19.808559
4    20.226721
5    21.140438
Name: value, dtype: float64
ema is: 21.140437544107268
dataframe_val
   value
0    3.0
1    1.0
2    0.0
3    1.0
4    1.0
5    0.0
ema
0    3.000000
1    1.833333
2    1.009174
3    1.005631
4    1.003654
5    0.672979
Name: value, dtype: float64
ema is: 0.672978906923861
dataframe_val
   value
0   29.0
1   99.0
2   19.0
3   29.0
4   30.0
5   35.0
ema
0    29.000000
1    69.833333
2    46.981651
3    40.036036
4    36.513668
5    36.014957
Name: value, dtype: float64
ema is: 36.01495726495726
dataframe_val
   value
0    4.0
1    2.0
2    4.0
3    2.0
4    0.0
5    2.0
ema
0    4.000000
1    2.833333
2    3.357798
3    2.833333
4    1.838912
5    1.891986
Name: value, dtype: float64
ema is: 1.8919861993256488
dataframe_val
   value
0    2.0
1    3.0
2    2.0
3    2.0
4    1.0
5    2.0
ema
0    2.000000
1    2.583333
2    2.321101
3    2.197072
4    1.776933
5    1.850427
Name: value, dtype: float64
ema is: 1.8504273504273503
dataframe_val
   value
0  110.0
1  213.0
2   77.0
3  121.0
4  132.0
5  172.0
ema
0    110.000000
1    170.083333
2    128.238532
3    125.442568
4    127.744043
5    142.325120
Name: value, dtype: float64
ema is: 142.32511957970672
dataframe_val
   value
0   18.0
1   36.0
2   25.0
3   29.0
4   19.0
5   37.0
ema
0    18.000000
1    28.500000
2    26.926606
3    27.727477
4    24.664377
5    28.728613
Name: value, dtype: float64
ema is: 28.728612875401865
dataframe_val
   value
0   20.0
1   43.0
2   11.0
3   78.0
4   26.0
5   48.0
ema
0    20.000000
1    33.416667
2    23.339450
3    44.452703
4    37.976319
5    41.278836
Name: value, dtype: float64
ema is: 41.27883635223085
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    1.0
4    2.0
5    1.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.386261
4    0.952639
5    0.968243
Name: value, dtype: float64
ema is: 0.9682427664079041
dataframe_val
   value
0   53.0
1  125.0
2   85.0
3  129.0
4   74.0
5  109.0
ema
0     53.000000
1     95.000000
2     90.504587
3    105.373874
4     94.362520
5     99.185153
Name: value, dtype: float64
ema is: 99.18515251313416
dataframe_val
   value
0    2.0
1    3.0
2    2.0
3    3.0
4    3.0
5    3.0
ema
0    2.000000
1    2.583333
2    2.321101
3    2.583333
4    2.729572
5    2.818670
Name: value, dtype: float64
ema is: 2.818670116835255
dataframe_val
   value
0    0.0
1    1.0
2    1.0
3    0.0
4    0.0
5    1.0
ema
0    0.000000
1    0.583333
2    0.770642
3    0.472973
4    0.306973
5    0.535305
Name: value, dtype: float64
ema is: 0.5353054183329413
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    9.0
3    0.0
4    0.0
5   29.0
ema
0     0.000000
1     0.000000
2     4.045872
3     2.483108
4     1.611606
5    10.635301
Name: value, dtype: float64
ema is: 10.635301497686818
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    1.0
1    3.0
2    2.0
3    2.0
4    0.0
5    0.0
ema
0    1.000000
1    2.166667
2    2.091743
3    2.056306
4    1.334600
5    0.894887
Name: value, dtype: float64
ema is: 0.8948874774562849
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    5.0
1    2.0
2    2.0
3    5.0
4    1.0
5    0.0
ema
0    5.000000
1    3.250000
2    2.688073
3    3.581081
4    2.675194
5    1.793794
Name: value, dtype: float64
ema is: 1.7937936171881128
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0   10.0
1    6.0
2    8.0
3    6.0
4   10.0
5    9.0
ema
0    10.000000
1     7.666667

0    14.000000
1    21.583333
2    18.174312
3    20.424550
4    21.679433
5    24.420823
Name: value, dtype: float64
ema is: 24.420822551556494
dataframe_val
   value
0     17
1     24
2      6
3     14
4     34
5     21
ema
0    17.000000
1    21.083333
2    14.302752
3    14.185811
4    21.140038
5    21.093899
Name: value, dtype: float64
ema is: 21.09389947463342
dataframe_val
   value
0     17
1      6
2     21
3     20
4     10
5     15
ema
0    17.000000
1    10.583333
2    15.266055
3    17.094595
4    14.604590
5    14.734866
Name: value, dtype: float64
ema is: 14.73486630596722
dataframe_val
   value
0     20
1     32
2    116
3     58
4     26
5     25
ema
0    20.000000
1    27.000000
2    67.009174
3    63.529279
4    50.357550
5    42.002960
Name: value, dtype: float64
ema is: 42.002960087822466
dataframe_val
   value
0      0
1      0
2     20
3     33
4      0
5     36
ema
0     0.000000
1     0.000000
2     8.990826
3    18.264640
4    11.854261
5    19.809594
Name: value, dtype: float64
ema is: 19.80959382106171
dataframe_val
   value
0    117
1    172
2      1
3      1
4    141
5      1
ema
0    117.000000
1    149.083333
2     82.513761
3     51.028153
4     82.605759
5     55.718988
Name: value, dtype: float64
ema is: 55.71898768917117
dataframe_val
   value
0     23
1      6
2     27
3     33
4     14
5     41
ema
0    23.000000
1    13.083333
2    19.339450
3    24.615991
4    20.890075
5    27.515722
Name: value, dtype: float64
ema is: 27.51572179095115
dataframe_val
   value
0    329
1     44
2      1
3      0
4    228
5      0
ema
0    329.000000
1    162.750000
2     90.036697
3     55.259009
4    115.886274
5     77.705050
Name: value, dtype: float64
ema is: 77.70504979220576
dataframe_val
   value
0      0
1      1
2     26
3     18
4      1
5     14
ema
0     0.000000
1     0.583333
2    12.009174
3    14.323198
4     9.647128
5    11.081275
Name: value, dtype: float64
ema is: 11.08127499411903
dataframe_val
   value
0     46
1     21
2    213
3    234
4     41
5    158
ema
0     46.000000
1     31.416667
2    113.045872
3    159.765766
4    118.082298
5    131.234043
Name: value, dtype: float64
ema is: 131.2340429702815
dataframe_val
   value
0      2
1      1
2      5
3      1
4      3
5      2
ema
0    2.000000
1    1.416667
2    3.027523
3    2.244369
4    2.509575
5    2.341684
Name: value, dtype: float64
ema is: 2.3416843095742177
dataframe_val
   value
0      9
1      3
2     20
3      7
4      0
5     30
ema
0     9.000000
1     5.500000
2    12.018349
3    10.079955
4     6.542172
5    14.270858
Name: value, dtype: float64
ema is: 14.270857837371599
dataframe_val
   value
0      3
1      0
2      8
3      0
4      1
5     26
ema
0    3.000000
1    1.250000
2    4.284404
3    2.629505
4    2.057594
5    9.945934
Name: value, dtype: float64
ema is: 9.945934289970987
dataframe_val
   value
0    261
1     12
2    205
3    234
4    228
5    132
ema
0    261.000000
1    115.750000
2    155.871560
3    186.049550
4    200.772986
5    178.114248
Name: value, dtype: float64
ema is: 178.11424762800905
dataframe_val
   value
0    312
1    113
2    294
3    393
4    297
5    265
ema
0    312.000000
1    195.916667
2    240.009174
3    299.103604
4    298.365297
5    287.372383
Name: value, dtype: float64
ema is: 287.3723829687133
dataframe_val
   value
0      2
1      2
2      0
3      0
4      1
5      0
ema
0    2.000000
1    2.000000
2    1.100917
3    0.675676
4    0.789504
5    0.529385
Name: value, dtype: float64
ema is: 0.529385242687995
dataframe_val
   value
0      2
1      2
2      2
3      3
4      2
5      1
ema
0    2.000000
1    2.000000
2    2.000000
3    2.386261
4    2.250694
5    1.838626
Name: value, dtype: float64
ema is: 1.8386262055986828
dataframe_val
   value
0      1
1      1
2      7
3      4
4      1
5      3
ema
0    1.000000
1    1.000000
2    3.697248
3    3.814189
4    2.826487
5    2.883655
Name: value, dtype: float64
ema is: 2.8836548263153774
dataframe_val
   value
0      7
1      9
2     75
3     56
4      9
5     60
ema
0     7.000000
1     8.166667
2    38.211009
3    45.082207
4    32.418360
5    41.505724
Name: value, dtype: float64
ema is: 41.505724143338824
dataframe_val
       value
0  22.222222
1  11.764706
2  25.000000
3  60.000000
4  35.714286
5  37.500000
ema
0    22.222222
1    16.122004
2    20.113030
3    35.519821
4    35.588073
5    36.217998
Name: value, dtype: float64
ema is: 36.217998366653696
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5  100.0
ema
0     0.00000
1     0.00000
2     0.00000
3     0.00000
4     0.00000
5    32.94715
Name: value, dtype: float64
ema is: 32.94714969026895
dataframe_val
   value
0     30
1     30
2     28
3     33
4     25
5     36
ema
0    30.000000
1    30.000000
2    29.100917
3    30.606982
4    28.639088
5    31.064299
Name: value, dtype: float64
ema is: 31.064298596408683
dataframe_val
   value
0   44.0
1   23.0
2   47.0
3   32.0
4   28.0
5   26.0
ema
0    44.000000
1    31.750000
2    38.605505
3    36.054054
4    33.227306
5    30.846115
Name: value, dtype: float64
ema is: 30.846114639692622
dataframe_val
   value
0   23.0
1    6.0
2   26.0
3   18.0
4   14.0
5   14.0
ema
0    23.000000
1    13.083333
2    18.889908
3    18.546171
4    16.950592
5    15.978456
Name: value, dtype: float64
ema is: 15.978456049556966
dataframe_val
   value
0    0.0
1    1.0
2    5.0
3    1.0
4    1.0
5    2.0
ema
0    0.000000
1    0.583333
2    2.568807
3    1.962838
4    1.624909
5    1.748491
Name: value, dtype: float64
ema is: 1.7484905512428446
dataframe_val
   value
0   46.0
1   21.0
2   45.0
3   41.0
4   66.0
5   36.0
ema
0    46.000000
1    31.416667
2    37.522936
3    38.865991
4    48.389271
5    44.307359
Name: value, dtype: float64
ema is: 44.30735905277189
dataframe_val
   value
0    9.0
1    3.0
2    2.0
3    0.0
4    0.0
5    4.0
ema
0    9.000000
1    5.500000
2    3.926606
3    2.409910
4    1.564099
5    2.366659
Name: value, dtype: float64
ema is: 2.3666588253744214
dataframe_val
   value
0    2.0
1    0.0
2    0.0
3    1.0
4    1.0
5    0.0
ema
0    2.000000
1    0.833333
2    0.458716
3    0.667793
4    0.784388
5    0.525955
Name: value, dtype: float64
ema is: 0.5259546773308241
dataframe_val
   value
0  147.0
1   38.0
2   79.0
3  159.0
4  160.0
5  110.0
ema
0    147.000000
1     83.416667
2     81.431193
3    111.393018
4    128.452712
5    122.373069
Name: value, dtype: float64
ema is: 122.37306908178469
dataframe_val
   value
0   20.0
1   32.0
2   20.0
3   33.0
4   26.0
5   36.0
ema
0    20.000000
1    27.000000
2    23.853211
3    27.386261
4    26.899722
5    29.898004
Name: value, dtype: float64
ema is: 29.898004391123653
dataframe_val
   value
0   14.0
1   37.0
2   44.0
3   76.0
4   31.0
5   41.0
ema
0    14.000000
1    27.416667
2    34.871560
3    50.757883
4    43.823418
5    42.893182
Name: value, dtype: float64
ema is: 42.893181996393004
dataframe_val
   value
0    0.0
1    0.0
2    1.0
3    1.0
4    0.0
5    1.0
ema
0    0.000000
1    0.000000
2    0.449541
3    0.662162
4    0.429762
5    0.617639
Name: value, dtype: float64
ema is: 0.6176389869050419
dataframe_val
   value
0   51.0
1  101.0
2   89.0
3  159.0
4   69.0
5  133.0
ema
0     51.000000
1     80.166667
2     84.137615
3    113.054054
4     97.592311
5    109.258135
Name: value, dtype: float64
ema is: 109.25813534070413
dataframe_val
   value
0    2.0
1    0.0
2    1.0
3    2.0
4    1.0
5    1.0
ema
0    2.000000
1    0.833333
2    0.908257
3    1.329955
4    1.214150
5    1.143594
Name: value, dtype: float64
ema is: 1.143593664235866
dataframe_val
   value
0    1.0
1    3.0
2    0.0
3    0.0
4    0.0
5    3.0
ema
0    1.000000
1    2.166667
2    1.192661
3    0.731982
4    0.475077
5    1.306967
Name: value, dtype: float64
ema is: 1.3069669881596486
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    1.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    0.000000
5    0.329471
Name: value, dtype: float64
ema is: 0.3294714969026895
dataframe_val
   value
0    0.0
1   65.0
2    0.0
3    0.0
4    0.0
5   41.0
ema
0     0.000000
1    37.916667
2    20.871560
3    12.809685
4     8.313843
5    19.083000
Name: value, dtype: float64
ema is: 19.08300007841292
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    3.0
1    1.0
2    1.0
3    0.0
4    2.0
5    0.0
ema
0    3.000000
1    1.833333
2    1.458716
3    0.895270
4    1.283000
5    0.860288
Name: value, dtype: float64
ema is: 0.86028777542539
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    1.0
5    0.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    0.350972
5    0.235337
Name: value, dtype: float64
ema is: 0.23533678350192108
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    1.0
5    0.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    0.350972
5    0.235337
Name: value, dtype: float64
ema is: 0.23533678350192108
dataframe_val
   value
0    3.0
1    0.0
2    2.0
3    1.0
4    1.0
5    2.0
ema
0    3.000000
1    1.250000
2    1.587156
3    1.360360
4    1.233884
5    1.486297
Name: value, dtype: float64
ema is: 1.4862973418019287
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    3.0
1    5.0
2    7.0
3    7.0
4   10.0
5    6.0
ema
0    3.000000
1    4.166667
2    5.440367
3    6.042793
4    7.431662
5    6.959970
Name: value, dtype: float64
ema is: 6.959970203089467
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    1.0
5    0.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    0.350972
5    0.235337
Name: value, dtype: float64
ema is: 0.23533678350192108
dataframe_val
   value
0   46.0
1   94.0
2  104.0
3  107.0
4  206.0
5   87.0
ema
0     46.000000
1     74.000000
2     87.486239
3     95.023649
4    133.973250
5    118.496903
Name: value, dtype: float64
ema is: 118.49690268956323
dataframe_val
   value
0   10.0
1   10.0
2    6.0
3    3.0
4    8.0
5    4.0
ema
0    10.000000
1    10.000000
2     8.201835
3     6.192568
4     6.826926
5     5.895534
Name: value, dtype: float64
ema is: 5.895534384066494
dataframe_val
       value
0  40.600000
1  42.800000
2  39.000000
3  42.333333
4  42.625000
5  44.250000
ema
0    40.600000
1    41.883333
2    40.587156
3    41.261637
4    41.740139
5    42.567067
Name: value, dtype: float64
ema is: 42.56706673593142
dataframe_val
   value
0    2.0
1    4.0
2    1.0
3    0.0
4    2.0
5    5.0
ema
0    2.000000
1    3.166667
2    2.192661
3    1.345721
4    1.575354
5    2.703678
Name: value, dtype: float64
ema is: 2.703677566062887
dataframe_val
   value
0   1.00
1   0.75
2   1.00
3   0.00
4   1.00
5   0.80
ema
0    1.000000
1    0.854167
2    0.919725
3    0.564471
4    0.717329
5    0.744567
Name: value, dtype: float64
ema is: 0.744566964635772
dataframe_val
   value
0    2.0
1    0.0
2    1.0
3    2.0
4    3.0
5    2.0
ema
0    2.000000
1    0.833333
2    0.908257
3    1.329955
4    1.916094
5    1.943739
Name: value, dtype: float64
ema is: 1.9437387281423975
dataframe_val
   value
0    1.0
1    0.0
2    1.0
3    0.5
4    1.0
5    1.0
ema
0    1.000000
1    0.416667
2    0.678899
3    0.609797
4    0.746748
5    0.830187
Name: value, dtype: float64
ema is: 0.8301870148200423
dataframe_val
   value
0     20
1      9
2     10
3     13
4     27
5     26
ema
0    20.000000
1    13.583333
2    11.972477
3    12.369369
4    17.504312
5    20.303399
Name: value, dtype: float64
ema is: 20.303399200188192
dataframe_val
   value
0     23
1     31
2     31
3     20
4     31
5     15
ema
0    23.000000
1    27.666667
2    29.165138
3    25.625000
4    27.511475
5    23.389301
Name: value, dtype: float64
ema is: 23.389300556731747
dataframe_val
   value
0     16
1     12
2     17
3     31
4     17
5     23
ema
0    16.000000
1    13.666667
2    15.165138
3    21.281532
4    19.778834
5    20.840116
Name: value, dtype: float64
ema is: 20.840116051125225
dataframe_val
   value
0    232
1     34
2     24
3     87
4     18
5    140
ema
0    232.000000
1    116.500000
2     74.917431
3     79.584459
4     57.970034
5     84.996569
Name: value, dtype: float64
ema is: 84.99656943464282
dataframe_val
   value
0     20
1      0
2      0
3     48
4      0
5     35
ema
0    20.000000
1     8.333333
2     4.587156
3    21.355856
4    13.860547
5    20.825394
Name: value, dtype: float64
ema is: 20.825394024935306
dataframe_val
   value
0      0
1    155
2     85
3      5
4    109
5      1
ema
0     0.000000
1    90.416667
2    87.981651
3    55.929054
4    74.555474
5    50.321042
Name: value, dtype: float64
ema is: 50.32104210773936
dataframe_val
   value
0     21
1     10
2     23
3     32
4     22
5     38
ema
0    21.000000
1    14.583333
2    18.366972
3    23.632883
4    23.059787
5    27.982161
Name: value, dtype: float64
ema is: 27.98216106014271
dataframe_val
   value
0      1
1    151
2    199
3      3
4    218
5      2
ema
0      1.000000
1     88.500000
2    138.174312
3     85.961712
4    132.303464
5     89.372187
Name: value, dtype: float64
ema is: 89.37218693640712
dataframe_val
   value
0     20
1      0
2      1
3     19
4      1
5     14
ema
0    20.000000
1     8.333333
2     5.036697
3    10.430180
4     7.120450
5     9.387066
Name: value, dtype: float64
ema is: 9.387065788441936
dataframe_val
   value
0    155
1     47
2     25
3    258
4     40
5    166
ema
0    155.000000
1     92.000000
2     61.880734
3    137.634009
4    103.367198
5    124.002921
Name: value, dtype: float64
ema is: 124.00292088136125
dataframe_val
   value
0      1
1      1
2      2
3      1
4      1
5      2
ema
0    1.000000
1    1.000000
2    1.449541
3    1.275901
4    1.179067
5    1.449541
Name: value, dtype: float64
ema is: 1.4495412844036695
dataframe_val
   value
0      0
1      4
2      2
3     21
4      2
5     14
ema
0    0.000000
1    2.333333
2    2.183486
3    9.451577
4    6.836281
5    9.196522
Name: value, dtype: float64
ema is: 9.19652238688936
dataframe_val
   value
0      9
1      1
2      4
3      2
4      0
5      8
ema
0    9.000000
1    4.333333
2    4.183486
3    3.340090
4    2.167812
5    4.089352
Name: value, dtype: float64
ema is: 4.089351525131342
dataframe_val
   value
0    146
1    136
2    187
3    256
4    204
5    158
ema
0    146.000000
1    140.166667
2    161.220183
3    197.829955
4    199.995468
5    186.159159
Name: value, dtype: float64
ema is: 186.15915862934213
dataframe_val
   value
0    211
1    238
2    303
3    474
4    237
5    344
ema
0    211.000000
1    226.750000
2    261.027523
3    343.290541
4    305.985528
5    318.510213
Name: value, dtype: float64
ema is: 318.510213283149
dataframe_val
   value
0      1
1      3
2      1
3      0
4      2
5      2
ema
0    1.000000
1    2.166667
2    1.642202
3    1.007883
4    1.356088
5    1.568239
Name: value, dtype: float64
ema is: 1.5682388457617813
dataframe_val
   value
0      0
1      3
2      2
3      0
4      2
5      2
ema
0    0.000000
1    1.750000
2    1.862385
3    1.143018
4    1.443795
5    1.627049
Name: value, dtype: float64
ema is: 1.6270485375989963
dataframe_val
   value
0      1
1      2
2      1
3      1
4      1
5      4
ema
0    1.000000
1    1.583333
2    1.321101
3    1.197072
4    1.127905
5    2.074179
Name: value, dtype: float64
ema is: 2.07417862463734
dataframe_val
   value
0     48
1      7
2     11
3     30
4      4
5     29
ema
0    48.000000
1    24.083333
2    18.201835
3    22.759009
4    16.175121
5    20.400553
Name: value, dtype: float64
ema is: 20.40055281110327
dataframe_val
       value
0  38.461538
1  41.666667
2  22.222222
3  75.000000
4  46.666667
5  50.000000
ema
0    38.461538
1    40.331197
2    32.190465
3    48.726130
4    48.003316
5    48.661166
Name: value, dtype: float64
ema is: 48.661166368764576
dataframe_val
   value
0    0.0
1    0.0
2   50.0
3    0.0
4    0.0
5    0.0
ema
0     0.000000
1     0.000000
2    22.477064
3    13.795045
4     8.953369
5     6.003489
Name: value, dtype: float64
ema is: 6.003489375049008
dataframe_val
   value
0     29
1     28
2     32
3     39
4     28
5     29
ema
0    29.000000
1    28.416667
2    30.027523
3    33.493243
4    31.565268
5    30.720085
Name: value, dtype: float64
ema is: 30.720085470085465
dataframe_val
   value
0   34.0
1   14.0
2   50.0
3   27.0
4   43.0
5   23.0
ema
0    34.000000
1    22.333333
2    34.770642
3    31.769144
4    35.710861
5    31.522995
Name: value, dtype: float64
ema is: 31.522994589508357
dataframe_val
   value
0   20.0
1   10.0
2   23.0
3   19.0
4   22.0
5   14.0
ema
0    20.000000
1    14.166667
2    18.137615
3    18.470721
4    19.709399
5    17.828315
Name: value, dtype: float64
ema is: 17.828314906296555
dataframe_val
   value
0    1.0
1    0.0
2    1.0
3    1.0
4    1.0
5    2.0
ema
0    1.000000
1    0.416667
2    0.678899
3    0.802928
4    0.872095
5    1.243707
Name: value, dtype: float64
ema is: 1.2437073629734179
dataframe_val
   value
0   18.0
1   37.0
2   30.0
3   38.0
4   25.0
5   49.0
ema
0    18.000000
1    29.083333
2    29.495413
3    32.780405
4    30.049700
5    36.293284
Name: value, dtype: float64
ema is: 36.29328393319219
dataframe_val
   value
0    2.0
1    4.0
2    2.0
3    1.0
4    2.0
5    2.0
ema
0    2.000000
1    3.166667
2    2.642202
3    2.007883
4    2.005116
5    2.003431
Name: value, dtype: float64
ema is: 2.0034305653571707
dataframe_val
   value
0    0.0
1    1.0
2    0.0
3    1.0
4    0.0
5    2.0
ema
0    0.000000
1    0.583333
2    0.321101
3    0.583333
4    0.378600
5    0.912805
Name: value, dtype: float64
ema is: 0.9128048302360229
dataframe_val
   value
0   78.0
1   70.0
2  102.0
3  139.0
4   94.0
5  108.0
ema
0     78.000000
1     73.333333
2     86.220183
3    106.606982
4    102.182283
5    104.099055
Name: value, dtype: float64
ema is: 104.09905512428448
dataframe_val
   value
0   20.0
1   34.0
2   24.0
3   48.0
4   18.0
5   35.0
ema
0    20.000000
1    28.166667
2    26.293578
3    34.677928
4    28.824441
5    30.859112
Name: value, dtype: float64
ema is: 30.859111581588646
dataframe_val
   value
0   25.0
1   26.0
2   39.0
3   61.0
4   23.0
5   75.0
ema
0    25.000000
1    25.583333
2    31.614679
3    42.965090
4    35.957901
5    48.821160
Name: value, dtype: float64
ema is: 48.821159727123025
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    5.0
4    0.0
5    1.0
ema
0    0.000000
1    0.000000
2    0.000000
3    1.931306
4    1.253472
5    1.169960
Name: value, dtype: float64
ema is: 1.1699600094095506
dataframe_val
   value
0   65.0
1  102.0
2  116.0
3  218.0
4   33.0
5  186.0
ema
0     65.000000
1     86.583333
2     99.807339
3    145.460586
4    105.990060
5    132.351055
Name: value, dtype: float64
ema is: 132.35105465380695
dataframe_val
   value
0    0.0
1    1.0
2    0.0
3    6.0
4    0.0
5    3.0
ema
0    0.000000
1    0.583333
2    0.321101
3    2.514640
4    1.632071
5    2.082765
Name: value, dtype: float64
ema is: 2.0827648396455736
dataframe_val
   value
0    0.0
1    1.0
2    0.0
3    2.0
4    0.0
5    1.0
ema
0    0.000000
1    0.583333
2    0.321101
3    0.969595
4    0.629294
5    0.751431
Name: value, dtype: float64
ema is: 0.7514310358347054
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0

dataframe_val
        value
0    0.000000
1  100.000000
2    0.000000
3  100.000000
4   33.333333
5    0.000000
ema
0     0.000000
1    58.333333
2    32.110092
3    58.333333
4    49.559031
5    33.230743
Name: value, dtype: float64
ema is: 33.2307430931284
dataframe_val
   value
0     29
1     32
2     31
3     35
4     29
5     37
ema
0    29.000000
1    30.750000
2    30.862385
3    32.460586
4    31.246017
5    33.141790
Name: value, dtype: float64
ema is: 33.14179016701952
dataframe_val
   value
0   30.0
1   32.0
2   27.0
3   33.0
4   45.0
5   38.0
ema
0    30.000000
1    31.166667
2    29.293578
3    30.725225
4    35.735273
5    36.481436
Name: value, dtype: float64
ema is: 36.481435740610046
dataframe_val
   value
0   19.0
1   12.0
2   16.0
3   23.0
4   26.0
5   27.0
ema
0    19.000000
1    14.916667
2    15.403670
3    18.337838
4    21.027043
5    22.994962
Name: value, dtype: float64
ema is: 22.99496196973261
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    2.0
5    1.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    0.701944
5    0.800145
Name: value, dtype: float64
ema is: 0.8001450639065318
dataframe_val
   value
0   30.0
1   33.0
2   34.0
3   32.0
4   72.0
5   59.0
ema
0    30.000000
1    31.750000
2    32.761468
3    32.467342
4    46.342201
5    50.512585
Name: value, dtype: float64
ema is: 50.512585274053166
dataframe_val
   value
0    5.0
1    3.0
2    2.0
3    2.0
4    2.0
5    1.0
ema
0    5.000000
1    3.833333
2    3.009174
3    2.619369
4    2.401988
5    1.940073
Name: value, dtype: float64
ema is: 1.9400729240178778
dataframe_val
   value
0    2.0
1    1.0
2    1.0
3    3.0
4    2.0
5    2.0
ema
0    2.000000
1    1.416667
2    1.229358
3    1.913288
4    1.943722
5    1.962264
Name: value, dtype: float64
ema is: 1.9622637810711208
dataframe_val
   value
0   89.0
1  122.0
2  125.0
3   98.0
4  159.0
5  137.0
ema
0     89.000000
1    108.250000
2    115.779817
3    108.912162
4    126.491595
5    129.953815
Name: value, dtype: float64
ema is: 129.95381478867716
dataframe_val
   value
0   23.0
1   32.0
2   29.0
3   33.0
4   16.0
5   29.0
ema
0    23.000000
1    28.250000
2    28.587156
3    30.291667
4    25.275691
5    26.502744
Name: value, dtype: float64
ema is: 26.502744452285736
dataframe_val
   value
0   26.0
1   37.0
2   48.0
3   46.0
4   20.0
5   41.0
ema
0    26.000000
1    32.416667
2    39.422018
3    41.962838
4    34.254495
5    36.476947
Name: value, dtype: float64
ema is: 36.47694660079981
dataframe_val
   value
0    0.0
1    0.0
2    1.0
3    0.0
4    0.0
5    1.0
ema
0    0.000000
1    0.000000
2    0.449541
3    0.275901
4    0.179067
5    0.449541
Name: value, dtype: float64
ema is: 0.4495412844036697
dataframe_val
   value
0   54.0
1  151.0
2  116.0
3  106.0
4   37.0
5  133.0
ema
0     54.000000
1    110.583333
2    113.018349
3    110.307432
4     84.578570
5    100.532051
Name: value, dtype: float64
ema is: 100.53205128205127
dataframe_val
   value
0    2.0
1    1.0
2    2.0
3    3.0
4    2.0
5    3.0
ema
0    2.000000
1    1.416667
2    1.678899
3    2.189189
4    2.122789
5    2.411805
Name: value, dtype: float64
ema is: 2.4118050654747902
dataframe_val
   value
0    3.0
1    1.0
2    5.0
3    0.0
4    1.0
5    0.0
ema
0    3.000000
1    1.833333
2    3.256881
3    1.998874
4    1.648297
5    1.105230
Name: value, dtype: float64
ema is: 1.1052301419273896
dataframe_val
   value
0    0.0
1    1.0
2    1.0
3    0.0
4    0.0
5    0.0
ema
0    0.000000
1    0.583333
2    0.770642
3    0.472973
4    0.306973
5    0.205834
Name: value, dtype: float64
ema is: 0.20583392143025173
dataframe_val
   value
0   83.0
1   29.0
2   56.0
3    0.0
4    0.0
5    0.0
ema
0    83.000000
1    51.500000
2    53.522936
3    32.849099
4    21.319982
5    14.295656
Name: value, dtype: float64
ema is: 14.29565592409629
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    1.0
2    4.0
3    2.0
4    1.0
5    1.0
ema
0    0.000000
1    0.583333
2    2.119266
3    2.073198
4    1.696536
5    1.467047
Name: value, dtype: float64
ema is: 1.4670469693405472
dataframe_val
   value
0    0.0
1    0.0
2    1.0
3    1.0
4    0.0
5    0.0
ema
0    0.000000
1    0.000000
2    0.449541
3    0.662162
4    0.429762
5    0.288167
Name: value, dtype: float64
ema is: 0.2881674900023525
dataframe_val
   value
0    0.0
1    0.0
2   28.0
3   73.0
4    7.0
5    0.0
ema
0     0.000000
1     0.000000
2    12.587156
3    35.922297
4    25.771378
5    17.280444
Name: value, dtype: float64
ema is: 17.280443817141066
dataframe_val
   value
0    4.0
1    5.0
2    2.0
3    0.0
4    0.0
5    2.0
ema
0    4.000000
1    4.583333
2    3.422018
3    2.100225
4    1.363105
5    1.572944
Name: value, dtype: float64
ema is: 1.5729436211087584
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    6.0
1    7.0
2    5.0
3    7.0
4    7.0
5    8.0
ema
0    6.000000
1    6.583333
2    5.871560
3    6.307432
4    6.550504
5    7.028072
Name: value, dtype: float64
ema is: 7.028071826236964
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0   75.0
1   66.0
2   48.0
3  130.0
4  185.0
5  170.0
ema
0     75.000000
1     69.750000
2     59.972477
3     87.021396
4    121.409151
5    137.418451
Name: value, dtype: float64
ema is: 137.4184505606524
dataframe_val
   value
0    9.0
1    6.0
2    7.0
3    4.0
4    4.0
5    4.0
ema
0    9.000000
1    7.250000
2    7.137615
3    5.925676
4    5.249817
5    4.838038
Name: value, dtype: float64
ema is: 4.838038108680309
dataframe_val
       value
0  45.222222
1  44.000000
2  42.428571
3  41.250000
4  41.500000
5  40.500000
ema
0    45.222222
1    44.509259
2    43.573904
3    42.676270
4    42.263432
5    41.682431
Name: value, dtype: float64
ema is: 41.682431475818326
dataframe_val
   value
0    1.0
1    2.0
2    4.0
3    2.0
4    1.0
5    1.0
ema
0    1.000000
1    1.583333
2    2.669725
3    2.411036
4    1.915802
5    1.614071
Name: value, dtype: float64
ema is: 1.614071198933584
dataframe_val
   value
0   1.00
1   0.50
2   0.25
3   1.00
4   1.00
5   0.00
ema
0    1.000000
1    0.708333
2    0.502294
3    0.694538
4    0.801747
5    0.537594
Name: value, dtype: float64
ema is: 0.5375940955069395
dataframe_val
   value
0    2.0
1    2.0
2    4.0
3    4.0
4    1.0
5    3.0
ema
0    2.000000
1    2.000000
2    2.899083
3    3.324324
4    2.508551
5    2.670470
Name: value, dtype: float64
ema is: 2.6704696934054732
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
ema
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
Name: value, dtype: float64
ema is: 1.0
dataframe_val
   value
0     17
1     17
2     31
3     34
4     18
5     21
ema
0    17.000000
1    17.000000
2    23.293578
3    27.429054
4    24.119719
5    23.091861
Name: value, dtype: float64
ema is: 23.09186073864972
dataframe_val
   value
0     14
1     13
2     10
3     28
4     21
5     19
ema
0    14.000000
1    13.416667
2    11.880734
3    18.106982
4    19.122351
5    19.082040
Name: value, dtype: float64
ema is: 19.08203952011291
dataframe_val
   value
0     20
1     17
2     20
3     20
4     27
5     23
ema
0    20.000000
1    18.250000
2    19.036697
3    19.408784
4    22.073089
5    22.378480
Name: value, dtype: float64
ema is: 22.3784795734337
dataframe_val
   value
0    118
1    125
2     35
3     20
4     69
5     33
ema
0    118.000000
1    122.083333
2     82.935780
3     58.626126
4     62.267066
5     52.624402
Name: value, dtype: float64
ema is: 52.624402101466316
dataframe_val
   value
0     28
1     24
2      1
3      0
4     38
5      0
ema
0    28.000000
1    25.666667
2    14.577982
3     8.947072
4    19.143839
5    12.836489
Name: value, dtype: float64
ema is: 12.83648945346193
dataframe_val
   value
0      1
1      2
2     74
3    106
4      1
5    121
ema
0     1.000000
1     1.583333
2    34.137615
3    61.895270
4    40.522731
5    67.037697
Name: value, dtype: float64
ema is: 67.03769701246766
dataframe_val
   value
0     37
1     38
2     18
3     27
4     28
5     17
ema
0    37.000000
1    37.583333
2    28.779817
3    28.092342
4    28.059933
5    24.416000
Name: value, dtype: float64
ema is: 24.416000156825845
dataframe_val
   value
0      1
1      3
2    207
3    317
4      1
5    245
ema
0      1.000000
1      2.166667
2     94.247706
3    180.288288
4    117.363105
5    159.415824
Name: value, dtype: float64
ema is: 159.4158237277503
dataframe_val
   value
0     19
1     15
2      0
3      0
4     23
5      0
ema
0    19.000000
1    16.666667
2     9.174312
3     5.630631
4    11.726794
5     7.863150
Name: value, dtype: float64
ema is: 7.8631498470948005
dataframe_val
   value
0    262
1    162
2     34
3     33
4    259
5     48
ema
0    262.000000
1    203.666667
2    127.394495
3     90.933559
4    149.920187
5    116.340390
Name: value, dtype: float64
ema is: 116.34039049635378
dataframe_val
   value
0      1
1      1
2      0
3      3
4      0
5      3
ema
0    1.000000
1    1.000000
2    0.550459
3    1.496622
4    0.971349
5    1.639732
Name: value, dtype: float64
ema is: 1.6397318278052222
dataframe_val
   value
0     17
1      6
2      0
3      0
4      0
5      0
ema
0    17.000000
1    10.583333
2     5.825688
3     3.575450
4     2.320567
5     1.556006
Name: value, dtype: float64
ema is: 1.5560064298596405
dataframe_val
   value
0      8
1     11
2      4
3      2
4     10
5      1
ema
0    8.000000
1    9.750000
2    7.165138
3    5.170045
4    6.865224
5    4.932800
Name: value, dtype: float64
ema is: 4.932800125460676
dataframe_val
   value
0    254
1    151
2    207
3    317
4    249
5    245
ema
0    254.000000
1    193.916667
2    199.798165
3    245.068694
4    246.448472
5    245.971242
Name: value, dtype: float64
ema is: 245.97124206069157
dataframe_val
   value
0    397
1    243
2    335
3    364
4    390
5    380
ema
0    397.000000
1    307.166667
2    319.678899
3    336.798423
4    355.470691
5    363.552399
Name: value, dtype: float64
ema is: 363.55239943542693
dataframe_val
   value
0      0
1      0
2      2
3      3
4      0
5      0
ema
0    0.000000
1    0.000000
2    0.899083
3    1.710586
4    1.110218
5    0.744433
Name: value, dtype: float64
ema is: 0.744432682506077
dataframe_val
   value
0      0
1      1
2      3
3      1
4      1
5      0
ema
0    0.000000
1    0.583333
2    1.669725
3    1.411036
4    1.266774
5    0.849408
Name: value, dtype: float64
ema is: 0.8494079824355054
dataframe_val
   value
0      1
1      2
2      2
3      2
4      1
5      0
ema
0    1.000000
1    1.583333
2    1.770642
3    1.859234
4    1.557667
5    1.044460
Name: value, dtype: float64
ema is: 1.0444601270289346
dataframe_val
   value
0     61
1      5
2      6
3      0
4     65
5      4
ema
0    61.000000
1    28.333333
2    18.293578
3    11.227477
4    30.100132
5    21.500882
Name: value, dtype: float64
ema is: 21.50088214537756
dataframe_val
       value
0  36.363636
1  33.333333
2  26.666667
3  58.333333
4  50.000000
5  57.142857
ema
0    36.363636
1    34.595960
2    31.031415
3    41.577088
4    44.533295
5    48.687786
Name: value, dtype: float64
ema is: 48.68778647448372
dataframe_val
   value
0    0.0
1  100.0
2  100.0
3   50.0
4    0.0
5  100.0
ema
0     0.000000
1    58.333333
2    77.064220
3    66.610360
4    43.231984
5    61.935427
Name: value, dtype: float64
ema is: 61.93542695836274
dataframe_val
   value
0     27
1     22
2     33
3     24
4     34
5     28
ema
0    27.000000
1    24.083333
2    28.091743
3    26.511261
4    29.139599
5    28.764134
Name: value, dtype: float64
ema is: 28.764133929271544
dataframe_val
   value
0   28.0
1   25.0
2   38.0
3   38.0
4   41.0
5   29.0
ema
0    28.000000
1    26.250000
2    31.532110
3    34.030405
4    36.476539
5    34.013232
Name: value, dtype: float64
ema is: 34.01323218066337
dataframe_val
   value
0   19.0
1   15.0
2   18.0
3   27.0
4   23.0
5   17.0
ema
0    19.000000
1    16.666667
2    17.266055
3    21.025901
4    21.718755
5    20.164059
Name: value, dtype: float64
ema is: 20.164059436995217
dataframe_val
   value
0    1.0
1    1.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    1.000000
1    1.000000
2    0.550459
3    0.337838
4    0.219266
5    0.147024
Name: value, dtype: float64
ema is: 0.14702422959303693
dataframe_val
   value
0   73.0
1   42.0
2   23.0
3   49.0
4   41.0
5   46.0
ema
0    73.000000
1    54.916667
2    40.568807
3    43.825450
4    42.833796
5    43.876970
Name: value, dtype: float64
ema is: 43.87697012467654
dataframe_val
   value
0    1.0
1    2.0
2    0.0
3    0.0
4    1.0
5    0.0
ema
0    1.000000
1    1.583333
2    0.871560
3    0.534910
4    0.698144
5    0.468125
Name: value, dtype: float64
ema is: 0.4681251470242296
dataframe_val
   value
0    3.0
1    1.0
2    0.0
3    4.0
4    3.0
5    3.0
ema
0    3.000000
1    1.833333
2    1.009174
3    2.164414
4    2.457682
5    2.636360
Name: value, dtype: float64
ema is: 2.636360072139889
dataframe_val
   value
0  145.0
1   87.0
2  122.0
3  125.0
4  134.0
5  160.0
ema
0    145.000000
1    111.166667
2    116.036697
3    119.498874
4    124.588364
5    136.255489
Name: value, dtype: float64
ema is: 136.25548890457148
dataframe_val
   value
0   28.0
1   24.0
2   35.0
3   20.0
4   38.0
5   33.0
ema
0    28.000000
1    25.666667
2    29.862385
3    26.052928
4    30.246017
5    31.153376
Name: value, dtype: float64
ema is: 31.15337567631146
dataframe_val
   value
0   60.0
1   24.0
2   37.0
3   13.0
4   39.0
5   35.0
ema
0    60.000000
1    39.000000
2    38.100917
3    28.405405
4    32.123812
5    33.071434
Name: value, dtype: float64
ema is: 33.0714341723516
dataframe_val
   value
0    1.0
1    2.0
2    1.0
3    0.0
4    1.0
5    0.0
ema
0    1.000000
1    1.583333
2    1.321101
3    0.810811
4    0.877211
5    0.588195
Name: value, dtype: float64
ema is: 0.5881949345252098
dataframe_val
   value
0  143.0
1   92.0
2  128.0
3   47.0
4  141.0
5  135.0
ema
0    143.000000
1    113.250000
2    119.880734
3     91.729730
4    109.022219
5    117.581157
Name: value, dtype: float64
ema is: 117.58115737473535
dataframe_val
   value
0    4.0
1    3.0
2    1.0
3    4.0
4    4.0
5    3.0
ema
0    4.000000
1    3.416667
2    2.330275
3    2.975225
4    3.334893
5    3.224555
Name: value, dtype: float64
ema is: 3.224555006665098
dataframe_val
   value
0    1.0
1    1.0
2    4.0
3    0.0
4    1.0
5    1.0
ema
0    1.000000
1    1.000000
2    2.348624
3    1.441441
4    1.286508
5    1.192112
Name: value, dtype: float64
ema is: 1.1921116600015682
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0   31.0
1   16.0
2   47.0
3    0.0
4    0.0
5    5.0
ema
0    31.000000
1    22.250000
2    33.376147
3    20.484234
4    13.294840
5    10.561927
Name: value, dtype: float64
ema is: 10.561926605504588
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    2.0
2    3.0
3    1.0
4    1.0
5    0.0
ema
0    0.000000
1    1.166667
2    1.990826
3    1.608108
4    1.394679
5    0.935172
Name: value, dtype: float64
ema is: 0.9351721163647769
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1   -3.0
2    6.0
3    0.0
4    0.0
5    0.0
ema
0    0.000000
1   -1.750000
2    1.733945
3    1.064189
4    0.690688
5    0.463126
Name: value, dtype: float64
ema is: 0.46312632321806635
dataframe_val
   value
0    3.0
1    2.0
2    4.0
3    2.0
4    0.0
5    1.0
ema
0    3.000000
1    2.416667
2    3.128440
3    2.692568
4    1.747552
5    1.501255
Name: value, dtype: float64
ema is: 1.501254606759194
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    6.0
1    6.0
2    4.0
3    7.0
4    9.0
5    5.0
ema
0    6.000000
1    6.000000
2    5.100917
3    5.834459
4    6.945476
5    6.304497
Name: value, dtype: float64
ema is: 6.304496981102485
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0   79.0
1  141.0
2   45.0
3   91.0
4  143.0
5  130.0
ema
0     79.000000
1    115.166667
2     83.623853
3     86.472973
4    106.312381
5    114.116776
Name: value, dtype: float64
ema is: 114.1167764447581
dataframe_val
   value
0    5.0
1    3.0
2    5.0
3    3.0
4    7.0
5    1.0
ema
0    5.000000
1    3.833333
2    4.357798
3    3.833333
4    4.944745
5    3.645064
Name: value, dtype: float64
ema is: 3.6450639065317962
dataframe_val
       value
0  38.400000
1  34.333333
2  43.600000
3  35.333333
4  39.571429
5  29.000000
ema
0    38.400000
1    36.027778
2    39.431804
3    37.848724
4    38.453345
5    35.338737
Name: value, dtype: float64
ema is: 35.338737290572155
dataframe_val
   value
0    1.0
1    1.0
2    4.0
3    0.0
4    1.0
5    3.0
ema
0    1.000000
1    1.000000
2    2.348624
3    1.441441
4    1.286508
5    1.851055
Name: value, dtype: float64
ema is: 1.8510546538069472
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    0.0
4    1.0
5    1.0
ema
0    1.000000
1    1.000000
2    1.000000
3    0.613739
4    0.749306
5    0.831902
Name: value, dtype: float64
ema is: 0.8319022974986279
dataframe_val
   value
0    4.0
1    3.0
2    1.0
3    4.0
4    4.0
5    3.0
ema
0    4.000000
1    3.416667
2    2.330275
3    2.975225
4    3.334893
5    3.224555
Name: value, dtype: float64
ema is: 3.224555006665098
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
ema
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
Name: value, dtype: float64
ema is: 1.0
dataframe_val
   value
0     31
1     24
2     25
3     28
4     31
5     30
ema
0    31.000000
1    26.916667
2    26.055046
3    26.806306
4    28.278176
5    28.845468
Name: value, dtype: float64
ema is: 28.845467733082405
dataframe_val
   value
0     14
1     27
2      6
3     34
4     27
5     27
ema
0    14.000000
1    21.583333
2    14.577982
3    22.079955
4    23.806753
5    24.858837
Name: value, dtype: float64
ema is: 24.85883713636007
dataframe_val
   value
0     19
1     25
2     21
3     28
4     25

0    26.000000
1    27.714286
2    28.702703
3    31.371429
4    28.627401
5    30.261360
6    34.513630
Name: value, dtype: float64
ema is: 34.5136296400648
dataframe_val
   value
0   14.0
1   22.0
2   19.0
3   25.0
4   14.0
5   21.0
6   19.0
ema
0    14.000000
1    18.571429
2    18.756757
3    21.040000
4    18.732394
5    19.422037
6    19.300275
Name: value, dtype: float64
ema is: 19.300274705923787
dataframe_val
   value
0    0.0
1    0.0
2    2.0
3    2.0
4    0.0
5    0.0
6    2.0
ema
0    0.000000
1    0.000000
2    0.864865
3    1.280000
4    0.860435
5    0.598753
6    1.003029
Name: value, dtype: float64
ema is: 1.0030288089032895
dataframe_val
   value
0   18.0
1   28.0
2   22.0
3   82.0
4   66.0
5   93.0
6   64.0
ema
0    18.000000
1    23.714286
2    22.972973
3    44.560000
4    51.587708
5    64.182358
6    64.129746
Name: value, dtype: float64
ema is: 64.12974572092696
dataframe_val
   value
0    5.0
1    0.0
2    2.0
3    2.0
4    4.0
5    3.0
6    3.0
ema
0    5.000000
1    2.142857
2    2.081081
3    2.051429
4    2.690141
5    2.784378
6    2.846587
Name: value, dtype: float64
ema is: 2.8465873071775727
dataframe_val
   value
0    1.0
1    2.0
2    0.0
3    2.0
4    4.0
5    3.0
6    0.0
ema
0    1.000000
1    1.571429
2    0.891892
3    1.297143
4    2.183099
5    2.431541
6    1.730013
Name: value, dtype: float64
ema is: 1.7300133831091076
dataframe_val
   value
0  108.0
1  107.0
2   99.0
3  175.0
4  138.0
5  197.0
6  116.0
ema
0    108.000000
1    107.428571
2    103.783784
3    129.828571
4    132.507042
5    152.121176
6    141.699796
Name: value, dtype: float64
ema is: 141.69979573149257
dataframe_val
   value
0   33.0
1   36.0
2   36.0
3   32.0
4   42.0
5   33.0
6   13.0
ema
0    33.000000
1    34.714286
2    35.270270
3    34.074286
4    36.672215
5    35.555391
6    29.047897
Name: value, dtype: float64
ema is: 29.047897443121784
dataframe_val
   value
0   50.0
1   56.0
2   58.0
3   22.0
4   83.0
5   59.0
6   11.0
ema
0    50.000000
1    53.428571
2    55.405405
3    43.188571
4    56.238156
5    57.078111
6    43.784039
Name: value, dtype: float64
ema is: 43.78403888145383
dataframe_val
   value
0    1.0
1    0.0
2    2.0
3    2.0
4    1.0
5    1.0
6    0.0
ema
0    1.000000
1    0.428571
2    1.108108
3    1.434286
4    1.291933
5    1.203148
6    0.856026
Name: value, dtype: float64
ema is: 0.8560259209692189
dataframe_val
   value
0  139.0
1  153.0
2  151.0
3  108.0
4  220.0
5  195.0
6   21.0
ema
0    139.000000
1    147.000000
2    148.729730
3    133.834286
4    162.078105
5    172.090585
6    128.499190
Name: value, dtype: float64
ema is: 128.49918996971192
dataframe_val
   value
0    2.0
1    2.0
2    2.0
3    4.0
4    5.0
5    4.0
6    0.0
ema
0    2.000000
1    2.000000
2    2.000000
3    2.731429
4    3.475032
5    3.634690
6    2.586039
Name: value, dtype: float64
ema is: 2.5860393040783265
dataframe_val
   value
0    1.0
1    1.0
2    0.0
3    2.0
4    0.0
5    2.0
6    0.0
ema
0    1.000000
1    1.000000
2    0.567568
3    1.091429
4    0.733675
5    1.118800
6    0.796013
Name: value, dtype: float64
ema is: 0.7960132422342748
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1   26.0
2    0.0
3   14.0
4    0.0
5   23.0
6    0.0
ema
0     0.000000
1    14.857143
2     8.432432
3    10.468571
4     7.037132
5    11.891892
6     8.460942
Name: value, dtype: float64
ema is: 8.460942452630837
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    4.0
1    2.0
2    1.0
3    3.0
4    3.0
5    0.0
6    5.0
ema
0    4.000000
1    2.857143
2    2.054054
3    2.400000
4    2.596671
5    1.806950
6    2.728182
Name: value, dtype: float64
ema is: 2.728182010283863
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    2.0
4    1.0
5    0.0
6    0.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.731429
4    0.819462
5    0.570241
6    0.405720
Name: value, dtype: float64
ema is: 0.40571951820807217
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3   41.0
4   52.0
5    0.0
6   13.0
ema
0     0.000000
1     0.000000
2     0.000000
3    14.994286
4    27.124200
5    18.874963
6    17.179968
Name: value, dtype: float64
ema is: 17.179967598788476
dataframe_val
   value
0    1.0
1    2.0
2    3.0
3    7.0
4    4.0
5    2.0
6    2.0
ema
0    1.000000
1    1.571429
2    2.189189
3    3.948571
4    3.965429
5    3.367686
6    2.973093
Name: value, dtype: float64
ema is: 2.973092906952173
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    3.0
1    3.0
2   10.0
3    6.0
4    4.0
5    7.0
6    5.0
ema
0    3.000000
1    3.000000
2    6.027027
3    6.017143
4    5.355954
5    5.855955
6    5.609002
Name: value, dtype: float64
ema is: 5.609001901810242
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0   52.0
1   70.0
2  185.0
3  101.0
4   74.0
5  133.0
6   79.0
ema
0     52.000000
1     62.285714
2    115.351351
3    110.102857
4     98.268886
5    108.831601
6    100.224836
Name: value, dtype: float64
ema is: 100.22483623300697
dataframe_val
   value
0    9.0
1    1.0
2    7.0
3    0.0
4    5.0
5    4.0
6    8.0
ema
0    9.000000
1    4.428571
2    5.540541
3    3.514286
4    4.001280
5    4.000891
6    5.154681
Name: value, dtype: float64
ema is: 5.154680566316827
dataframe_val
       value
0  42.444444
1  49.000000
2  39.428571
3   0.000000
4  42.200000
5  38.750000
6  47.000000
ema
0    42.444444
1    46.190476
2    43.266409
3    27.443265
4    32.280300
5    34.247919
6    37.927043
Name: value, dtype: float64
ema is: 37.92704293663651
dataframe_val
   value
0    1.0
1    3.0
2    1.0
3    2.0
4    2.0
5    3.0
6    0.0
ema
0    1.000000
1    2.142857
2    1.648649
3    1.777143
4    1.850192
5    2.199881
6    1.565190
Name: value, dtype: float64
ema is: 1.5651898288370782
dataframe_val
      value
0  1.000000
1  0.666667
2  1.000000
3  1.000000
4  1.000000
5  0.666667
6  0.000000
ema
0    1.000000
1    0.809524
2    0.891892
3    0.931429
4    0.953905
5    0.866548
6    0.616539
Name: value, dtype: float64
ema is: 0.6165387053602874
dataframe_val
   value
0    2.0
1    2.0
2    2.0
3    6.0
4    6.0
5    4.0
6    0.0
ema
0    2.000000
1    2.000000
2    2.000000
3    3.462857
4    4.294494
5    4.204930
6    2.991759
Name: value, dtype: float64
ema is: 2.991758822286399
dataframe_val
      value
0  1.000000
1  1.000000
2  1.000000
3  1.000000
4  0.833333
5  1.000000
6  0.000000
ema
0    1.000000
1    1.000000
2    1.000000
3    1.000000
4    0.945369
5    0.961984
6    0.684440
Name: value, dtype: float64
ema is: 0.684440374727055
dataframe_val
   value
0     17
1     20
2     17
3     48
4     47
5     34
6      0
ema
0    17.000000
1    18.714286
2    17.972973
3    28.954286
4    34.869398
5    34.604990
6    24.621047
Name: value, dtype: float64
ema is: 24.621046700007042
dataframe_val
   value
0      7
1      8
2     23
3     17
4     10
5     14
6     27
ema
0     7.000000
1     7.571429
2    14.243243
3    15.251429
4    13.530090
5    13.673003
6    17.517997
Name: value, dtype: float64
ema is: 17.517996759878848
dataframe_val
   value
0     27
1     19
2     18
3     17
4     22
5     23
6     24
ema
0    27.000000
1    22.428571
2    20.513514
3    19.228571
4    20.137004
5    21.007722
6    21.871029
Name: value, dtype: float64
ema is: 21.871029090652954
dataframe_val
   value
0     60
1    182
2     28
3     26
4    121
5     27
6    115
ema
0     60.000000
1    129.714286
2     85.729730
3     63.885714
4     82.606914
5     65.695278
6     79.920265
Name: value, dtype: float64
ema is: 79.92026484468549
dataframe_val
   value
0     28
1     21
2      0
3      1
4     19
5      1
6     48
ema
0    28.000000
1    24.000000
2    13.621622
3     9.005714
4    12.281690
5     8.850609
6    20.145665
Name: value, dtype: float64
ema is: 20.145664577023314
dataframe_val
   value
0      1
1      0
2     90
3     87
4      0
5    150
6      2
ema
0     1.000000
1     0.428571
2    39.162162
3    56.657143
4    38.085787
5    72.122067
6    51.891033
Name: value, dtype: float64
ema is: 51.89103331689794
dataframe_val
   value
0     29
1     21
2     22
3     24
4     34
5     25
6     31
ema
0    29.000000
1    24.428571
2    23.378378
3    23.605714
4    27.012804
5    26.400653
6    27.727619
Name: value, dtype: float64
ema is: 27.727618510953018
dataframe_val
   value
0      2
1      2
2    248
3    252
4      2
5    237
6      1
ema
0      2.000000
1      2.000000
2    108.378378
3    160.902857
4    108.816901
5    147.801010
6    105.447207
Name: value, dtype: float64
ema is: 105.44720715644151
dataframe_val
   value
0     30
1     25
2      3
3      0
4     27
5      1
6     23
ema
0    30.000000
1    27.142857
2    16.702703
3    10.594286
4    15.971831
5    11.418473
6    14.759879
Name: value, dtype: float64
ema is: 14.759878847643868
dataframe_val
   value
0    302
1    267
2     42
3     38
4    271
5     40
6    262
ema
0    302.000000
1    282.000000
2    178.216216
3    126.937143
4    174.158771
5    133.357291
6    170.472212
Name: value, dtype: float64
ema is: 170.47221243924773
dataframe_val
   value
0      0
1      2
2      3
3      1
4      0
5      2
6      0
ema
0    0.000000
1    1.142857
2    1.945946
3    1.600000
4    1.075544
5    1.356697
6    0.965274
Name: value, dtype: float64
ema is: 0.9652743537367051
dataframe_val
   value
0     13
1      0
2      4
3      4
4      5
5      3
6     25
ema
0    13.000000
1     5.571429
2     4.891892
3     4.565714
4     4.708067
5     4.188595
6    10.192928
Name: value, dtype: float64
ema is: 10.1929280833979
dataframe_val
   value
0      0
1     14
2      3
3      2
4     23
5      2
6      0
ema
0     0.000000
1     8.000000
2     5.837838
3     4.434286
4    10.519846
5     7.928720
6     5.641192
Name: value, dtype: float64
ema is: 5.641191801084736
dataframe_val
   value
0    302
1    253
2    226
3    224
4    248
5    213
6    262
ema
0    302.000000
1    274.000000
2    253.243243
3    242.548571
4    244.335467
5    234.805465
6    242.651405
Name: value, dtype: float64
ema is: 242.6514052264563
dataframe_val
   value
0    427
1    292
2    302
3    332
4    329
5    321
6    423
ema
0    427.000000
1    349.857143
2    329.162162
3    330.200000
4    329.806658
5    327.128304
6    354.788406
Name: value, dtype: float64
ema is: 354.7884060012679
dataframe_val
   value
0      0
1      2
2      1
3      4
4      0
5      3
6      3
ema
0    0.000000
1    1.142857
2    1.081081
3    2.148571
4    1.444302
5    1.917434
6    2.229767
Name: value, dtype: float64
ema is: 2.229766852151863
dataframe_val
   value
0      0
1      1
2      1
3      2
4      2
5      0
6      1
ema
0    0.000000
1    0.571429
2    0.756757
3    1.211429
4    1.469910
5    1.022869
6    1.016271
Name: value, dtype: float64
ema is: 1.0162710431781363
dataframe_val
   value
0      0
1      3
2      4
3      3
4      2
5      2
6      1
ema
0    0.000000
1    1.714286
2    2.702703
3    2.811429
4    2.545455
5    2.379566
6    1.981545
Name: value, dtype: float64
ema is: 1.981545396914841
dataframe_val
   value
0     45
1     64
2      4
3      8
4     77
5      5
6     29
ema
0    45.000000
1    55.857143
2    33.432432
3    24.131429
4    41.460948
5    30.372141
6    29.976263
Name: value, dtype: float64
ema is: 29.976262590688172
dataframe_val
       value
0  40.000000
1  33.333333
2  50.000000
3  33.333333
4  26.666667
5  35.294118
6  50.000000
ema
0    40.000000
1    36.190476
2    42.162162
3    38.933333
4    34.912505
5    35.028564
6    39.347998
Name: value, dtype: float64
ema is: 39.34799812719341
dataframe_val
   value
0  100.0
1   20.0
2   25.0
3   50.0
4    0.0
5    0.0
6   50.0
ema
0    100.000000
1     54.285714
2     41.621622
3     44.685714
4     30.038412
5     20.902881
6     29.297739
Name: value, dtype: float64
ema is: 29.297738958934985
dataframe_val
   value
0     33
1     27
2     30
3     27
4     25
5     28
6     39
ema
0    33.000000
1    29.571429
2    29.756757
3    28.748571
4    27.519846
5    27.665875
6    30.935902
Name: value, dtype: float64
ema is: 30.935901951116435
dataframe_val
   value
0   47.0
1   51.0
2   52.0
3   45.0
4   59.0
5   47.0
6   40.0
ema
0    47.000000
1    49.285714
2    50.459459
3    48.462857
4    51.916773
5    50.421443
6    47.414736
Name: value, dtype: float64
ema is: 47.41473550750158
dataframe_val
   value
0   30.0
1   25.0
2   22.0
3   24.0
4   27.0
5   25.0
6   23.0
ema
0    30.000000
1    27.142857
2    24.918919
3    24.582857
4    25.375160
5    25.261063
6    24.608720
Name: value, dtype: float64
ema is: 24.60872015214482
dataframe_val
   value
0    0.0
1    2.0
2    3.0
3    0.0
4    0.0
5    1.0
6    0.0
ema
0    0.000000
1    1.142857
2    1.945946
3    1.234286
4    0.829706
5    0.881497
6    0.627175
Name: value, dtype: float64
ema is: 0.6271747552299781
dataframe_val
   value
0   32.0
1   33.0
2   38.0
3   72.0
4   45.0
5   22.0
6   35.0
ema
0    32.000000
1    32.571429
2    34.918919
3    48.480000
4    47.339309
5    39.632908
6    38.296260
Name: value, dtype: float64
ema is: 38.29625977319152
dataframe_val
   value
0    0.0
1    1.0
2    4.0
3    4.0
4    2.0
5    3.0
6    0.0
ema
0    0.000000
1    0.571429
2    2.054054
3    2.765714
4    2.514725
5    2.662311
6    1.894203
Name: value, dtype: float64
ema is: 1.8942030006339368
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    1.0
4    0.0
5    2.0
6    1.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.365714
4    0.245839
5    0.779329
6    0.842995
Name: value, dtype: float64
ema is: 0.8429949989434388
dataframe_val
   value
0  112.0
1  106.0
2   94.0
3  142.0
4  128.0
5  114.0
6  126.0
ema
0    112.000000
1    108.571429
2    102.270270
3    116.800000
4    120.471191
5    118.503119
6    120.666056
Name: value, dtype: float64
ema is: 120.66605620905825
dataframe_val
   value
0   28.0
1   21.0
2   28.0
3   26.0
4   19.0
5   27.0
6   48.0
ema
0    28.000000
1    24.000000
2    25.729730
3    25.828571
4    23.590269
5    24.627265
6    31.370571
Name: value, dtype: float64
ema is: 31.370571247446644
dataframe_val
   value
0   39.0
1   10.0
2   18.0
3   41.0
4   36.0
5   46.0
6   40.0
ema
0    39.000000
1    22.428571
2    20.513514
3    28.005714
4    30.626120
5    35.301752
6    36.657252
Name: value, dtype: float64
ema is: 36.6572515320138
dataframe_val
   value
0    1.0
1    0.0
2    0.0
3    1.0
4    0.0
5    1.0
6    2.0
ema
0    1.000000
1    0.428571
2    0.243243
3    0.520000
4    0.349552
5    0.547372
6    0.966472
Name: value, dtype: float64
ema is: 0.9664717898147496
dataframe_val
   value
0  125.0
1   39.0
2   76.0
3  108.0
4   81.0
5  108.0
6  161.0
ema
0    125.000000
1     75.857143
2     75.918919
3     87.651429
4     85.471191
5     92.322839
6    112.137001
Name: value, dtype: float64
ema is: 112.13700077481158
dataframe_val
   value
0    1.0
1    0.0
2    0.0
3    2.0
4    0.0
5    3.0
6    3.0
ema
0    1.000000
1    0.428571
2    0.243243
3    0.885714
4    0.595391
5    1.326700
6    1.809467
Name: value, dtype: float64
ema is: 1.8094667887581883
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    0.0
6    0.0
ema
0    1.000000
1    1.000000
2    1.000000
3    1.000000
4    1.000000
5    0.695872
6    0.495105
Name: value, dtype: float64
ema is: 0.495104599563288
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    1.0
3   21.0
4    0.0
5    0.0
6    0.0
ema
0    0.000000
1    0.000000
2    0.432432
3    7.954286
4    5.346991
5    3.720820
6    2.647320
Name: value, dtype: float64
ema is: 2.6473198563076705
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    2.0
2    0.0
3    2.0
4    1.0
5    2.0
6    3.0
ema
0    0.000000
1    1.142857
2    0.648649
3    1.142857
4    1.096031
5    1.370953
6    1.840952
Name: value, dtype: float64
ema is: 1.8409523138691273
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3   -2.0
4    0.0
5   30.0
6   11.0
ema
0    0.000000
1    0.000000
2    0.000000
3   -0.731429
4   -0.491677
5    8.781705
6    9.421709
Name: value, dtype: float64
ema is: 9.421708811720785
dataframe_val
   value
0    3.0
1    0.0
2    3.0
3    2.0
4    1.0
5    2.0
6    4.0
ema
0    3.000000
1    1.285714
2    2.027027
3    2.017143
4    1.683739
5    1.779923
6    2.420441
Name: value, dtype: float64
ema is: 2.420440938226386
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    6.0
1    5.0
2    5.0
3    8.0
4   11.0
5    9.0
6    5.0
ema
0    6.000000
1    5.428571
2    5.243243
3    6.251429
4    7.807939
5    8.170478
6    7.255758
Name: value, dtype: float64
ema is: 7.255758258787068
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0   54.0
1  105.0
2  119.0
3  152.0
4  150.0
5  168.0
6   89.0
ema
0     54.000000
1     83.142857
2     98.648649
3    118.160000
4    128.596671
5    140.580339
6    125.698810
Name: value, dtype: float64
ema is: 125.69880960766359
dataframe_val
   value
0    5.0
1    3.0
2    3.0
3    5.0
4    5.0
5    7.0
6    6.0
ema
0    5.000000
1    3.857143
2    3.486486
3    4.040000
4    4.354673
5    5.159192
6    5.401775
Name: value, dtype: float64
ema is: 5.40177502289216
dataframe_val
       value
0  37.800000
1  33.000000
2  40.333333
3  38.400000
4  39.600000
5  45.000000
6  28.333333
ema
0    37.800000
1    35.057143
2    37.338739
3    37.726857
4    38.340845
5    40.366083
6    36.894494

ema
0    2.000000
1    0.857143
2    0.486486
3    1.405714
4    1.928297
5    6.207900
6    4.416849
Name: value, dtype: float64
ema is: 4.416848629992252
dataframe_val
   value
0    174
1    176
2    201
3    246
4     98
5    259
6    186
ema
0    174.000000
1    175.142857
2    186.324324
3    208.148571
4    172.043534
5    198.489456
6    194.886103
Name: value, dtype: float64
ema is: 194.88610269775305
dataframe_val
   value
0    234
1    348
2    261
3    406
4    318
5    374
6    301
ema
0    234.000000
1    299.142857
2    282.648649
3    327.760000
4    324.560819
5    339.596674
6    328.461083
Name: value, dtype: float64
ema is: 328.46108332746354
dataframe_val
   value
0      0
1      0
2      1
3      1
4      2
5      1
6      3
ema
0    0.000000
1    0.000000
2    0.432432
3    0.640000
4    1.085787
5    1.059697
6    1.619497
Name: value, dtype: float64
ema is: 1.6194970768472212
dataframe_val
   value
0      2
1      0
2      1
3      1
4      1
5      0
6      1
ema
0    2.000000
1    0.857143
2    0.918919
3    0.948571
4    0.965429
5    0.671815
6    0.766500
Name: value, dtype: float64
ema is: 0.7664999647812918
dataframe_val
   value
0      0
1      3
2      1
3      2
4      2
5      0
6      3
ema
0    0.000000
1    1.714286
2    1.405405
3    1.622857
4    1.746479
5    1.215325
6    1.730225
Name: value, dtype: float64
ema is: 1.7302246953581744
dataframe_val
   value
0      9
1     50
2    112
3      9
4     79
5     35
6      4
ema
0     9.000000
1    32.428571
2    66.837838
3    45.685714
4    56.605634
5    50.034749
6    36.753187
Name: value, dtype: float64
ema is: 36.753187293090086
dataframe_val
       value
0   8.333333
1  42.857143
2  40.000000
3  58.333333
4  16.666667
5  35.294118
6   9.090909
ema
0     8.333333
1    28.061224
2    33.223938
3    42.406803
4    33.969575
5    34.372406
6    27.078399
Name: value, dtype: float64
ema is: 27.078399373478284
dataframe_val
        value
0   33.333333
1    0.000000
2    0.000000
3    0.000000
4  100.000000
5  100.000000
6    0.000000
ema
0    33.333333
1    14.285714
2     8.108108
3     5.142857
4    36.235595
5    55.628156
6    39.578784
Name: value, dtype: float64
ema is: 39.578784250193706
dataframe_val
   value
0     22
1     29
2     26
3     32
4     28
5     31
6     20
ema
0    22.000000
1    26.000000
2    26.000000
3    28.194286
4    28.130602
5    29.003267
6    26.405720
Name: value, dtype: float64
ema is: 26.405719518208073
dataframe_val
   value
0   32.0
1   21.0
2   35.0
3   34.0
4   22.0
5   36.0
6   31.0
ema
0    32.000000
1    25.714286
2    29.729730
3    31.291429
4    28.245839
5    30.604099
6    30.718321
Name: value, dtype: float64
ema is: 30.718320771994083
dataframe_val
   value
0   15.0
1    4.0
2   19.0
3   27.0
4    9.0
5   21.0
6   20.0
ema
0    15.000000
1     8.714286
2    13.162162
3    18.222857
4    15.199744
5    16.963766
6    17.839755
Name: value, dtype: float64
ema is: 17.839754877791083
dataframe_val
   value
0    0.0
1    3.0
2    0.0
3    1.0
4    1.0
5    0.0
6    0.0
ema
0    0.000000
1    1.714286
2    0.972973
3    0.982857
4    0.988476
5    0.687853
6    0.489399
Name: value, dtype: float64
ema is: 0.489399168838487
dataframe_val
   value
0   52.0
1   77.0
2   37.0
3   41.0
4   18.0
5   31.0
6   45.0
ema
0    52.000000
1    66.285714
2    53.621622
3    49.005714
4    38.842510
5    36.457380
6    38.922026
Name: value, dtype: float64
ema is: 38.92202578009439
dataframe_val
   value
0    2.0
1    0.0
2    1.0
3    1.0
4    1.0
5    2.0
6    4.0
ema
0    2.000000
1    0.857143
2    0.918919
3    0.948571
4    0.965429
5    1.280071
6    2.064802
Name: value, dtype: float64
ema is: 2.0648024230471225
dataframe_val
   value
0    1.0
1    1.0
2    0.0
3    2.0
4    1.0
5    3.0
6    1.0
ema
0    1.000000
1    1.000000
2    0.567568
3    1.091429
4    1.061460
5    1.651025
6    1.463196
Name: value, dtype: float64
ema is: 1.4631964499542156
dataframe_val
   value
0   90.0
1  137.0
2   98.0
3  124.0
4   45.0
5  110.0
6  114.0
ema
0     90.000000
1    116.857143
2    108.702703
3    114.297143
4     91.582586
5     97.183843
6    102.035500
Name: value, dtype: float64
ema is: 102.03550045784321
dataframe_val
   value
0   20.0
1   43.0
2   29.0
3   36.0
4   45.0
5   38.0
6   20.0
ema
0    20.000000
1    33.142857
2    31.351351
3    33.051429
4    36.967990
5    37.281853
6    32.295837
Name: value, dtype: float64
ema is: 32.29583714869339
dataframe_val
   value
0   27.0
1   45.0
2   19.0
3   44.0
4   65.0
5   34.0
6   61.0
ema
0    27.000000
1    37.285714
2    29.378378
3    34.725714
4    44.649168
5    41.410454
6    47.062267
Name: value, dtype: float64
ema is: 47.06226667605832
dataframe_val
   value
0    0.0
1    2.0
2    1.0
3    0.0
4    1.0
5    0.0
6    0.0
ema
0    0.000000
1    1.142857
2    1.081081
3    0.685714
4    0.788732
5    0.548857
6    0.390505
Name: value, dtype: float64
ema is: 0.39050503627526933
dataframe_val
   value
0   60.0
1  172.0
2   60.0
3  160.0
4  220.0
5  115.0
6  115.0
ema
0     60.000000
1    124.000000
2     96.324324
3    119.611429
4    152.517286
5    141.107217
6    133.574981
Name: value, dtype: float64
ema is: 133.5749806297105
dataframe_val
   value
0    1.0
1    3.0
2    1.0
3    2.0
4    2.0
5    3.0
6    1.0
ema
0    1.000000
1    2.142857
2    1.648649
3    1.777143
4    1.850192
5    2.199881
6    1.853701
Name: value, dtype: float64
ema is: 1.8537014862294852
dataframe_val
   value
0    1.0
1    1.0
2    0.0
3    1.0
4    2.0
5    3.0
6    0.0
ema
0    1.000000
1    1.000000
2    0.567568
3    0.725714
4    1.143406
5    1.708049
6    1.215257
Name: value, dtype: float64
ema is: 1.215256744382616
dataframe_val
   value
0    0.0
1    1.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.000000
1    0.571429
2    0.324324
3    0.205714
4    0.138284
5    0.096228
6    0.068465
Name: value, dtype: float64
ema is: 0.06846516869761217
dataframe_val
   value
0   10.0
1   32.0
2    0.0
3    0.0
4   29.0
5   29.0
6    0.0
ema
0    10.000000
1    22.571429
2    12.810811
3     8.125714
4    14.967990
5    19.235521
6    13.685849
Name: value, dtype: float64
ema is: 13.685849123054167
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    2.0
2    2.0
3    0.0
4    2.0
5    2.0
6    1.0
ema
0    0.000000
1    1.142857
2    1.513514
3    0.960000
4    1.300896
5    1.513514
6    1.365359
Name: value, dtype: float64
ema is: 1.3653588786363315
dataframe_val
   value
0    0.0
1    0.0
2    1.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.000000
1    0.000000
2    0.432432
3    0.274286
4    0.184379
5    0.128304
6    0.091287
Name: value, dtype: float64
ema is: 0.09128689159681623
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    2.0
5    0.0
6    0.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    0.655570
5    0.456192
6    0.324576
Name: value, dtype: float64
ema is: 0.3245756145664577
dataframe_val
   value
0    2.0
1    2.0
2    5.0
3    3.0
4    4.0
5    4.0
6    0.0
ema
0    2.000000
1    2.000000
2    3.297297
3    3.188571
4    3.454545
5    3.620434
6    2.575896
Name: value, dtype: float64
ema is: 2.5758963161231248
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0   10.0
1    8.0
2    4.0
3    8.0
4    7.0
5    4.0
6    8.0
ema
0    10.000000
1     8.857143
2     6.756757
3     7.211429
4     7.142125
5     6.186516
6     6.709727
Name: value, dtype: float64
ema is: 6.709727407198704
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0  143.0
1   58.0
2   44.0
3  146.0
4  150.0
5   48.0
6  137.0
ema
0    143.000000
1     94.428571
2     72.621622
3     99.457143
4    116.024328
5     95.336204
6    107.356695
Name: value, dtype: float64
ema is: 107.3566950764246
dataframe_val
   value
0    8.0
1    6.0
2    6.0
3    2.0
4    2.0
5    7.0
6    6.0
ema
0    8.000000
1    6.857143
2    6.486486
3    4.845714
4    3.912932
5    4.851797
6    5.183067
Name: value, dtype: float64
ema is: 5.183066845108121
dataframe_val
       value
0  41.500000
1  41.000000
2  37.333333
3  47.500000
4  36.000000
5  39.571429
6  35.500000
ema
0    41.500000
1    41.214286
2    39.536036
3    42.448571
4    40.334827
5    40.102656
6    38.774736
Name: value, dtype: float64
ema is: 38.77473611125087
dataframe_val
   value
0    0.0
1    1.0
2    2.0
3    4.0
4    6.0
5    3.0
6    3.0
ema
0    0.000000
1    0.571429
2    1.189189
3    2.217143
4    3.457106
5    3.318087
6    3.226315
Name: value, dtype: float64
ema is: 3.22631541875044
dataframe_val
      value
0  0.000000
1  1.000000
2  1.000000
3  0.750000
4  0.833333
5  0.666667
6  0.666667
ema
0    0.000000
1    0.571429
2    0.756757
3    0.754286
4    0.780196
5    0.745669
6    0.722876
Name: value, dtype: float64
ema is: 0.7228757249184099
dataframe_val
   value
0    1.0
1    4.0
2    2.0
3    2.0
4    2.0
5    3.0
6    0.0
ema
0    1.000000
1    2.714286
2    2.405405
3    2.257143
4    2.172855
5    2.424413
6    1.724942
Name: value, dtype: float64
ema is: 1.7249418891315067
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    0.5
4    1.0
5    1.0
6    0.0
ema
0    1.000000
1    1.000000
2    1.000000
3    0.817143
4    0.877081
5    0.914464
6    0.650630
Name: value, dtype: float64
ema is: 0.6506304148763823
dataframe_val
   value
0      7
1     31
2     20
3     22
4     29
5     27
6     14
ema
0     7.000000
1    20.714286
2    20.405405
3    20.988571
4    23.614597
5    24.644194
6    21.573220
Name: value, dtype: float64
ema is: 21.573219694301613
dataframe_val
   value
0     22
1      9
2     14
3     19
4     10
5     21
6     27
ema
0    22.000000
1    14.571429
2    14.324324
3    16.034286
4    14.056338
5    16.168102
6    19.293231
Name: value, dtype: float64
ema is: 19.29323096428823
dataframe_val
   value
0     10
1     17
2     18
3     22
4     16
5     29
6     20
ema
0    10.000000
1    14.000000
2    15.729730
3    18.022857
4    17.359795
5    20.899911
6    20.640276
Name: value, dtype: float64
ema is: 20.640276114672115
dataframe_val
   value
0     25
1    168
2     27
3     17
4    221
5     30
6     42
ema
0     25.000000
1    106.714286
2     72.243243
3     52.040000
4    107.422535
5     83.876151
6     71.794393
Name: value, dtype: float64
ema is: 71.7943931816581
dataframe_val
   value
0      0
1     23
2      0
3      0
4     20
5      0
6     29
ema
0     0.000000
1    13.142857
2     7.459459
3     4.731429
4     9.736236
5     6.775171
6    13.187293
Name: value, dtype: float64
ema is: 13.187293090089456
dataframe_val
   value
0    259
1      1
2    160
3    189
4      0
5    186
6      1
ema
0    259.000000
1    111.571429
2    132.513514
3    153.171429
4    102.964149
5    128.217701
6     91.513911
Name: value, dtype: float64
ema is: 91.51391138973021
dataframe_val
   value
0     10
1     21
2     15
3     25
4     17
5     23
6     29
ema
0    10.000000
1    16.285714
2    15.729730
3    19.120000
4    18.425096
5    19.816454
6    22.466014
Name: value, dtype: float64
ema is: 22.466013946608438
dataframe_val
   value
0     92
1      1
2    158
3    357
4      2
5    305
6      2
ema
0     92.000000
1     40.000000
2     91.027027
3    188.297143
4    127.231754
5    181.296109
6    129.567092
Name: value, dtype: float64
ema is: 129.56709163907868
dataframe_val
   value
0      4
1     19
2      0
3      3
4     25
5      1
6     22
ema
0     4.000000
1    12.571429
2     7.135135
3     5.622857
4    11.974392
5     8.636769
6    12.492217
Name: value, dtype: float64
ema is: 12.492216665492709
dataframe_val
   value
0     27
1    252
2     26
3     30
4    308
5     23
6    207
ema
0     27.000000
1    155.571429
2     99.540541
3     74.108571
4    150.774648
5    111.914761
6    139.347961
Name: value, dtype: float64
ema is: 139.34796083679652
dataframe_val
   value
0      2
1      2
2      1
3      1
4      1
5      2
6      1
ema
0    2.000000
1    2.000000
2    1.567568
3    1.360000
4    1.241997
5    1.472527
6    1.336198
Name: value, dtype: float64
ema is: 1.3361977882651264
dataframe_val
   value
0      1
1      4
2      7
3      3
4      6
5      2
6     25
ema
0    1.000000
1    2.714286
2    4.567568
3    3.994286
4    4.651729
5    3.845263
6    9.948651
Name: value, dtype: float64
ema is: 9.948651123476791
dataframe_val
   value
0      2
1      8
2      2
3      0
4     68
5      2
6      9
ema
0     2.000000
1     5.428571
2     3.945946
3     2.502857
4    23.971831
5    17.289575
6    14.897936
Name: value, dtype: float64
ema is: 14.897936183700782
dataframe_val
   value
0     88
1    244
2    109
3    329
4    240
5    291
6    198
ema
0     88.000000
1    177.142857
2    147.675676
3    213.988571
4    222.514725
5    243.343035
6    230.261041
Name: value, dtype: float64
ema is: 230.26104106501373
dataframe_val
   value
0    197
1    274
2    230
3    381
4    296
5    431
6    311
ema
0    197.000000
1    241.000000
2    236.243243
3    289.182857
4    291.417414
5    333.868429
6    327.270621
Name: value, dtype: float64
ema is: 327.2706205536381
dataframe_val
   value
0      1
1      0
2      2
3      1
4      1
5      4
6      0
ema
0    1.000000
1    0.428571
2    1.108108
3    1.068571
4    1.046095
5    1.944461
6    1.383461
Name: value, dtype: float64
ema is: 1.3834612946397127
dataframe_val
   value
0      3
1      0
2      3
3      1
4      2
5      4
6      1
ema
0    3.000000
1    1.285714
2    2.027027
3    1.651429
4    1.765685
5    2.445203
6    2.028245
Name: value, dtype: float64
ema is: 2.0282454039585827
dataframe_val
   value
0      4
1      2
2      0
3      3
4      3
5      3
6      2
ema
0    4.000000
1    2.857143
2    1.621622
3    2.125714
4    2.412292
5    2.591031
6    2.420511
Name: value, dtype: float64
ema is: 2.420511375642741
dataframe_val
   value
0      3
1     73
2     10
3     11
4     20
5      6
6     25
ema
0     3.000000
1    43.000000
2    28.729730
3    22.245714
4    21.509603
5    16.792694
6    19.160597
Name: value, dtype: float64
ema is: 19.160597309290694
dataframe_val
       value
0  45.454545
1  41.666667
2   8.333333
3  22.222222
4  41.176471
5  40.000000
6  61.538462
ema
0    45.454545
1    43.290043
2    28.173628
3    25.997114
4    30.972678
5    33.718142
6    41.744628
Name: value, dtype: float64
ema is: 41.744628466098206
dataframe_val
   value
0    0.0
1    0.0
2  100.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0     0.000000
1     0.000000
2    43.243243
3    27.428571
4    18.437900
5    12.830413
6     9.128689
Name: value, dtype: float64
ema is: 9.128689159681622
dataframe_val
   value
0     26
1     30
2     32
3     28
4     31
5     34
6     37
ema
0    26.000000
1    28.285714
2    29.891892
3    29.200000
4    29.790013
5    31.070389
6    32.781151
Name: value, dtype: float64
ema is: 32.78115094738325
dataframe_val
   value
0   23.0
1   30.0
2   25.0
3   34.0
4   41.0
5   38.0
6   33.0
ema
0    23.000000
1    27.000000
2    26.135135
3    29.011429
4    32.941101
5    34.479655
6    34.052758
Name: value, dtype: float64
ema is: 34.05275762485032
dataframe_val
   value
0   10.0
1   19.0
2   15.0
3   25.0
4   25.0
5   23.0
6   22.0
ema
0    10.000000
1    15.142857
2    15.081081
3    18.708571
4    20.770807
5    21.448767
6    21.607804
Name: value, dtype: float64
ema is: 21.607804465732197
dataframe_val
   value
0    4.0
1    2.0
2    0.0
3    3.0
4    1.0
5    1.0
6    1.0
ema
0    4.000000
1    2.857143
2    1.621622
3    2.125714
4    1.756722
5    1.526582
6    1.374657
Name: value, dtype: float64
ema is: 1.3746566175952666
dataframe_val
   value
0   36.0
1   41.0
2   24.0
3   78.0
4   35.0
5   47.0
6   24.0
ema
0    36.000000
1    38.857143
2    32.432432
3    49.097143
4    44.476312
5    45.243837
6    39.114743
Name: value, dtype: float64
ema is: 39.11474255124322
dataframe_val
   value
0    1.0
1    1.0
2    7.0
3    3.0
4    7.0
5    2.0
6    2.0
ema
0    1.000000
1    1.000000
2    3.594595
3    3.377143
4    4.564661
5    3.784675
6    3.269775
Name: value, dtype: float64
ema is: 3.269775304641825
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    2.0
4    0.0
5    2.0
6    1.0
ema
0    1.000000
1    1.000000
2    1.000000
3    1.365714
4    0.918054
5    1.247104
6    1.175812
Name: value, dtype: float64
ema is: 1.175811791223498
dataframe_val
   value
0   79.0
1   91.0
2  106.0
3  145.0
4  115.0
5  147.0
6  101.0
ema
0     79.000000
1     85.857143
2     94.567568
3    113.011429
4    113.663252
5    123.801901
6    117.223287
Name: value, dtype: float64
ema is: 117.22328660984715
dataframe_val
   value
0   25.0
1   23.0
2   27.0
3   17.0
4   20.0
5   30.0
6   29.0
ema
0    25.000000
1    23.857143
2    25.216216
3    22.211429
4    21.486556
5    24.075735
6    25.496443
Name: value, dtype: float64
ema is: 25.496442910474045
dataframe_val
   value
0   43.0
1   11.0
2   29.0
3   26.0
4   21.0
5   18.0
6   19.0
ema
0    43.000000
1    24.714286
2    26.567568
3    26.360000
4    24.603073
5    22.594892
6    21.557723
Name: value, dtype: float64
ema is: 21.55772346270339
dataframe_val
   value
0    0.0
1    1.0
2    0.0
3    0.0
4    0.0
5    0.0
6    1.0
ema
0    0.000000
1    0.571429
2    0.324324
3    0.205714
4    0.138284
5    0.096228
6    0.356977
Name: value, dtype: float64
ema is: 0.356976826090019
dataframe_val
   value
0  109.0
1   30.0
2  121.0
3   52.0
4   56.0
5  140.0
6  113.0
ema
0    109.000000
1     63.857143
2     88.567568
3     75.194286
4     68.902689
5     90.525394
6     97.009579
Name: value, dtype: float64
ema is: 97.00957948862435
dataframe_val
   value
0    1.0
1    2.0
2    1.0
3    2.0
4    0.0
5    2.0
6    2.0
ema
0    1.000000
1    1.571429
2    1.324324
3    1.571429
4    1.056338
5    1.343332
6    1.532789
Name: value, dtype: float64
ema is: 1.532788617313517
dataframe_val
   value
0    1.0
1    1.0
2    0.0
3    0.0
4    1.0
5    2.0
6    1.0
ema
0    1.000000
1    1.000000
2    0.567568
3    0.360000
4    0.569782
5    1.004752
6    1.003381
Name: value, dtype: float64
ema is: 1.0033809959850672
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    1.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    0.000000
5    0.000000
6    0.288512
Name: value, dtype: float64
ema is: 0.28851165739240686
dataframe_val
   value
0    0.0
1   21.0
2    0.0
3    0.0
4    0.0
5   -2.0
6   28.0
ema
0     0.000000
1    12.000000
2     6.810811
3     4.320000
4     2.903969
5     1.412533
6     9.083327
Name: value, dtype: float64
ema is: 9.083327463548637
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    2.0
1    1.0
2    5.0
3    1.0
4    2.0
5    4.0
6    1.0
ema
0    2.000000
1    1.428571
2    2.972973
3    2.251429
4    2.169014
5    2.725869
6    2.227935
Name: value, dtype: float64

   value
0     29
1     28
2     32
3     39
4     28
5     29
6     26
ema
0    29.000000
1    28.428571
2    29.972973
3    33.274286
4    31.545455
5    30.771310
6    29.394731
Name: value, dtype: float64
ema is: 29.394731281256604
dataframe_val
   value
0   34.0
1   14.0
2   50.0
3   27.0
4   43.0
5   23.0
6   41.0
ema
0    34.000000
1    22.571429
2    34.432432
3    31.714286
4    35.413572
5    31.638254
6    34.339227
Name: value, dtype: float64
ema is: 34.33922659716841
dataframe_val
   value
0   20.0
1   10.0
2   23.0
3   19.0
4   22.0
5   14.0
6   15.0
ema
0    20.000000
1    14.285714
2    18.054054
3    18.400000
4    19.580026
5    17.882982
6    17.051208
Name: value, dtype: float64
ema is: 17.051208001690497
dataframe_val
   value
0    1.0
1    0.0
2    1.0
3    1.0
4    1.0
5    2.0
6    3.0
ema
0    1.000000
1    0.428571
2    0.675676
3    0.794286
4    0.861716
5    1.207900
6    1.724942
Name: value, dtype: float64
ema is: 1.7249418891315067
dataframe_val
   value
0   18.0
1   37.0
2   30.0
3   38.0
4   25.0
5   49.0
6   29.0
ema
0    18.000000
1    28.857143
2    29.351351
3    32.514286
4    30.051216
5    35.814078
6    33.848137
Name: value, dtype: float64
ema is: 33.8481369303374
dataframe_val
   value
0    2.0
1    4.0
2    2.0
3    1.0
4    2.0
5    2.0
6    6.0
ema
0    2.000000
1    3.142857
2    2.648649
3    2.045714
4    2.030730
5    2.021384
6    3.169261
Name: value, dtype: float64
ema is: 3.16926111150243
dataframe_val
   value
0    0.0
1    1.0
2    0.0
3    1.0
4    0.0
5    2.0
6    0.0
ema
0    0.000000
1    0.571429
2    0.324324
3    0.571429
4    0.384123
5    0.875557
6    0.622949
Name: value, dtype: float64
ema is: 0.6229485102486441
dataframe_val
   value
0   78.0
1   70.0
2  102.0
3  139.0
4   94.0
5  108.0
6   68.0
ema
0     78.000000
1     73.428571
2     85.783784
3    105.245714
4    101.559539
5    103.518266
6     93.270832
Name: value, dtype: float64
ema is: 93.27083186588716
dataframe_val
   value
0   20.0
1   34.0
2   24.0
3   48.0
4   18.0
5   35.0
6   23.0
ema
0    20.000000
1    28.000000
2    26.270270
3    34.217143
4    28.901408
5    30.756163
6    28.518419
Name: value, dtype: float64
ema is: 28.51841938437698
dataframe_val
   value
0   25.0
1   26.0
2   39.0
3   61.0
4   23.0
5   75.0
6   28.0
ema
0    25.000000
1    25.571429
2    31.378378
3    42.211429
4    35.914213
5    47.801307
6    42.088399
Name: value, dtype: float64
ema is: 42.08839895752624
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    5.0
4    0.0
5    1.0
6    0.0
ema
0    0.000000
1    0.000000
2    0.000000
3    1.828571
4    1.229193
5    1.159489
6    0.824963
Name: value, dtype: float64
ema is: 0.8249630203564133
dataframe_val
   value
0   65.0
1  102.0
2  116.0
3  218.0
4   33.0
5  186.0
6   84.0
ema
0     65.000000
1     86.142857
2     99.054054
3    142.554286
4    106.644046
5    130.778438
6    117.282313
Name: value, dtype: float64
ema is: 117.28231316475313
dataframe_val
   value
0    0.0
1    1.0
2    0.0
3    6.0
4    0.0
5    3.0
6    0.0
ema
0    0.000000
1    0.571429
2    0.324324
3    2.400000
4    1.613316
5    2.035046
6    1.447912
Name: value, dtype: float64
ema is: 1.4479115306050574
dataframe_val
   value
0    0.0
1    1.0
2    0.0
3    2.0
4    0.0
5    1.0
6    1.0
ema
0    0.000000
1    0.571429
2    0.324324
3    0.937143
4    0.629962
5    0.742501
6    0.816792
Name: value, dtype: float64
ema is: 0.8167922800591674
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    1.0
6    0.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    0.000000
5    0.304128
6    0.216384
Name: value, dtype: float64
ema is: 0.2163837430443051
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    3.0
4    0.0
5   58.0
6    2.0
ema
0     0.000000
1     0.000000
2     0.000000
3     1.097143
4     0.737516
5    18.152658
6    13.492428
Name: value, dtype: float64
ema is: 13.492427977741777
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    2.0
1    2.0
2    1.0
3    0.0
4    3.0
5    3.0
6    4.0
ema
0    2.000000
1    2.000000
2    1.567568
3    0.994286
4    1.651729
5    2.061776
6    2.620976
Name: value, dtype: float64
ema is: 2.620976262590688
dataframe_val
   value
0    0.0
1    1.0
2    0.0
3    0.0
4    0.0
5    0.0
6    1.0
ema
0    0.000000
1    0.571429
2    0.324324
3    0.205714
4    0.138284
5    0.096228
6    0.356977
Name: value, dtype: float64
ema is: 0.356976826090019
dataframe_val
   value
0    5.0
1   87.0
2  -18.0
3    0.0
4    0.0
5    0.0
6   41.0
ema
0     5.000000
1    51.857143
2    21.648649
3    13.731429
4     9.230474
5     6.423225
6    16.399028
Name: value, dtype: float64
ema is: 16.399027963654294
dataframe_val
   value
0    0.0
1    1.0
2    4.0
3    2.0
4    0.0
5    2.0
6    2.0
ema
0    0.000000
1    0.571429
2    2.054054
3    2.034286
4    1.367478
5    1.559846
6    1.686835
Name: value, dtype: float64
ema is: 1.6868352468831442
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    7.0
1    8.0
2    7.0
3    6.0
4    5.0
5    4.0
6    5.0
ema
0    7.000000
1    7.571429
2    7.324324
3    6.840000
4    6.236876
5    5.556579
6    5.395999
Name: value, dtype: float64
ema is: 5.395999154751004
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0  108.0
1  125.0
2   45.0
3   97.0
4   77.0
5   79.0
6  110.0
ema
0    108.000000
1    117.714286
2     86.270270
3     90.194286
4     85.869398
5     83.780220
6     91.344932
Name: value, dtype: float64
ema is: 91.34493202789322
dataframe_val
   value
0    5.0
1    6.0
2    8.0
3    2.0
4    3.0
5    1.0
6    8.0
ema
0    5.000000
1    5.571429
2    6.621622
3    4.931429
4    4.298335
5    3.295218
6    4.652603
Name: value, dtype: float64
ema is: 4.652602662534338
dataframe_val
       value
0  43.800000
1  39.333333
2  47.125000
3  34.500000
4  36.333333
5  40.000000
6  40.875000
ema
0    43.800000
1    41.247619
2    43.789189
3    40.392000
4    39.061630
5    39.347015
6    39.787857
Name: value, dtype: float64
ema is: 39.787856589420294
dataframe_val
   value
0    1.0
1    1.0
2    2.0
3    1.0
4    3.0
5    0.0
6    2.0
ema
0    1.000000
1    1.000000
2    1.432432
3    1.274286
4    1.839949
5    1.280368
6    1.487990
Name: value, dtype: float64
ema is: 1.4879904205113756
dataframe_val
      value
0  0.000000
1  1.000000
2  1.000000
3  1.000000
4  0.666667
5  0.000000
6  1.000000
ema
0    0.000000
1    0.571429
2    0.756757
3    0.845714
4    0.787025
5    0.547669
6    0.678171
Name: value, dtype: float64
ema is: 0.6781714446714094
dataframe_val
   value
0    0.0
1    2.0
2    0.0
3    6.0
4    0.0
5    3.0
6    0.0
ema
0    0.000000
1    1.142857
2    0.648649
3    2.605714
4    1.751601
5    2.131274
6    1.516377
Name: value, dtype: float64
ema is: 1.51637669930267
dataframe_val
   value
0    0.0
1    1.0
2    0.0
3    1.0
4    0.0
5    1.0
6    0.0
ema
0    0.000000
1    0.571429
2    0.324324
3    0.571429
4    0.384123
5    0.571429
6    0.406565
Name: value, dtype: float64
ema is: 0.40656476720433893
dataframe_val
   value
0      0
1     17
2      6
3     45
4      6
5     27
6     14
ema
0     0.000000
1     9.714286
2     8.108108
3    21.600000
4    16.486556
5    19.683992
6    18.044094
Name: value, dtype: float64
ema is: 18.044093822638587
dataframe_val
   value
0     35
1     20
2     14
3     29
4     20
5     21
6     17
ema
0    35.000000
1    26.428571
2    21.054054
3    23.960000
4    22.661972
5    22.156519
6    20.668803
Name: value, dtype: float64
ema is: 20.66880326829612
dataframe_val
   value
0     20
1     15
2     20
3     23
4     19
5     19
6     13
7     26
ema
0    20.000000
1    17.142857
2    18.378378
3    20.068571
4    19.718310
5    19.499851
6    17.624569
7    19.951369
Name: value, dtype: float64
ema is: 19.951369224247564
dataframe_val
   value
0    109
1    153
2     20
3     24
4    118
5     26
6     18
7     99
ema
0    109.000000
1    134.142857
2     84.783784
3     62.554286
4     80.728553
5     64.084051
6     50.788265
7     64.182094
Name: value, dtype: float64
ema is: 64.18209410767274
dataframe_val
   value
0     40
1     24
2      1
3      0
4     34
5      1
6      0
7     32
ema
0    40.000000
1    30.857143
2    17.945946
3    11.382857
4    18.796415
5    13.384021
6     9.522575
7    15.767088
Name: value, dtype: float64
ema is: 15.767087749046206
dataframe_val
   value
0      1
1      0
2    158
3    113
4      1
5    272
6    113
7      2
ema
0      1.000000
1      0.428571
2     68.567568
3     84.817143
4     57.343150
5    122.626374
6    119.849053
7     87.109097
Name: value, dtype: float64
ema is: 87.1090970750318
dataframe_val
   value
0     23
1     29
2     16
3     21
4     32
5     22
6     15
7     50
ema
0    23.000000
1    26.428571
2    21.918919
3    21.582857
4    24.997439
5    24.085833
6    21.464464
7    29.391997
Name: value, dtype: float64
ema is: 29.391996608732512
dataframe_val
   value
0      1
1      2
2    233
3    230
4      1
5    252
6    242
7      3
ema
0      1.000000
1      1.571429
2    101.648649
3    148.588571
4    100.211268
5    146.374517
6    173.963584
7    126.467741
Name: value, dtype: float64
ema is: 126.4677405680373
dataframe_val
   value
0     14
1     20
2      1
3      1
4     13
5      1
6      1
7     21
ema
0    14.000000
1    17.428571
2    10.324324
3     6.914286
4     8.909091
5     6.503713
6     4.915827
7     9.384214
Name: value, dtype: float64
ema is: 9.384213649851633
dataframe_val
   value
0    204
1    272
2     47
3     18
4    192
5     45
6     33
7    245
ema
0    204.000000
1    242.857143
2    158.162162
3    106.902857
4    134.796415
5    107.486783
6     85.996478
7    130.169665
Name: value, dtype: float64
ema is: 130.16966511233574
dataframe_val
   value
0      1
1      1
2      2
3      1
4      1
5      1
6      1
7      0
ema
0    1.000000
1    1.000000
2    1.432432
3    1.274286
4    1.184379
5    1.128304
6    1.091287
7    0.788114
Name: value, dtype: float64
ema is: 0.7881136074607884
dataframe_val
   value
0      4
1      0
2      1
3      3
4     16
5      3
6      2
7      5
ema
0    4.000000
1    1.714286
2    1.405405
3    1.988571
4    6.581306
5    5.492129
6    4.484609
7    4.627791
Name: value, dtype: float64
ema is: 4.627791437049598
dataframe_val
   value
0      7
1     12
2      1
3      2
4      9
5      2
6      2
7      6
ema
0    7.000000
1    9.857143
2    6.027027
3    4.554286
4    6.011524
5    4.791506
6    3.986124
7    4.545604
Name: value, dtype: float64
ema is: 4.545604069520984
dataframe_val
   value
0    197
1    260
2    225
3    216
4    183
5    226
6    217
7    239
ema
0    197.000000
1    233.000000
2    229.540541
3    224.588571
4    210.956466
5    215.531631
6    215.955272
7    222.357389
Name: value, dtype: float64
ema is: 222.35738872403562
dataframe_val
   value
0    456
1    358
2    354
3    311
4    319
5    291
6    259
7    405
ema
0    456.000000
1    400.000000
2    380.108108
3    354.834286
4    343.088348
5    327.246807
6    307.556808
7    334.627758
Name: value, dtype: float64
ema is: 334.6277575243747
dataframe_val
   value
0      0
1      1
2      0
3      2
4      1
5      2
6      2
7      3
ema
0    0.000000
1    0.571429
2    0.324324
3    0.937143
4    0.957746
5    1.274725
6    1.483975
7    1.905146
Name: value, dtype: float64
ema is: 1.9051462484103434
dataframe_val
   value
0      1
1      2
2      0
3      2
4      0
5      4
6      2
7      0
ema
0    1.000000
1    1.571429
2    0.891892
3    1.297143
4    0.871959
5    1.823285
6    1.874269
7    1.353574
Name: value, dtype: float64
ema is: 1.3535735481136075
dataframe_val
   value
0      2
1      3
2      1
3      2
4      1
5      2
6      1
7      0
ema
0    2.000000
1    2.571429
2    1.891892
3    1.931429
4    1.626120
5    1.739828
6    1.526379
7    1.102331
Name: value, dtype: float64
ema is: 1.1023314963967783
dataframe_val
   value
0     17
1     14
2      5
3      4
4     49
5      8
6      3
7     84
ema
0    17.000000
1    15.285714
2    10.837838
3     8.337143
4    21.665813
5    17.509653
6    13.323449
7    32.958287
Name: value, dtype: float64
ema is: 32.95828740991946
dataframe_val
       value
0  50.000000
1  50.000000
2  37.500000
3  46.666667
4  36.363636
5  42.105263
6  27.272727
7  33.333333
ema
0    50.000000
1    50.000000
2    44.594595
3    45.352381
4    42.406006
5    42.314542
6    37.974803
7    36.685344
Name: value, dtype: float64
ema is: 36.68534405882524
dataframe_val
   value
0    0.0
1    0.0
2  100.0
3    0.0
4    0.0
5  100.0
6  100.0
7  100.0
ema
0     0.000000
1     0.000000
2    43.243243
3    27.428571
4    18.437900
5    43.243243
6    59.618229
7    70.836795
Name: value, dtype: float64
ema is: 70.83679525222551
dataframe_val
   value
0     33
1     25
2     21
3     31
4     27
5     29
6     22
7     32
ema
0    33.000000
1    28.428571
2    25.216216
3    27.331429
4    27.222791
5    27.763291
6    26.100514
7    27.739466
Name: value, dtype: float64
ema is: 27.73946587537092
dataframe_val
   value
0   27.0
1   34.0
2   26.0
3   40.0
4   24.0
5   45.0
6   29.0
7   39.0
ema
0    27.000000
1    31.000000
2    28.837838
3    32.920000
4    29.996159
5    34.559252
6    32.955343
7    34.634625
Name: value, dtype: float64
ema is: 34.63462484103434
dataframe_val
   value
0   14.0
1   20.0
2   16.0
3   21.0
4   13.0
5   22.0
6   15.0
7   21.0
ema
0    14.000000
1    17.428571
2    16.810811
3    18.342857
4    16.591549
5    18.236412
6    17.302670
7    18.329835
Name: value, dtype: float64
ema is: 18.329834675710046
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    0.0
ema
0    1.000000
1    1.000000
2    1.000000
3    1.000000
4    1.000000
5    1.000000
6    1.000000
7    0.722187
Name: value, dtype: float64
ema is: 0.7221873675286138
dataframe_val
   value
0   93.0
1   42.0
2   45.0
3   29.0
4   41.0
5   40.0
6   46.0
7   24.0
ema
0    93.000000
1    63.857143
2    55.702703
3    45.937143
4    44.318822
5    43.005346
6    43.869339
7    38.349385
Name: value, dtype: float64
ema is: 38.34938533276812
dataframe_val
   value
0    2.0
1    2.0
2    1.0
3    3.0
4    1.0
5    3.0
6    2.0
7    1.0
ema
0    2.000000
1    2.000000
2    1.567568
3    2.091429
4    1.733675
5    2.118800
6    2.084525
7    1.783230
Name: value, dtype: float64
ema is: 1.7832301822806274
dataframe_val
   value
0    2.0
1    0.0
2    3.0
3    0.0
4    2.0
5    2.0
6    2.0
7    1.0
ema
0    2.000000
1    0.857143
2    1.783784
3    1.131429
4    1.416133
5    1.593704
6    1.710925
7    1.513421
Name: value, dtype: float64
ema is: 1.5134209410767274
dataframe_val
   value
0  127.0
1  131.0
2  132.0
3  100.0
4  134.0
5  114.0
6  192.0
7   95.0
ema
0    127.000000
1    129.285714
2    130.459459
3    119.320000
4    124.131882
5    121.050490
6    141.520251
7    128.596337
Name: value, dtype: float64
ema is: 128.59633743111488
dataframe_val
   value
0   40.0
1   24.0
2   20.0
3   24.0
4   34.0
5   26.0
6   18.0
7   32.0
ema
0    40.000000
1    30.857143
2    26.162162
3    25.371429
4    28.199744
5    27.530740
6    24.781010
7    26.786537
Name: value, dtype: float64
ema is: 26.786536668079695
dataframe_val
   value
0  137.0
1   47.0
2   59.0
3   38.0
4   23.0
5   26.0
6   12.0
7   55.0
ema
0    137.000000
1     85.571429
2     74.081081
3     60.885714
4     48.467350
5     41.634393
6     33.084525
7     39.172921
Name: value, dtype: float64
ema is: 39.17292072912251
dataframe_val
   value
0    1.0
1    0.0
2    1.0
3    0.0
4    1.0
5    1.0
6    0.0
7    2.0
ema
0    1.000000
1    0.428571
2    0.675676
3    0.428571
4    0.615877
5    0.732700
6    0.521307
7    0.932107
Name: value, dtype: float64
ema is: 0.932106824925816
dataframe_val
   value
0  259.0
1   98.0
2  129.0
3   95.0
4  136.0
5   65.0
6   42.0
7  166.0
ema
0    259.000000
1    167.000000
2    150.567568
3    130.245714
4    132.131882
5    111.715177
6     91.601536
7    112.270369
Name: value, dtype: float64
ema is: 112.27036880033913
dataframe_val
   value
0    3.0
1    0.0
2    4.0
3    0.0
4    3.0
5    3.0
6    2.0
7    3.0
ema
0    3.000000
1    1.285714
2    2.459459
3    1.560000
4    2.032010
5    2.326403
6    2.232232
7    2.445528
Name: value, dtype: float64
ema is: 2.4455277660025434
dataframe_val
   value
0    4.0
1    0.0
2    0.0
3    0.0
4    1.0
5    1.0
6    1.0
7    1.0
ema
0    4.000000
1    1.714286
2    0.972973
3    0.617143
4    0.742638
5    0.820909
6    0.872579
7    0.907978
Name: value, dtype: float64
ema is: 0.9079779567613395
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    1.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    0.000000
5    0.000000
6    0.000000
7    0.277813
Name: value, dtype: float64
ema is: 0.27781263247138616
dataframe_val
   value
0   66.0
1    0.0
2    0.0
3    0.0
4   34.0
5    0.0
6    0.0
7    7.0
ema
0    66.000000
1    28.285714
2    16.054054
3    10.182857
4    17.989757
5    12.518563
6     8.906811
7     8.377075
Name: value, dtype: float64
ema is: 8.377075031793133
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    2.0
1    3.0
2    0.0
3    2.0
4    3.0
5    4.0
6    2.0
7    3.0
ema
0    2.000000
1    2.571429
2    1.459459
3    1.657143
4    2.097311
5    2.675973
6    2.480947
7    2.625146
Name: value, dtype: float64
ema is: 2.6251462484103434
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1   -3.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.000000
1   -1.714286
2   -0.972973
3   -0.617143
4   -0.414853
5   -0.288684
6   -0.205396
7   -0.148334
Name: value, dtype: float64
ema is: -0.14833403984739296
dataframe_val
   value
0    1.0
1    0.0
2    1.0
3    2.0
4    2.0
5    1.0
6    2.0
7    2.0
ema
0    1.000000
1    0.428571
2    0.675676
3    1.160000
4    1.435339
5    1.302940
6    1.504050
7    1.641831
Name: value, dtype: float64
ema is: 1.6418312844425604
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0  141.0
1  103.0
2  109.0
3   91.0
4  143.0
5  168.0
6  102.0
ema
0    141.000000
1    119.285714
2    114.837838
3    106.120000
4    118.208707
5    133.351648
6    124.306332
Name: value, dtype: float64
ema is: 124.30633232373036
dataframe_val
   value
0    7.0
1    1.0
2    9.0
3    4.0
4    5.0
5    4.0
6    6.0
ema
0    7.000000
1    3.571429
2    5.918919
3    5.217143
4    5.145967
5    4.797446
6    5.144397
Name: value, dtype: float64
ema is: 5.144396703528915
dataframe_val
       value
0  48.857143
1  11.000000
2  43.333333
3  49.000000
4  42.400000
5  43.250000
6  44.500000
ema
0    48.857143
1    27.224490
2    34.190476
3    39.606531
4    40.522188
5    41.351793
6    42.260087
Name: value, dtype: float64
ema is: 42.26008714114652
dataframe_val
   value
0    0.0
1    2.0
2    1.0
3    2.0
4    1.0
5    5.0
6    3.0
ema
0    0.000000
1    1.142857
2    1.081081
3    1.417143
4    1.280410
5    2.411642
6    2.581390
Name: value, dtype: float64
ema is: 2.581390434598859
dataframe_val
      value
0  0.000000
1  1.000000
2  0.000000
3  0.500000
4  1.000000
5  0.600000
6  0.333333
ema
0    0.000000
1    0.571429
2    0.324324
3    0.388571
4    0.588988
5    0.592337
6    0.517612
Name: value, dtype: float64
ema is: 0.5176117020027705
dataframe_val
   value
0    2.0
1    3.0
2    2.0
3    3.0
4    3.0
5    3.0
6    5.0
ema
0    2.000000
1    2.571429
2    2.324324
3    2.571429
4    2.711908
5    2.799525
6    3.434388
Name: value, dtype: float64
ema is: 3.434387546664788
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
ema
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
Name: value, dtype: float64
ema is: 1.0
dataframe_val
   value
0     14
1     27
2     14
3     24
4     24
5     30
6     38
ema
0    14.000000
1    21.428571
2    18.216216
3    20.331429
4    21.533931
5    24.108702
6    28.116503
Name: value, dtype: float64
ema is: 28.11650348665211
dataframe_val
   value
0     17
1     24
2      6
3     14
4     34
5     21
6     21
ema
0    17.000000
1    21.000000
2    14.513514
3    14.325714
4    20.774648
5    20.843184
6    20.888427
Name: value, dtype: float64
ema is: 20.88842713249278
dataframe_val
   value
0     26
1     19
2     21
3     22
4     21
5     16
6     24
ema
0    26.000000
1    22.000000
2    21.567568
3    21.725714
4    21.487836
5    19.818830
6    21.025146
Name: value, dtype: float64
ema is: 21.02514615763894
dataframe_val
   value
0    122
1     36
2     23
3    134
4     95
5     23
6     93
ema
0    122.000000
1     72.857143
2     51.297297
3     81.542857
4     85.953905
5     66.807841
6     74.364584
Name: value, dtype: float64
ema is: 74.36458406705643
dataframe_val
   value
0     33
1      1
2      0
3     25
4     39
5      0
6     22
ema
0    33.000000
1    14.714286
2     8.351351
3    14.440000
4    22.490397
5    15.650431
6    17.482355
Name: value, dtype: float64
ema is: 17.482355427202933
dataframe_val
   value
0      2
1     38
2     46
3      2
4      2
5     96
6      0
ema
0     2.000000
1    22.571429
2    32.702703
3    21.474286
4    15.090909
5    39.697654
6    28.244418
Name: value, dtype: float64
ema is: 28.244417834753822
dataframe_val
   value
0     32
1     13
2     28
3     31
4     41
5     19
6     22
ema
0    32.000000
1    21.142857
2    24.108108
3    26.628571
4    31.339309
5    27.586576
6    25.974783
Name: value, dtype: float64
ema is: 25.974783404944706
dataframe_val
   value
0      2
1    123
2    306
3      2
4      1
5    282
6      3
ema
0      2.000000
1     71.142857
2    172.702703
3    110.274286
4     74.455826
5    137.575884
6     98.749172
Name: value, dtype: float64
ema is: 98.74917236035782
dataframe_val
   value
0     22
1      0
2      3
3     29
4     12
5      0
6     30
ema
0    22.000000
1     9.428571
2     6.648649
3    14.822857
4    13.897567
5     9.670924
6    15.536099
Name: value, dtype: float64
ema is: 15.536099175882228
dataframe_val
   value
0    212
1     35
2     33
3    338
4    147
5     30
6    359
ema
0    212.000000
1    110.857143
2     77.189189
3    172.571429
4    164.189501
5    123.378675
6    191.358174
Name: value, dtype: float64
ema is: 191.35817426216806
dataframe_val
   value
0      4
1      0
2      1
3      6
4      1
5      1
6      1
ema
0    4.000000
1    1.714286
2    1.405405
3    3.085714
4    2.402049
5    1.975646
6    1.694161
Name: value, dtype: float64
ema is: 1.6941607381841235
dataframe_val
   value
0     15
1      0
2      4
3      5
4     25
5      0
6      0
ema
0    15.000000
1     6.428571
2     5.378378
3     5.240000
4    11.717029
5     8.153549
6     5.801155
Name: value, dtype: float64
ema is: 5.801155173628231
dataframe_val
   value
0      8
1      4
2      3
3      3
4      6
5      4
6     12
ema
0    8.000000
1    5.714286
2    4.540541
3    3.977143
4    4.640205
5    4.445500
6    6.625062
Name: value, dtype: float64
ema is: 6.625061632739311
dataframe_val
   value
0    204
1    123
2    273
3    335
4    141
5    282
6    347
ema
0    204.000000
1    157.714286
2    207.567568
3    254.171429
4    217.075544
5    236.820909
6    268.608861
Name: value, dtype: float64
ema is: 268.60886102697754
dataframe_val
   value
0    354
1    250
2    366
3    405
4    261
5    350
6    468
ema
0    354.000000
1    294.571429
2    325.459459
3    354.548571
4    323.884763
5    331.827146
6    371.114602
Name: value, dtype: float64
ema is: 371.11460167641053
dataframe_val
   value
0      0
1      1
2      2
3      2
4      0
5      3
6      0
ema
0    0.000000
1    0.571429
2    1.189189
3    1.485714
4    0.998720
5    1.607366
6    1.143622
Name: value, dtype: float64
ema is: 1.1436218919490033
dataframe_val
   value
0      0
1      2
2      3
3      1
4      0
5      1
6      0
ema
0    0.000000
1    1.142857
2    1.945946
3    1.600000
4    1.075544
5    1.052569
6    0.748891
Name: value, dtype: float64
ema is: 0.7488906106923998
dataframe_val
   value
0      4
1      1
2      5
3      7
4      1
5      1
6      1
ema
0    4.000000
1    2.285714
2    3.459459
3    4.754286
4    3.523688
5    2.756163
6    2.249489
Name: value, dtype: float64
ema is: 2.249489328731422
dataframe_val
   value
0     83
1     12
2     11
3     39
4    134
5      5
6     10
ema
0    83.000000
1    42.428571
2    28.837838
3    32.554286
4    65.806658
5    47.313632
6    36.548214
Name: value, dtype: float64
ema is: 36.54821441149539
dataframe_val
       value
0  57.142857
1  45.454545
2  31.250000
3  37.500000
4  40.000000
5  23.076923
6  50.000000
ema
0    57.142857
1    50.463822
2    42.155142
3    40.452690
4    40.304305
5    35.064971
6    39.373901
Name: value, dtype: float64
ema is: 39.37390073475162
dataframe_val
   value
0    0.0
1    0.0
2   75.0
3  100.0
4    0.0
5    0.0
6    0.0
ema
0     0.000000
1     0.000000
2    32.432432
3    57.142857
4    38.412292
5    26.730027
6    19.018102
Name: value, dtype: float64
ema is: 19.01810241600338
dataframe_val
   value
0     33
1     30
2     31
3     33
4     33
5     27
6     32
ema
0    33.000000
1    31.285714
2    31.162162
3    31.834286
4    32.216389
5    30.629938
6    31.025217
Name: value, dtype: float64
ema is: 31.025216595055294
dataframe_val
   value
0   35.0
1   22.0
2   52.0
3   49.0
4   21.0
5   35.0
6   52.0
ema
0    35.000000
1    27.571429
2    38.135135
3    42.108571
4    35.189501
5    35.131868
6    39.998521
Name: value, dtype: float64
ema is: 39.99852081425653
dataframe_val
   value
0   22.0
1   13.0
2   28.0
3   29.0
4   12.0
5   19.0
6   30.0
ema
0    22.000000
1    16.857143
2    21.675676
3    24.354286
4    20.304738
5    19.907930
6    22.819610
Name: value, dtype: float64
ema is: 22.81960977671339
dataframe_val
   value
0    4.0
1    0.0
2    3.0
3    6.0
4    1.0
5    0.0
6    1.0
ema
0    4.000000
1    1.714286
2    2.270270
3    3.634286
4    2.770807
5    1.928126
6    1.660351
Name: value, dtype: float64
ema is: 1.6603507783334508
dataframe_val
   value
0   40.0
1   18.0
2   46.0
3   71.0
4   25.0
5   43.0
6   27.0
ema
0    40.000000
1    27.428571
2    35.459459
3    48.457143
4    40.768246
5    41.446985
6    37.278862
Name: value, dtype: float64
ema is: 37.2788617313517
dataframe_val
   value
0    1.0
1    0.0
2    4.0
3    2.0
4    1.0
5    0.0
6    1.0
ema
0    1.000000
1    0.428571
2    1.972973
3    1.982857
4    1.660691
5    1.155628
6    1.110728
Name: value, dtype: float64
ema is: 1.110727618510953
dataframe_val
   value
0    0.0
1    1.0
2    1.0
3    1.0
4    0.0
5    1.0
6    0.0
ema
0    0.000000
1    0.571429
2    0.756757
3    0.845714
4    0.568502
5    0.699733
6    0.497852
Name: value, dtype: float64
ema is: 0.4978516588011552
dataframe_val
   value
0   89.0
1   94.0
2  137.0
3  153.0
4   84.0
5  115.0
6  164.0
ema
0     89.000000
1     91.857143
2    111.378378
3    126.600000
4    112.636364
5    113.355212
6    127.966824
Name: value, dtype: float64
ema is: 127.96682397689652
dataframe_val
   value
0   33.0
1   36.0
2   23.0
3   25.0
4   39.0
5   23.0
6   22.0
ema
0    33.000000
1    34.714286
2    29.648649
3    27.948571
4    31.571063
5    28.964360
6    26.955061
Name: value, dtype: float64
ema is: 26.955060928365146
dataframe_val
   value
0   69.0
1   40.0
2   41.0
3   24.0
4   25.0
5   25.0
6   83.0
ema
0    69.000000
1    52.428571
2    47.486486
3    38.897143
4    34.341869
5    31.500743
6    46.358879
Name: value, dtype: float64
ema is: 46.35887863633162
dataframe_val
   value
0    2.0
1    1.0
2    0.0
3    2.0
4    2.0
5    0.0
6    0.0
ema
0    2.000000
1    1.428571
2    0.810811
3    1.245714
4    1.492958
5    1.038907
6    0.739170
Name: value, dtype: float64
ema is: 0.7391702472353314
dataframe_val
   value
0  150.0
1  127.0
2   93.0
3   70.0
4  120.0
5   68.0
6  121.0
ema
0    150.000000
1    136.857143
2    117.891892
3    100.377143
4    106.809219
5     95.006237
6    102.505741
Name: value, dtype: float64
ema is: 102.50574064943298
dataframe_val
   value
0    2.0
1    2.0
2    1.0
3    3.0
4    2.0
5    1.0
6    0.0
ema
0    2.000000
1    2.000000
2    1.567568
3    2.091429
4    2.061460
5    1.738640
6    1.237022
Name: value, dtype: float64
ema is: 1.2370219060364867
dataframe_val
   value
0    1.0
1    2.0
2    0.0
3    2.0
4    4.0
5    0.0
6    0.0
ema
0    1.000000
1    1.571429
2    0.891892
3    1.297143
4    2.183099
5    1.519157
6    1.080862
Name: value, dtype: float64
ema is: 1.0808621539761925
dataframe_val
   value
0    0.0
1    1.0
2    0.0
3    0.0
4    2.0
5    0.0
6    0.0
ema
0    0.000000
1    0.571429
2    0.324324
3    0.205714
4    0.793854
5    0.552421
6    0.393041
Name: value, dtype: float64
ema is: 0.3930407832640699
dataframe_val
   value
0   26.0
1   36.0
2    0.0
3    6.0
4  108.0
5    0.0
6    0.0
ema
0    26.000000
1    31.714286
2    18.000000
3    13.611429
4    44.550576
5    31.001485
6    22.057195
Name: value, dtype: float64
ema is: 22.057195182080722
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    2.0
1    1.0
2    0.0
3    3.0
4    0.0
5    2.0
6    0.0
ema
0    2.000000
1    1.428571
2    0.810811
3    1.611429
4    1.083227
5    1.362043
6    0.969078
Name: value, dtype: float64
ema is: 0.9690779742199056
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    4.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.000000
1    2.285714
2    1.297297
3    0.822857
4    0.553137
5    0.384912
6    0.273861
Name: value, dtype: float64
ema is: 0.2738606747904487
dataframe_val
   value
0    2.0
1    4.0
2    3.0
3    1.0
4    3.0
5    4.0
6    0.0
ema
0    2.000000
1    3.142857
2    3.081081
3    2.320000
4    2.542894
5    2.986041
6    2.124533
Name: value, dtype: float64
ema is: 2.1245333521166447
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    5.0
1    6.0
2   10.0
3    8.0
4    6.0
5    9.0
6    7.0
ema
0    5.000000
1    5.571429
2    7.486486
3    7.674286
4    7.125480
5    7.695575
6    7.494893
Name: value, dtype: float64
ema is: 7.4948932873142216
dataframe_val
   value
0    0.0
1    1.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.000000
1    0.571429
2    0.324324
3    0.205714
4    0.138284
5    0.096228
6    0.068465
Name: value, dtype: float64
ema is: 0.06846516869761217
dataframe_val
   value
0   78.0
1  140.0
2  129.0
3  148.0
4  136.0
5  134.0
6  122.0
ema
0     78.000000
1    113.428571
2    120.162162
3    130.342857
4    132.197183
5    132.745471
6    129.645277
Name: value, dtype: float64
ema is: 129.64527717123335
dataframe_val
   value
0    1.0
1    4.0
2    4.0
3    1.0
4    5.0
5    5.0
6    1.0
ema
0    1.000000
1    2.714286
2    3.270270
3    2.440000
4    3.279129
5    3.802495
6    2.993942
Name: value, dtype: float64
ema is: 2.993942382193421
dataframe_val
   value
0  45.00
1  39.25
2  37.75
3  42.00
4  42.00
5  42.00
6  46.00
ema
0    45.000000
1    41.714286
2    40.000000
3    40.731429
4    41.147247
5    41.406593
6    42.731845
Name: value, dtype: float64
ema is: 42.731844755934354
dataframe_val
   value
0    4.0
1    2.0
2    1.0
3    4.0
4    1.0
5    3.0
6    5.0
ema
0    4.000000
1    2.857143
2    2.054054
3    2.765714
4    2.186940
5    2.434214
6    3.174473
Name: value, dtype: float64
ema is: 3.1744734803127423
dataframe_val
   value
0   0.75
1   1.00
2   1.00
3   0.50
4   1.00
5   1.00
6   0.60
ema
0    0.750000
1    0.892857
2    0.939189
3    0.778571
4    0.851152
5    0.896421
6    0.810900
Name: value, dtype: float64
ema is: 0.8109001901810242
dataframe_val
   value
0    2.0
1    4.0
2    1.0
3    0.0
4    4.0
5    1.0
6    0.0
ema
0    2.000000
1    3.142857
2    2.216216
3    1.405714
4    2.256082
5    1.874072
6    1.333380
Name: value, dtype: float64
ema is: 1.3333802916109037
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    0.0
4    1.0
5    1.0
6    0.0
ema
0    1.000000
1    1.000000
2    1.000000
3    0.634286
4    0.754161
5    0.828928
6    0.589772
Name: value, dtype: float64
ema is: 0.5897724871451715
dataframe_val
   value
0     23
1     34
2     10
3     24
4     31
5     16
6      9
ema
0    23.000000
1    29.285714
2    20.945946
3    22.062857
4    24.992318
5    22.257499
6    18.432556
Name: value, dtype: float64
ema is: 18.432556173839544
dataframe_val
   value
0     20
1     17
2     23
3     44
4     16
5     20
6     27
ema
0    20.000000
1    18.285714
2    20.324324
3    28.982857
4    24.727273
5    23.289575
6    24.360076
Name: value, dtype: float64
ema is: 24.360076072409665
dataframe_val
   value
0     16
1     19
2     19
3     23
4     22
5     18
6     27
ema
0    16.000000
1    17.714286
2    18.270270
3    20.000000
4    20.655570
5    19.847936
6    21.911390
Name: value, dtype: float64
ema is: 21.911389730224695
dataframe_val
   value
0     22
1     15
2    121
3     78
4     59
5     20
6     23
ema
0    22.000000
1    18.000000
2    62.540541
3    68.194286
4    65.180538
5    51.439857
6    43.234627
Name: value, dtype: float64
ema is: 43.2346270338804
dataframe_val
   value
0      0
1      0
2     29
3     22
4     22
5      0
6      0
ema
0     0.000000
1     0.000000
2    12.540541
3    16.000000
4    17.966709
5    12.502525
6     8.895400
Name: value, dtype: float64
ema is: 8.89540043671198
dataframe_val
   value
0    150
1    155
2      1
3      1
4      3
5    109
6    166
ema
0    150.000000
1    152.857143
2     87.189189
3     55.668571
4     38.404609
5     59.874666
6     90.493062
Name: value, dtype: float64
ema is: 90.49306191448898
dataframe_val
   value
0     18
1     27
2     25
3     44
4     40
5     17
6     30
ema
0    18.000000
1    23.142857
2    23.945946
3    31.280000
4    34.138284
5    28.926047
6    29.235895
Name: value, dtype: float64
ema is: 29.235894907374803
dataframe_val
   value
0    195
1    279
2      1
3      2
4      2
5    205
6    327
ema
0    195.000000
1    243.000000
2    138.351351
3     88.485714
4     60.137004
5    104.193941
6    168.476086
Name: value, dtype: float64
ema is: 168.4760864971473
dataframe_val
   value
0      1
1      1
2     17
3     28
4     24
5      1
6      1
ema
0     1.000000
1     1.000000
2     7.918919
3    15.262857
4    18.126761
5    12.918028
6     9.479538
Name: value, dtype: float64
ema is: 9.479537930548707
dataframe_val
   value
0     35
1     29
2    217
3    291
4    273
5     34
6     39
ema
0     35.000000
1     31.571429
2    111.756757
3    177.308571
4    208.674776
5    155.551233
6    121.924843
Name: value, dtype: float64
ema is: 121.9248432767486
dataframe_val
   value
0      0
1      1
2      0
3      0
4      1
5      2
6      1
ema
0    0.000000
1    0.571429
2    0.324324
3    0.205714
4    0.466069
5    0.932581
6    0.952032
Name: value, dtype: float64
ema is: 0.9520321194618582
dataframe_val
   value
0      2
1      4
2     49
3     10
4      4
5      0
6      2
ema
0     2.000000
1     3.142857
2    22.972973
3    18.228571
4    13.564661
5     9.439263
6     7.292949
Name: value, dtype: float64
ema is: 7.292949214622807
dataframe_val
   value
0      1
1      2
2     19
3      5
4      5
5      2
6      1
ema
0    1.000000
1    1.571429
2    9.108108
3    7.605714
4    6.751601
5    5.306504
6    4.064028
Name: value, dtype: float64
ema is: 4.064027611467211
dataframe_val
   value
0    180
1    272
2    198
3    286
4    268
5    205
6    322
ema
0    180.000000
1    232.571429
2    217.621622
3    242.628571
4    250.944942
5    236.971785
6    261.503416
Name: value, dtype: float64
ema is: 261.50341621469323
dataframe_val
   value
0    302
1    326
2    358
3    316
4    429
5    334
6    421
ema
0    302.000000
1    315.714286
2    334.000000
3    327.417143
4    360.714469
5    352.589843
6    372.326970
Name: value, dtype: float64
ema is: 372.32697048672253
dataframe_val
   value
0      0
1      2
2      0
3      0
4      1
5      0
6      3
ema
0    0.000000
1    1.142857
2    0.648649
3    0.411429
4    0.604353
5    0.420552
6    1.164753
Name: value, dtype: float64
ema is: 1.1647531168556737
dataframe_val
   value
0      2
1      1
2      3
3      0
4      0
5      0
6      0
ema
0    2.000000
1    1.428571
2    2.108108
3    1.337143
4    0.898848
5    0.625483
6    0.445024
Name: value, dtype: float64
ema is: 0.445023596534479
dataframe_val
   value
0      1
1      1
2      3
3      0
4      1
5      1
6      4
ema
0    1.000000
1    1.000000
2    1.864865
3    1.182857
4    1.122919
5    1.085536
6    1.926393
Name: value, dtype: float64
ema is: 1.9263928999084314
dataframe_val
   value
0     10
1      9
2     82
3     46
4     39
5      7
6      9
ema
0    10.000000
1     9.428571
2    40.810811
3    42.708571
4    41.492958
5    31.002673
6    24.654645
Name: value, dtype: float64
ema is: 24.65464534760865
dataframe_val
       value
0  38.461538
1  40.000000
2  61.538462
3  50.000000
4  58.333333
5   9.090909

   value
0      2
1      1
2      0
3      0
4      0
5      3
6      4
ema
0    2.000000
1    1.428571
2    0.810811
3    0.514286
4    0.345711
5    1.152955
6    1.974361
Name: value, dtype: float64
ema is: 1.9743607804465733
dataframe_val
   value
0      4
1      3
2      0
3      1
4      0
5      5
6      4
ema
0    4.000000
1    3.428571
2    1.945946
3    1.600000
4    1.075544
5    2.269082
6    2.768472
Name: value, dtype: float64
ema is: 2.7684722124392476
dataframe_val
   value
0    110
1     10
2     80
3     14
4     65
5      5
6      6
ema
0    110.000000
1     52.857143
2     64.594595
3     46.091429
4     52.289373
5     37.907336
6     28.701698
Name: value, dtype: float64
ema is: 28.70169754173417
dataframe_val
       value
0  36.363636
1  37.500000
2  28.571429
3  53.846154
4  53.846154
5  58.333333
6  46.153846
ema
0    36.363636
1    37.012987
2    33.362583
3    40.853718
4    45.112442
5    49.133289
6    48.273685
Name: value, dtype: float64
ema is: 48.27368517936948
dataframe_val
   value
0  100.0
1    0.0
2    0.0
3    0.0
4  100.0
5    0.0
6    0.0
ema
0    100.000000
1     42.857143
2     24.324324
3     15.428571
4     43.149808
5     30.026730
6     21.363668
Name: value, dtype: float64
ema is: 21.363668380643798
dataframe_val
   value
0     31
1     32
2     28
3     32
4     35
5     28
6     35
ema
0    31.000000
1    31.571429
2    30.027027
3    30.748571
4    32.142125
5    30.882388
6    32.070367
Name: value, dtype: float64
ema is: 32.07036697893921
dataframe_val
   value
0   29.0
1   21.0
2   33.0
3   48.0
4   31.0
5   43.0
6   42.0
ema
0    29.000000
1    24.428571
2    28.135135
3    35.400000
4    33.957746
5    36.707752
6    38.234627
Name: value, dtype: float64
ema is: 38.2346270338804
dataframe_val
   value
0   17.0
1   15.0
2   21.0
3   33.0
4   20.0
5   29.0
6   27.0
ema
0    17.000000
1    15.857143
2    18.081081
3    23.537143
4    22.377721
5    24.391743
6    25.144256
Name: value, dtype: float64
ema is: 25.144255828696203
dataframe_val
   value
0    2.0
1    1.0
2    0.0
3    1.0
4    0.0
5    2.0
6    3.0
ema
0    2.000000
1    1.428571
2    0.810811
3    0.880000
4    0.591549
5    1.019899
6    1.591181
Name: value, dtype: float64
ema is: 1.591181235472283
dataframe_val
   value
0   58.0
1   98.0
2   47.0
3   58.0
4   36.0
5   31.0
6   20.0
ema
0    58.000000
1    80.857143
2    66.216216
3    63.211429
4    54.291933
5    47.208197
6    39.358315
Name: value, dtype: float64
ema is: 39.35831513700077
dataframe_val
   value
0    1.0
1    0.0
2    3.0
3    1.0
4    0.0
5    2.0
6    3.0
ema
0    1.000000
1    0.428571
2    1.540541
3    1.342857
4    0.902689
5    1.236412
6    1.745228
Name: value, dtype: float64
ema is: 1.7452278650419102
dataframe_val
   value
0    3.0
1    2.0
2    1.0
3    2.0
4    1.0
5    3.0
6    0.0
ema
0    3.000000
1    2.428571
2    1.810811
3    1.880000
4    1.591549
5    2.019899
6    1.437135
Name: value, dtype: float64
ema is: 1.4371346059026555
dataframe_val
   value
0  148.0
1  139.0
2  135.0
3  193.0
4  111.0
5  146.0
6   85.0
ema
0    148.000000
1    142.857143
2    139.459459
3    159.040000
4    143.293214
5    144.116424
6    127.060647
Name: value, dtype: float64
ema is: 127.06064661548214
dataframe_val
   value
0   36.0
1   35.0
2   20.0
3   20.0
4   37.0
5   18.0
6   27.0
ema
0    36.000000
1    35.428571
2    28.756757
3    25.554286
4    29.306018
5    25.867538
6    26.194266
Name: value, dtype: float64
ema is: 26.194266394308656
dataframe_val
   value
0   51.0
1   63.0
2   31.0
3   18.0
4   32.0
5   24.0
6   49.0
ema
0    51.000000
1    57.857143
2    46.243243
3    35.914286
4    34.631242
5    31.397980
6    36.476368
Name: value, dtype: float64
ema is: 36.476368246812704
dataframe_val
   value
0    3.0
1    0.0
2    1.0
3    0.0
4    2.0
5    1.0
6    1.0
ema
0    3.000000
1    1.285714
2    1.162162
3    0.737143
4    1.151088
5    1.105138
6    1.074805
Name: value, dtype: float64
ema is: 1.0748045361696132
dataframe_val
   value
0  111.0
1  182.0
2   46.0
3   48.0
4  148.0
5   28.0
6  146.0
ema
0    111.000000
1    151.571429
2    105.918919
3     84.737143
4    105.473752
5     81.911791
6    100.401986
Name: value, dtype: float64
ema is: 100.40198633514123
dataframe_val
   value
0    6.0
1    2.0
2    2.0
3    2.0
4    3.0
5    4.0
6    1.0
ema
0    6.000000
1    3.714286
2    2.972973
3    2.617143
4    2.742638
5    3.125037
6    2.511939
Name: value, dtype: float64
ema is: 2.511939142072269
dataframe_val
   value
0    4.0
1    2.0
2    3.0
3    0.0
4    0.0
5    0.0
6    1.0
ema
0    4.000000
1    2.857143
2    2.918919
3    1.851429
4    1.244558
5    0.866053
6    0.904698
Name: value, dtype: float64
ema is: 0.9046981756709164
dataframe_val
   value
0    1.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    1.000000
1    0.428571
2    0.243243
3    0.154286
4    0.103713
5    0.072171
6    0.051349
Name: value, dtype: float64
ema is: 0.05134887652320913
dataframe_val
   value
0   77.0
1   12.0
2   24.0
3    0.0
4    0.0
5    0.0
6    5.0
ema
0    77.000000
1    39.857143
2    33.000000
3    20.931429
4    14.070423
5     9.791209
6     8.408889
Name: value, dtype: float64
ema is: 8.408889201944074
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    3.0
1    2.0
2    5.0
3    0.0
4    1.0
5    2.0
6    1.0
ema
0    3.000000
1    2.428571
2    3.540541
3    2.245714
4    1.837388
5    1.886843
6    1.630978
Name: value, dtype: float64
ema is: 1.6309783757131788
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0   -2.0
1   11.0
2    0.0
3    0.0
4    0.0
5    0.0
6    1.0
ema
0   -2.000000
1    5.428571
2    3.081081
3    1.954286
4    1.313700
5    0.914167
6    0.938931
Name: value, dtype: float64
ema is: 0.9389307600197224
dataframe_val
   value
0    2.0
1    1.0
2    4.0
3    1.0
4    2.0
5    1.0
6    3.0
ema
0    2.000000
1    1.428571
2    2.540541
3    1.977143
4    1.984635
5    1.685180
6    2.064521
Name: value, dtype: float64
ema is: 2.0645206733817005
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    6.0
1    3.0
2    5.0
3    7.0
4    7.0
5    8.0
6    6.0
ema
0    6.000000
1    4.285714
2    4.594595
3    5.474286
4    5.974392
5    6.590437
6    6.420089
Name: value, dtype: float64
ema is: 6.420088751144608
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0  112.0
1   63.0
2   65.0
3   87.0
4  111.0
5  107.0
6   76.0
ema
0    112.000000
1     84.000000
2     75.783784
3     79.885714
4     90.084507
5     95.228987
6     89.681200
Name: value, dtype: float64
ema is: 89.6812002535747
dataframe_val
   value
0    5.0
1    2.0
2    6.0
3    2.0
4    2.0
5    3.0
6    4.0
ema
0    5.000000
1    3.285714
2    4.459459
3    3.560000
4    3.048656
5    3.033858
6    3.312601
Name: value, dtype: float64
ema is: 3.3126012537860112
dataframe_val
       value
0  44.400000
1  40.000000
2  41.500000
3  48.500000
4  36.000000
5  43.666667
6  38.750000
ema
0    44.400000
1    41.885714
2    41.718919
3    44.198857
4    41.511396
5    42.166875
6    41.181066
Name: value, dtype: float64
ema is: 41.18106642248363
dataframe_val
   value
0    1.0
1    3.0
2    4.0
3    4.0
4    3.0
5    2.0
6    3.0
ema
0    1.000000
1    2.142857
2    2.945946
3    3.331429
4    3.222791
5    2.850906
6    2.893921
Name: value, dtype: float64
ema is: 2.8939212509685146
dataframe_val
      value
0  1.000000
1  0.666667
2  0.750000
3  1.000000
4  0.333333
5  0.500000
6  1.000000
ema
0    1.000000
1    0.809524
2    0.783784
3    0.862857
4    0.689287
5    0.631720
6    0.737973
Name: value, dtype: float64
ema is: 0.7379728111572867
dataframe_val
   value
0    7.0
1    2.0
2    2.0
3    2.0
4    3.0
5    3.0
6    1.0
ema
0    7.000000
1    4.142857
2    3.216216
3    2.771429
4    2.846351
5    2.893080
6    2.346904
Name: value, dtype: float64
ema is: 2.346904275551173
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
ema
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
Name: value, dtype: float64
ema is: 1.0
dataframe_val
   value
0     52
1     20
2     23
3     26
4     24
5     30
6     16
ema
0    52.000000
1    33.714286
2    29.081081
3    27.954286
4    26.658131
5    27.674488
6    24.306262
Name: value, dtype: float64
ema is: 24.30626188631401
dataframe_val
   value
0     14
1      3
2     10
3     23
4     27
5     33
6     17
ema
0    14.000000
1     7.714286
2     8.702703
3    13.931429
4    18.215109
5    22.711613
6    21.063746
Name: value, dtype: float64
ema is: 21.063745861801788
dataframe_val
   value
0     20
1     19
2     18
3     17
4     20
5     30
6     14
ema
0    20.000000
1    19.428571
2    18.810811
3    18.148571
4    18.755442
5    22.175230
6    19.816581
Name: value, dtype: float64
ema is: 19.8165809678101
dataframe_val
   value
0     83
1     34
2    131
3     22
4     43
5     65
6     45
ema
0    83.000000
1    55.000000
2    87.864865
3    63.777143
4    56.966709
5    59.409860
6    55.252448
Name: value, dtype: float64
ema is: 55.252447700218354
dataframe_val
   value
0     27
1      2
2     33
3      1
4      0
5     38
6      1
ema
0    27.000000
1    12.714286
2    21.486486
3    13.994286
4     9.407170
5    18.103059
6    13.168627
Name: value, dtype: float64
ema is: 13.16862717475523
dataframe_val
   value
0      0
1     30
2      0
3    108
4    119
5      3
6     84
ema
0     0.000000
1    17.142857
2     9.729730
3    45.668571
4    69.705506
5    49.418473
6    59.395647
Name: value, dtype: float64
ema is: 59.39564696766923
dataframe_val
   value
0     19
1     11
2     23
3     17
4     18
5     45
6      7
ema
0    19.000000
1    14.428571
2    18.135135
3    17.720000
4    17.811780
5    26.080487
6    20.575544
Name: value, dtype: float64
ema is: 20.575544129041347
dataframe_val
   value
0      2
1    174
2      1
3    172
4    173
5      2
6     73
ema
0      2.000000
1    100.285714
2     57.351351
3     99.280000
4    123.444302
5     86.509653
6     82.611960
Name: value, dtype: float64
ema is: 82.61196027329717
dataframe_val
   value
0     25
1      1
2     23
3      2
4      0
5     30
6      1
ema
0    25.000000
1    11.285714
2    16.351351
3    11.102857
4     7.463508
5    14.317493
6    10.475241
Name: value, dtype: float64
ema is: 10.475241248151018
dataframe_val
   value
0    191
1     30
2    196
3     36
4     28
5    256
6     41
ema
0    191.000000
1     99.000000
2    140.945946
3    102.565714
4     78.124200
5    132.221265
6    105.902867
Name: value, dtype: float64
ema is: 105.90286680284567
dataframe_val
   value
0      1
1      1
2      1
3      2
4      0
5      1
6      0
ema
0    1.000000
1    1.000000
2    1.000000
3    1.365714
4    0.918054
5    0.942976
6    0.670916
Name: value, dtype: float64
ema is: 0.6709163907867859
dataframe_val
   value
0     13
1      1
2      4
3      7
4      5
5     26
6      2
ema
0    13.000000
1     6.142857
2     5.216216
3     5.868571
4     5.583867
5    11.792991
6     8.967599
Name: value, dtype: float64
ema is: 8.967598788476439
dataframe_val
   value
0     29
1      1
2     15
3      2
4      3
5      4
6      6
ema
0    29.000000
1    13.000000
2    13.864865
3     9.525714
4     7.386684
5     6.356697
6     6.253786
Name: value, dtype: float64
ema is: 6.253786011129112
dataframe_val
   value
0    162
1    170
2    181
3    129
4    147
5    252
6     66
ema
0    162.000000
1    166.571429
2    172.810811
3    156.788571
4    153.580026
5    183.512326
6    149.608650
Name: value, dtype: float64
ema is: 149.60864971472847
dataframe_val
   value
0    273
1    338
2    319
3    236
4    302
5    524
6    219
ema
0    273.000000
1    310.142857
2    313.972973
3    285.457143
4    290.879641
5    361.778141
6    320.584983
Name: value, dtype: float64
ema is: 320.584982742833
dataframe_val
   value
0      0
1      0
2      1
3      4
4      1
5      1
6      4
ema
0    0.000000
1    0.000000
2    0.432432
3    1.737143
4    1.495519
5    1.344817
6    2.110868
Name: value, dtype: float64
ema is: 2.110868493343664
dataframe_val
   value
0      1
1      1
2      1
3      2
4      0
5      3
6      2
ema
0    1.000000
1    1.000000
2    1.000000
3    1.365714
4    0.918054
5    1.551233
6    1.680707
Name: value, dtype: float64
ema is: 1.6807071916602099
dataframe_val
   value
0      2
1      1
2      2
3      5
4      1
5      4
6      4
ema
0    2.000000
1    1.428571
2    1.675676
3    2.891429
4    2.271447
5    2.797149
6    3.144185
Name: value, dtype: float64
ema is: 3.144185391279848
dataframe_val
   value
0     49
1      9
2     35
3     10
4      5
5     67
6      6
ema
0    49.000000
1    26.142857
2    29.972973
3    22.668571
4    16.877081
5    32.120879
6    24.584701
Name: value, dtype: float64
ema is: 24.584700993167576
dataframe_val
       value
0  40.000000
1  50.000000
2  31.250000
3  33.333333
4  50.000000
5  26.666667
6  40.000000
ema
0    40.000000
1    45.714286
2    39.459459
3    37.219048
4    41.408451
5    36.925057
6    37.812214
Name: value, dtype: float64
ema is: 37.812213847996055
dataframe_val
   value
0    0.0
1    0.0
2   50.0
3    0.0
4    0.0
5  100.0
6    0.0
ema
0     0.000000
1     0.000000
2    21.621622
3    13.714286
4     9.218950
5    36.828037
6    26.202719
Name: value, dtype: float64
ema is: 26.202718884271324
dataframe_val
   value
0     34
1     29
2     34
3     25
4     39
5     40
6     33
ema
0    34.000000
1    31.142857
2    32.378378
3    29.680000
4    32.734955
5    34.944461
6    34.383461
Name: value, dtype: float64
ema is: 34.383461294639716
dataframe_val
   value
0   36.0
1   21.0
2   39.0
3   34.0
4   28.0
5   45.0
6   16.0
ema
0    36.000000
1    27.428571
2    32.432432
3    33.005714
4    31.364917
5    35.511732
6    29.882370
Name: value, dtype: float64
ema is: 29.8823695146862
dataframe_val
   value
0   25.0
1   11.0
2   23.0
3   17.0
4   18.0
5   30.0
6    7.0
ema
0    25.000000
1    17.000000
2    19.594595
3    18.645714
4    18.434059
5    21.951589
6    17.637881
Name: value, dtype: float64
ema is: 17.637881242516023
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    2.0
4    0.0
5    1.0
6    1.0
ema
0    1.000000
1    1.000000
2    1.000000
3    1.365714
4    0.918054
5    0.942976
6    0.959428
Name: value, dtype: float64
ema is: 0.9594280481791928
dataframe_val
   value
0   16.0
1   47.0
2   33.0
3   45.0
4   23.0
5   17.0
6   45.0
ema
0    16.000000
1    33.714286
2    33.405405
3    37.645714
4    32.845070
5    28.026136
6    32.923294
Name: value, dtype: float64
ema is: 32.923293653588786
dataframe_val
   value
0    5.0
1    1.0
2    2.0
3    7.0
4    5.0
5    2.0
6    2.0
ema
0    5.000000
1    2.714286
2    2.405405
3    4.085714
4    4.385403
5    3.659935
6    3.181024
Name: value, dtype: float64
ema is: 3.18102416003381
dataframe_val
   value
0    0.0
1    1.0
2    3.0
3    0.0
4    0.0
5    1.0
6    0.0
ema
0    0.000000
1    0.571429
2    1.621622
3    1.028571
4    0.691421
5    0.785269
6    0.558710
Name: value, dtype: float64
ema is: 0.558709586532366
dataframe_val
   value
0   74.0
1   81.0
2  120.0
3   90.0
4   91.0
5   98.0
6   63.0
ema
0    74.000000
1    78.000000
2    96.162162
3    93.908571
4    92.955186
5    94.489456
6    85.404381
Name: value, dtype: float64
ema is: 85.40438120729732
dataframe_val
   value
0   27.0
1   34.0
2   33.0
3   22.0
4   43.0
5   38.0
6   45.0
ema
0    27.000000
1    31.000000
2    31.864865
3    28.257143
4    33.089629
5    34.583012
6    37.588434
Name: value, dtype: float64
ema is: 37.588434176234415
dataframe_val
   value
0   53.0
1   59.0
2   38.0
3   41.0
4   42.0
5   90.0
6   35.0
ema
0    53.000000
1    56.428571
2    48.459459
3    45.731429
4    44.508323
5    58.343629
6    51.608720
Name: value, dtype: float64
ema is: 51.60872015214482
dataframe_val
   value
0    0.0
1    2.0
2    0.0
3    1.0
4    0.0
5    3.0
6    1.0
ema
0    0.000000
1    1.142857
2    0.648649
3    0.777143
4    0.522407
5    1.275913
6    1.196309
Name: value, dtype: float64
ema is: 1.1963090793829683
dataframe_val
   value
0  111.0
1  168.0
2  138.0
3  107.0
4  155.0
5  272.0
6  153.0
ema
0    111.000000
1    143.571429
2    141.162162
3    128.668571
4    137.299616
5    178.265815
6    170.976333
Name: value, dtype: float64
ema is: 170.97633302810453
dataframe_val
   value
0    0.0
1    3.0
2    3.0
3    1.0
4    0.0
5    4.0
6    1.0
ema
0    0.000000
1    1.714286
2    2.270270
3    1.805714
4    1.213828
5    2.061182
6    1.755019
Name: value, dtype: float64
ema is: 1.7550186659153342
dataframe_val
   value
0    1.0
1    2.0
2    0.0
3    2.0
4    1.0
5    1.0
6    3.0
ema
0    1.000000
1    1.571429
2    0.891892
3    1.297143
4    1.199744
5    1.138996
6    1.675917
Name: value, dtype: float64
ema is: 1.6759174473480312
dataframe_val
   value
0    0.0
1    1.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.000000
1    0.571429
2    0.324324
3    0.205714
4    0.138284
5    0.096228
6    0.068465
Name: value, dtype: float64
ema is: 0.06846516869761217
dataframe_val
   value
0    3.0
1   44.0
2    0.0
3   21.0
4    0.0
5   18.0
6   41.0
ema
0     3.000000
1    26.428571
2    15.000000
3    17.194286
4    11.558259
5    13.517375
6    21.446432
Name: value, dtype: float64
ema is: 21.44643234486159
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    1.0
1    0.0
2    1.0
3    3.0
4    0.0
5    2.0
6    1.0
ema
0    1.000000
1    0.428571
2    0.675676
3    1.525714
4    1.025608
5    1.321948
6    1.229062
Name: value, dtype: float64
ema is: 1.2290624779883075
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    1.0
4    0.0
5    0.0
6    1.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.365714
4    0.245839
5    0.171072
6    0.410228
Name: value, dtype: float64
ema is: 0.4102275128548285
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3   45.0
4    0.0
5    0.0
6   58.0
ema
0     0.000000
1     0.000000
2     0.000000
3    16.457143
4    11.062740
5     7.698248
6    22.210890
Name: value, dtype: float64
ema is: 22.21088962456857
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    2.0
4    3.0
5    3.0
6    6.0
ema
0    1.000000
1    1.000000
2    1.000000
3    1.365714
4    1.901408
5    2.235521
6    3.321617
Name: value, dtype: float64
ema is: 3.321617243079524
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0

ema
0    0.000000
1    0.571429
2    0.324324
3    0.205714
4    0.793854
5    1.768934
6    7.028809
7    5.631742
Name: value, dtype: float64
ema is: 5.631742263671047
dataframe_val
   value
0     22
1      1
2     16
3     30
4      3
5      2
6     39
7      1
ema
0    22.000000
1    10.000000
2    12.594595
3    18.960000
4    13.728553
5    10.161568
6    18.481792
7    13.625129
Name: value, dtype: float64
ema is: 13.625129292072913
dataframe_val
   value
0    264
1    127
2    263
3    192
4    227
5    190
6    233
7    198
ema
0    264.000000
1    185.714286
2    219.135135
3    209.211429
4    215.042254
5    207.426195
6    214.804536
7    210.136024
Name: value, dtype: float64
ema is: 210.1360237388724
dataframe_val
   value
0    342
1    209
2    406
3    422
4    343
5    268
6    383
7    428
ema
0    342.000000
1    266.000000
2    326.540541
3    361.451429
4    355.403329
5    328.821503
6    344.452631
7    367.663145
Name: value, dtype: float64
ema is: 367.66314540059346
dataframe_val
   value
0      0
1      1
2      0
3      1
4      1
5      2
6      0
7      8
ema
0    0.000000
1    0.571429
2    0.324324
3    0.571429
4    0.711908
5    1.103653
6    0.785236
7    2.789589
Name: value, dtype: float64
ema is: 2.7895888088172955
dataframe_val
   value
0      1
1      1
2      0
3      0
4      0
5      1
6      1
7      3
ema
0    1.000000
1    1.000000
2    0.567568
3    0.360000
4    0.241997
5    0.472527
6    0.624709
7    1.284595
Name: value, dtype: float64
ema is: 1.284595167443832
dataframe_val
   value
0      2
1      2
2      1
3      0
4      2
5      4
6      4
7      7
ema
0    2.000000
1    2.000000
2    1.567568
3    0.994286
4    1.323944
5    2.137808
6    2.675072
7    3.876592
Name: value, dtype: float64
ema is: 3.8765917761763458
dataframe_val
   value
0     25
1      9
2     70
3     20
4      8
5      5
6     45
7     12
ema
0    25.000000
1    15.857143
2    39.270270
3    32.222857
4    24.282971
5    18.418473
6    26.087554
7    22.173853
Name: value, dtype: float64
ema is: 22.173853327681222
dataframe_val
       value
0  28.571429
1  50.000000
2  35.714286
3  64.285714
4   0.000000
5  26.666667
6  33.333333
7  38.888889
ema
0    28.571429
1    40.816327
2    38.610039
3    48.000000
4    32.266325
5    30.563311
6    31.362494
7    33.453422
Name: value, dtype: float64
ema is: 33.45342188309547
dataframe_val
        value
0  100.000000
1    0.000000
2    0.000000
3    0.000000
4   66.666667
5   66.666667
6    0.000000
7    0.000000
ema
0    100.000000
1     42.857143
2     24.324324
3     15.428571
4     32.223645
5     42.698743
6     30.379658
7     21.939805
Name: value, dtype: float64
ema is: 21.939805002119538
dataframe_val
   value
0     27
1     25
2     31
3     37
4     26
5     28
6     31
7     30
ema
0    27.000000
1    25.857143
2    28.081081
3    31.342857
4    29.591549
5    29.107514
6    29.653518
7    29.749775
Name: value, dtype: float64
ema is: 29.749775328529036
dataframe_val
   value
0   46.0
1   29.0
2   30.0
3   24.0
4   33.0
5   34.0
6   31.0
7   34.0
ema
0    46.000000
1    36.285714
2    33.567568
3    30.068571
4    31.029449
5    31.932878
6    31.663732
7    32.312777
Name: value, dtype: float64
ema is: 32.312776600254345
dataframe_val
   value
0   24.0
1   13.0
2   21.0
3   16.0
4   15.0
5   15.0
6   21.0
7   17.0
ema
0    24.000000
1    17.714286
2    19.135135
3    17.988571
4    17.008963
5    16.397980
6    17.725717
7    17.524103
Name: value, dtype: float64
ema is: 17.52410343365833
dataframe_val
   value
0    1.0
1    2.0
2    1.0
3    0.0
4    2.0
5    3.0
6    3.0
7    4.0
ema
0    1.000000
1    1.571429
2    1.324324
3    0.840000
4    1.220230
5    1.761509
6    2.118828
7    2.641441
Name: value, dtype: float64
ema is: 2.6414412886816447
dataframe_val
   value
0   54.0
1   20.0
2   50.0
3   51.0
4   35.0
5   54.0
6   61.0
7   23.0
ema
0    54.000000
1    34.571429
2    41.243243
3    44.811429
4    41.595391
5    45.367983
6    49.878002
7    42.410954
Name: value, dtype: float64
ema is: 42.410953793980504
dataframe_val
   value
0    3.0
1    1.0
2    2.0
3    4.0
4    2.0
5    4.0
6    7.0
7    2.0
ema
0    3.000000
1    1.857143
2    1.918919
3    2.680000
4    2.457106
5    2.926344
6    4.101641
7    3.517779
Name: value, dtype: float64
ema is: 3.5177787197965245
dataframe_val
   value
0    1.0
1    1.0
2    2.0
3    0.0
4    1.0
5    1.0
6    1.0
7    2.0
ema
0    1.000000
1    1.000000
2    1.432432
3    0.908571
4    0.938540
5    0.957232
6    0.969571
7    1.255837
Name: value, dtype: float64
ema is: 1.2558372191606613
dataframe_val
   value
0  137.0
1   69.0
2  178.0
3  140.0
4  133.0
5  143.0
6  168.0
7   72.0
ema
0    137.000000
1     98.142857
2    132.675676
3    135.354286
4    134.582586
5    137.142560
6    146.045291
7    125.474574
Name: value, dtype: float64
ema is: 125.47457397202203
dataframe_val
   value
0   18.0
1   22.0
2   36.0
3   41.0
4   27.0
5   30.0
6   25.0
7   37.0
ema
0    18.000000
1    20.285714
2    27.081081
3    32.171429
4    30.476312
5    30.331452
6    28.793266
7    31.073201
Name: value, dtype: float64
ema is: 31.073200508690125
dataframe_val
   value
0   26.0
1   27.0
2   57.0
3   62.0
4   46.0
5   23.0
6   37.0
7  128.0
ema
0    26.000000
1    26.571429
2    39.729730
3    47.874286
4    47.259923
5    39.881794
6    39.050363
7    63.761696
Name: value, dtype: float64
ema is: 63.76169563374311
dataframe_val
   value
0    0.0
1    0.0
2    1.0
3    3.0
4    1.0
5    2.0
6    2.0
7    0.0
ema
0    0.000000
1    0.000000
2    0.432432
3    1.371429
4    1.249680
5    1.477873
6    1.628513
7    1.176092
Name: value, dtype: float64
ema is: 1.1760915642221281
dataframe_val
   value
0   78.0
1   82.0
2  143.0
3  230.0
4  116.0
5   78.0
6  150.0
7  230.0
ema
0     78.000000
1     80.285714
2    107.405405
3    152.240000
4    140.361076
5    121.395307
6    129.648095
7    157.527122
Name: value, dtype: float64
ema is: 157.52712166172105
dataframe_val
   value
0    1.0
1    1.0
2    3.0
3    3.0
4    2.0
5    3.0
6    3.0
7    2.0
ema
0    1.000000
1    1.000000
2    1.864865
3    2.280000
4    2.188220
5    2.435105
6    2.598084
7    2.431929
Name: value, dtype: float64
ema is: 2.4319287833827894
dataframe_val
   value
0    0.0
1    1.0
2    1.0
3    0.0
4    0.0
5    0.0
6    1.0
7    2.0
ema
0    0.000000
1    0.571429
2    0.756757
3    0.480000
4    0.322663
5    0.224532
6    0.448264
7    0.879356
Name: value, dtype: float64
ema is: 0.8793556591776176
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    9.0
2    0.0
3    0.0
4    0.0
5    0.0
6    3.0
7    5.0
ema
0    0.000000
1    5.142857
2    2.918919
3    1.851429
4    1.244558
5    0.866053
6    1.481721
7    2.459144
Name: value, dtype: float64
ema is: 2.459143704959729
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    2.0
2    0.0
3    1.0
4    1.0
5    0.0
6    1.0
7    4.0
ema
0    0.000000
1    1.142857
2    0.648649
3    0.777143
4    0.850192
5    0.591625
6    0.709446
7    1.623603
Name: value, dtype: float64
ema is: 1.6236032217041119
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4   -1.0
5    0.0
6    0.0
7   16.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4   -0.327785
5   -0.228096
6   -0.162288
7    4.327800
Name: value, dtype: float64
ema is: 4.327799915218312
dataframe_val
   value
0    0.0
1    1.0
2    1.0
3    0.0
4    3.0
5    2.0
6    2.0
7    1.0
ema
0    0.000000
1    0.571429
2    0.756757
3    0.480000
4    1.306018
5    1.517078
6    1.656406
7    1.474048
Name: value, dtype: float64
ema is: 1.4740483255616788
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    7.0
1    5.0
2    6.0
3    4.0
4    8.0
5    7.0
6   10.0
7    5.0
ema
0    7.000000
1    5.857143
2    5.918919
3    5.217143
4    6.129321
5    6.394119
6    7.434458
7    6.758135
Name: value, dtype: float64
ema is: 6.758134802882577
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0  124.0
1   58.0
2  125.0
3   50.0
4  167.0
5  108.0
6  205.0
7   68.0
ema
0    124.000000
1     86.285714
2    103.027027
3     83.634286
4    110.960307
5    110.059994
6    137.451293
7    118.156846
Name: value, dtype: float64
ema is: 118.15684612123782
dataframe_val
   value
0    7.0
1    4.0
2    6.0
3    3.0
4    7.0
5    6.0
6    4.0
7    5.0
ema
0    7.000000
1    5.285714
2    5.594595
3    4.645714
4    5.417414
5    5.594595
6    5.134535
7    5.097160
Name: value, dtype: float64
ema is: 5.097159813480288
dataframe_val
       value
0  45.000000
1  49.750000
2  39.166667
3  39.666667
4  40.714286
5  52.833333
6  42.750000
7  49.800000
ema
0    45.000000
1    47.714286
2    44.018018
3    42.426667
4    41.865374
5    45.201041
6    44.493887
7    45.967992
Name: value, dtype: float64
ema is: 45.96799224853146
dataframe_val
   value
0    1.0
1    1.0
2    2.0
3    3.0
4    1.0
5    0.0
6    2.0
7    1.0
ema
0    1.000000
1    1.000000
2    1.432432
3    2.005714
4    1.676056
5    1.166320
6    1.406847
7    1.293819
Name: value, dtype: float64
ema is: 1.2938194150063587
dataframe_val
      value
0  1.000000
1  1.000000
2  0.500000
3  0.666667
4  0.000000
5  0.000000
6  1.000000
7  0.000000
ema
0    1.000000
1    1.000000
2    0.783784
3    0.740952
4    0.498079
5    0.346599
6    0.535113
7    0.386452
Name: value, dtype: float64
ema is: 0.3864518863925392
dataframe_val
   value
0    1.0
1    1.0
2    3.0
3    3.0
4    2.0
5    3.0
6    1.0
7    2.0
ema
0    1.000000
1    1.000000
2    1.864865
3    2.280000
4    2.188220
5    2.435105
6    2.021061
7    2.015210
Name: value, dtype: float64
ema is: 2.0152098346757104
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
ema
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
Name: value, dtype: float64
ema is: 1.0
dataframe_val
   value
0     10
1     10
2     24
3     27
4     14
5     21
6     25
7     14
ema
0    10.000000
1    10.000000
2    16.054054
3    20.057143
4    18.071703
5    18.962281
6    20.704233
7    18.841713
Name: value, dtype: float64
ema is: 18.841712590080544
dataframe_val
   value
0     34
1     14
2     21
3     10
4     34
5     27
6     35
7     20
ema
0    34.000000
1    22.571429
2    21.891892
3    17.542857
4    22.937260
5    24.172854
6    27.296612
7    25.269521
Name: value, dtype: float64
ema is: 25.269520983467572
dataframe_val
   value
0     21
1     19
2     17
3     20
4     21
5     23
6     17
7     19
ema
0    21.000000
1    19.857143
2    18.621622
3    19.125714
4    19.740077
5    20.731512
6    19.654927
7    19.472980
Name: value, dtype: float64
ema is: 19.472980076303518
dataframe_val
   value
0     25
1     54
2    154
3     30
4     75
5     26
6     23
7     80
ema
0    25.000000
1    41.571429
2    90.189189
3    68.177143
4    70.413572
5    56.906148
6    47.123829
7    56.257245
Name: value, dtype: float64
ema is: 56.25724459516744
dataframe_val
   value
0      1
1     29
2     27
3      1
4     28
5      0
6      2
7     22
ema
0     1.000000
1    17.000000
2    21.324324
3    13.891429
4    18.516005
5    12.884764
6     9.744383
7    13.149148
Name: value, dtype: float64
ema is: 13.149147944044087
dataframe_val
   value
0    143
1      1
2      0
3     70
4      1
5     44
6     69
7      0
ema
0    143.000000
1     61.857143
2     35.108108
3     47.868571
4     32.505762
5     36.001485
6     45.521941
7     32.875371
Name: value, dtype: float64
ema is: 32.875370919881306
dataframe_val
   value
0     26
1     48
2     38
3     18
4     32
5     33
6     26
7     25
ema
0    26.000000
1    38.571429
2    38.324324
3    30.891429
4    31.254802
5    31.785566
6    30.116363
7    28.694972
Name: value, dtype: float64
ema is: 28.694972445951674
dataframe_val
   value
0    247
1      1
2      1
3    249
4      0
5    332
6    213
7      2
ema
0    247.000000
1    106.428571
2     60.837838
3    129.651429
4     87.153649
5    161.618355
6    176.442558
7    127.980212
Name: value, dtype: float64
ema is: 127.98021195421789
dataframe_val
   value
0      1
1     19
2     22
3      2
4     28
5      2
6      3
7     28
ema
0     1.000000
1    11.285714
2    15.918919
3    10.828571
4    16.457106
5    12.060291
6     9.446291
7    14.600746
Name: value, dtype: float64
ema is: 14.600746078846969
dataframe_val
   value
0     28
1    233
2    185
3     49
4    289
5     37
6     43
7    252
ema
0     28.000000
1    145.142857
2    162.378378
3    120.914286
4    176.010243
5    133.733294
6    107.555681
7    147.684137
Name: value, dtype: float64
ema is: 147.6841373463332
dataframe_val
   value
0      3
1      0
2      0
3      1
4      2
5      0
6      4
7      0
ema
0    3.000000
1    1.285714
2    0.729730
3    0.828571
4    1.212548
5    0.843778
6    1.754385
7    1.266994
Name: value, dtype: float64
ema is: 1.2669944891903349
dataframe_val
   value
0      3
1      7
2     13
3      1
4     28
5      0
6      3
7      0
ema
0     3.000000
1     5.285714
2     8.621622
3     5.834286
4    13.099872
5     9.115830
6     7.351342
7     5.309046
Name: value, dtype: float64
ema is: 5.3090462060195
dataframe_val
   value
0      1
1      8
2     25
3      2
4      8
5      3
6      3
7     25
ema
0     1.000000
1     5.000000
2    13.648649
3     9.388571
4     8.933419
5     7.128898
6     5.937663
7    11.233421
Name: value, dtype: float64
ema is: 11.233420941076728
dataframe_val
   value
0    230
1    225
2    160
3    244
4    281
5    332
6    170
7    227
ema
0    230.000000
1    227.142857
2    198.108108
3    214.891429
4    236.560819
5    265.586576
6    238.008734
7    234.950369
Name: value, dtype: float64
ema is: 234.95036880033913
dataframe_val
   value
0    348
1    380
2    252
3    378
4    388
5    394
6    263
7    297
ema
0    348.000000
1    366.285714
2    316.864865
3    339.222857
4    355.211268
5    367.008019
6    337.000493
7    325.887851
Name: value, dtype: float64
ema is: 325.8878507842306
dataframe_val
   value
0      0
1      0
2      2
3      3
4      0
5      2
6      1
7      1
ema
0    0.000000
1    0.000000
2    0.864865
3    1.645714
4    1.106274
5    1.378081
6    1.269000
7    1.194269
Name: value, dtype: float64
ema is: 1.1942687579482831
dataframe_val
   value
0      1
1      1
2      1
3      2
4      1
5      2
6      2
7      1
ema
0    1.000000
1    1.000000
2    1.000000
3    1.365714
4    1.245839
5    1.475200
6    1.626611
7    1.452531
Name: value, dtype: float64
ema is: 1.452530733361594
dataframe_val
   value
0      1
1      1
2      1
3      4
4      3
5      4
6      4
7      1
ema
0    1.000000
1    1.000000
2    1.000000
3    2.097143
4    2.393086
5    2.881794
6    3.204409
7    2.591997
Name: value, dtype: float64
ema is: 2.5919966087325137
dataframe_val
   value
0      7
1     59
2     40
3      6
4     42
5      3
6      5
7     41
ema
0     7.000000
1    36.714286
2    38.135135
3    26.382857
4    31.501921
5    22.833680
6    17.688455
7    24.164697
Name: value, dtype: float64
ema is: 24.164696905468418
dataframe_val
       value
0  38.461538
1  27.272727
2  47.058824
3  40.000000
4  50.000000
5  52.941176
6  40.000000
7  61.111111
ema
0    38.461538
1    32.067932
2    38.550480
3    39.080590
4    42.659808
5    45.786663
6    44.117143
7    48.838282
Name: value, dtype: float64
ema is: 48.838282153834605
dataframe_val
   value
0   50.0
1    0.0
2    0.0
3    0.0
4    0.0
5   50.0
6  100.0
7    0.0
ema
0    50.000000
1    21.428571
2    12.162162
3     7.714286
4     5.185659
5    18.814969
6    42.237797
7    30.503603
Name: value, dtype: float64
ema is: 30.50360322170411
dataframe_val
   value
0     32
1     30
2     32
3     26
4     34
5     34
6     29
7     32
ema
0    32.000000
1    30.857143
2    31.351351
3    29.394286
4    30.903969
5    31.845560
6    31.024583
7    31.295566
Name: value, dtype: float64
ema is: 31.295565917761763
dataframe_val
   value
0   37.0
1   29.0
2   38.0
3   31.0
4   43.0
5   48.0
6   52.0
7   42.0
ema
0    37.000000
1    32.428571
2    34.837838
3    33.434286
4    36.569782
5    40.046035
6    43.494893
7    43.079593
Name: value, dtype: float64
ema is: 43.07959304790165
dataframe_val
   value
0   26.0
1   19.0
2   22.0
3   18.0
4   28.0
5   33.0
6   26.0
7   28.0
ema
0    26.000000
1    22.000000
2    22.000000
3    20.537143
4    22.983355
5    26.029700
6    26.021131
7    26.570886
Name: value, dtype: float64
ema is: 26.570885968630776
dataframe_val
   value
0    1.0
1    0.0
2    0.0
3    2.0
4    2.0
5    2.0
6    3.0
7    0.0
ema
0    1.000000
1    0.428571
2    0.243243
3    0.885714
4    1.250960
5    1.478764
6    1.917659
7    1.384909
Name: value, dtype: float64
ema is: 1.3849088596863077
dataframe_val
   value
0   34.0
1   85.0
2   29.0
3   77.0
4   49.0
5   33.0
6   55.0
7   19.0
ema
0    34.000000
1    63.142857
2    48.378378
3    58.845714
4    55.618438
5    48.739531
6    50.545749
7    41.781942
Name: value, dtype: float64
ema is: 41.78194150063586
dataframe_val
   value
0    3.0
1    2.0
2    3.0
3    1.0
4    1.0
5    0.0
6    3.0
7    4.0
ema
0    3.000000
1    2.428571
2    2.675676
3    2.062857
4    1.714469
5    1.193050
6    1.714376
7    2.349351
Name: value, dtype: float64
ema is: 2.3493514200932597
dataframe_val
   value
0    1.0
1    1.0
2    2.0
3    2.0
4    2.0
5    1.0
6    1.0
7    0.0
ema
0    1.000000
1    1.000000
2    1.432432
3    1.640000
4    1.758003
5    1.527473
6    1.375291
7    0.993217
Name: value, dtype: float64
ema is: 0.993217465027554
dataframe_val
   value
0  108.0
1  176.0
2   65.0
3  138.0
4  133.0
5  132.0
6  100.0
7   82.0
ema
0    108.000000
1    146.857143
2    111.459459
3    121.165714
4    125.044814
5    127.160083
6    119.324083
7    108.954981
Name: value, dtype: float64
ema is: 108.95498092412039
dataframe_val
   value
0   25.0
1   29.0
2   27.0
3   30.0
4   28.0
5   26.0
6   23.0
7   22.0
ema
0    25.000000
1    27.285714
2    27.162162
3    28.200000
4    28.134443
5    27.485298
6    26.191238
7    25.026859
Name: value, dtype: float64
ema is: 25.026858838490885
dataframe_val
   value
0   54.0
1   34.0
2   56.0
3   69.0
4   37.0
5   19.0
6   52.0
7   31.0
ema
0    54.000000
1    42.571429
2    48.378378
3    55.920000
4    49.718310
5    40.376002
6    43.729661
7    40.193201
Name: value, dtype: float64
ema is: 40.193200508690126
dataframe_val
   value
0    1.0
1    1.0
2    0.0
3    1.0

dataframe_val
   value
0     28
1      1
2      0
3     11
4      0
5     12
6      0
7      9
ema
0    28.000000
1    12.571429
2     7.135135
3     8.548571
4     5.746479
5     7.648352
6     5.441713
7     6.430250
Name: value, dtype: float64
ema is: 6.430250105977109
dataframe_val
   value
0    282
1     30
2     35
3    146
4     31
5    175
6     35
7     87
ema
0    282.000000
1    138.000000
2     93.459459
3    112.674286
4     85.902689
5    112.999703
6     90.495879
7     89.524680
Name: value, dtype: float64
ema is: 89.52467994913098
dataframe_val
   value
0      3
1      2
2      0
3      1
4      1
5      1
6      2
7      0
ema
0    3.000000
1    2.428571
2    1.378378
3    1.240000
4    1.161332
5    1.112266
6    1.368388
7    0.988232
Name: value, dtype: float64
ema is: 0.9882323018228063
dataframe_val
   value
0      0
1      4
2      5
3     21
4      2
5     22
6      4
7     14
ema
0     0.000000
1     2.285714
2     3.459459
3     9.874286
4     7.293214
5    11.765964
6     9.525393
7    10.768495
Name: value, dtype: float64
ema is: 10.768495125052988
dataframe_val
   value
0     36
1      0
2      1
3      0
4      0
5      6
6      3
7     25
ema
0    36.000000
1    15.428571
2     9.189189
3     5.828571
4     3.918054
5     4.551233
6     4.103684
7     9.908944
Name: value, dtype: float64
ema is: 9.908944467994914
dataframe_val
   value
0    246
1    239
2    205
3    146
4    310
5    169
6    163
7     62
ema
0    246.000000
1    242.000000
2    226.000000
3    196.742857
4    233.866837
5    214.138996
6    199.384800
7    161.217567
Name: value, dtype: float64
ema is: 161.21756676557862
dataframe_val
   value
0    390
1    361
2    296
3    381
4    419
5    257
6    254
7    114
ema
0    390.000000
1    373.428571
2    339.945946
3    354.960000
4    375.951344
5    339.774874
6    315.027823
7    259.179754
Name: value, dtype: float64
ema is: 259.1797541331072
dataframe_val
   value
0      1
1      2
2      3
3      1
4      2
5      1
6      3
7      0
ema
0    1.000000
1    1.571429
2    2.189189
3    1.754286
4    1.834827
5    1.580933
6    1.990350
7    1.437406
Name: value, dtype: float64
ema is: 1.4374056803730395
dataframe_val
   value
0      0
1      4
2      2
3      1
4      0
5      0
6      3
7      0
ema
0    0.000000
1    2.285714
2    2.162162
3    1.737143
4    1.167734
5    0.812593
6    1.443685
7    1.042611
Name: value, dtype: float64
ema is: 1.0426112759643915
dataframe_val
   value
0      3
1      3
2      1
3      2
4      1
5      1
6      2
7      0
ema
0    3.000000
1    3.000000
2    2.135135
3    2.085714
4    1.729834
5    1.507871
6    1.649856
7    1.191505
Name: value, dtype: float64
ema is: 1.1915048749470114
dataframe_val
   value
0     30
1      5
2     11
3     75
4      8
5     55
6      6
7     35
ema
0    30.000000
1    15.714286
2    13.675676
3    36.102857
4    26.891165
5    35.439857
6    26.946115
7    29.183586
Name: value, dtype: float64
ema is: 29.18358626536668
dataframe_val
       value
0  50.000000
1  46.153846
2  21.428571
3  45.454545
4  22.222222
5  46.153846
6  25.000000
7  36.363636
ema
0    50.000000
1    47.802198
2    36.397386
3    39.709719
4    33.977582
5    37.680728
6    34.022190
7    34.672674
Name: value, dtype: float64
ema is: 34.6726736595325
dataframe_val
        value
0  100.000000
1    0.000000
2   66.666667
3    0.000000
4  100.000000
5    0.000000
6    0.000000
7    0.000000
ema
0    100.000000
1     42.857143
2     53.153153
3     33.714286
4     55.441741
5     38.580339
6     27.449461
7     19.823654
Name: value, dtype: float64
ema is: 19.82365409071641
dataframe_val
   value
0     38
1     33
2     33
3     30
4     29
5     32
6     28
7     24
ema
0    38.000000
1    35.142857
2    34.216216
3    32.674286
4    31.469910
5    31.631126
6    30.583504
7    28.754523
Name: value, dtype: float64
ema is: 28.75452310300975
dataframe_val
   value
0   44.0
1   34.0
2   33.0
3   19.0
4   33.0
5   18.0
6   26.0
7   16.0
ema
0    44.000000
1    38.285714
2    36.000000
3    29.782857
4    30.837388
5    26.933175
6    26.663943
7    23.701365
Name: value, dtype: float64
ema is: 23.701364985163206
dataframe_val
   value
0   28.0
1   23.0
2   19.0
3   11.0
4   25.0
5   12.0
6   17.0
7    9.0
ema
0    28.000000
1    25.142857
2    22.486486
3    18.285714
4    20.486556
5    17.905554
6    17.644291
7    15.242798
Name: value, dtype: float64
ema is: 15.242797795676134
dataframe_val
   value
0    3.0
1    1.0
2    0.0
3    1.0
4    0.0
5    1.0
6    0.0
7    0.0
ema
0    3.000000
1    1.857143
2    1.054054
3    1.034286
4    0.695262
5    0.787942
6    0.560611
7    0.404866
Name: value, dtype: float64
ema is: 0.40486646884273
dataframe_val
   value
0   53.0
1   53.0
2   32.0
3   52.0
4   47.0
5   42.0
6   50.0
7   22.0
ema
0    53.000000
1    53.000000
2    43.918919
3    46.874286
4    46.915493
5    45.420552
6    46.741776
7    39.868198
Name: value, dtype: float64
ema is: 39.86819838914794
dataframe_val
   value
0    4.0
1    4.0
2    5.0
3    0.0
4    2.0
5    1.0
6    4.0
7    4.0
ema
0    4.000000
1    4.000000
2    4.432432
3    2.811429
4    2.545455
5    2.075438
6    2.630697
7    3.011106
Name: value, dtype: float64
ema is: 3.01110640101738
dataframe_val
   value
0    2.0
1    2.0
2    1.0
3    0.0
4    3.0
5    1.0
6    0.0
7    0.0
ema
0    2.000000
1    2.000000
2    1.567568
3    0.994286
4    1.651729
5    1.453519
6    1.034162
7    0.746859
Name: value, dtype: float64
ema is: 0.746858838490886
dataframe_val
   value
0  141.0
1  143.0
2  137.0
3   88.0
4  135.0
5   79.0
6  131.0
7   48.0
ema
0    141.000000
1    142.142857
2    139.918919
3    120.931429
4    125.542894
5    111.387882
6    117.046207
7     97.864298
Name: value, dtype: float64
ema is: 97.86429843153878
dataframe_val
   value
0   31.0
1   31.0
2   28.0
3   36.0
4   26.0
5   34.0
6   21.0
7   23.0
ema
0    31.000000
1    31.000000
2    29.702703
3    32.005714
4    30.037132
5    31.242352
6    28.287314
7    26.818432
Name: value, dtype: float64
ema is: 26.81843153878762
dataframe_val
   value
0   69.0
1   46.0
2   39.0
3   65.0
4   61.0
5   29.0
6   71.0
7   25.0
ema
0    69.000000
1    55.857143
2    48.567568
3    54.577143
4    56.682458
5    48.263439
6    54.823202
7    46.537940
Name: value, dtype: float64
ema is: 46.53793980500212
dataframe_val
   value
0    0.0
1    0.0
2    1.0
3    3.0
4    0.0
5    0.0
6    2.0
7    1.0
ema
0    0.000000
1    0.000000
2    0.432432
3    1.371429
4    0.921895
5    0.641521
6    1.033458
7    1.024163
Name: value, dtype: float64
ema is: 1.0241627808393388
dataframe_val
   value
0  144.0
1  122.0
2   91.0
3  235.0
4  109.0
5   88.0
6   91.0
7   52.0
ema
0    144.000000
1    131.428571
2    113.945946
3    158.217143
4    142.084507
5    125.635878
6    115.643023
7     97.962187
Name: value, dtype: float64
ema is: 97.96218736752863
dataframe_val
   value
0    2.0
1    2.0
2    2.0
3    3.0
4    3.0
5    1.0
6    2.0
7    1.0
ema
0    2.000000
1    2.000000
2    2.000000
3    2.365714
4    2.573624
5    2.095040
6    2.067620
7    1.771022
Name: value, dtype: float64
ema is: 1.7710216193302246
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    2.0
4    0.0
5    1.0
6    1.0
7    1.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.731429
4    0.491677
5    0.646273
6    0.748327
7    0.818245
Name: value, dtype: float64
ema is: 0.8182450190758797
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    1.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    0.000000
5    0.000000
6    0.000000
7    0.277813
Name: value, dtype: float64
ema is: 0.27781263247138616
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    9.0
4    0.0
5   10.0
6    9.0
7   97.0
ema
0     0.000000
1     0.000000
2     0.000000
3     3.291429
4     2.212548
5     4.580933
6     5.855885
7    31.176872
Name: value, dtype: float64
ema is: 31.176871555743958
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    3.0
1    3.0
2    2.0
3    2.0
4    1.0
5    1.0
6    2.0
7    0.0
ema
0    3.000000
1    3.000000
2    2.567568
3    2.360000
4    1.914213
5    1.636175
6    1.741142
7    1.257431
Name: value, dtype: float64
ema is: 1.2574311148791861
dataframe_val
   value
0    0.0
1    1.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.000000
1    0.571429
2    0.324324
3    0.205714
4    0.138284
5    0.096228
6    0.068465
7    0.049445
Name: value, dtype: float64
ema is: 0.04944467994913099
dataframe_val
   value
0    0.0
1   32.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0     0.000000
1    18.285714
2    10.378378
3     6.582857
4     4.425096
5     3.079299
6     2.190885
7     1.582230
Name: value, dtype: float64
ema is: 1.5822297583721916
dataframe_val
   value
0    0.0
1    0.0
2    1.0
3    2.0
4    0.0
5    6.0
6    3.0
7    2.0
ema
0    0.000000
1    0.000000
2    0.432432
3    1.005714
4    0.676056
5    2.295218
6    2.498556
7    2.360051
Name: value, dtype: float64
ema is: 2.3600508690122934
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    5.0
1    4.0
2    5.0
3    6.0
4    7.0
5    4.0
6    8.0
7    3.0
ema
0    5.000000
1    4.428571
2    4.675676
3    5.160000
4    5.763124
5    5.226908
6    6.026978
7    5.186045
Name: value, dtype: float64
ema is: 5.186044934294192
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0  168.0
1   89.0
2  103.0
3   72.0
4   93.0
5   65.0
6  101.0
7   48.0
ema
0    168.000000
1    122.857143
2    114.270270
3     98.811429
4     96.906530
5     87.202851
6     91.183489
7     79.186571
Name: value, dtype: float64
ema is: 79.18657058075456
dataframe_val
   value
0    1.0
1    1.0
2    7.0
3    5.0
4    2.0
5    3.0
6    6.0
7    5.0
ema
0    1.000000
1    1.000000
2    3.594595
3    4.108571
4    3.417414
5    3.290466
6    4.072198
7    4.329953
Name: value, dtype: float64
ema is: 4.329953370072064
dataframe_val
       value
0  55.000000
1  48.000000
2  43.857143
3  37.200000
4  51.000000
5  48.666667
6  37.666667
7  47.800000
ema
0    55.000000
1    51.000000
2    47.911197
3    43.993959
4    46.290434
5    47.013113
6    44.316554
7    45.284300
Name: value, dtype: float64
ema is: 45.28429964270574
dataframe_val
   value
0    3.0
1    4.0
2    1.0
3    1.0
4    2.0
5    4.0
6    1.0
7    1.0
ema
0    3.000000
1    3.571429
2    2.459459
3    1.925714
4    1.950064
5    2.573508
6    2.119532
7    1.808512
Name: value, dtype: float64
ema is: 1.8085120813904199
dataframe_val
      value
0  0.666667
1  0.500000
2  0.000000
3  0.000000
4  1.000000
5  1.000000
6  1.000000
7  1.000000
ema
0    0.666667
1    0.571429
2    0.324324
3    0.205714
4    0.466069
5    0.628453
6    0.735648
7    0.809089
Name: value, dtype: float64
ema is: 0.8090885968630775
dataframe_val
   value
0    1.0
1    3.0
2    2.0
3    3.0
4    3.0
5    0.0
6    2.0
7    2.0
ema
0    1.000000
1    2.142857
2    2.081081
3    2.417143
4    2.608195
5    1.814969
6    1.868352
7    1.904926
Name: value, dtype: float64
ema is: 1.9049258160237388
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    0.0
6    1.0
7    1.0
ema
0    1.000000
1    1.000000
2    1.000000
3    1.000000
4    1.000000
5    0.695872
6    0.783616
7    0.843730
Name: value, dtype: float64
ema is: 0.8437303942348453
dataframe_val
   value
0     21
1     27
2     14
3     21
4     27
5     18
6     17
7     17
ema
0    21.000000
1    24.428571
2    19.918919
3    20.314286
4    22.505762
5    21.135432
6    19.942312
7    19.124900
Name: value, dtype: float64
ema is: 19.12490038151759
dataframe_val
   value
0     24
1     24
2     20
3     18
4     24
5     17
6     30
7     10
ema
0    24.000000
1    24.000000
2    22.270270
3    20.708571
4    21.787452
5    20.331452
6    23.120941
7    19.475778
Name: value, dtype: float64
ema is: 19.475777871979652
dataframe_val
   value
0     15
1     24
2     15
3     15
4     16
5     20
6     19
7     16
ema
0    15.000000
1    20.142857
2    17.918919
3    16.851429
4    16.572343
5    17.614791
6    18.014440
7    17.454803
Name: value, dtype: float64
ema is: 17.454802882577365
dataframe_val
   value
0     29
1     26
2    128
3     95
4     26
5    108
6     62
7    121
ema
0    29.000000
1    27.285714
2    70.837838
3    79.674286
4    62.080666
5    76.046035
6    71.993590
7    85.608190
Name: value, dtype: float64
ema is: 85.60818991097923
dataframe_val
   value
0      1
1      1
2     22
3     30
4      2
5     35
6     23
7     24
ema
0     1.000000
1     1.000000
2    10.081081
3    17.365714
4    12.329065
5    19.223938
6    20.313376
7    21.337567
Name: value, dtype: float64
ema is: 21.337566765578636
dataframe_val
   value
0    111
1     70
2      0
3      1
4    159
5      1
6      1
7      2
ema
0    111.000000
1     87.571429
2     49.702703
3     31.891429
4     73.555698
5     51.489456
6     36.922660
7     27.220704
Name: value, dtype: float64
ema is: 27.220703688003386
dataframe_val
   value
0     11
1     20
2     38
3     40
4     13
5     31
6     48
7     37
ema
0    11.000000
1    16.142857
2    25.594595
3    30.862857
4    25.007682
5    26.830116
6    32.937874
7    34.066384
Name: value, dtype: float64
ema is: 34.06638406104282
dataframe_val
   value
0    215
1    255
2      0
3      0
4    259
5      1
6      1
7      3
ema
0    215.000000
1    237.857143
2    135.000000
3     85.628571
4    142.457106
5     99.435996
6     71.036064
7     52.134786
Name: value, dtype: float64
ema is: 52.13478592623992
dataframe_val
   value
0      1
1      2
2     15
3     13
4      0
5     15
6     24
7     14
ema
0     1.000000
1     1.571429
2     7.378378
3     9.434286
4     6.341869
5     8.975052
6    13.309925
7    13.501636
Name: value, dtype: float64
ema is: 13.501636286562103
dataframe_val
   value
0     36
1     27
2    188
3    136
4     32
5    220
6    249
7    177
ema
0     36.000000
1     30.857143
2     98.810811
3    112.411429
4     86.053777
5    126.790615
6    162.049447
7    166.202900
Name: value, dtype: float64
ema is: 166.20289953370073
dataframe_val
   value
0      0
1      2
2      4
3      0
4      1
5      0
6      0
7      0
ema
0    0.000000
1    1.142857
2    2.378378
3    1.508571
4    1.341869
5    0.933769
6    0.664366
7    0.479797
Name: value, dtype: float64
ema is: 0.4797965239508266
dataframe_val
   value
0      1
1      7
2      0
3     14
4      1
5      6
6      0
7     27
ema
0     1.000000
1     4.428571
2     2.513514
3     6.714286
4     4.841229
5     5.193644
6     3.695217
7    10.169580
Name: value, dtype: float64
ema is: 10.16958033064858
dataframe_val
   value
0      5
1      1
2     23
3     13
4      0
5     38
6     30
7      8
ema
0     5.000000
1     2.714286
2    11.486486
3    12.040000
4     8.093470
5    17.188892
6    20.885046
7    17.305418
Name: value, dtype: float64
ema is: 17.305417549809242
dataframe_val
   value
0    202
1    210
2    165
3    123
4    252
5    182
6    219
7    169
ema
0    202.000000
1    206.571429
2    188.594595
3    164.605714
4    193.252241
5    189.830116
6    198.245967
7    190.121068
Name: value, dtype: float64
ema is: 190.12106824925817
dataframe_val
   value
0    285
1    311
2    239
3    236
4    310
5    299
6    263
7    258
ema
0    285.000000
1    299.857143
2    273.540541
3    259.811429
4    276.262484
5    283.177606
6    277.356132
7    271.978754
Name: value, dtype: float64
ema is: 271.97875370919877
dataframe_val
   value
0      0
1      2
2      2
3      1
4      1
5      3
6      2
7      0
ema
0    0.000000
1    1.142857
2    1.513514
3    1.325714
4    1.218950
5    1.760618
6    1.829682
7    1.321373
Name: value, dtype: float64
ema is: 1.3213734633319203
dataframe_val
   value
0      2
1      1
2      3
3      1
4      3
5      0
6      2
7      0
ema
0    2.000000
1    1.428571
2    2.108108
3    1.702857
4    2.128041
5    1.480843
6    1.630626
7    1.177618
Name: value, dtype: float64
ema is: 1.1776176345909284
dataframe_val
   value
0      1
1      4
2      7
3      1
4      0
5      0
6      2
7      0
ema
0    1.000000
1    2.714286
2    4.567568
3    3.262857
4    2.193342
5    1.526285
6    1.662957
7    1.200967
Name: value, dtype: float64
ema is: 1.2009665112335735
dataframe_val
   value
0      8
1      5
2     36
3     20
4     11
5     87
6     20
7     37
ema
0     8.000000
1     6.285714
2    19.135135
3    19.451429
4    16.681178
5    38.067122
6    32.854547
7    34.006206
Name: value, dtype: float64
ema is: 34.006206019499785
dataframe_val
       value
0  40.000000
1  57.142857
2  27.272727
3  54.545455
4  23.076923
5  20.000000
6  33.333333
7  27.272727
ema
0    40.000000
1    49.795918
2    40.056160
3    45.355102
4    38.052652
5    32.562329
6    32.784773
7    31.253457
Name: value, dtype: float64
ema is: 31.25345701352483
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4  100.0
5    0.0
6    0.0
7    0.0
ema
0     0.000000
1     0.000000
2     0.000000
3     0.000000
4    32.778489
5    22.809623
6    16.228781
7    11.720220
Name: value, dtype: float64
ema is: 11.720220432386604
dataframe_val
   value
0     25
1     30
2     26
3     28
4     26
5     35
6     31
7     25
ema
0    25.000000
1    27.857143
2    27.054054
3    27.400000
4    26.941101
5    29.392040
6    29.855955
7    28.506910
Name: value, dtype: float64
ema is: 28.50690970750318
dataframe_val
   value
0   19.0
1   36.0
2   34.0
3   18.0
4   33.0
5   33.0
6   37.0
7   28.0
ema
0    19.000000
1    28.714286
2    31.000000
3    26.245714
4    28.459667
5    29.840511
6    31.906107
7    30.820941
Name: value, dtype: float64
ema is: 30.820941076727426
dataframe_val
   value
0   11.0
1   20.0
2   15.0
3   13.0
4   13.0
5   15.0
6   24.0
7   14.0
ema
0    11.000000
1    16.142857
2    15.648649
3    14.680000
4    14.129321
5    14.394119
6    17.165528
7    16.286104
Name: value, dtype: float64
ema is: 16.2861042814752
dataframe_val
   value
0    1.0
1    2.0
2    4.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    1.000000
1    1.571429
2    2.621622
3    1.662857
4    1.117798
5    0.777844
6    0.553427
7    0.399678
Name: value, dtype: float64
ema is: 0.3996778295888089
dataframe_val
   value
0   64.0
1   38.0
2   36.0
3   20.0
4  119.0
5   62.0
6   16.0
7   28.0
ema
0    64.000000
1    49.142857
2    43.459459
3    34.880000
4    62.453265
5    62.315414
6    48.952877
7    43.131903
Name: value, dtype: float64
ema is: 43.13190334887664
dataframe_val
   value
0    1.0
1    7.0
2    4.0
3    2.0
4    1.0
5    7.0
6    3.0
7    1.0
ema
0    1.000000
1    4.428571
2    4.243243
3    3.422857
4    2.628681
5    3.958123
6    3.681693
7    2.936685
Name: value, dtype: float64
ema is: 2.936685036032217
dataframe_val
   value
0    2.0
1    0.0
2    0.0
3    1.0

dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    1.0
4    0.0
5    1.0
6    0.0
7    2.0
ema
0    1.000000
1    1.000000
2    1.000000
3    1.000000
4    0.672215
5    0.771904
6    0.549201
7    0.952251
Name: value, dtype: float64
ema is: 0.9522509537939805
dataframe_val
   value
0   67.0
1   54.0
2   23.0
3   39.0
4   21.0
5   21.0
6   67.0
7   17.0
ema
0    67.000000
1    59.571429
2    43.756757
3    42.017143
4    35.128041
5    30.831304
6    41.266394
7    34.524883
Name: value, dtype: float64
ema is: 34.524883425180164
dataframe_val
   value
0    5.0
1    0.0
2    3.0
3    1.0
4    0.0
5    6.0
6    1.0
7    1.0
ema
0    5.000000
1    2.142857
2    2.513514
3    1.960000
4    1.317542
5    2.741610
6    2.239135
7    1.894888
Name: value, dtype: float64
ema is: 1.894887664264519
dataframe_val
   value
0    2.0
1    3.0
2    3.0
3    2.0
4    1.0
5    1.0
6    2.0
7    0.0
ema
0    2.000000
1    2.571429
2    2.756757
3    2.480000
4    1.994878
5    1.692308
6    1.781081
7    1.286274
Name: value, dtype: float64
ema is: 1.2862738448495126
dataframe_val
   value
0  141.0
1  125.0
2  100.0
3  111.0
4   96.0
5   91.0
6  117.0
7   78.0
ema
0    141.000000
1    131.857143
2    118.081081
3    115.491429
4    109.102433
5    103.596971
6    107.463901
7     99.278457
Name: value, dtype: float64
ema is: 99.27845697329377
dataframe_val
   value
0   35.0
1   31.0
2   23.0
3   20.0
4   27.0
5   20.0
6   29.0
7   23.0
ema
0    35.000000
1    32.714286
2    28.513514
3    25.400000
4    25.924456
5    24.122661
6    25.529830
7    24.827011
Name: value, dtype: float64
ema is: 24.827011445527766
dataframe_val
   value
0   55.0
1   55.0
2   49.0
3   24.0
4   39.0
5   19.0
6   54.0
7   23.0
ema
0    55.000000
1    55.000000
2    52.405405
3    42.017143
4    41.028169
5    34.328779
6    40.004156
7    35.280187
Name: value, dtype: float64
ema is: 35.28018651971174
dataframe_val
   value
0    0.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    2.0
7    1.0
ema
0    0.000000
1    0.571429
2    0.756757
3    0.845714
4    0.896287
5    0.927829
6    1.237163
7    1.171276
Name: value, dtype: float64
ema is: 1.1712759643916915
dataframe_val
   value
0  154.0
1  158.0
2   90.0
3   78.0
4  109.0
5   62.0
6  113.0
7   55.0
ema
0    154.000000
1    156.285714
2    127.621622
3    109.474286
4    109.318822
5     94.927829
6    100.141861
7     87.600882
Name: value, dtype: float64
ema is: 87.60088172954642
dataframe_val
   value
0    2.0
1    4.0
2    4.0
3    3.0
4    2.0
5    2.0
6    4.0
7    1.0
ema
0    2.000000
1    3.142857
2    3.513514
3    3.325714
4    2.891165
5    2.620137
6    3.018243
7    2.457550
Name: value, dtype: float64
ema is: 2.457549809241204
dataframe_val
   value
0    1.0
1    3.0
2    3.0
3    0.0
4    1.0
5    1.0
6    4.0
7    0.0
ema
0    1.000000
1    2.142857
2    2.513514
3    1.594286
4    1.399488
5    1.277992
6    2.063323
7    1.490106
Name: value, dtype: float64
ema is: 1.4901059771089444
dataframe_val
   value
0    1.0
1    1.0
2    0.0
3    0.0
4    0.0
5    0.0
6    2.0
7    0.0
ema
0    1.000000
1    1.000000
2    0.567568
3    0.360000
4    0.241997
5    0.168399
6    0.696837
7    0.503247
Name: value, dtype: float64
ema is: 0.5032471386180585
dataframe_val
   value
0   52.0
1   17.0
2    8.0
3    0.0
4   46.0
5   23.0
6   81.0
7    0.0
ema
0    52.000000
1    32.000000
2    21.621622
3    13.714286
4    24.297055
5    23.902584
6    40.375854
7    29.158932
Name: value, dtype: float64
ema is: 29.158931750741836
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    3.0
1    0.0
2    2.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    3.000000
1    1.285714
2    1.594595
3    1.011429
4    0.679898
5    0.473121
6    0.336620
7    0.243103
Name: value, dtype: float64
ema is: 0.24310300974989402
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0   12.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    12.000000
1     5.142857
2     2.918919
3     1.851429
4     1.244558
5     0.866053
6     0.616187
7     0.445002
Name: value, dtype: float64
ema is: 0.4450021195421789
dataframe_val
   value
0    1.0
1    2.0
2    4.0
3    3.0
4    2.0
5    1.0
6    2.0
7    2.0
ema
0    1.000000
1    1.571429
2    2.621622
3    2.760000
4    2.510883
5    2.051381
6    2.036557
7    2.026401
Name: value, dtype: float64
ema is: 2.026401017380246
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    6.0
1    7.0
2    2.0
3    4.0
4    3.0
5    7.0
6    6.0
7    4.0
ema
0    6.000000
1    6.571429
2    4.594595
3    4.377143
4    3.925736
5    4.860707
6    5.189406
7    4.858974
Name: value, dtype: float64
ema is: 4.858974141585418
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0   67.0
1   84.0
2   47.0
3   89.0
4   41.0
5  174.0
6   83.0
7   39.0
ema
0    67.000000
1    76.714286
2    63.864865
3    73.057143
4    62.549296
5    96.444609
6    92.565683
7    77.684460
Name: value, dtype: float64
ema is: 77.68445951674438
dataframe_val
   value
0    2.0
1    1.0
2    7.0
3    2.0
4    3.0
5    3.0
6    6.0
7    4.0
ema
0    2.000000
1    1.428571
2    3.837838
3    3.165714
4    3.111396
5    3.077517
6    3.920687
7    3.942721
Name: value, dtype: float64
ema is: 3.942721492157694
dataframe_val
       value
0  39.500000
1  41.000000
2  37.714286
3  31.000000
4  34.333333
5  46.000000
6  48.500000
7  40.500000
ema
0    39.500000
1    40.357143
2    39.214286
3    36.210204
4    35.594994
5    38.759451
6    41.569713
7    41.272533
Name: value, dtype: float64
ema is: 41.27253315569552
dataframe_val
   value
0    2.0
1    3.0
2    0.0
3    3.0
4    2.0
5    2.0
6    1.0
7    1.0
ema
0    2.000000
1    2.571429
2    1.459459
3    2.022857
4    2.015365
5    2.010692
6    1.719096
7    1.519322
Name: value, dtype: float64
ema is: 1.5193217465027553
dataframe_val
      value
0  0.500000
1  0.666667
2  0.000000
3  0.333333
4  1.000000
5  0.500000
6  1.000000
7  0.000000
ema
0    0.500000
1    0.595238
2    0.337838
3    0.336190
4    0.553777
5    0.537422
6    0.670881
7    0.484502
Name: value, dtype: float64
ema is: 0.4845019075879611
dataframe_val
   value
0    3.0
1    5.0
2    4.0
3    3.0
4    2.0
5    2.0
6    4.0
7    1.0
ema
0    3.000000
1    4.142857
2    4.081081
3    3.685714
4    3.133163
5    2.788536
6    3.138057
7    2.544078
Name: value, dtype: float64
ema is: 2.544077999152183
dataframe_val
   value
0   1.00
1   1.00
2   1.00
3   1.00
4   1.00
5   1.00
6   0.75
7   1.00
ema
0    1.000000
1    1.000000
2    1.000000
3    1.000000
4    1.000000
5    1.000000
6    0.927872
7    0.947910
Name: value, dtype: float64
ema is: 0.9479101314116151
dataframe_val
   value
0     24
1     41
2     28
3     24
4     20
5     17
6     44
7      7
ema
0    24.000000
1    33.714286
2    31.243243
3    28.594286
4    25.777209
5    23.107811
6    29.135451
7    22.985943
Name: value, dtype: float64
ema is: 22.985943196269606
dataframe_val
   value
0     22
1     10
2      3
3     27
4      6
5     18
6     10
7     11
ema
0    22.000000
1    15.142857
2     9.891892
3    16.148571
4    12.822023
5    14.396792
6    13.128267
7    12.537007
Name: value, dtype: float64
ema is: 12.537007206443409
dataframe_val
   value
0     19
1     25
2     21
3     28
4     25
5     24
6     10
7     18
ema
0    19.000000
1    22.428571
2    21.810811
3    24.074286
4    24.377721
5    24.262845
6    20.147848
7    19.551149
Name: value, dtype: float64
ema is: 19.551148791860957
dataframe_val
   value
0     77
1     36
2     36
3    107
4     42
5    116
6     13
7     91
ema
0    77.000000
1    53.571429
2    45.972973
3    68.291429
4    59.673496
5    76.803980
6    58.395788
7    67.453650
Name: value, dtype: float64
ema is: 67.45364985163205
dataframe_val
   value
0     33
1      0
2      2
3     32
4      1
5     33
6      0
7     25
ema
0    33.000000
1    14.142857
2     8.891892
3    17.342857
4    11.985915
5    18.376893
6    13.074945
7    16.387876
Name: value, dtype: float64
ema is: 16.387876218736753
dataframe_val
   value
0      1
1     98
2    121
3      2
4     94
5      1
6    124
7      0
ema
0     1.000000
1    56.428571
2    84.351351
3    54.234286
4    67.268886
5    47.114642
6    69.296964
7    50.045392
Name: value, dtype: float64
ema is: 50.04539211530309
dataframe_val
   value
0     47
1     22
2     19
3     34
4     14
5     33
6     19
7     26
ema
0    47.000000
1    32.714286
2    26.783784
3    29.422857
4    24.367478
5    26.992872
6    24.686835
7    25.051649
Name: value, dtype: float64
ema is: 25.051649003815175
dataframe_val
   value
0      1
1    205
2    203
3      0
4    261
5      1
6    175
7      0
ema
0      1.000000
1    117.571429
2    154.513514
3     98.005714
4    151.432778
5    105.681913
6    125.680989
7     90.765223
Name: value, dtype: float64
ema is: 90.76522255192879
dataframe_val
   value
0     14
1      0
2      2
3     25
4      0
5     21
6      2
7     23
ema
0    14.000000
1     6.000000
2     4.270270
3    11.851429
4     7.966709
5    11.930502
6     9.065436
7    12.936634
Name: value, dtype: float64
ema is: 12.936634167019923
dataframe_val
   value
0    136
1     34
2     28
3    351
4     34
5    346
6     49
7    335
ema
0    136.000000
1     77.714286
2     56.216216
3    164.022857
4    121.403329
5    189.709534
6    149.113193
7    200.754896
Name: value, dtype: float64
ema is: 200.75489614243324
dataframe_val
   value
0      0
1      0
2      2
3      2
4      1
5      0
6      2
7      1
ema
0    0.000000
1    0.000000
2    0.864865
3    1.280000
4    1.188220
5    0.826849
6    1.165317
7    1.119390
Name: value, dtype: float64
ema is: 1.1193895718524798
dataframe_val
   value
0     11
1      0
2      2
3     43
4      4
5      9
6      3
7     37
ema
0    11.000000
1     4.714286
2     3.540541
3    17.971429
4    13.391805
5    12.056133
6     9.443333
7    17.098923
Name: value, dtype: float64
ema is: 17.098923272573124
dataframe_val
   value
0     28
1      2
2      3
3     20
4      4
5     11
6      2
7     13
ema
0    28.000000
1    13.142857
2     8.756757
3    12.868571
4     9.961588
5    10.277398
6     7.889272
7     9.309097
Name: value, dtype: float64
ema is: 9.309097075031794
dataframe_val
   value
0    108
1    205
2    193
3    331
4    237
5    335
6    148
7    322
ema
0    108.000000
1    163.428571
2    176.216216
3    232.822857
4    234.192061
5    264.850609
6    231.137846
7    256.380500
Name: value, dtype: float64
ema is: 256.3805002119542
dataframe_val
   value
0    247
1    358
2    344
3    439
4    457
5    530
6    169
7    396
ema
0    247.000000
1    310.428571
2    324.945946
3    366.657143
4    396.270166
5    436.941194
6    359.637036
7    369.739127
Name: value, dtype: float64
ema is: 369.7391267486223
dataframe_val
   value
0      2
1      1
2      1
3      3
4      0
5      0
6      4
7      2
ema
0    2.000000
1    1.428571
2    1.243243
3    1.885714
4    1.267606
5    0.882091
6    1.781644
7    1.842306
Name: value, dtype: float64
ema is: 1.8423060618906317
dataframe_val
   value
0      0
1      4
2      3
3      2
4      4
5      0
6      5
7      1
ema
0    0.000000
1    2.285714
2    2.594595
3    2.377143
4    2.909091
5    2.024354
6    2.882863
7    2.359780
Name: value, dtype: float64
ema is: 2.3597795676133955
dataframe_val
   value
0      0
1      1
2      3
3      4
4      0
5      0
6      4
7      2
ema
0    0.000000
1    0.571429
2    1.621622
3    2.491429
4    1.674776
5    1.165429
6    1.983236
7    1.987893
Name: value, dtype: float64
ema is: 1.987893175074184
dataframe_val
   value
0     55
1      2
2     11
3     65
4      5
5     40
6      9
7     46
ema
0    55.000000
1    24.714286
2    18.783784
3    35.685714
4    25.627401
5    29.998515
6    23.940199
7    30.068690
Name: value, dtype: float64
ema is: 30.068690122933447
dataframe_val
       value
0  33.333333
1  54.545455
2  33.333333
3  81.818182
4  38.461538
5  33.333333
6  37.500000
7  28.571429
ema
0    33.333333
1    45.454545
2    40.212940
3    55.428571
4    49.867034
5    44.838668
6    42.721377
7    38.790342
Name: value, dtype: float64
ema is: 38.790342340999395
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5  100.0
6    0.0
7    0.0
ema
0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5    30.412830
6    21.638374
7    15.626961
Name: value, dtype: float64
ema is: 15.626960576515472
dataframe_val
   value
0     33
1     34
2     34
3     34
4     35
5     33
6     23
7     31
ema
0    33.000000
1    33.571429
2    33.756757
3    33.845714
4    34.224072
5    33.851797
6    30.720927
7    30.798457
Name: value, dtype: float64
ema is: 30.798456973293764
dataframe_val
   value
0   26.0
1   29.0
2   30.0
3   36.0
4   23.0
5   34.0
6   45.0
7   35.0
ema
0    26.000000
1    27.714286
2    28.702703
3    31.371429
4    28.627401
5    30.261360
6    34.513630
7    34.648749
Name: value, dtype: float64
ema is: 34.64874947011445
dataframe_val
   value
0   14.0
1   22.0
2   19.0
3   25.0
4   14.0
5   21.0
6   19.0
7   23.0
ema
0    14.000000
1    18.571429
2    18.756757
3    21.040000
4    18.732394
5    19.422037
6    19.300275
7    20.328105
Name: value, dtype: float64
ema is: 20.328105129292073
dataframe_val
   value
0    0.0
1    0.0
2    2.0
3    2.0
4    0.0
5    0.0
6    2.0
7    1.0
ema
0    0.000000
1    0.000000
2    0.864865
3    1.280000
4    0.860435
5    0.598753
6    1.003029
7    1.002187
Name: value, dtype: float64
ema is: 1.002187367528614
dataframe_val
   value
0   18.0
1   28.0
2   22.0
3   82.0
4   66.0
5   93.0
6   64.0
7   73.0
ema
0    18.000000
1    23.714286
2    22.972973
3    44.560000
4    51.587708
5    64.182358
6    64.129746
7    66.594014
Name: value, dtype: float64
ema is: 66.59401441288682
dataframe_val
   value
0    5.0
1    0.0
2    2.0
3    2.0
4    4.0
5    3.0
6    3.0
7    3.0
ema
0    5.000000
1    2.142857
2    2.081081
3    2.051429
4    2.690141
5    2.784378
6    2.846587
7    2.889207
Name: value, dtype: float64
ema is: 2.8892072912250955
dataframe_val
   value
0    1.0
1    2.0
2    0.0
3    2.0
4    4.0
5    3.0
6    0.0
7    2.0
ema
0    1.000000
1    1.571429
2    0.891892
3    1.297143
4    2.183099
5    2.431541
6    1.730013
7    1.805019
Name: value, dtype: float64
ema is: 1.80501907587961
dataframe_val
   value
0  108.0
1  107.0
2   99.0
3  175.0
4  138.0
5  197.0
6  116.0
7  176.0
ema
0    108.000000
1    107.428571
2    103.783784
3    129.828571
4    132.507042
5    152.121176
6    141.699796
7    151.228826
Name: value, dtype: float64
ema is: 151.2288257736329
dataframe_val
   value
0   33.0
1   36.0
2   36.0
3   32.0
4   42.0
5   33.0
6   13.0
7   25.0
ema
0    33.000000
1    34.714286
2    35.270270
3    34.074286
4    36.672215
5    35.555391
6    29.047897
7    27.923340
Name: value, dtype: float64
ema is: 27.92334039847393
dataframe_val
   value
0   50.0
1   56.0
2   58.0
3   22.0
4   83.0
5   59.0
6   11.0
7   40.0
ema
0    50.000000
1    53.428571
2    55.405405
3    43.188571
4    56.238156
5    57.078111
6    43.784039
7    42.732785
Name: value, dtype: float64
ema is: 42.73278507842306
dataframe_val
   value
0    1.0
1    0.0
2    2.0
3    2.0
4    1.0
5    1.0
6    0.0
7    0.0
ema
0    1.000000
1    0.428571
2    1.108108
3    1.434286
4    1.291933
5    1.203148
6    0.856026
7    0.618211
Name: value, dtype: float64
ema is: 0.6182111064010174
dataframe_val
   value
0  139.0
1  153.0
2  151.0
3  108.0
4  220.0
5  195.0
6   21.0
7   74.0
ema
0    139.000000
1    147.000000
2    148.729730
3    133.834286
4    162.078105
5    172.090585
6    128.499190
7    113.358627
Name: value, dtype: float64
ema is: 113.35862653666808
dataframe_val
   value
0    2.0
1    2.0
2    2.0
3    4.0
4    5.0
5    4.0
6    0.0
7    2.0
ema
0    2.000000
1    2.000000
2    2.000000
3    2.731429
4    3.475032
5    3.634690
6    2.586039
7    2.423230
Name: value, dtype: float64
ema is: 2.4232301822806273
dataframe_val
   value
0    1.0
1    1.0
2    0.0
3    2.0
4    0.0
5    2.0
6    0.0
7    0.0
ema
0    1.000000
1    1.000000
2    0.567568
3    1.091429
4    0.733675
5    1.118800
6    0.796013
7    0.574871
Name: value, dtype: float64
ema is: 0.5748707079270877
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1   26.0
2    0.0
3   14.0
4    0.0
5   23.0
6    0.0
7    0.0
ema
0     0.000000
1    14.857143
2     8.432432
3    10.468571
4     7.037132
5    11.891892
6     8.460942
7     6.110386
Name: value, dtype: float64
ema is: 6.110385756676558
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    4.0
1    2.0
2    1.0
3    3.0
4    3.0
5    0.0
6    5.0
7    4.0
ema
0    4.000000
1    2.857143
2    2.054054
3    2.400000
4    2.596671
5    1.806950
6    2.728182
7    3.081509
Name: value, dtype: float64
ema is: 3.0815091140313693
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    2.0
4    1.0
5    0.0
6    0.0
7    0.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.731429
4    0.819462
5    0.570241
6    0.405720
7    0.293006
Name: value, dtype: float64
ema is: 0.2930055108096652
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3   41.0
4   52.0
5    0.0
6   13.0
7    3.0
ema
0     0.000000
1     0.000000
2     0.000000
3    14.994286
4    27.124200
5    18.874963
6    17.179968
7    13.240593
Name: value, dtype: float64
ema is: 13.240593471810088
dataframe_val
   value
0    1.0
1    2.0
2    3.0
3    7.0
4    4.0
5    2.0
6    2.0
7    4.0
ema
0    1.000000
1    1.571429
2    2.189189
3    3.948571
4    3.965429
5    3.367686
6    2.973093
7    3.258381
Name: value, dtype: float64
ema is: 3.2583806697753284
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val

dataframe_val
   value
0      1
1      1
2      0
3      1
4      3
5      0
6      0
7      0
ema
0    1.000000
1    1.000000
2    0.567568
3    0.725714
4    1.471191
5    1.023760
6    0.728393
7    0.526036
Name: value, dtype: float64
ema is: 0.526036456125477
dataframe_val
   value
0      2
1      0
2      2
3      1
4      1
5      2
6      0
7      0
ema
0    2.000000
1    0.857143
2    1.351351
3    1.222857
4    1.149808
5    1.408375
6    1.002043
7    0.723663
Name: value, dtype: float64
ema is: 0.7236625688851207
dataframe_val
   value
0      3
1      3
2      1
3      2
4      2
5      0
6      1
7      0
ema
0    3.000000
1    3.000000
2    2.135135
3    2.085714
4    2.057618
5    1.431838
6    1.307248
7    0.944078
Name: value, dtype: float64
ema is: 0.9440779991521832
dataframe_val
   value
0     40
1      5
2      8
3     66
4     81
5      4
6      5
7     22
ema
0    40.000000
1    20.000000
2    14.810811
3    33.531429
4    49.090909
5    35.377487
6    26.613228
7    25.331615
Name: value, dtype: float64
ema is: 25.331615091140314
dataframe_val
       value
0  50.000000
1  35.714286
2  47.058824
3  11.111111
4  30.769231
5  33.333333
6  50.000000
7  57.142857
ema
0    50.000000
1    41.836735
2    44.094935
3    32.032280
4    31.618271
5    32.139870
6    37.292726
7    42.807343
Name: value, dtype: float64
ema is: 42.8073430696177
dataframe_val
   value
0    0.0
1   50.0
2    0.0
3    0.0
4  100.0
5    0.0
6    0.0
7   50.0
ema
0     0.000000
1    28.571429
2    16.216216
3    10.285714
4    39.692702
5    27.621028
6    19.652039
7    28.083086
Name: value, dtype: float64
ema is: 28.083086053412462
dataframe_val
   value
0     35
1     25
2     39
3     33
4     32
5     22
6     34
7     29
ema
0    35.000000
1    29.285714
2    33.486486
3    33.308571
4    32.879641
5    29.570835
6    30.848700
7    30.335108
Name: value, dtype: float64
ema is: 30.335108096651123
dataframe_val
   value
0   46.0
1   48.0
2   39.0
3   35.0
4   38.0
5   30.0
6   37.0
7   30.0
ema
0    46.000000
1    47.142857
2    43.621622
3    40.468571
4    39.659411
5    36.721711
6    36.802000
7    34.912319
Name: value, dtype: float64
ema is: 34.9123187791437
dataframe_val
   value
0   27.0
1   27.0
2   27.0
3   22.0
4   26.0
5   16.0
6   24.0
7   18.0
ema
0    27.000000
1    27.000000
2    27.000000
3    25.171429
4    25.443022
5    22.571132
6    22.983377
7    21.598932
Name: value, dtype: float64
ema is: 21.59893175074184
dataframe_val
   value
0    1.0
1    3.0
2    1.0
3    1.0
4    1.0
5    0.0
6    1.0
7    0.0
ema
0    1.000000
1    2.142857
2    1.648649
3    1.411429
4    1.276569
5    0.888328
6    0.920547
7    0.664807
Name: value, dtype: float64
ema is: 0.6648071216617211
dataframe_val
   value
0   46.0
1   58.0
2   54.0
3   44.0
4   52.0
5   21.0
6   62.0
7   42.0
ema
0    46.000000
1    52.857143
2    53.351351
3    49.931429
4    50.609475
5    41.604396
6    47.488765
7    45.963917
Name: value, dtype: float64
ema is: 45.96391691394659
dataframe_val
   value
0    3.0
1    2.0
2    7.0
3    3.0
4    2.0
5    2.0
6    4.0
7    3.0
ema
0    3.000000
1    2.428571
2    4.405405
3    3.891429
4    3.271447
5    2.884764
6    3.206523
7    3.149148
Name: value, dtype: float64
ema is: 3.1491479440440866
dataframe_val
   value
0    2.0
1    1.0
2    1.0
3    1.0
4    1.0
5    0.0
6    3.0
7    1.0
ema
0    2.000000
1    1.428571
2    1.243243
3    1.154286
4    1.103713
5    0.768043
6    1.411988
7    1.297533
Name: value, dtype: float64
ema is: 1.2975328529037728
dataframe_val
   value
0  117.0
1  107.0
2  171.0
3  121.0
4  167.0
5   87.0
6  138.0
7  105.0
ema
0    117.000000
1    111.285714
2    137.108108
3    131.217143
4    142.946223
5    125.931393
6    129.413327
7    122.630996
Name: value, dtype: float64
ema is: 122.63099618482408
dataframe_val
   value
0   26.0
1   11.0
2   31.0
3   28.0
4   22.0
5   14.0
6   27.0
7   23.0
ema
0    26.000000
1    17.428571
2    23.297297
3    25.017143
4    24.028169
5    20.978319
6    22.715644
7    22.794642
Name: value, dtype: float64
ema is: 22.794641797371767
dataframe_val
   value
0   27.0
1   10.0
2   32.0
3   41.0
4   21.0
5   22.0
6   20.0
7   33.0
ema
0    27.000000
1    17.285714
2    23.648649
3    29.994286
4    27.046095
5    25.511435
6    23.921321
7    26.443493
Name: value, dtype: float64
ema is: 26.44349300551081
dataframe_val
   value
0    0.0
1    0.0
2    1.0
3    0.0
4    1.0
5    0.0
6    0.0
7    0.0
ema
0    0.000000
1    0.000000
2    0.432432
3    0.274286
4    0.512164
5    0.356400
6    0.253575
7    0.183128
Name: value, dtype: float64
ema is: 0.1831284442560407
dataframe_val
   value
0  117.0
1   25.0
2  124.0
3  148.0
4   87.0
5   44.0
6  121.0
7  100.0
ema
0    117.000000
1     64.428571
2     90.189189
3    111.331429
4    103.355954
5     85.304128
6     95.602803
7     96.824400
Name: value, dtype: float64
ema is: 96.82440016956338
dataframe_val
   value
0    2.0
1    1.0
2    2.0
3    1.0
4    2.0
5    0.0
6    3.0
7    1.0
ema
0    2.000000
1    1.428571
2    1.675676
3    1.428571
4    1.615877
5    1.124443
6    1.665563
7    1.480661
Name: value, dtype: float64
ema is: 1.4806612971598134
dataframe_val
   value
0    0.0
1    1.0
2    0.0
3    3.0
4    0.0
5    1.0
6    0.0
7    1.0
ema
0    0.000000
1    0.571429
2    0.324324
3    1.302857
4    0.875800
5    0.913573
6    0.649996
7    0.747232
Name: value, dtype: float64
ema is: 0.7472318779143705
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3   20.0
4    0.0
5    0.0
6    0.0
7    2.0
ema
0    0.000000
1    0.000000
2    0.000000
3    7.314286
4    4.916773
5    3.421443
6    2.434317
7    2.313658
Name: value, dtype: float64
ema is: 2.3136583298007625
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    1.0
4    4.0
5    1.0
6    0.0
7    0.0
ema
0    1.000000
1    1.000000
2    1.000000
3    1.000000
4    1.983355
5    1.684289
6    1.198352
7    0.865435
Name: value, dtype: float64
ema is: 0.8654345061466723
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4   12.0
5    0.0
6    0.0
7    0.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    3.933419
5    2.737155
6    1.947454
7    1.406426
Name: value, dtype: float64
ema is: 1.4064264518863925
dataframe_val
   value
0    9.0
1    0.0
2    3.0
3    2.0
4    4.0
5    1.0
6    1.0
7    1.0
ema
0    9.000000
1    3.857143
2    3.486486
3    2.942857
4    3.289373
5    2.593110
6    2.133479
7    1.818584
Name: value, dtype: float64
ema is: 1.818584145824502
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    7.0
1    9.0
2   10.0
3    6.0
4    7.0
5    6.0
6    7.0
7    4.0
ema
0    7.000000
1    8.142857
2    8.945946
3    7.868571
4    7.583867
5    7.102168
6    7.072691
7    6.219059
Name: value, dtype: float64
ema is: 6.2190589232725735
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    1.0
6    0.0
7    0.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    0.000000
5    0.304128
6    0.216384
7    0.156270
Name: value, dtype: float64
ema is: 0.1562696057651547
dataframe_val
   value
0  121.0
1  142.0
2  168.0
3   97.0
4   87.0
5  147.0
6   83.0
7   66.0
ema
0    121.000000
1    133.000000
2    148.135135
3    129.434286
4    115.524968
5    125.097416
6    112.951821
7     99.908012
Name: value, dtype: float64
ema is: 99.90801186943621
dataframe_val
   value
0    7.0
1    5.0
2    5.0
3    4.0
4    3.0
5    6.0
6    5.0
7    2.0
ema
0    7.000000
1    5.857143
2    5.486486
3    4.942857
4    4.306018
5    4.821206
6    4.872790
7    4.074693
Name: value, dtype: float64
ema is: 4.0746926663840615
dataframe_val
       value
0  40.714286
1  46.400000
2  37.400000
3  34.750000
4  42.333333
5  45.833333
6  40.400000
7  43.500000
ema
0    40.714286
1    43.963265
2    41.125097
3    38.793633
4    39.953893
5    41.741997
6    41.354815
7    41.950775
Name: value, dtype: float64
ema is: 41.9507747835039
dataframe_val
   value
0    4.0
1    1.0
2    4.0
3    2.0
4    5.0
5    3.0
6    1.0
7    2.0
ema
0    4.000000
1    2.285714
2    3.027027
3    2.651429
4    3.421255
5    3.293139
6    2.631542
7    2.456092
Name: value, dtype: float64
ema is: 2.456091564222128
dataframe_val
      value
0  0.750000
1  1.000000
2  1.000000
3  1.000000
4  1.000000
5  0.666667
6  1.000000
7  1.000000
ema
0    0.750000
1    0.892857
2    0.939189
3    0.961429
4    0.974072
5    0.880581
6    0.915035
7    0.938639
Name: value, dtype: float64
ema is: 0.938639253921153
dataframe_val
   value
0    2.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    3.0
7    1.0
ema
0    2.000000
1    1.428571
2    1.243243
3    1.154286
4    1.103713
5    1.072171
6    1.628372
7    1.453802
Name: value, dtype: float64
ema is: 1.4538024586689275
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
ema
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
Name: value, dtype: float64
ema is: 1.0
dataframe_val
   value
0     23
1     10
2     27
3     13
4     30
5     19
6     24
7     13
ema
0    23.000000
1    15.571429
2    20.513514
3    17.765714
4    21.775928
5    20.931690
6    21.816933
7    19.367478
Name: value, dtype: float64
ema is: 19.367477744807122
dataframe_val
   value
0     20
1     41
2     24
3      3
4     17
5     21
6     21
7     28
ema
0    20.000000
1    32.000000
2    28.540541
3    19.200000
4    18.478873
5    19.245619
6    19.751779
7    22.043239
Name: value, dtype: float64
ema is: 22.043238660449344
dataframe_val
   value
0     20
1     17
2     20
3     20
4     27
5     23
6     26
7     19
ema
0    20.000000
1    18.285714
2    19.027027
3    19.382857
4    21.879641
5    22.220374
6    23.310840
7    22.113234
Name: value, dtype: float64
ema is: 22.113234421364986
dataframe_val
   value
0    118
1    125
2     35
3     20
4     69
5     33
6     46
7     30
ema
0    118.000000
1    122.000000
2     84.378378
3     60.834286
4     63.510883
5     54.231660
6     51.856730
7     45.784655
Name: value, dtype: float64
ema is: 45.78465451462484
dataframe_val
   value
0     28
1     24
2      1
3      0
4     38
5      0
6     38
7      0
ema
0    28.000000
1    25.714286
2    15.027027
3     9.531429
4    18.862996
5    13.126225
6    20.302599
7    14.662281
Name: value, dtype: float64
ema is: 14.662280627384485
dataframe_val
   value
0      1
1      2
2     74
3    106
4      1
5    121
6      1
7     70
ema
0     1.000000
1     1.571429
2    32.891892
3    59.628571
4    40.411012
5    64.920404
6    46.478622
7    53.013158
Name: value, dtype: float64
ema is: 53.01315811784654
dataframe_val
   value
0     37
1     38
2     18
3     27
4     28
5     17
6     38
7     18
ema
0    37.000000
1    37.571429
2    29.108108
3    28.337143
4    28.226633
5    24.812296
6    28.617102
7    25.667537
Name: value, dtype: float64
ema is: 25.66753709198813
dataframe_val
   value
0      1
1      3
2    207
3    317
4      1
5    245
6      2
7    231
ema
0      1.000000
1      2.142857
2     90.729730
3    173.480000
4    116.943662
5    155.889219
6    111.490385
7    144.691666
Name: value, dtype: float64
ema is: 144.69166596015262
dataframe_val
   value
0     19
1     15
2      0
3      0
4     23
5      0
6     24
7      0
ema
0    19.000000
1    16.714286
2     9.486486
3     6.017143
4    11.583867
5     8.060885
6    12.659506
7     9.142535
Name: value, dtype: float64
ema is: 9.14253497244595
dataframe_val
   value
0    262
1    162
2     34
3     33
4    259
5     48
6    349
7     42
ema
0    262.000000
1    204.857143
2    130.972973
3     95.142857
4    148.852753
5    118.180576
6    184.774671
7    145.110064
Name: value, dtype: float64
ema is: 145.11006358626537
dataframe_val
   value
0      1
1      1
2      0
3      3
4      0
5      3
6      2
7      0
ema
0    1.000000
1    1.000000
2    0.567568
3    1.457143
4    0.979513
5    1.594001
6    1.711136
7    1.235761
Name: value, dtype: float64
ema is: 1.2357609156422213
dataframe_val
   value
0     17
1      6
2      0
3      0
4      0
5      0
6     15
7      0
ema
0    17.000000
1    10.714286
2     6.081081
3     3.857143
4     2.592830
5     1.804277
6     5.611397
7     4.052480
Name: value, dtype: float64
ema is: 4.0524798643493005
dataframe_val
   value
0      8
1     11
2      4
3      2
4     10
5      1
6      0
7      4
ema
0    8.000000
1    9.714286
2    7.243243
3    5.325714
4    6.857875
5    5.076329
6    3.611749
7    3.719610
Name: value, dtype: float64
ema is: 3.7196100042390845
dataframe_val
   value
0    254
1    151
2    207
3    317
4    249
5    245
6    349
7    231
ema
0    254.000000
1    195.142857
2    200.270270
3    242.960000
4    244.939821
5    244.958123
6    274.975417
7    262.758491
Name: value, dtype: float64
ema is: 262.7584908859686
dataframe_val
   value
0    397
1    243
2    335
3    364
4    390
5    380
6    480
7    311
ema
0    397.000000
1    309.000000
2    320.243243
3    336.245714
4    353.865557
5    361.813781
6    395.911883
7    372.322289
Name: value, dtype: float64
ema is: 372.3222891055532
dataframe_val
   value
0      0
1      0
2      2
3      3
4      0
5      0
6      3
7      2
ema
0    0.000000
1    0.000000
2    0.864865
3    1.645714
4    1.106274
5    0.769825
6    1.413256
7    1.576261
Name: value, dtype: float64
ema is: 1.576261127596439
dataframe_val
   value
0      0
1      1
2      3
3      1
4      1
5      0
6      1
7      2
ema
0    0.000000
1    0.571429
2    1.621622
3    1.394286
4    1.265045
5    0.880309
6    0.914841
7    1.216312
Name: value, dtype: float64
ema is: 1.2163119966087326
dataframe_val
   value
0      1
1      2
2      2
3      2
4      1
5      0
6      3
7      1
ema
0    1.000000
1    1.571429
2    1.756757
3    1.845714
4    1.568502
5    1.091476
6    1.642107
7    1.463722
Name: value, dtype: float64
ema is: 1.4637219160661297
dataframe_val
   value
0     61
1      5
2      6
3      0
4     65
5      4
6     65
7      2
ema
0    61.000000
1    29.000000
2    19.054054
3    12.085714
4    29.430218
5    21.696169
6    34.189829
7    25.247088
Name: value, dtype: float64
ema is: 25.24708774904621
dataframe_val
       value
0  36.363636
1  33.333333
2  26.666667
3  58.333333
4  50.000000
5  57.142857
6  46.666667
7  53.846154
ema
0    36.363636
1    34.632035
2    31.187551
3    41.115152
4    44.027471
5    48.016231
6    47.626866
7    49.354663
Name: value, dtype: float64
ema is: 49.35466263283134
dataframe_val
   value
0    0.0
1  100.0
2  100.0
3   50.0
4    0.0
5  100.0
6  100.0
7    0.0
ema
0     0.000000
1    57.142857
2    75.675676
3    66.285714
4    44.558259
5    61.419661
6    72.550539
7    52.395083
Name: value, dtype: float64
ema is: 52.39508266214497
dataframe_val
   value
0     27
1     22
2     33
3     24
4     34
5     28
6     37
7     27
ema
0    27.000000
1    24.142857
2    27.972973
3    26.520000
4    28.971831
5    28.676270
6    31.077763
7    29.944909
Name: value, dtype: float64
ema is: 29.944908859686308
dataframe_val
   value
0   28.0
1   25.0
2   38.0
3   38.0
4   41.0
5   29.0
6   41.0
7   25.0
ema
0    28.000000
1    26.285714
2    31.351351
3    33.782857
4    36.148528
5    33.974458
6    36.001409
7    32.945078
Name: value, dtype: float64
ema is: 32.945078423060615
dataframe_val
   value
0   19.0
1   15.0
2   18.0
3   27.0
4   23.0
5   17.0
6   24.0
7   18.0
ema
0    19.000000
1    16.714286
2    17.270270
3    20.828571
4    21.540333
5    20.159489
6    21.267521
7    20.359763
Name: value, dtype: float64
ema is: 20.359762611275965
dataframe_val
   value
0    1.0
1    1.0
2    0.0
3    0.0
4    0.0
5    0.0
6    2.0
7    0.0
ema
0    1.000000
1    1.000000
2    0.567568
3    0.360000
4    0.241997
5    0.168399
6    0.696837
7    0.503247
Name: value, dtype: float64
ema is: 0.5032471386180585
dataframe_val
   value
0   73.0
1   42.0
2   23.0
3   49.0
4   41.0
5   46.0
6   76.0
7   48.0
ema
0    73.000000
1    55.285714
2    41.324324
3    44.131429
4    43.104994
5    43.985447
6    53.222019
7    51.771276
Name: value, dtype: float64
ema is: 51.77127596439169
dataframe_val
   value
0    1.0
1    2.0
2    0.0
3    0.0
4    1.0
5    0.0
6    0.0
7    0.0
ema
0    1.000000
1    1.571429
2    0.891892
3    0.565714
4    0.708067
5    0.492723
6    0.350567
7    0.253175
Name: value, dtype: float64
ema is: 0.2531750741839763
dataframe_val
   value
0    3.0
1    1.0
2    0.0
3    4.0
4    3.0
5    3.0
6    2.0
7    2.0
ema
0    3.000000
1    1.857143
2    1.054054
3    2.131429
4    2.416133
5    2.593704
6    2.422413
7    2.305061
Name: value, dtype: float64
ema is: 2.305061466723188
dataframe_val
   value
0  145.0
1   87.0
2  122.0
3  125.0
4  134.0
5  160.0
6  170.0
7  152.0
ema
0    145.000000
1    111.857143
2    116.243243
3    119.445714
4    124.216389
5    135.099198
6    145.168486
7    147.066367
Name: value, dtype: float64
ema is: 147.0663671047054
dataframe_val
   value
0   28.0
1   24.0
2   35.0
3   20.0
4   38.0
5   33.0
6   38.0
7   30.0
ema
0    28.000000
1    25.714286
2    29.729730
3    26.171429
4    30.048656
5    30.946243
6    32.981334
7    32.153082
Name: value, dtype: float64
ema is: 32.153081814328104
dataframe_val
   value
0   60.0
1   24.0
2   37.0
3   13.0
4   39.0
5   35.0
6   39.0
7   34.0
ema
0    60.000000
1    39.428571
2    38.378378
3    29.097143
4    32.343150
5    33.151173
6    34.838628
7    34.605646
Name: value, dtype: float64
ema is: 34.60564646036456
dataframe_val
   value
0    1.0
1    2.0
2    1.0
3    0.0
4    1.0
5    0.0
6    1.0
7    0.0
ema
0    1.000000
1    1.571429
2    1.324324
3    0.840000
4    0.892446
5    0.621028
6    0.730366
7    0.527461
Name: value, dtype: float64
ema is: 0.5274607884696906
dataframe_val
   value
0  143.0
1   92.0
2  128.0
3   47.0
4  141.0
5  135.0
6  131.0
7   80.0
ema
0    143.000000
1    113.857143
2    119.972973
3     93.285714
4    108.925736
5    116.855658
6    120.936465
7    109.563798
Name: value, dtype: float64
ema is: 109.56379821958457
dataframe_val
   value
0    4.0
1    3.0
2    1.0
3    4.0
4    4.0
5    3.0
6    3.0
7    2.0
ema
0    4.000000
1    3.428571
2    2.378378
3    2.971429
4    3.308579
5    3.214731
6    3.152779
7    2.832522
Name: value, dtype: float64
ema is: 2.8325222551928784
dataframe_val
   value
0    1.0
1    1.0
2    4.0
3    0.0
4    1.0
5    1.0
6    0.0
7    0.0
ema
0    1.000000
1    1.000000
2    2.297297
3    1.457143
4    1.307298
5    1.213840
6    0.863633
7    0.623705
Name: value, dtype: float64
ema is: 0.6237049597286985

ema
0    141.000000
1     73.000000
2     89.000000
3     83.880000
4     65.235595
5     54.519454
6     82.932239
7     70.171683
8     82.829144
Name: value, dtype: float64
ema is: 82.82914365609315
dataframe_val
   value
0     18
1      0
2     36
3     41
4      1
5      2
6     25
7      0
8     32
ema
0    18.000000
1     7.714286
2    19.945946
3    27.645714
4    18.911652
5    13.768340
6    17.008805
7    12.283544
8    17.612804
Name: value, dtype: float64
ema is: 17.612803708637678
dataframe_val
   value
0      0
1    146
2      1
3      3
4    195
5    115
6      2
7    115
8      0
ema
0     0.000000
1    83.428571
2    47.783784
3    31.405714
4    85.029449
5    94.144342
6    67.559625
7    80.739161
8    58.915768
Name: value, dtype: float64
ema is: 58.915767896692664
dataframe_val
   value
0     23
1     13
2     43
3     45
4     15
5     15
6     26
7     17
8     41
ema
0    23.000000
1    17.285714
2    28.405405
3    34.474286
4    28.090909
5    24.109593
6    24.654998
7    22.528343
8    27.521139
Name: value, dtype: float64
ema is: 27.52113948222601
dataframe_val
   value
0      3
1    127
2      2
3      1
4    236
5    218
6      3
7    205
8      2
ema
0      3.000000
1     73.857143
2     42.783784
3     27.502857
4     95.845070
5    132.995842
6     95.490526
7    125.913641
8     92.420402
Name: value, dtype: float64
ema is: 92.4204016316026
dataframe_val
   value
0     24
1      2
2     21
3     16
4      2
5      3
6     21
7      4
8     17
ema
0    24.000000
1    11.428571
2    15.567568
3    15.725714
4    11.226633
5     8.724681
6    12.266253
7     9.969784
8    11.870016
Name: value, dtype: float64
ema is: 11.870016208792341
dataframe_val
   value
0    286
1     35
2    279
3    222
4     34
5     36
6    272
7     45
8    253
ema
0    286.000000
1    142.571429
2    201.567568
3    209.040000
4    151.664533
5    116.487674
6    161.354793
7    129.029962
8    162.538445
Name: value, dtype: float64
ema is: 162.53844535822256
dataframe_val
   value
0      1
1      2
2      1
3      0
4      3
5      3
6      3
7      1
8      1
ema
0    1.000000
1    1.571429
2    1.324324
3    0.840000
4    1.548015
5    1.989605
6    2.281116
7    1.925206
8    1.675127
Name: value, dtype: float64
ema is: 1.6751271338483302
dataframe_val
   value
0      0
1      1
2      0
3      0
4      2
5      4
6     20
7      2
8     13
ema
0    0.000000
1    0.571429
2    0.324324
3    0.205714
4    0.793854
5    1.768934
6    7.028809
7    5.631742
8    7.623346
Name: value, dtype: float64
ema is: 7.62334561022185
dataframe_val
   value
0     22
1      1
2     16
3     30
4      3
5      2
6     39
7      1
8      5
ema
0    22.000000
1    10.000000
2    12.594595
3    18.960000
4    13.728553
5    10.161568
6    18.481792
7    13.625129
8    11.293800
Name: value, dtype: float64
ema is: 11.29379982760114
dataframe_val
   value
0    264
1    127
2    263
3    192
4    227
5    190
6    233
7    198
8    248
ema
0    264.000000
1    185.714286
2    219.135135
3    209.211429
4    215.042254
5    207.426195
6    214.804536
7    210.136024
8    220.370468
Name: value, dtype: float64
ema is: 220.37046782781562
dataframe_val
   value
0    342
1    209
2    406
3    422
4    343
5    268
6    383
7    428
8    386
ema
0    342.000000
1    266.000000
2    326.540541
3    361.451429
4    355.403329
5    328.821503
6    344.452631
7    367.663145
8    372.619506
Name: value, dtype: float64
ema is: 372.6195058174304
dataframe_val
   value
0      0
1      1
2      0
3      1
4      1
5      2
6      0
7      8
8      0
ema
0    0.000000
1    0.571429
2    0.324324
3    0.571429
4    0.711908
5    1.103653
6    0.785236
7    2.789589
8    2.035577
Name: value, dtype: float64
ema is: 2.0355768556592606
dataframe_val
   value
0      1
1      1
2      0
3      0
4      0
5      1
6      1
7      3
8      1
ema
0    1.000000
1    1.000000
2    0.567568
3    0.360000
4    0.241997
5    0.472527
6    0.624709
7    1.284595
8    1.207671
Name: value, dtype: float64
ema is: 1.2076705119586242
dataframe_val
   value
0      2
1      2
2      1
3      0
4      2
5      4
6      4
7      7
8      2
ema
0    2.000000
1    2.000000
2    1.567568
3    0.994286
4    1.323944
5    2.137808
6    2.675072
7    3.876592
8    3.369358
Name: value, dtype: float64
ema is: 3.3693583710369914
dataframe_val
   value
0     25
1      9
2     70
3     20
4      8
5      5
6     45
7     12
8     81
ema
0    25.000000
1    15.857143
2    39.270270
3    32.222857
4    24.282971
5    18.418473
6    26.087554
7    22.173853
8    38.074268
Name: value, dtype: float64
ema is: 38.074267614173
dataframe_val
       value
0  28.571429
1  50.000000
2  35.714286
3  64.285714
4   0.000000
5  26.666667
6  33.333333
7  38.888889
8  41.666667
ema
0    28.571429
1    40.816327
2    38.610039
3    48.000000
4    32.266325
5    30.563311
6    31.362494
7    33.453422
8    35.673421
Name: value, dtype: float64
ema is: 35.67342101753822
dataframe_val
        value
0  100.000000
1    0.000000
2    0.000000
3    0.000000
4   66.666667
5   66.666667
6    0.000000
7    0.000000
8  100.000000
ema
0    100.000000
1     42.857143
2     24.324324
3     15.428571
4     32.223645
5     42.698743
6     30.379658
7     21.939805
8     43.039087
Name: value, dtype: float64
ema is: 43.039086698479345
dataframe_val
   value
0     27
1     25
2     31
3     37
4     26
5     28
6     31
7     30
8     26
ema
0    27.000000
1    25.857143
2    28.081081
3    31.342857
4    29.591549
5    29.107514
6    29.653518
7    29.749775
8    28.736230
Name: value, dtype: float64
ema is: 28.73622974416504
dataframe_val
   value
0   46.0
1   29.0
2   30.0
3   24.0
4   33.0
5   34.0
6   31.0
7   34.0
8   31.0
ema
0    46.000000
1    36.285714
2    33.567568
3    30.068571
4    31.029449
5    31.932878
6    31.663732
7    32.312777
8    31.957940
Name: value, dtype: float64
ema is: 31.957939627403995
dataframe_val
   value
0   24.0
1   13.0
2   21.0
3   16.0
4   15.0
5   15.0
6   21.0
7   17.0
8   17.0
ema
0    24.000000
1    17.714286
2    19.135135
3    17.988571
4    17.008963
5    16.397980
6    17.725717
7    17.524103
8    17.382441
Name: value, dtype: float64
ema is: 17.38244088740045
dataframe_val
   value
0    1.0
1    2.0
2    1.0
3    0.0
4    2.0
5    3.0
6    3.0
7    4.0
8    1.0
ema
0    1.000000
1    1.571429
2    1.324324
3    0.840000
4    1.220230
5    1.761509
6    2.118828
7    2.641441
8    2.197768
Name: value, dtype: float64
ema is: 2.1977678884439147
dataframe_val
   value
0   54.0
1   20.0
2   50.0
3   51.0
4   35.0
5   54.0
6   61.0
7   23.0
8   44.0
ema
0    54.000000
1    34.571429
2    41.243243
3    44.811429
4    41.595391
5    45.367983
6    49.878002
7    42.410954
8    42.840465
Name: value, dtype: float64
ema is: 42.8404650644846
dataframe_val
   value
0    3.0
1    1.0
2    2.0
3    4.0
4    2.0
5    4.0
6    7.0
7    2.0
8    2.0
ema
0    3.000000
1    1.857143
2    1.918919
3    2.680000
4    2.457106
5    2.926344
6    4.101641
7    3.517779
8    3.107531
Name: value, dtype: float64
ema is: 3.107530695658271
dataframe_val
   value
0    1.0
1    1.0
2    2.0
3    0.0
4    1.0
5    1.0
6    1.0
7    2.0
8    2.0
ema
0    1.000000
1    1.000000
2    1.432432
3    0.908571
4    0.938540
5    0.957232
6    0.969571
7    1.255837
8    1.456981
Name: value, dtype: float64
ema is: 1.4569807102998007
dataframe_val
   value
0  137.0
1   69.0
2  178.0
3  140.0
4  133.0
5  143.0
6  168.0
7   72.0
8  117.0
ema
0    137.000000
1     98.142857
2    132.675676
3    135.354286
4    134.582586
5    137.142560
6    146.045291
7    125.474574
8    123.183939
Name: value, dtype: float64
ema is: 123.1839388602703
dataframe_val
   value
0   18.0
1   22.0
2   36.0
3   41.0
4   27.0
5   30.0
6   25.0
7   37.0
8   32.0
ema
0    18.000000
1    20.285714
2    27.081081
3    32.171429
4    30.476312
5    30.331452
6    28.793266
7    31.073201
8    31.323710
Name: value, dtype: float64
ema is: 31.32370979250271
dataframe_val
   value
0   26.0
1   27.0
2   57.0
3   62.0
4   46.0
5   23.0
6   37.0
7  128.0
8   55.0
ema
0    26.000000
1    26.571429
2    39.729730
3    47.874286
4    47.259923
5    39.881794
6    39.050363
7    63.761696
8    61.393453
Name: value, dtype: float64
ema is: 61.393452967693776
dataframe_val
   value
0    0.0
1    0.0
2    1.0
3    3.0
4    1.0
5    2.0
6    2.0
7    0.0
8    0.0
ema
0    0.000000
1    0.000000
2    0.432432
3    1.371429
4    1.249680
5    1.477873
6    1.628513
7    1.176092
8    0.858200
Name: value, dtype: float64
ema is: 0.858199875443886
dataframe_val
   value
0   78.0
1   82.0
2  143.0
3  230.0
4  116.0
5   78.0
6  150.0
7  230.0
8  138.0
ema
0     78.000000
1     80.285714
2    107.405405
3    152.240000
4    140.361076
5    121.395307
6    129.648095
7    157.527122
8    152.249038
Name: value, dtype: float64
ema is: 152.24903798961483
dataframe_val
   value
0    1.0
1    1.0
2    3.0
3    3.0
4    2.0
5    3.0
6    3.0
7    2.0
8    2.0
ema
0    1.000000
1    1.000000
2    1.864865
3    2.280000
4    2.188220
5    2.435105
6    2.598084
7    2.431929
8    2.315181
Name: value, dtype: float64
ema is: 2.3151805857436867
dataframe_val
   value
0    0.0
1    1.0
2    1.0
3    0.0
4    0.0
5    0.0
6    1.0
7    2.0
8    0.0
ema
0    0.000000
1    0.571429
2    0.756757
3    0.480000
4    0.322663
5    0.224532
6    0.448264
7    0.879356
8    0.641670
Name: value, dtype: float64
ema is: 0.6416702067549008
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    9.0
2    0.0
3    0.0
4    0.0
5    0.0
6    3.0
7    5.0
8    0.0
ema
0    0.000000
1    5.142857
2    2.918919
3    1.851429
4    1.244558
5    0.866053
6    1.481721
7    2.459144
8    1.794449
Name: value, dtype: float64
ema is: 1.7944494166072071
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    2.0
2    0.0
3    1.0
4    1.0
5    0.0
6    1.0
7    4.0
8    0.0
ema
0    0.000000
1    1.142857
2    0.648649
3    0.777143
4    0.850192
5    0.591625
6    0.709446
7    1.623603
8    1.184751
Name: value, dtype: float64
ema is: 1.1847513620747254
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4   -1.0
5    0.0
6    0.0
7   16.0
8    0.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4   -0.327785
5   -0.228096
6   -0.162288
7    4.327800
8    3.158017
Name: value, dtype: float64
ema is: 3.158017165647258
dataframe_val
   value
0    0.0
1    1.0
2    1.0
3    0.0
4    3.0
5    2.0
6    2.0
7    1.0
8    3.0
ema
0    0.000000
1    0.571429
2    0.756757
3    0.480000
4    1.306018
5    1.517078
6    1.656406
7    1.474048
8    1.886505
Name: value, dtype: float64
ema is: 1.8865054586098382
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    7.0
1    5.0
2    6.0
3    4.0
4    8.0
5    7.0
6   10.0
7    5.0
8    9.0
ema
0    7.000000
1    5.857143
2    5.918919
3    5.217143
4    6.129321
5    6.394119
6    7.434458
7    6.758135
8    7.364100
Name: value, dtype: float64
ema is: 7.364099793368831
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    1.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    0.000000
5    0.000000
6    0.000000
7    0.000000
8    0.270295
Name: value, dtype: float64
ema is: 0.27029501651812043
dataframe_val
   value
0  124.0
1   58.0
2  125.0
3   50.0
4  167.0
5  108.0
6  205.0
7   68.0
8  211.0
ema
0    124.000000
1     86.285714
2    103.027027
3     83.634286
4    110.960307
5    110.059994
6    137.451293
7    118.156846
8    143.251888
Name: value, dtype: float64
ema is: 143.25188793249222
dataframe_val
   value
0    7.0
1    4.0
2    6.0
3    3.0
4    7.0
5    6.0
6    4.0
7    5.0
8    3.0
ema
0    7.000000
1    5.285714
2    5.594595
3    4.645714
4    5.417414
5    5.594595
6    5.134535
7    5.097160
8    4.530308
Name: value, dtype: float64
ema is: 4.530307967054496
dataframe_val
       value
0  45.000000
1  49.750000
2  39.166667
3  39.666667
4  40.714286
5  52.833333
6  42.750000
7  49.800000
8  46.000000
ema
0    45.000000
1    47.714286
2    44.018018
3    42.426667
4    41.865374
5    45.201041
6    44.493887
7    45.967992
8    45.976644
Name: value, dtype: float64
ema is: 45.97664378424336
dataframe_val
   value
0    1.0
1    1.0
2    2.0
3    3.0
4    1.0
5    0.0
6    2.0
7    1.0
8    3.0
ema
0    1.000000
1    1.000000
2    1.432432
3    2.005714
4    1.676056
5    1.166320
6    1.406847
7    1.293819
8    1.754992
Name: value, dtype: float64
ema is: 1.7549915244101113
dataframe_val
      value
0  1.000000
1  1.000000
2  0.500000
3  0.666667
4  0.000000
5  0.000000
6  1.000000
7  0.000000
8  1.000000
ema
0    1.000000
1    1.000000
2    0.783784
3    0.740952
4    0.498079
5    0.346599
6    0.535113
7    0.386452
8    0.552291
Name: value, dtype: float64
ema is: 0.5522908838947295
dataframe_val
   value
0    1.0
1    1.0
2    3.0
3    3.0
4    2.0
5    3.0
6    1.0
7    2.0
8    3.0
ema
0    1.000000
1    1.000000
2    1.864865
3    2.280000
4    2.188220
5    2.435105
6    2.021061
7    2.015210
8    2.281394
Name: value, dtype: float64
ema is: 2.2813937086789218
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
ema
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
Name: value, dtype: float64
ema is: 1.0
dataframe_val
   value
0     10
1     10
2     24
3     27
4     14
5     21
6     25
7     14
8     30
ema
0    10.000000
1    10.000000
2    16.054054
3    20.057143
4    18.071703
5    18.962281
6    20.704233
7    18.841713
8    21.857742
Name: value, dtype: float64
ema is: 21.85774206985866
dataframe_val
   value
0     34
1     14
2     21
3     10
4     34
5     27
6     35
7     20
8     28
ema
0    34.000000
1    22.571429
2    21.891892
3    17.542857
4    22.937260
5    24.172854
6    27.296612
7    25.269521
8    26.007556
Name: value, dtype: float64
ema is: 26.007555854343586
dataframe_val
   value
0     26
1     19
2     21
3     22
4     21
5     16
6     24
7     20
8     27
ema
0    26.000000
1    22.000000
2    21.567568
3    21.725714
4    21.487836
5    19.818830
6    21.025146
7    20.740348
8    22.432300
Name: value, dtype: float64
ema is: 22.432300452443897
dataframe_val
   value
0    122
1     36
2     23
3    134
4     95
5     23
6     93
7     84
8     32
ema
0    122.000000
1     72.857143
2     51.297297
3     81.542857
4     85.953905
5     66.807841
6     74.364584
7     77.041424
8     64.866952
Name: value, dtype: float64
ema is: 64.86695179843358
dataframe_val
   value
0     33
1      1
2      0
3     25
4     39
5      0
6     22
7     33
8      2
ema
0    33.000000
1    14.714286
2     8.351351
3    14.440000
4    22.490397
5    15.650431
6    17.482355
7    21.793353
8    16.443308
Name: value, dtype: float64
ema is: 16.443308408362583
dataframe_val
   value
0      2
1     38
2     46
3      2
4      2
5     96
6      0
7      1
8    120
ema
0     2.000000
1    22.571429
2    32.702703
3    21.474286
4    15.090909
5    39.697654
6    28.244418
7    20.675574
8    47.522472
Name: value, dtype: float64
ema is: 47.52247165523527
dataframe_val
   value
0     32
1     13
2     28
3     31
4     41
5     19
6     22
7     33
8     34
ema
0    32.000000
1    21.142857
2    24.108108
3    26.628571
4    31.339309
5    27.586576
6    25.974783
7    27.926477
8    29.568120
Name: value, dtype: float64
ema is: 29.568120233769555
dataframe_val
   value
0      2
1    123
2    306
3      2
4      1
5    282
6      3
7      1
8    341
ema
0      2.000000
1     71.142857
2    172.702703
3    110.274286
4     74.455826
5    137.575884
6     98.749172
7     71.593217
8    144.412528
Name: value, dtype: float64
ema is: 144.4125282004116
dataframe_val
   value
0     22
1      0
2      3
3     29
4     12
5      0
6     30
7     17
8      2
ema
0    22.000000
1     9.428571
2     6.648649
3    14.822857
4    13.897567
5     9.670924
6    15.536099
7    15.942789
8    12.174123
Name: value, dtype: float64
ema is: 12.174122848623078
dataframe_val
   value
0    212
1     35
2     33
3    338
4    147
5     30
6    359
7    178
8     28
ema
0    212.000000
1    110.857143
2     77.189189
3    172.571429
4    164.189501
5    123.378675
6    191.358174
7    187.647105
8    144.495288
Name: value, dtype: float64
ema is: 144.49528790197186
dataframe_val
   value
0      4
1      0
2      1
3      6
4      1
5      1
6      1
7      0
8      3
ema
0    4.000000
1    1.714286
2    1.405405
3    3.085714
4    2.402049
5    1.975646
6    1.694161
7    1.223501
8    1.703680
Name: value, dtype: float64
ema is: 1.7036801794927845
dataframe_val
   value
0     15
1      0
2      4
3      5
4     25
5      0
6      0
7     44
8      5
ema
0    15.000000
1     6.428571
2     5.378378
3     5.240000
4    11.717029
5     8.153549
6     5.801155
7    16.413277
8    13.328325
Name: value, dtype: float64
ema is: 13.328324967726767
dataframe_val
   value
0      8
1      4
2      3
3      3
4      6
5      4
6     12
7      0
8      1
ema
0    8.000000
1    5.714286
2    4.540541
3    3.977143
4    4.640205
5    4.445500
6    6.625062
7    4.784536
8    3.761595
Name: value, dtype: float64
ema is: 3.761594648211465
dataframe_val
   value
0    204
1    123
2    273
3    335
4    141
5    282
6    347
7    178
8    298
ema
0    204.000000
1    157.714286
2    207.567568
3    254.171429
4    217.075544
5    236.820909
6    268.608861
7    243.436575
8    258.184797
Name: value, dtype: float64
ema is: 258.1847967301958
dataframe_val
   value
0    354
1    250
2    366
3    405
4    261
5    350
6    468
7    316
8    383
ema
0    354.000000
1    294.571429
2    325.459459
3    354.548571
4    323.884763
5    331.827146
6    371.114602
7    355.803069
8    363.154264
Name: value, dtype: float64
ema is: 363.15426398472334
dataframe_val
   value
0      0
1      1
2      2
3      2
4      0
5      3
6      0
7      1
8      3
ema
0    0.000000
1    0.571429
2    1.189189
3    1.485714
4    0.998720
5    1.607366
6    1.143622
7    1.103722
8    1.616276
Name: value, dtype: float64
ema is: 1.616276432085985
dataframe_val
   value
0      0
1      2
2      3
3      1
4      0
5      1
6      0
7      1
8      3
ema
0    0.000000
1    1.142857
2    1.945946
3    1.600000
4    1.075544
5    1.052569
6    0.748891
7    0.818652
8    1.408259
Name: value, dtype: float64
ema is: 1.4082594726574582
dataframe_val
   value
0      4
1      1
2      5
3      7

ema
0    34.000000
1    27.714286
2    23.945946
3    31.645714
4    29.467350
5    32.974755
6    28.365852
7    29.097652
8    27.719782
Name: value, dtype: float64
ema is: 27.71978173809396
dataframe_val
   value
0      1
1    264
2    241
3      2
4    319
5      1
6    200
7      1
8      1
ema
0      1.000000
1    151.285714
2    190.081081
3    121.297143
4    186.101152
5    129.806653
6    150.058252
7    108.647986
8     79.551272
Name: value, dtype: float64
ema is: 79.55127216335823
dataframe_val
   value
0     28
1      1
2      0
3     11
4      0
5     12
6      0
7      9
8     16
ema
0    28.000000
1    12.571429
2     7.135135
3     8.548571
4     5.746479
5     7.648352
6     5.441713
7     6.430250
8     9.016906
Name: value, dtype: float64
ema is: 9.016905811656308
dataframe_val
   value
0    282
1     30
2     35
3    146
4     31
5    175
6     35
7     87
8    248
ema
0    282.000000
1    138.000000
2     93.459459
3    112.674286
4     85.902689
5    112.999703
6     90.495879
7     89.524680
8    132.359769
Name: value, dtype: float64
ema is: 132.35976919999504
dataframe_val
   value
0      3
1      2
2      0
3      1
4      1
5      1
6      2
7      0
8      1
ema
0    3.000000
1    2.428571
2    1.378378
3    1.240000
4    1.161332
5    1.112266
6    1.368388
7    0.988232
8    0.991413
Name: value, dtype: float64
ema is: 0.9914130519959911
dataframe_val
   value
0      0
1      4
2      5
3     21
4      2
5     22
6      4
7     14
8      6
ema
0     0.000000
1     2.285714
2     3.459459
3     9.874286
4     7.293214
5    11.765964
6     9.525393
7    10.768495
8     9.479595
Name: value, dtype: float64
ema is: 9.479594656460215
dataframe_val
   value
0     36
1      0
2      1
3      0
4      0
5      6
6      3
7     25
8     29
ema
0    36.000000
1    15.428571
2     9.189189
3     5.828571
4     3.918054
5     4.551233
6     4.103684
7     9.908944
8    15.069162
Name: value, dtype: float64
ema is: 15.069161638366582
dataframe_val
   value
0    246
1    239
2    205
3    146
4    310
5    169
6    163
7     62
8    219
ema
0    246.000000
1    242.000000
2    226.000000
3    196.742857
4    233.866837
5    214.138996
6    199.384800
7    161.217567
8    176.835871
Name: value, dtype: float64
ema is: 176.83587051113375
dataframe_val
   value
0    390
1    361
2    296
3    381
4    419
5    257
6    254
7    114
8    319
ema
0    390.000000
1    373.428571
2    339.945946
3    354.960000
4    375.951344
5    339.774874
6    315.027823
7    259.179754
8    275.348868
Name: value, dtype: float64
ema is: 275.348868477817
dataframe_val
   value
0      1
1      2
2      3
3      1
4      2
5      1
6      3
7      0
8      0
ema
0    1.000000
1    1.571429
2    2.189189
3    1.754286
4    1.834827
5    1.580933
6    1.990350
7    1.437406
8    1.048882
Name: value, dtype: float64
ema is: 1.0488820882533687
dataframe_val
   value
0      0
1      4
2      2
3      1
4      0
5      0
6      3
7      0
8      2
ema
0    0.000000
1    2.285714
2    2.162162
3    1.737143
4    1.167734
5    0.812593
6    1.443685
7    1.042611
8    1.301389
Name: value, dtype: float64
ema is: 1.3013886769418588
dataframe_val
   value
0      3
1      3
2      1
3      2
4      1
5      1
6      2
7      0
8      3
ema
0    3.000000
1    3.000000
2    2.135135
3    2.085714
4    1.729834
5    1.507871
6    1.649856
7    1.191505
8    1.680332
Name: value, dtype: float64
ema is: 1.6803320946461493
dataframe_val
   value
0     30
1      5
2     11
3     75
4      8
5     55
6      6
7     35
8     51
ema
0    30.000000
1    15.714286
2    13.675676
3    36.102857
4    26.891165
5    35.439857
6    26.946115
7    29.183586
8    35.080454
Name: value, dtype: float64
ema is: 35.08045417613555
dataframe_val
       value
0  50.000000
1  46.153846
2  21.428571
3  45.454545
4  22.222222
5  46.153846
6  25.000000
7  36.363636
8  28.571429
ema
0    50.000000
1    47.802198
2    36.397386
3    39.709719
4    33.977582
5    37.680728
6    34.022190
7    34.672674
8    33.023538
Name: value, dtype: float64
ema is: 33.02353751766235
dataframe_val
        value
0  100.000000
1    0.000000
2   66.666667
3    0.000000
4  100.000000
5    0.000000
6    0.000000
7    0.000000
8   50.000000
ema
0    100.000000
1     42.857143
2     53.153153
3     33.714286
4     55.441741
5     38.580339
6     27.449461
7     19.823654
8     27.980170
Name: value, dtype: float64
ema is: 27.980170006722734
dataframe_val
   value
0     38
1     33
2     33
3     30
4     29
5     32
6     28
7     24
8     34
ema
0    38.000000
1    35.142857
2    34.216216
3    32.674286
4    31.469910
5    31.631126
6    30.583504
7    28.754523
8    30.172349
Name: value, dtype: float64
ema is: 30.172349367527147
dataframe_val
   value
0   44.0
1   34.0
2   33.0
3   19.0
4   33.0
5   18.0
6   26.0
7   16.0
8   28.0
ema
0    44.000000
1    38.285714
2    36.000000
3    29.782857
4    30.837388
5    26.933175
6    26.663943
7    23.701365
8    24.863265
Name: value, dtype: float64
ema is: 24.863264607503886
dataframe_val
   value
0   28.0
1   23.0
2   19.0
3   11.0
4   25.0
5   12.0
6   17.0
7    9.0
8   16.0
ema
0    28.000000
1    25.142857
2    22.486486
3    18.285714
4    20.486556
5    17.905554
6    17.644291
7    15.242798
8    15.447466
Name: value, dtype: float64
ema is: 15.44746577800141
dataframe_val
   value
0    3.0
1    1.0
2    0.0
3    1.0
4    0.0
5    1.0
6    0.0
7    0.0
8    1.0
ema
0    3.000000
1    1.857143
2    1.054054
3    1.034286
4    0.695262
5    0.787942
6    0.560611
7    0.404866
8    0.565728
Name: value, dtype: float64
ema is: 0.5657280964773717
dataframe_val
   value
0   53.0
1   53.0
2   32.0
3   52.0
4   47.0
5   42.0
6   50.0
7   22.0
8  104.0
ema
0    53.000000
1    53.000000
2    43.918919
3    46.874286
4    46.915493
5    45.420552
6    46.741776
7    39.868198
8    57.202705
Name: value, dtype: float64
ema is: 57.20270476489002
dataframe_val
   value
0    4.0
1    4.0
2    5.0
3    0.0
4    2.0
5    1.0
6    4.0
7    4.0
8    4.0
ema
0    4.000000
1    4.000000
2    4.432432
3    2.811429
4    2.545455
5    2.075438
6    2.630697
7    3.011106
8    3.278399
Name: value, dtype: float64
ema is: 3.278399412689051
dataframe_val
   value
0    2.0
1    2.0
2    1.0
3    0.0
4    3.0
5    1.0
6    0.0
7    0.0
8    0.0
ema
0    2.000000
1    2.000000
2    1.567568
3    0.994286
4    1.651729
5    1.453519
6    1.034162
7    0.746859
8    0.544987
Name: value, dtype: float64
ema is: 0.5449866164042877
dataframe_val
   value
0  141.0
1  143.0
2  137.0
3   88.0
4  135.0
5   79.0
6  131.0
7   48.0
8  168.0
ema
0    141.000000
1    142.142857
2    139.918919
3    120.931429
4    125.542894
5    111.387882
6    117.046207
7     97.864298
8    116.821629
Name: value, dtype: float64
ema is: 116.82162904549598
dataframe_val
   value
0   31.0
1   31.0
2   28.0
3   36.0
4   26.0
5   34.0
6   21.0
7   23.0
8   31.0
ema
0    31.000000
1    31.000000
2    29.702703
3    32.005714
4    30.037132
5    31.242352
6    28.287314
7    26.818432
8    27.948689
Name: value, dtype: float64
ema is: 27.948688655082673
dataframe_val
   value
0   69.0
1   46.0
2   39.0
3   65.0
4   61.0
5   29.0
6   71.0
7   25.0
8   25.0
ema
0    69.000000
1    55.857143
2    48.567568
3    54.577143
4    56.682458
5    48.263439
6    54.823202
7    46.537940
8    40.716342
Name: value, dtype: float64
ema is: 40.71634200964279
dataframe_val
   value
0    0.0
1    0.0
2    1.0
3    3.0
4    0.0
5    0.0
6    2.0
7    1.0
8    1.0
ema
0    0.000000
1    0.000000
2    0.432432
3    1.371429
4    0.921895
5    0.641521
6    1.033458
7    1.024163
8    1.017632
Name: value, dtype: float64
ema is: 1.017631701593246
dataframe_val
   value
0  144.0
1  122.0
2   91.0
3  235.0
4  109.0
5   88.0
6   91.0
7   52.0
8  100.0
ema
0    144.000000
1    131.428571
2    113.945946
3    158.217143
4    142.084507
5    125.635878
6    115.643023
7     97.962187
8     98.512998
Name: value, dtype: float64
ema is: 98.51299796668332
dataframe_val
   value
0    2.0
1    2.0
2    2.0
3    3.0
4    3.0
5    1.0
6    2.0
7    1.0
8    1.0
ema
0    2.000000
1    2.000000
2    2.000000
3    2.365714
4    2.573624
5    2.095040
6    2.067620
7    1.771022
8    1.562618
Name: value, dtype: float64
ema is: 1.5626183179975337
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    2.0
4    0.0
5    1.0
6    1.0
7    1.0
8    0.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.731429
4    0.491677
5    0.646273
6    0.748327
7    0.818245
8    0.597077
Name: value, dtype: float64
ema is: 0.597077468128895
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    1.0
8    0.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    0.000000
5    0.000000
6    0.000000
7    0.277813
8    0.202721
Name: value, dtype: float64
ema is: 0.2027212623885903
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    9.0
4    0.0
5   10.0
6    9.0
7   97.0
8    0.0
ema
0     0.000000
1     0.000000
2     0.000000
3     3.291429
4     2.212548
5     4.580933
6     5.855885
7    31.176872
8    22.749919
Name: value, dtype: float64
ema is: 22.749918543600828
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    3.0
1    3.0
2    2.0
3    2.0
4    1.0
5    1.0
6    2.0
7    0.0
8    0.0
ema
0    3.000000
1    3.000000
2    2.567568
3    2.360000
4    1.914213
5    1.636175
6    1.741142
7    1.257431
8    0.917554
Name: value, dtype: float64
ema is: 0.9175537509125179
dataframe_val
   value
0    0.0
1    1.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.000000
1    0.571429
2    0.324324
3    0.205714
4    0.138284
5    0.096228
6    0.068465
7    0.049445
8    0.036080
Name: value, dtype: float64
ema is: 0.036080029365547446
dataframe_val
   value
0    0.0
1   32.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0     0.000000
1    18.285714
2    10.378378
3     6.582857
4     4.425096
5     3.079299
6     2.190885
7     1.582230
8     1.154561
Name: value, dtype: float64
ema is: 1.1545609396975183
dataframe_val
   value
0    0.0
1    0.0
2    1.0
3    2.0
4    0.0
5    6.0
6    3.0
7    2.0
8    1.0
ema
0    0.000000
1    0.000000
2    0.432432
3    1.005714
4    0.676056
5    2.295218
6    2.498556
7    2.360051
8    1.992436
Name: value, dtype: float64
ema is: 1.9924358969071314
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    5.0
1    4.0
2    5.0
3    6.0
4    7.0
5    4.0
6    8.0
7    3.0
8    8.0
ema
0    5.000000
1    4.428571
2    4.675676
3    5.160000
4    5.763124
5    5.226908
6    6.026978
7    5.186045
8    5.946643
Name: value, dtype: float64
ema is: 5.946642965260392
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0  168.0
1   89.0
2  103.0
3   72.0
4   93.0
5   65.0
6  101.0
7   48.0
8  132.0
ema
0    168.000000
1    122.857143
2    114.270270
3     98.811429
4     96.906530
5     87.202851
6     91.183489
7     79.186571
8     93.461777
Name: value, dtype: float64
ema is: 93.46177735800809
dataframe_val
   value
0    1.0
1    1.0
2    7.0
3    5.0
4    2.0
5    3.0
6    6.0
7    5.0
8    5.0
ema
0    1.000000
1    1.000000
2    3.594595
3    4.108571
4    3.417414
5    3.290466
6    4.072198
7    4.329953
8    4.511064
Name: value, dtype: float64
ema is: 4.511063634976347
dataframe_val
       value
0  55.000000
1  48.000000
2  43.857143
3  37.200000
4  51.000000
5  48.666667
6  37.666667
7  47.800000
8  48.000000
ema
0    55.000000
1    51.000000
2    47.911197
3    43.993959
4    46.290434
5    47.013113
6    44.316554
7    45.284300
8    46.018340
Name: value, dtype: float64
ema is: 46.018339915638855
dataframe_val
   value
0    3.0
1    4.0
2    1.0
3    1.0
4    2.0
5    4.0
6    1.0
7    1.0
8    1.0
ema
0    3.000000
1    3.571429
2    2.459459
3    1.925714
4    1.950064
5    2.573508
6    2.119532
7    1.808512
8    1.589975
Name: value, dtype: float64
ema is: 1.5899752949958965
dataframe_val
      value
0  0.666667
1  0.500000
2  0.000000
3  0.000000
4  1.000000
5  1.000000
6  1.000000
7  1.000000
8  1.000000
ema
0    0.666667
1    0.571429
2    0.324324
3    0.205714
4    0.466069
5    0.628453
6    0.735648
7    0.809089
8    0.860691
Name: value, dtype: float64
ema is: 0.8606909977274696
dataframe_val
   value
0    1.0
1    3.0
2    2.0
3    3.0
4    3.0
5    0.0
6    2.0
7    2.0
8    1.0
ema
0    1.000000
1    2.142857
2    2.081081
3    2.417143
4    2.608195
5    1.814969
6    1.868352
7    1.904926
8    1.660329
Name: value, dtype: float64
ema is: 1.6603288776339287
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    0.0
6    1.0
7    1.0
8    1.0
ema
0    1.000000
1    1.000000
2    1.000000
3    1.000000
4    1.000000
5    0.695872
6    0.783616
7    0.843730
8    0.885969
Name: value, dtype: float64
ema is: 0.885969289906418
dataframe_val
   value
0     21
1     27
2     14
3     21
4     27
5     18
6     17
7     17
8     10
ema
0    21.000000
1    24.428571
2    19.918919
3    20.314286
4    22.505762
5    21.135432
6    19.942312
7    19.124900
8    16.658485
Name: value, dtype: float64
ema is: 16.658485282169092
dataframe_val
   value
0     24
1     24
2     20
3     18
4     24
5     17
6     30
7     10
8     16
ema
0    24.000000
1    24.000000
2    22.270270
3    20.708571
4    21.787452
5    20.331452
6    23.120941
7    19.475778
8    18.536292
Name: value, dtype: float64
ema is: 18.536292434659593
dataframe_val
   value
0     14
1     16
2     17
3     23
4     22
5     23
6     14
7     11
8     12
ema
0    14.000000
1    15.142857
2    15.945946
3    18.525714
4    19.664533
5    20.678943
6    18.751990
7    16.598389
8    15.355467
Name: value, dtype: float64
ema is: 15.355467477243764
dataframe_val
   value
0     20
1    101
2     91
3     36
4     51
5     78
6     20
7     17
8     27
ema
0    20.000000
1    66.285714
2    76.972973
3    61.988571
4    58.386684
5    64.351648
6    51.555681
7    41.955676
8    37.913231
Name: value, dtype: float64
ema is: 37.91323140628802
dataframe_val
   value
0      0
1     43
2     29
3      0
4     45
5     38
6      0
7      0
8      0
ema
0     0.000000
1    24.571429
2    26.486486
3    16.800000
4    26.043534
5    29.679834
6    21.116856
7    15.250326
8    11.128239
Name: value, dtype: float64
ema is: 11.128239180734221
dataframe_val
   value
0    140
1      2
2      1
3     90
4      1
5      0
6    161
7    148
8    100
ema
0    140.000000
1     61.142857
2     35.135135
3     55.200000
4     37.434059
5     26.049302
6     64.984152
7     88.047003
8     91.277838
Name: value, dtype: float64
ema is: 91.27783849773778
dataframe_val
   value
0     15
1     23
2     33
3     27
4     32
5     34
6     20
7     18
8     15
ema
0    15.000000
1    19.571429
2    25.378378
3    25.971429
4    27.947503
5    29.788239
6    26.964218
7    24.473845
8    21.913112
Name: value, dtype: float64
ema is: 21.91311179942341
dataframe_val
   value
0    190
1      0
2      1
3    256
4      1
5      1
6    211
7    150
8    250
ema
0    190.000000
1     81.428571
2     46.648649
3    123.211429
4     83.152369
5     58.167508
6    102.261464
7    115.523832
8    151.872070
Name: value, dtype: float64
ema is: 151.8720701473639
dataframe_val
   value
0      0
1      4
2     19
3      1
4      9
5     21
6      0
7      0
8      0
ema
0     0.000000
1     2.285714
2     9.513514
3     6.400000
4     7.252241
5    11.433323
6     8.134676
7     5.874760
8     4.286842
Name: value, dtype: float64
ema is: 4.286842007580601
dataframe_val
   value
0     41
1    176
2    201
3     35
4    101
5    275
6     40
7     35
8     28
ema
0     41.000000
1    118.142857
2    153.972973
3    110.462857
4    107.361076
5    158.344817
6    124.200958
7     99.419805
8     80.115388
Name: value, dtype: float64
ema is: 80.11538762935072
dataframe_val
   value
0      0
1      3
2      0
3      0
4      1
5      0
6      1
7      0
8      0
ema
0    0.000000
1    1.714286
2    0.972973
3    0.617143
4    0.742638
5    0.516781
6    0.656195
7    0.473896
8    0.345804
Name: value, dtype: float64
ema is: 0.34580406745827164
dataframe_val
   value
0      2
1     32
2     36
3      1
4     36
5     28
6      4
7      2
8      1
ema
0     2.000000
1    19.142857
2    26.432432
3    17.131429
4    23.316261
5    24.740719
6    18.756780
7    14.101535
8    10.560255
Name: value, dtype: float64
ema is: 10.560255051327843
dataframe_val
   value
0      2
1      0
2      0
3      3
4      3
5     16
6      0
7      2
8      4
ema
0    2.000000
1    0.857143
2    0.486486
3    1.405714
4    1.928297
5    6.207900
6    4.416849
7    3.745418
8    3.814230
Name: value, dtype: float64
ema is: 3.814229917388776
dataframe_val
   value
0    174
1    176
2    201
3    246
4     98
5    259
6    186
7    139
8    244
ema
0    174.000000
1    175.142857
2    186.324324
3    208.148571
4    172.043534
5    198.489456
6    194.886103
7    179.360237
8    196.832043
Name: value, dtype: float64
ema is: 196.83204309146626
dataframe_val
   value
0    234
1    348
2    261
3    406
4    318
5    374
6    301
7    186
8    324
ema
0    234.000000
1    299.142857
2    282.648649
3    327.760000
4    324.560819
5    339.596674
6    328.461083
7    288.883595
8    298.375384
Name: value, dtype: float64
ema is: 298.3753840823885
dataframe_val
   value
0      0
1      0
2      1
3      1
4      2
5      1
6      3
7      1
8      0
ema
0    0.000000
1    0.000000
2    0.432432
3    0.640000
4    1.085787
5    1.059697
6    1.619497
7    1.447393
8    1.056170
Name: value, dtype: float64
ema is: 1.0561698582452437
dataframe_val
   value
0      2
1      0
2      1
3      1
4      1
5      0
6      1
7      0
8      2
ema
0    2.000000
1    0.857143
2    0.918919
3    0.948571
4    0.965429
5    0.671815
6    0.766500
7    0.553557
8    0.944523
Name: value, dtype: float64
ema is: 0.9445230366945612
dataframe_val
   value
0      0
1      3
2      1
3      2
4      2
5      0
6      3
7      0
8      0
ema
0    0.000000
1    1.714286
2    1.405405
3    1.622857
4    1.746479
5    1.215325
6    1.730225
7    1.249546
8    0.911800
Name: value, dtype: float64
ema is: 0.9118002482873534
dataframe_val
   value
0      9
1     50
2    112
3      9
4     79
5     35
6      4
7      2
8      5
ema
0     9.000000
1    32.428571
2    66.837838
3    45.685714
4    56.605634
5    50.034749
6    36.753187
7    27.098313
8    21.125249
Name: value, dtype: float64
ema is: 21.12524900911899
dataframe_val
       value
0   8.333333
1  42.857143
2  40.000000
3  58.333333
4  16.666667
5  35.294118
6   9.090909
7  26.666667
8   0.000000
ema
0     8.333333
1    28.061224
2    33.223938
3    42.406803
4    33.969575

dataframe_val
   value
0     23
1     12
2     15
3     30
4     15
5     35
6     29
7     16
8     18
ema
0    23.000000
1    16.714286
2    15.972973
3    21.102857
4    19.102433
5    23.937333
6    25.397971
7    22.787096
8    21.493168
Name: value, dtype: float64
ema is: 21.49316797340603
dataframe_val
   value
0      1
1    179
2    138
3      2
4    174
5      1
6      3
7    164
8    189
ema
0      1.000000
1    102.714286
2    117.972973
3     75.560000
4    107.827145
5     75.337986
6     54.467634
7     84.897109
8    113.035602
Name: value, dtype: float64
ema is: 113.03560160190712
dataframe_val
   value
0     10
1      1
2      1
3     16
4      1
5     17
6     30
7      1
8      0
ema
0    10.000000
1     4.857143
2     3.189189
3     7.874286
4     5.620999
5     9.081675
6    15.116856
7    11.195015
8     8.169058
Name: value, dtype: float64
ema is: 8.169058116563075
dataframe_val
   value
0     69
1     30
2     43
3    156
4     47
5    189
6    302
7     34
8     25
ema
0     69.000000
1     46.714286
2     45.108108
3     85.662857
4     72.989757
5    108.271755
6    164.164612
7    128.003239
8    100.161977
Name: value, dtype: float64
ema is: 100.16197656530329
dataframe_val
   value
0      1
1      2
2      3
3      0
4      1
5      0
6      1
7      1
8      2
ema
0    1.000000
1    1.571429
2    2.189189
3    1.388571
4    1.261204
5    0.877636
6    0.912939
7    0.937126
8    1.224415
Name: value, dtype: float64
ema is: 1.2244154730039059
dataframe_val
   value
0      0
1      7
2      6
3      9
4      3
5      0
6      0
7      1
8      7
ema
0    0.000000
1    4.000000
2    4.864865
3    6.377143
4    5.270166
5    3.667360
6    2.609284
7    2.162204
8    3.469836
Name: value, dtype: float64
ema is: 3.4698363860579637
dataframe_val
   value
0     24
1      3
2      0
3     31
4      2
5     18
6     14
7      1
8      0
ema
0    24.000000
1    12.000000
2     6.810811
3    15.657143
4    11.180538
5    13.254529
6    13.469606
7    10.005392
8     7.300984
Name: value, dtype: float64
ema is: 7.300984488226971
dataframe_val
   value
0     45
1    140
2    105
3    125
4    151
5    171
6    288
7    156
8    145
ema
0     45.000000
1     99.285714
2    101.756757
3    110.257143
4    123.612036
5    138.024057
6    181.293865
7    174.266910
8    166.356210
Name: value, dtype: float64
ema is: 166.35620986467927
dataframe_val
   value
0    146
1    259
2    251
3    201
4    219
5    267
6    409
7    315
8    229
ema
0    146.000000
1    210.571429
2    228.054054
3    218.160000
4    218.435339
5    233.205227
6    283.924068
7    292.557355
8    275.378119
Name: value, dtype: float64
ema is: 275.378118542776
dataframe_val
   value
0      1
1      1
2      3
3      0
4      2
5      1
6      0
7      2
8      2
ema
0    1.000000
1    1.000000
2    1.864865
3    1.182857
4    1.450704
5    1.313632
6    0.934634
7    1.230606
8    1.438570
Name: value, dtype: float64
ema is: 1.4385695018992746
dataframe_val
   value
0      1
1      2
2      0
3      0
4      3
5      0
6      0
7      2
8      2
ema
0    1.000000
1    1.571429
2    0.891892
3    0.565714
4    1.363636
5    0.948916
6    0.675143
7    1.043205
8    1.301822
Name: value, dtype: float64
ema is: 1.3018217362792366
dataframe_val
   value
0      2
1      2
2      3
3      0
4      3
5      0
6      1
7      2
8      1
ema
0    2.000000
1    2.000000
2    2.432432
3    1.542857
4    2.020487
5    1.405999
6    1.288864
7    1.486426
8    1.354948
Name: value, dtype: float64
ema is: 1.3549478060389093
dataframe_val
   value
0     69
1      7
2      8
3     70
4      7
5     35
6     46
7     10
8      8
ema
0    69.000000
1    33.571429
2    22.513514
3    39.880000
4    29.102433
5    30.896050
6    35.253716
7    28.237914
8    22.767707
Name: value, dtype: float64
ema is: 22.767706971430453
dataframe_val
       value
0  16.666667
1  41.176471
2  41.176471
3  33.333333
4  12.500000
5  21.428571
6  46.153846
7  70.588235
8  14.285714
ema
0    16.666667
1    30.672269
2    35.214626
3    34.526611
4    27.306620
5    25.518939
6    31.472351
7    42.339237
8    34.756510
Name: value, dtype: float64
ema is: 34.75650994479371
dataframe_val
        value
0    0.000000
1   50.000000
2   33.333333
3    0.000000
4    0.000000
5    0.000000
6  100.000000
7    0.000000
8   50.000000
ema
0     0.000000
1    28.571429
2    30.630631
3    19.428571
4    13.060179
5     9.088209
6    35.317321
7    25.505723
8    32.126404
Name: value, dtype: float64
ema is: 32.12640383401867
dataframe_val
   value
0     24
1     29
2     27
3     26
4     25
5     32
6     31
7     32
8     28
ema
0    24.000000
1    26.857143
2    26.918919
3    26.582857
4    26.064020
5    27.869320
6    28.772558
7    29.669182
8    29.218010
Name: value, dtype: float64
ema is: 29.218010319185353
dataframe_val
   value
0   26.0
1   30.0
2   33.0
3   29.0
4   27.0
5   30.0
6   48.0
7   28.0
8   33.0
ema
0    26.000000
1    28.285714
2    30.324324
3    29.840000
4    28.909091
5    29.240867
6    34.653096
7    32.804782
8    32.857548
Name: value, dtype: float64
ema is: 32.8575482242505
dataframe_val
   value
0   10.0
1   12.0
2   15.0
3   16.0
4   15.0
5   17.0
6   30.0
7   16.0
8   18.0
ema
0    10.000000
1    11.142857
2    12.810811
3    13.977143
4    14.312420
5    15.129789
6    19.420018
7    18.469894
8    18.342884
Name: value, dtype: float64
ema is: 18.34288401021195
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    0.0
4    1.0
5    0.0
6    1.0
7    1.0
8    0.0
ema
0    1.000000
1    1.000000
2    1.000000
3    0.634286
4    0.754161
5    0.524800
6    0.661900
7    0.755829
8    0.551532
Name: value, dtype: float64
ema is: 0.5515319989606576
dataframe_val
   value
0   21.0
1   93.0
2   18.0
3   19.0
4   53.0
5   39.0
6   23.0
7   28.0
8   24.0
ema
0    21.000000
1    62.142857
2    43.054054
3    34.257143
4    40.400768
5    39.974755
6    35.077340
7    33.111166
8    30.648463
Name: value, dtype: float64
ema is: 30.648463051789772
dataframe_val
   value
0    4.0
1    7.0
2    6.0
3    5.0
4    3.0
5    4.0
6    1.0
7    1.0
8    7.0
ema
0    4.000000
1    5.714286
2    5.837838
3    5.531429
4    4.701665
5    4.488268
6    3.481862
7    2.792370
8    3.929671
Name: value, dtype: float64
ema is: 3.9296711636098176
dataframe_val
   value
0    0.0
1    1.0
2    1.0
3    2.0
4    1.0
5    1.0
6    3.0
7    1.0
8    1.0
ema
0    0.000000
1    0.571429
2    0.756757
3    1.211429
4    1.142125
5    1.098901
6    1.647390
7    1.467537
8    1.341164
Name: value, dtype: float64
ema is: 1.3411641459863648
dataframe_val
   value
0   40.0
1  133.0
2   71.0
3   85.0
4  108.0
5   91.0
6  116.0
7   83.0
8  112.0
ema
0    40.000000
1    93.142857
2    83.567568
3    84.091429
4    91.928297
5    91.645976
6    98.672396
7    94.318406
8    99.097653
Name: value, dtype: float64
ema is: 99.09765281839141
dataframe_val
   value
0   22.0
1   29.0
2   35.0
3   23.0
4   20.0
5   29.0
6   23.0
7   45.0
8   20.0
ema
0    22.000000
1    26.000000
2    29.891892
3    27.371429
4    24.955186
5    26.185328
6    25.266324
7    30.748588
8    27.843299
Name: value, dtype: float64
ema is: 27.84329850986344
dataframe_val
   value
0   60.0
1   52.0
2   47.0
3   29.0
4   39.0
5   28.0
6   35.0
7   33.0
8   36.0
ema
0    60.000000
1    55.428571
2    51.783784
3    43.451429
4    41.992318
5    37.736858
6    36.947242
7    35.850649
8    35.891018
Name: value, dtype: float64
ema is: 35.891017524467856
dataframe_val
   value
0    0.0
1    1.0
2    0.0
3    0.0
4    1.0
5    1.0
6    0.0
7    1.0
8    0.0
ema
0    0.000000
1    0.571429
2    0.324324
3    0.205714
4    0.466069
5    0.628453
6    0.447137
7    0.600729
8    0.438355
Name: value, dtype: float64
ema is: 0.4383550344179064
dataframe_val
   value
0  101.0
1  119.0
2  146.0
3   76.0
4   68.0
5   96.0
6  121.0
7  159.0
8   84.0
ema
0    101.000000
1    111.285714
2    126.297297
3    107.902857
4     94.823303
5     95.181170
6    102.630204
7    118.290445
8    109.021909
Name: value, dtype: float64
ema is: 109.02190867809668
dataframe_val
   value
0    0.0
1    2.0
2    1.0
3    2.0
4    2.0
5    2.0
6    3.0
7    2.0
8    1.0
ema
0    0.000000
1    1.142857
2    1.081081
3    1.417143
4    1.608195
5    1.727354
6    2.094527
7    2.068266
8    1.779519
Name: value, dtype: float64
ema is: 1.7795191804042712
dataframe_val
   value
0    0.0
1    0.0
2    1.0
3    1.0
4    1.0
5    0.0
6    0.0
7    2.0
8    0.0
ema
0    0.000000
1    0.000000
2    0.432432
3    0.640000
4    0.758003
5    0.527473
6    0.375291
7    0.826655
8    0.603215
Name: value, dtype: float64
ema is: 0.6032145375957371
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    1.0
8    0.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    0.000000
5    0.000000
6    0.000000
7    0.277813
8    0.202721
Name: value, dtype: float64
ema is: 0.2027212623885903
dataframe_val
   value
0    0.0
1    0.0
2    5.0
3    2.0
4   17.0
5    0.0
6    0.0
7   48.0
8    0.0
ema
0     0.000000
1     0.000000
2     2.162162
3     2.102857
4     6.985915
5     4.861301
6     3.458759
7    15.832878
8    11.553330
Name: value, dtype: float64
ema is: 11.553330226304437
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    2.0
1    2.0
2    1.0
3    0.0
4    2.0
5    2.0
6    0.0
7    3.0
8    1.0
ema
0    2.000000
1    2.000000
2    1.567568
3    0.994286
4    1.323944
5    1.529552
6    1.088258
7    1.619364
8    1.451953
Name: value, dtype: float64
ema is: 1.4519530976115747
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    3.0
2    0.0
3    2.0
4    2.0
5    0.0
6    0.0
7    1.0
8    0.0
ema
0    0.000000
1    1.714286
2    0.972973
3    1.348571
4    1.562100
5    1.087021
6    0.773403
7    0.836354
8    0.610292
Name: value, dtype: float64
ema is: 0.6102919644808856
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    5.0
1    7.0
2    5.0
3    9.0
4    7.0
5    6.0
6    3.0
7    5.0
8    8.0
ema
0    5.000000
1    6.142857
2    5.648649
3    6.874286
4    6.915493
5    6.637066
6    5.587730
7    5.424451
8    6.120609
Name: value, dtype: float64
ema is: 6.120609087647085
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0   77.0
1  138.0
2   97.0
3  179.0
4  114.0
5   85.0
6   59.0
7   72.0
8   48.0
ema
0     77.000000
1    111.857143
2    105.432432
3    132.337143
4    126.326504
5    113.757945
6     97.959639
7     90.747724
8     79.193227
Name: value, dtype: float64
ema is: 79.19322695196341
dataframe_val
   value
0    8.0
1    6.0
2    6.0
3    8.0
4    5.0
5    8.0
6    1.0
7    3.0
8    9.0
ema
0    8.000000
1    6.857143
2    6.486486
3    7.040000
4    6.371319
5    6.866647
6    5.174051
7    4.570072
8    5.767460
Name: value, dtype: float64
ema is: 5.767459508951955
dataframe_val
    value
0  43.125
1  41.500
2  46.500
3  45.375
4  46.200
5  48.500
6  55.000
7  37.000
8  41.000
ema
0    43.125000
1    42.196429
2    44.057432
3    44.539286
4    45.083643
5    46.122654
6    48.683872
7    45.437944
8    44.238390
Name: value, dtype: float64
ema is: 44.23839019471173
dataframe_val
   value
0    2.0
1    1.0
2    1.0
3    0.0
4    1.0
5    2.0
6    4.0
7    1.0
8    0.0
ema
0    2.000000
1    1.428571
2    1.243243
3    0.788571
4    0.857875
5    1.205227
6    2.011552
7    1.730530
8    1.262776
Name: value, dtype: float64
ema is: 1.2627762815463106
dataframe_val
   value
0    0.5
1    1.0
2    1.0
3    0.0
4    1.0
5    1.0
6    0.5
7    1.0
8    0.0
ema
0    0.500000
1    0.785714
2    0.878378
3    0.557143
4    0.702305
5    0.792842
6    0.708354
7    0.789377
8    0.576012
Name: value, dtype: float64
ema is: 0.576012224646438
dataframe_val
   value
0    0.0
1    2.0
2    1.0
3    2.0
4    2.0
5    2.0
6    3.0
7    3.0
8    1.0
ema
0    0.000000
1    1.142857
2    1.081081
3    1.417143
4    1.608195
5    1.727354
6    2.094527
7    2.346079
8    1.982240
Name: value, dtype: float64
ema is: 1.9822404427928615
dataframe_val
      value
0  0.000000
1  1.000000
2  1.000000
3  1.000000
4  1.000000
5  1.000000
6  1.000000
7  0.666667
8  1.000000
ema
0    0.000000
1    0.571429
2    0.756757
3    0.845714
4    0.896287
5    0.927829
6    0.948651
7    0.870312
8    0.905366
Name: value, dtype: float64
ema is: 0.9053662238463092
dataframe_val
   value
0      3
1     17
2     10
3     14
4     17
5     20
6     27
7     23
8      7
ema
0     3.000000
1    11.000000
2    10.567568
3    11.822857
4    13.519846
5    15.490644
6    18.811228
7    19.974922
8    16.467865
Name: value, dtype: float64
ema is: 16.467864934979232
dataframe_val
   value
0     10
1     24
2     27
3     24
4     16
5     16
6     30
7     15
8     24
ema
0    10.000000
1    18.000000
2    21.891892
3    22.662857
4    20.478873
5    19.116721
6    22.256674
7    20.240678
8    21.256804
Name: value, dtype: float64
ema is: 21.256804187065136
dataframe_val
   value
0     10
1     17
2     18
3     22
4     16
5     29
6     20
7     20
8     18
ema
0    10.000000
1    14.000000
2    15.729730
3    18.022857
4    17.359795
5    20.899911
6    20.640276
7    20.462399
8    19.796825
Name: value, dtype: float64
ema is: 19.796825056400824
dataframe_val
   value
0     25
1    168
2     27
3     17
4    221
5     30
6     42
7    230
8     21
ema
0     25.000000
1    106.714286
2     72.243243
3     52.040000
4    107.422535
5     83.876151
6     71.794393
7    115.745909
8     90.136562
Name: value, dtype: float64
ema is: 90.13656216876116
dataframe_val
   value
0      0
1     23
2      0
3      0
4     20
5      0
6     29
7     33
8      0
ema
0     0.000000
1    13.142857
2     7.459459
3     4.731429
4     9.736236
5     6.775171
6    13.187293
7    18.691513
8    13.639290
Name: value, dtype: float64
ema is: 13.639290442586642
dataframe_val
   value
0    259
1      1
2    160
3    189
4      0
5    186
6      1
7      0
8    148
ema
0    259.000000
1    111.571429
2    132.513514
3    153.171429
4    102.964149
5    128.217701
6     91.513911
7     66.090191
8     88.230004
Name: value, dtype: float64
ema is: 88.2300040006434
dataframe_val
   value
0     10
1     21
2     15
3     25
4     17
5     23
6     29
7     34
8     19
ema
0    10.000000
1    16.285714
2    15.729730
3    19.120000
4    18.425096
5    19.816454
6    22.466014
7    25.670301
8    23.867352
Name: value, dtype: float64
ema is: 23.867351862773805
dataframe_val
   value
0     92
1      1
2    158
3    357
4      2
5    305
6      2
7      2
8    245
ema
0     92.000000
1     40.000000
2     91.027027
3    188.297143
4    127.231754
5    181.296109
6    129.567092
7     94.127342
8    134.907470
Name: value, dtype: float64
ema is: 134.90746965491357
dataframe_val
   value
0      4
1     19
2      0
3      3
4     25
5      1
6     22
7     23
8      0
ema
0     4.000000
1    12.571429
2     7.135135
3     5.622857
4    11.974392
5     8.636769
6    12.492217
7    15.411412
8    11.245784
Name: value, dtype: float64
ema is: 11.245783858022527
dataframe_val
   value
0     27
1    252
2     26
3     30
4    308
5     23
6    207
7    200
8     22
ema
0     27.000000
1    155.571429
2     99.540541
3     74.108571
4    150.774648
5    111.914761
6    139.347961
7    156.197864
8    119.924850
Name: value, dtype: float64
ema is: 119.92484976965368
dataframe_val
   value
0      2
1      2
2      1
3      1
4      1
5      2
6      1
7      2
8      3
ema
0    2.000000
1    2.000000
2    1.567568
3    1.360000
4    1.241997
5    1.472527
6    1.336198
7    1.520610
8    1.920482
Name: value, dtype: float64
ema is: 1.9204820569081213
dataframe_val
   value
0      1
1      4
2      7
3      3
4      6
5      2
6     25
7      7
8      6
ema
0    1.000000
1    2.714286
2    4.567568
3    3.994286
4    4.651729
5    3.845263
6    9.948651
7    9.129479
8    8.283596
Name: value, dtype: float64
ema is: 8.283596124737587
dataframe_val
   value
0      2
1      8
2      2
3      0
4     68
5      2
6      9
7     10
8      1
ema
0     2.000000
1     5.428571
2     3.945946
3     2.502857
4    23.971831
5    17.289575
6    14.897936
7    13.537228
8    10.148477
Name: value, dtype: float64
ema is: 10.148477487101019
dataframe_val
   value
0     88
1    244
2    109
3    329
4    240
5    291
6    198
7    190
8    203
ema
0     88.000000
1    177.142857
2    147.675676
3    213.988571
4    222.514725
5    243.343035
6    230.261041
7    219.076015
8    214.730748
Name: value, dtype: float64
ema is: 214.73074845026622
dataframe_val
   value
0    197
1    274
2    230
3    381
4    296
5    431
6    311
7    305
8    277
ema
0    197.000000
1    241.000000
2    236.243243
3    289.182857
4    291.417414
5    333.868429
6    327.270621
7    321.083561
8    309.167994
Name: value, dtype: float64
ema is: 309.16799402790554
dataframe_val
   value
0      1
1      0
2      2
3      1
4      1
5      4
6      0
7      3
8      2
ema
0    1.000000
1    0.428571
2    1.108108
3    1.068571
4    1.046095
5    1.944461
6    1.383461
7    1.832556
8    1.877815
Name: value, dtype: float64
ema is: 1.877815401239787
dataframe_val
   value
0      3
1      0
2      3
3      1
4      2
5      4
6      1
7      2
8      1
ema
0    3.000000
1    1.285714
2    2.027027
3    1.651429
4    1.765685
5    2.445203
6    2.028245
7    2.020398
8    1.744590
Name: value, dtype: float64
ema is: 1.7445898515637566
dataframe_val
   value
0      4
1      2
2      0
3      3
4      3
5      3
6      2
7      4
8      2
ema
0    4.000000
1    2.857143
2    1.621622
3    2.125714
4    2.412292
5    2.591031
6    2.420511
7    2.859313
8    2.627045
Name: value, dtype: float64
ema is: 2.6270451742754504
dataframe_val
   value
0      3
1     73
2     10
3     11
4     20
5      6
6     25
7     74
8      8
ema
0     3.000000
1    43.000000
2    28.729730
3    22.245714
4    21.509603
5    16.792694
6    19.160597
7    34.395676
8    27.261056
Name: value, dtype: float64
ema is: 27.261056417320724
dataframe_val
       value
0  45.454545
1  41.666667
2   8.333333
3  22.222222
4  41.176471
5  40.000000
6  61.538462
7  47.058824
8  30.000000
ema
0    45.454545
1    43.290043
2    28.173628
3    25.997114
4    30.972678
5    33.718142
6    41.744628
7    43.220979
8    39.647414

dataframe_val
   value
0    2.0
1    1.0
2    2.0
3    0.0
4    1.0
5    2.0
6    2.0
7    2.0
8    1.0
ema
0    2.000000
1    1.428571
2    1.675676
3    1.062857
4    1.042254
5    1.333531
6    1.525815
7    1.657550
8    1.479817
Name: value, dtype: float64
ema is: 1.4798173726908657
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    8.0
1    7.0
2    3.0
3    7.0
4    9.0
5    3.0
6    5.0
7    7.0
8    6.0
ema
0    8.000000
1    7.428571
2    5.513514
3    6.057143
4    7.021767
5    5.798634
6    5.568219
7    5.965986
8    5.975180
Name: value, dtype: float64
ema is: 5.97517951340628
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0  142.0
1  184.0
2   47.0
3  149.0
4  130.0
5   50.0
6   58.0
7   89.0
8  109.0
ema
0    142.000000
1    166.000000
2    114.540541
3    127.142857
4    128.079385
5    104.333234
6     90.965556
7     90.419500
8     95.441716
Name: value, dtype: float64
ema is: 95.44171639975089
dataframe_val
   value
0    5.0
1    3.0
2    5.0
3    3.0
4    5.0
5    2.0
6    3.0
7    8.0
8    4.0
ema
0    5.000000
1    3.857143
2    4.351351
3    3.857143
4    4.231754
5    3.553015
6    3.393463
7    4.673217
8    4.491250
Name: value, dtype: float64
ema is: 4.4912501391976445
dataframe_val
       value
0  39.200000
1  51.000000
2  47.800000
3  43.333333
4  33.600000
5  51.500000
6  44.666667
7  44.750000
8  50.750000
ema
0    39.200000
1    45.942857
2    46.745946
3    45.497905
4    41.597951
5    44.609445
6    44.625954
7    44.660415
8    46.306400
Name: value, dtype: float64
ema is: 46.306399792131515
dataframe_val
   value
0    1.0
1    2.0
2    4.0
3    3.0
4    1.0
5    4.0
6    1.0
7    1.0
8    3.0
ema
0    1.000000
1    1.571429
2    2.621622
3    2.760000
4    2.183099
5    2.735670
6    2.234909
7    1.891836
8    2.191367
Name: value, dtype: float64
ema is: 2.191366859000004
dataframe_val
      value
0  0.000000
1  1.000000
2  1.000000
3  0.666667
4  1.000000
5  0.500000
6  1.000000
7  0.000000
8  0.666667
ema
0    0.000000
1    0.571429
2    0.756757
3    0.723810
4    0.814341
5    0.718741
6    0.799887
7    0.577669
8    0.601724
Name: value, dtype: float64
ema is: 0.601724263558538
dataframe_val
   value
0    1.0
1    1.0
2    0.0
3    2.0
4    0.0
5    1.0
6    3.0
7    2.0
8    0.0
ema
0    1.000000
1    1.000000
2    0.567568
3    1.091429
4    0.733675
5    0.814672
6    1.445164
7    1.599305
8    1.167021
Name: value, dtype: float64
ema is: 1.1670206754900787
dataframe_val
   value
0    1.0
1    1.0
2    0.0
3    1.0
4    0.0
5    1.0
6    1.0
7    1.0
8    0.0
ema
0    1.000000
1    1.000000
2    0.567568
3    0.725714
4    0.487836
5    0.643600
6    0.746425
7    0.816872
8    0.596075
Name: value, dtype: float64
ema is: 0.5960752450909631
dataframe_val
   value
0      7
1     19
2     20
3     20
4      3
5     21
6     24
7     20
8      6
ema
0     7.000000
1    13.857143
2    16.513514
3    17.788571
4    12.941101
5    15.392040
6    17.875537
7    18.465740
8    15.096312
Name: value, dtype: float64
ema is: 15.096312396632861
dataframe_val
   value
0     27
1     31
2     17
3     34
4     24
5     27
6     20
7     14
8     38
ema
0    27.000000
1    29.285714
2    23.972973
3    27.640000
4    26.446863
5    26.615088
6    24.706558
7    21.732141
8    26.129262
Name: value, dtype: float64
ema is: 26.12926202564536
dataframe_val
   value
0     14
1     19
2     20
3     24
4     19
5     15
6     15
7     22
8     16
ema
0    14.000000
1    16.857143
2    18.216216
3    20.331429
4    19.895006
5    18.406296
6    17.423540
7    18.694939
8    17.966510
Name: value, dtype: float64
ema is: 17.966510077909437
dataframe_val
   value
0     41
1    127
2    132
3     36
4     68
5     25
6     15
7     94
8     27
ema
0     41.000000
1     90.142857
2    108.243243
3     81.822857
4     77.291933
5     61.388476
6     48.004860
7     60.782891
8     51.651544
Name: value, dtype: float64
ema is: 51.65154395964712
dataframe_val
   value
0      0
1     24
2     29
3      1
4     28
5      0
6      1
7     42
8      1
ema
0     0.000000
1    13.714286
2    20.324324
3    13.257143
4    18.089629
5    12.588061
6     9.244770
7    18.344587
8    13.656431
Name: value, dtype: float64
ema is: 13.656431343597525
dataframe_val
   value
0    101
1      2
2      0
3     60
4      0
5    107
6    131
7      1
8    102
ema
0    101.000000
1     44.428571
2     25.216216
3     37.937143
4     25.501921
5     50.287793
6     73.574206
7     53.412175
8     66.545222
Name: value, dtype: float64
ema is: 66.54522170575886
dataframe_val
   value
0     13
1     22
2     23
3     23
4     27
5     20
6     24
7     23
8     17
ema
0    13.000000
1    18.142857
2    20.243243
3    21.251429
4    23.135723
5    22.182061
6    22.706558
7    22.788080
8    21.223591
Name: value, dtype: float64
ema is: 21.223590598075567
dataframe_val
   value
0     80
1      1
2      2
3    352
4      1
5    156
6    296
7      0
8    153
ema
0     80.000000
1     34.857143
2     20.648649
3    141.828571
4     95.667093
5    114.016038
6    166.520533
7    120.259025
8    129.108747
Name: value, dtype: float64
ema is: 129.10874738617758
dataframe_val
   value
0      0
1     19
2     22
3      0
4     27
5      2
6      0
7     19
8      1
ema
0     0.000000
1    10.857143
2    15.675676
3     9.942857
4    15.533931
5    11.417879
6     8.123688
7    11.145265
8     8.403050
Name: value, dtype: float64
ema is: 8.403050387484997
dataframe_val
   value
0     26
1    216
2    268
3     46
4    225
5     43
6     41
7    167
8     54
ema
0     26.000000
1    134.571429
2    192.270270
3    138.777143
4    167.039693
5    129.315711
6    103.835599
7    121.383468
8    103.170052
Name: value, dtype: float64
ema is: 103.17005209085173
dataframe_val
   value
0      0
1      2
2      4
3      3
4      1
5      2
6      2
7      0
8      1
ema
0    0.000000
1    1.142857
2    2.378378
3    2.605714
4    2.079385
5    2.055242
6    2.039304
7    1.472760
8    1.344975
Name: value, dtype: float64
ema is: 1.344975068155291
dataframe_val
   value
0      0
1      0
2      9
3      1
4     23
5      3
6      2
7     21
8      1
ema
0     0.000000
1     0.000000
2     3.891892
3     2.834286
4     9.444302
5     7.484407
6     5.902092
7    10.096482
8     7.637748
Name: value, dtype: float64
ema is: 7.637747926470649
dataframe_val
   value
0      4
1     38
2     12
3      1
4     19
5      1
6      0
7     11
8      3
ema
0     4.000000
1    23.428571
2    18.486486
3    12.091429
4    14.355954
5    10.294030
6     7.324083
7     8.345299
8     6.900491
Name: value, dtype: float64
ema is: 6.9004912130198255
dataframe_val
   value
0     80
1    178
2    256
3    350
4    206
5    128
6    281
7    156
8    141
ema
0     80.000000
1    136.000000
2    187.891892
3    247.177143
4    233.679898
5    201.539650
6    224.464887
7    205.444476
8    188.025456
Name: value, dtype: float64
ema is: 188.02545564028853
dataframe_val
   value
0    240
1    216
2    327
3    487
4    297
5    203
6    327
7    275
8    277
ema
0    240.000000
1    226.285714
2    269.837838
3    349.257143
4    332.128041
5    292.856549
6    302.707333
7    295.009886
8    290.141903
Name: value, dtype: float64
ema is: 290.14190323392216
dataframe_val
   value
0      3
1      1
2      0
3      1
4      2
5      1
6      4
7      0
8      0
ema
0    3.000000
1    1.857143
2    1.054054
3    1.034286
4    1.350832
5    1.244134
6    2.039234
7    1.472709
8    1.074643
Name: value, dtype: float64
ema is: 1.0746429322653952
dataframe_val
   value
0      2
1      1
2      0
3      3
4      2
5      1
6      1
7      1
8      4
ema
0    2.000000
1    1.428571
2    0.810811
3    1.611429
4    1.738796
5    1.514108
6    1.365782
7    1.264163
8    2.003646
Name: value, dtype: float64
ema is: 2.003645947183258
dataframe_val
   value
0      1
1      3
2      4
3      1
4      3
5      2
6      3
7      1
8      1
ema
0    1.000000
1    2.142857
2    2.945946
3    2.234286
4    2.485275
5    2.337689
6    2.528774
7    2.104061
8    1.805639
Name: value, dtype: float64
ema is: 1.8056388450101253
dataframe_val
   value
0     10
1     71
2     64
3     10
4     58
5      8
6      9
7     44
8      6
ema
0    10.000000
1    44.857143
2    53.135135
3    37.360000
4    44.125480
5    33.138699
6    26.174403
7    31.126579
8    24.334990
Name: value, dtype: float64
ema is: 24.33498995714775
dataframe_val
       value
0  37.500000
1  42.857143
2  50.000000
3  64.285714
4  57.894737
5  42.857143
6  30.000000
7  56.250000
8  40.000000
ema
0    37.500000
1    40.561224
2    44.642857
3    51.826531
4    53.815597
5    50.482821
6    44.573288
7    47.817226
8    45.704269
Name: value, dtype: float64
ema is: 45.70426898824097
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4  100.0
5    0.0
6  100.0
7    0.0
8    0.0
ema
0     0.000000
1     0.000000
2     0.000000
3     0.000000
4    32.778489
5    22.809623
6    45.079946
7    32.556168
8    23.756398
Name: value, dtype: float64
ema is: 23.75639793616293
dataframe_val
   value
0     35
1     29
2     32
3     36
4     34
5     32
6     22
7     41
8     26
ema
0    35.000000
1    31.571429
2    31.756757
3    33.308571
4    33.535211
5    33.068310
6    29.874974
7    32.965646
8    31.082867
Name: value, dtype: float64
ema is: 31.082866935300935
dataframe_val
   value
0   23.0
1   35.0
2   41.0
3   26.0
4   47.0
5   32.0
6   38.0
7   29.0
8   22.0
ema
0    23.000000
1    29.857143
2    34.675676
3    31.502857
4    36.582586
5    35.188892
6    35.999930
7    34.055261
8    30.796784
Name: value, dtype: float64
ema is: 30.79678381265441
dataframe_val
   value
0   13.0
1   19.0
2   22.0
3   23.0
4   27.0
5   20.0
6   24.0
7   19.0
8   17.0
ema
0    13.000000
1    16.428571
2    18.837838
3    20.360000
4    22.536492
5    21.765073
6    22.409875
7    21.462569
8    20.256359
Name: value, dtype: float64
ema is: 20.256358754603834
dataframe_val
   value
0    0.0
1    2.0
2    4.0
3    0.0
4    1.0
5    2.0
6    0.0
7    0.0
8    1.0
ema
0    0.000000
1    1.142857
2    2.378378
3    1.508571
4    1.341869
5    1.542026
6    1.097133
7    0.792336
8    0.848466
Name: value, dtype: float64
ema is: 0.8484663512894858
dataframe_val
   value
0   24.0
1   59.0
2   48.0
3   58.0
4   21.0
5   18.0
6   42.0
7   18.0
8   27.0
ema
0    24.000000
1    44.000000
2    45.729730
3    50.217143
4    40.640205
5    33.754678
6    36.133549
7    31.095820
8    29.988740
Name: value, dtype: float64
ema is: 29.98874045722817
dataframe_val
   value
0    0.0
1    4.0
2    1.0
3    1.0
4    2.0
5    3.0
6    2.0
7    2.0
8    1.0
ema
0    0.000000
1    2.285714
2    1.729730
3    1.462857
4    1.638924
5    2.052866
6    2.037614
7    2.027164
8    1.749527
Name: value, dtype: float64
ema is: 1.7495267280098654
dataframe_val
   value
0    1.0
1    0.0
2    1.0
3    4.0
4    1.0
5    0.0
6    2.0
7    0.0
8    2.0
ema
0    1.000000
1    0.428571
2    0.675676
3    1.891429
4    1.599232
5    1.112860
6    1.368810
7    0.988538
8    1.261931
Name: value, dtype: float64
ema is: 1.2619307847447632
dataframe_val
   value
0   59.0
1  114.0
2  120.0
3  183.0
4  105.0
5   77.0
6  151.0
7   79.0
8   76.0
ema
0     59.000000
1     90.428571
2    103.216216
3    132.394286
4    123.414853
5    109.298782
6    121.330070
7    109.570242
8    100.496373
Name: value, dtype: float64
ema is: 100.49637261250263
dataframe_val
   value
0   41.0
1   24.0
2   29.0
3   36.0
4   28.0
5   25.0
6   15.0
7   42.0
8   27.0
ema
0    41.000000
1    31.285714
2    30.297297
3    32.382857
4    30.946223
5    29.137808
6    25.058886
7    29.765341
8    29.017883
Name: value, dtype: float64
ema is: 29.017883288446388
dataframe_val
   value
0   70.0
1    9.0
2   30.0
3   32.0
4   31.0
5   37.0
6   29.0
7   18.0
8   62.0
ema
0    70.000000
1    35.142857
2    32.918919
3    32.582857
4    32.064020
5    33.565192
6    32.248081
7    28.289784
8    37.401487
Name: value, dtype: float64
ema is: 37.401487249495794
dataframe_val
   value
0    0.0
1    2.0
2    0.0
3    1.0
4    0.0
5    0.0
6    1.0
7    1.0
8    1.0
ema
0    0.000000
1    1.142857
2    0.648649
3    0.777143
4    0.522407
5    0.363528
6    0.547158
7    0.672963
8    0.761360
Name: value, dtype: float64
ema is: 0.7613595588568883
dataframe_val
   value
0  160.0
1   38.0
2   71.0
3  137.0
4   91.0
5   75.0
6   46.0
7  119.0
8  136.0
ema
0    160.000000
1     90.285714
2     81.945946
3    102.080000
4     98.448143
5     91.316899
6     78.242446
7     89.565409
8    102.116448
Name: value, dtype: float64
ema is: 102.11644759363361
dataframe_val
   value
0    1.0
1    2.0
2    1.0
3    5.0
4    1.0
5    0.0
6    3.0
7    1.0
8    3.0
ema
0    1.000000
1    1.571429
2    1.324324
3    2.668571
4    2.121639
5    1.476388
6    1.915968
7    1.661501
8    2.023290
Name: value, dtype: float64
ema is: 2.0232903436016514
dataframe_val
   value
0    1.0
1    0.0
2    0.0
3    0.0
4    1.0
5    2.0
6    2.0
7    3.0
8    3.0
ema
0    1.000000
1    0.428571
2    0.243243
3    0.154286
4    0.431498
5    0.908524
6    1.223427
7    1.716982
8    2.063775
Name: value, dtype: float64
ema is: 2.063775205084529
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    1.0
6    1.0
7    0.0
8    1.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    0.000000
5    0.304128
6    0.504895
7    0.364629
8    0.536367
Name: value, dtype: float64
ema is: 0.5363666734031453
dataframe_val
   value
0   10.0
1    0.0
2    0.0
3    0.0
4   12.0
5   22.0
6   96.0
7   17.0
8   90.0
ema
0    10.000000
1     4.285714
2     2.432432
3     1.542857
4     4.970551
5    10.149688
6    34.918504
7    29.940517
8    46.174296
Name: value, dtype: float64
ema is: 46.174296072358025
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    3.0
1    2.0
2    2.0
3    2.0
4    3.0
5    2.0
6    2.0
7    0.0
8    2.0
ema
0    3.000000
1    2.428571
2    2.243243
3    2.154286
4    2.431498
5    2.300267
6    2.213637
7    1.598660
8    1.707141
Name: value, dtype: float64
ema is: 1.7071405298171665
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    6.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6   -1.0
7    0.0
8   15.0
ema
0    6.000000
1    2.571429
2    1.459459
3    0.925714
4    0.622279
5    0.433026
6    0.019582
7    0.014142
8    4.064744
Name: value, dtype: float64
ema is: 4.064744433125328
dataframe_val
   value
0    4.0
1    0.0
2    1.0
3    1.0
4    3.0
5    1.0
6    0.0
7    3.0
8    3.0
ema
0    4.000000
1    1.714286
2    1.405405
3    1.257143
4    1.828425
5    1.576478
6    1.121645
7    1.643476
8    2.010138
Name: value, dtype: float64
ema is: 2.010137712869286
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    5.0
1    9.0
2    7.0
3    6.0
4    7.0
5    5.0
6    7.0
7    4.0
8    3.0
ema
0    5.000000
1    7.285714
2    7.162162
3    6.737143
4    6.823303
5    6.268785
6    6.479749
7    5.790844
8    5.036492
Name: value, dtype: float64
ema is: 5.036492466829717
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0   46.0
1  116.0
2  126.0
3   90.0
4  124.0
5  118.0
6  155.0
7   56.0
8   38.0
ema
0     46.000000
1     86.000000
2    103.297297
3     98.434286
4    106.814341
5    110.216216
6    123.136860
7    104.485392
8     86.514722
Name: value, dtype: float64
ema is: 86.51472195528353
dataframe_val
   value
0    9.0
1    5.0
2    4.0
3    4.0
4    4.0
5    5.0
6    3.0
7    2.0
8    2.0
ema
0    9.000000
1    6.714286
2    5.540541
3    4.977143
4    4.656850
5    4.761212
6    4.253082
7    3.627147
8    3.187337
Name: value, dtype: float64
ema is: 3.1873373449750675
dataframe_val
       value
0  44.444444
1  42.600000
2  36.000000
3  33.750000
4  44.750000
5  39.800000
6  45.000000
7  42.000000
8  42.500000
ema
0    44.444444
1    43.390476
2    40.194595
3    37.837714
4    40.103457
5    40.011167
6    41.450504
7    41.603161
8    41.845572
Name: value, dtype: float64
ema is: 41.845571865165944
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    1.0
4    4.0
5    3.0
6    2.0
7    5.0
8    3.0
ema
0    1.000000
1    1.000000
2    1.000000
3    1.000000
4    1.983355
5    2.292545
6    2.208143
7    2.983756
8    2.988147
Name: value, dtype: float64
ema is: 2.9881465472797686
dataframe_val
   value
0   1.00
1   1.00
2   0.00
3   1.00
4   0.75
5   1.00
6   0.50
7   0.80
8   1.00
ema
0    1.000000
1    1.000000
2    0.567568
3    0.725714
4    0.733675
5    0.814672
6    0.723885
7    0.745031
8    0.813948
Name: value, dtype: float64
ema is: 0.8139478101632839
dataframe_val
   value
0    1.0
1    2.0
2    1.0
3    5.0
4    1.0
5    0.0
6    3.0
7    1.0
8    4.0
ema
0    1.000000
1    1.571429
2    1.324324
3    2.668571
4    2.121639
5    1.476388
6    1.915968
7    1.661501
8    2.293585
Name: value, dtype: float64
ema is: 2.293585360119772
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    0.0
6    1.0
7    1.0
8    1.0
ema
0    1.000000
1    1.000000
2    1.000000
3    1.000000
4    1.000000
5    0.695872
6    0.783616
7    0.843730
8    0.885969
Name: value, dtype: float64
ema is: 0.885969289906418
dataframe_val
   value
0     10
1     17
2      7
3     38
4     16
5     17
6     32
7     19
8     37
ema
0    10.000000
1    14.000000
2    10.972973
3    20.857143
4    19.265045
5    18.576181
6    22.449109
7    21.490903
8    25.682935
Name: value, dtype: float64

dataframe_val
   value
0    0.0
1    1.0
2    4.0
3    2.0
4    0.0
5    2.0
6    2.0
7    4.0
8    2.0
ema
0    0.000000
1    0.571429
2    2.054054
3    2.034286
4    1.367478
5    1.559846
6    1.686835
7    2.329462
8    2.240410
Name: value, dtype: float64
ema is: 2.2404097978643986
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    7.0
1    8.0
2    7.0
3    6.0
4    5.0
5    4.0
6    5.0
7    6.0
8    8.0
ema
0    7.000000
1    7.571429
2    7.324324
3    6.840000
4    6.236876
5    5.556579
6    5.395999
7    5.563798
8    6.222291
Name: value, dtype: float64
ema is: 6.222291420063433
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0  108.0
1  125.0
2   45.0
3   97.0
4   77.0
5   79.0
6  110.0
7   77.0
8  180.0
ema
0    108.000000
1    117.714286
2     86.270270
3     90.194286
4     85.869398
5     83.780220
6     91.344932
7     87.359729
8    112.399932
Name: value, dtype: float64
ema is: 112.39993236025587
dataframe_val
   value
0    5.0
1    6.0
2    8.0
3    2.0
4    3.0
5    1.0
6    8.0
7    6.0
8    6.0
ema
0    5.000000
1    5.571429
2    6.621622
3    4.931429
4    4.298335
5    3.295218
6    4.652603
7    5.026927
8    5.289944
Name: value, dtype: float64
ema is: 5.289943537311156
dataframe_val
       value
0  43.800000
1  39.333333
2  47.125000
3  34.500000
4  36.333333
5  40.000000
6  40.875000
7  41.000000
8  42.166667
ema
0    43.800000
1    41.247619
2    43.789189
3    40.392000
4    39.061630
5    39.347015
6    39.787857
7    40.124605
8    40.676564
Name: value, dtype: float64
ema is: 40.6765643409318
dataframe_val
   value
0    1.0
1    1.0
2    2.0
3    1.0
4    3.0
5    0.0
6    2.0
7    1.0
8    2.0
ema
0    1.000000
1    1.000000
2    1.432432
3    1.274286
4    1.839949
5    1.280368
6    1.487990
7    1.352421
8    1.527458
Name: value, dtype: float64
ema is: 1.527458024177084
dataframe_val
      value
0  0.000000
1  1.000000
2  1.000000
3  1.000000
4  0.666667
5  0.000000
6  1.000000
7  1.000000
8  0.500000
ema
0    0.000000
1    0.571429
2    0.756757
3    0.845714
4    0.787025
5    0.547669
6    0.678171
7    0.767579
8    0.695254
Name: value, dtype: float64
ema is: 0.6952540820998017
dataframe_val
   value
0    0.0
1    2.0
2    0.0
3    6.0
4    0.0
5    3.0
6    0.0
7    3.0
8    1.0
ema
0    0.000000
1    1.142857
2    0.648649
3    2.605714
4    1.751601
5    2.131274
6    1.516377
7    1.928546
8    1.677565
Name: value, dtype: float64
ema is: 1.677564639261572
dataframe_val
   value
0    0.0
1    1.0
2    0.0
3    1.0
4    0.0
5    1.0
6    0.0
7    1.0
8    1.0
ema
0    0.000000
1    0.571429
2    0.324324
3    0.571429
4    0.384123
5    0.571429
6    0.406565
7    0.571429
8    0.687269
Name: value, dtype: float64
ema is: 0.6872692927934801
dataframe_val
   value
0      0
1     17
2      6
3     45
4      6
5     27
6     14
7     24
8     28
ema
0     0.000000
1     9.714286
2     8.108108
3    21.600000
4    16.486556
5    19.683992
6    18.044094
7    19.698720
8    21.942514
Name: value, dtype: float64
ema is: 21.942514466244056
dataframe_val
   value
0     35
1     20
2     14
3     29
4     20
5     21
6     17
7     15
8     30
ema
0    35.000000
1    26.428571
2    21.054054
3    23.960000
4    22.661972
5    22.156519
6    20.668803
7    19.093938
8    22.041792
Name: value, dtype: float64
ema is: 22.041792288244295
dataframe_val
   value
0     11
1     19
2     14
3     22
4     16
5     24
6     16
7     24
8     12
ema
0    11.000000
1    15.571429
2    14.891892
3    17.491429
4    17.002561
5    19.130680
6    18.227442
7    19.831132
8    17.714416
Name: value, dtype: float64
ema is: 17.714415926685117
dataframe_val
   value
0     23
1     97
2     29
3     47
4     16
5     44
6    113
7     26
8     19
ema
0    23.000000
1    65.285714
2    49.594595
3    48.645714
4    37.944942
5    39.786457
6    60.909417
7    51.211140
8    42.504630
Name: value, dtype: float64
ema is: 42.504629610535304
dataframe_val
   value
0      0
1     32
2      1
3     33
4      0
5     29
6     26
7      0
8      0
ema
0     0.000000
1    18.285714
2    10.810811
3    18.925714
4    12.722151
5    17.672706
6    20.075227
7    14.498075
8    10.579318
Name: value, dtype: float64
ema is: 10.579317910921757
dataframe_val
   value
0     53
1      0
2     89
3      0
4    235
5      1
6      0
7    114
8    153
ema
0    53.000000
1    22.714286
2    51.378378
3    32.588571
4    98.935980
5    69.150876
6    49.200042
7    67.202289
8    90.392983
Name: value, dtype: float64
ema is: 90.39298278898463
dataframe_val
   value
0     19
1     40
2     16
3     38
4     26
5     30
6     22
7     26
8     12
ema
0    19.000000
1    31.000000
2    24.513514
3    29.445714
4    28.316261
5    28.828334
6    26.858280
7    26.619839
8    22.668169
Name: value, dtype: float64
ema is: 22.66816931382779
dataframe_val
   value
0    166
1      1
2    222
3      4
4    326
5      0
6      2
7    262
8    164
ema
0    166.000000
1     71.714286
2    136.702703
3     88.171429
4    166.128041
5    115.603802
6     82.827781
7    132.604086
8    141.090245
Name: value, dtype: float64
ema is: 141.09024544153493
dataframe_val
   value
0      0
1     12
2      0
3     23
4      2
5     27
6     21
7      2
8      1
ema
0     0.000000
1     6.857143
2     3.891892
3    10.880000
4     7.969270
5    13.757054
6    15.846728
7    11.999932
8     9.026705
Name: value, dtype: float64
ema is: 9.026705325804976
dataframe_val
   value
0     51
1    188
2     47
3    249
4     19
5    328
6    299
7     34
8     25
ema
0     51.000000
1    129.285714
2     93.702703
3    150.497143
4    107.394366
5    174.486783
6    210.410298
7    161.401289
8    124.532700
Name: value, dtype: float64
ema is: 124.53270010434667
dataframe_val
   value
0      2
1      0
2      0
3      0
4      0
5      1
6      4
7      1
8      0
ema
0    2.000000
1    0.857143
2    0.486486
3    0.308571
4    0.207426
5    0.448470
6    1.473128
7    1.341687
8    0.979036
Name: value, dtype: float64
ema is: 0.9790358036962645
dataframe_val
   value
0      5
1     36
2      2
3      0
4      2
5     12
6     16
7      6
8      2
ema
0     5.000000
1    22.714286
2    13.756757
3     8.725714
4     6.521127
5     8.187407
6    10.441431
7     9.207546
8     7.259382
Name: value, dtype: float64
ema is: 7.259381921216195
dataframe_val
   value
0      4
1     17
2      2
3     16
4      0
5     10
6     15
7      1
8      3
ema
0     4.000000
1    11.428571
2     7.351351
3    10.514286
4     7.067862
5     7.959608
6     9.990843
7     7.493073
8     6.278618
Name: value, dtype: float64
ema is: 6.278618004545061
dataframe_val
   value
0    133
1    171
2    202
3    233
4    305
5    318
6    284
7    224
8    144
ema
0    133.000000
1    154.714286
2    175.162162
3    196.314286
4    231.939821
5    258.113157
6    265.581813
7    254.029860
8    224.289337
Name: value, dtype: float64
ema is: 224.28933725423883
dataframe_val
   value
0    187
1    322
2    318
3    339
4    342
5    451
6    355
7    328
8    224
ema
0    187.000000
1    264.142857
2    287.432432
3    306.291429
4    317.996159
5    358.446391
6    357.452067
7    349.269911
8    315.410078
Name: value, dtype: float64
ema is: 315.41007832187444
dataframe_val
   value
0      0
1      1
2      2
3      2
4      1
5      0
6      0
7      2
8      1
ema
0    0.000000
1    0.571429
2    1.189189
3    1.485714
4    1.326504
5    0.923077
6    0.656758
7    1.029928
8    1.021839
Name: value, dtype: float64
ema is: 1.0218385637277747
dataframe_val
   value
0      1
1      0
2      3
3      0
4      2
5      1
6      0
7      2
8      2
ema
0    1.000000
1    0.428571
2    1.540541
3    0.977143
4    1.312420
5    1.217404
6    0.866169
7    1.181162
8    1.402489
Name: value, dtype: float64
ema is: 1.4024894725337271
dataframe_val
   value
0      0
1      0
2      0
3      0
4      3
5      2
6      4
7      4
8      2
ema
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    0.983355
5    1.292545
6    2.073678
7    2.608834
8    2.444269
Name: value, dtype: float64
ema is: 2.444269387654097
dataframe_val
   value
0      6
1     45
2      9
3      0
4     10
5     20
6     45
7      4
8      6
ema
0     6.000000
1    28.285714
2    19.945946
3    12.651429
4    11.782330
5    14.281556
6    23.144185
7    17.825689
8    14.629264
Name: value, dtype: float64
ema is: 14.629264087832683
dataframe_val
       value
0  37.500000
1  33.333333
2  15.384615
3  46.666667
4  30.769231
5  53.846154
6  20.000000
7  29.411765
8  20.000000
ema
0    37.500000
1    35.119048
2    26.585239
3    33.929304
4    32.893480
5    39.265781
6    33.707379
7    32.514003
8    29.131530
Name: value, dtype: float64
ema is: 29.131530198419185
dataframe_val
        value
0    0.000000
1  100.000000
2    0.000000
3  100.000000
4   33.333333
5    0.000000
6   66.666667
7  100.000000
8    0.000000
ema
0     0.000000
1    57.142857
2    32.432432
3    57.142857
4    49.338455
5    34.333234
6    43.661806
7    59.313268
8    43.281187
Name: value, dtype: float64
ema is: 43.28118748994683
dataframe_val
   value
0     29
1     32
2     31
3     35
4     29
5     37
6     33
7     36
8     21
ema
0    29.000000
1    30.714286
2    30.837838
3    32.360000
4    31.258643
5    33.004752
6    33.003381
7    33.835880
8    30.366405
Name: value, dtype: float64
ema is: 30.36640531879354
dataframe_val
   value
0   30.0
1   32.0
2   27.0
3   33.0
4   45.0
5   38.0
6   44.0
7   43.0
8   24.0
ema
0    30.000000
1    31.142857
2    29.351351
3    30.685714
4    35.377721
5    36.175230
6    38.432767
7    39.701602
8    35.457538
Name: value, dtype: float64
ema is: 35.45753750087643
dataframe_val
   value
0   19.0
1   12.0
2   16.0
3   23.0
4   26.0
5   27.0
6   21.0
7   26.0
8   12.0
ema
0    19.000000
1    15.000000
2    15.432432
3    18.200000
4    20.756722
5    22.655480
6    22.177854
7    23.239695
8    20.201661
Name: value, dtype: float64
ema is: 20.201661298105673
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    2.0
5    1.0
6    4.0
7    2.0
8    1.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    0.655570
5    0.760321
6    1.695006
7    1.779737
8    1.568978
Name: value, dtype: float64
ema is: 1.5689781036950272
dataframe_val
   value
0   30.0
1   33.0
2   34.0
3   32.0
4   72.0
5   59.0
6   91.0
7   35.0
8   55.0
ema
0    30.000000
1    31.714286
2    32.702703
3    32.445714
4    45.411012
5    49.543808
6    61.504402
7    54.141145
8    54.373289
Name: value, dtype: float64
ema is: 54.37328890007053
dataframe_val
   value
0    5.0
1    3.0
2    2.0
3    2.0
4    2.0
5    1.0
6    2.0
7    6.0
8    2.0
ema
0    5.000000
1    3.857143
2    3.054054
3    2.668571
4    2.449424
5    2.008613
6    2.006128
7    3.115676
8    2.814114
Name: value, dtype: float64
ema is: 2.8141144348988085
dataframe_val
   value
0    2.0
1    1.0
2    1.0
3    3.0
4    2.0
5    2.0
6    1.0
7    1.0
8    1.0
ema
0    2.000000
1    1.428571
2    1.243243
3    1.885714
4    1.923175
5    1.946540
6    1.673452
7    1.486359
8    1.354898
Name: value, dtype: float64
ema is: 1.354898313543209
dataframe_val
   value
0   89.0
1  122.0
2  125.0
3   98.0
4  159.0
5  137.0
6  157.0
7  116.0
8   86.0
ema
0     89.000000
1    107.857143
2    115.270270
3    108.954286
4    125.358515
5    128.899020
6    137.006480
7    131.170615
8    118.961223
Name: value, dtype: float64
ema is: 118.96122262961879
dataframe_val
   value
0   23.0
1   32.0
2   29.0
3   33.0
4   16.0
5   29.0
6   26.0
7   26.0
8   19.0
ema
0    23.000000
1    28.142857
2    28.513514
3    30.154286
4    25.514725
5    26.574696
6    26.408889
7    26.295295
8    24.323413
Name: value, dtype: float64
ema is: 24.323412837528508
dataframe_val
   value
0   26.0
1   37.0
2   48.0
3   46.0
4   20.0
5   41.0
6   31.0
7   70.0
8   27.0
ema
0    26.000000
1    32.285714
2    39.081081
3    41.611429
4    34.527529
5    36.495990
6    34.910333
7    44.658686
8    39.885631
Name: value, dtype: float64
ema is: 39.8856310911858
dataframe_val
   value
0    0.0
1    0.0
2    1.0
3    0.0
4    0.0
5    1.0
6    0.0
7    0.0
8    0.0
ema
0    0.000000
1    0.000000
2    0.432432
3    0.274286
4    0.184379
5    0.432432
6    0.307671
7    0.222196
8    0.162137
Name: value, dtype: float64
ema is: 0.162137415914312
dataframe_val
   value
0   54.0
1  151.0
2  116.0
3  106.0
4   37.0
5  133.0
6   71.0
7  104.0
8   80.0
ema
0     54.000000
1    109.428571
2    112.270270
3    109.977143
4     86.056338
5    100.333234
6     91.870254
7     95.240051
8     91.120741
Name: value, dtype: float64
ema is: 91.12074106763562
dataframe_val
   value
0    2.0
1    1.0
2    2.0
3    3.0
4    2.0
5    3.0
6    1.0
7    1.0
8    1.0
ema
0    2.000000
1    1.428571
2    1.675676
3    2.160000
4    2.107554
5    2.378972
6    1.981123
7    1.708554
8    1.517036
Name: value, dtype: float64
ema is: 1.517035729457521
dataframe_val
   value
0    3.0
1    1.0
2    5.0
3    0.0
4    1.0
5    0.0
6    0.0
7    1.0
8    0.0
ema
0    3.000000
1    1.857143
2    3.216216
3    2.040000
4    1.699104
5    1.182358
6    0.841234
7    0.885341
8    0.646038
Name: value, dtype: float64
ema is: 0.6460379195004557
dataframe_val
   value
0    0.0
1    1.0
2    1.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.000000
1    0.571429
2    0.756757
3    0.480000
4    0.322663
5    0.224532
6    0.159752
7    0.115371
8    0.084187
Name: value, dtype: float64
ema is: 0.08418673518627738
dataframe_val
   value
0   83.0
1   29.0
2   56.0
3    0.0
4    0.0
5    0.0
6    0.0
7    5.0
8    0.0
ema
0    83.000000
1    52.142857
2    53.810811
3    34.131429
4    22.943662
5    15.965845
6    11.359513
7     9.592760
8     6.999885
Name: value, dtype: float64
ema is: 6.999884517510031
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    1.0
2    4.0
3    2.0
4    1.0
5    1.0
6    3.0
7    0.0
8    2.0
ema
0    0.000000
1    0.571429
2    2.054054
3    2.034286
4    1.695262
5    1.483813
6    1.921251
7    1.387503
8    1.553058
Name: value, dtype: float64
ema is: 1.5530580175780848
dataframe_val
   value
0    0.0
1    0.0
2    1.0
3    1.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.000000
1    0.000000
2    0.432432
3    0.640000
4    0.430218
5    0.299376
6    0.213003
7    0.153828
8    0.112249
Name: value, dtype: float64
ema is: 0.11224898024836982
dataframe_val
   value
0    0.0
1    0.0
2   28.0
3   73.0
4    7.0
5    0.0
6    5.0
7    0.0
8    0.0
ema
0     0.000000
1     0.000000
2    12.108108
3    34.377143
4    25.403329
5    17.677458
6    14.019863
7    10.124968
8     7.388240
Name: value, dtype: float64
ema is: 7.388239758146671
dataframe_val
   value
0    4.0
1    5.0
2    2.0
3    0.0
4    0.0
5    2.0
6    1.0
7    1.0
8    3.0
ema
0    4.000000
1    4.571429
2    3.459459
3    2.194286
4    1.475032
5    1.634690
6    1.451574
7    1.326121
8    1.778562
Name: value, dtype: float64
ema is: 1.778562325487398
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    6.0
1    7.0
2    5.0
3    7.0
4    7.0
5    8.0
6   12.0
7    6.0
8    7.0
ema
0    6.000000
1    6.571429
2    5.891892
3    6.297143
4    6.527529
5    6.975349
6    8.425019
7    7.751318
8    7.548241
Name: value, dtype: float64
ema is: 7.548240747996585
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0   75.0
1   66.0
2   48.0
3  130.0
4  185.0
5  170.0
6  186.0
7   97.0
8  144.0
ema
0     75.000000
1     69.857143
2     60.405405
3     85.857143
4    118.354673
5    134.061479
6    149.046348
7    134.587215
8    137.131444
Name: value, dtype: float64
ema is: 137.13144381983082
dataframe_val
   value
0    9.0
1    6.0
2    7.0
3    4.0
4    4.0
5    4.0
6    5.0
7    5.0
8    5.0
ema
0    9.000000
1    7.285714
2    7.162162
3    6.005714
4    5.348271
5    4.938224
6    4.956047
7    4.968258
8    4.976838
Name: value, dtype: float64
ema is: 4.976837512012241
dataframe_val
       value
0  45.222222
1  44.000000
2  42.428571
3  41.250000
4  41.500000
5  40.500000
6  46.600000
7  43.000000
8  44.000000
ema
0    45.222222
1    44.523810
2    43.617761
3    42.751837
4    42.341504
5    41.781450
6    43.171658
7    43.123969
8    43.360756
Name: value, dtype: float64
ema is: 43.360755986087895
dataframe_val
   value
0    1.0
1    2.0
2    4.0
3    2.0
4    1.0
5    1.0
6    2.0
7    3.0
8    2.0
ema
0    1.000000
1    1.571429
2    2.621622
3    2.394286
4    1.937260
5    1.652213
6    1.752553
7    2.099110
8    2.072321
Name: value, dtype: float64
ema is: 2.072320909342121
dataframe_val
      value
0  1.000000
1  0.500000
2  0.250000
3  1.000000
4  1.000000
5  0.000000
6  0.500000
7  0.333333
8  0.500000
ema
0    1.000000
1    0.714286
2    0.513514
3    0.691429
4    0.792574
5    0.551530
6    0.536663
7    0.480175
8    0.485534
Name: value, dtype: float64
ema is: 0.48553375594425496
dataframe_val
   value
0    2.0
1    2.0
2    4.0
3    4.0
4    1.0
5    3.0
6    1.0
7    0.0
8    1.0
ema
0    2.000000
1    2.000000
2    2.864865
3    3.280000
4    2.532650
5    2.674785
6    2.191590
7    1.582738
8    1.425227
Name: value, dtype: float64
ema is: 1.4252271499333915
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    0.0
8    1.0
ema
0    1.000000
1    1.000000
2    1.000000
3    1.000000
4    1.000000
5    1.000000
6    1.000000
7    0.722187
8    0.797279
Name: value, dtype: float64
ema is: 0.7972787376114097
dataframe_val
   value
0     17
1     17
2     31
3     34
4     18
5     21
6     10
7      9
8     10
ema
0    17.000000
1    17.000000
2    23.054054

ema
0    26.000000
1    27.142857
2    24.486486
3    23.942857
4    23.306018
5    22.604693
6    20.987673
7    20.435473
8    20.047472
Name: value, dtype: float64
ema is: 20.04747155212591
dataframe_val
   value
0     35
1     25
2     76
3     20
4     33
5     20
6     29
7    108
8     72
ema
0    35.000000
1    29.285714
2    49.486486
3    38.702857
4    36.833547
5    31.713989
6    30.930971
7    52.341721
8    57.655256
Name: value, dtype: float64
ema is: 57.65525589682464
dataframe_val
   value
0      0
1     31
2     23
3      1
4     27
5      1
6      2
7     23
8     19
ema
0     0.000000
1    17.714286
2    20.000000
3    13.051429
4    17.623560
5    12.567865
6     9.518912
7    13.264129
8    14.814506
Name: value, dtype: float64
ema is: 14.814506250489769
dataframe_val
   value
0     26
1      1
2      1
3     30
4      1
5     88
6     71
7      1
8      1
ema
0    26.000000
1    11.714286
2     7.081081
3    15.462857
4    10.722151
5    34.224532
6    44.834683
7    32.656855
8    24.100165
Name: value, dtype: float64
ema is: 24.100164562548205
dataframe_val
   value
0     26
1     48
2     52
3     27
4     43
5     28
6     15
7     26
8     30
ema
0    26.000000
1    38.571429
2    44.378378
3    38.022857
4    39.654289
5    36.109890
6    30.019441
7    28.902789
8    29.199360
Name: value, dtype: float64
ema is: 29.199359897055608
dataframe_val
   value
0    309
1      1
2      0
3    348
4      0
5    229
6    160
7      0
8      0
ema
0    309.000000
1    133.000000
2     75.486486
3    175.148571
4    117.737516
5    151.575587
6    154.006128
7    111.221280
8     81.158722
Name: value, dtype: float64
ema is: 81.15872243371099
dataframe_val
   value
0      1
1     27
2     29
3      1
4     26
5      1
6      0
7     29
8     27
ema
0     1.000000
1    15.857143
2    21.540541
3    14.028571
4    17.952625
5    12.796852
6     9.104811
7    14.631946
8    17.974969
Name: value, dtype: float64
ema is: 17.974969170299552
dataframe_val
   value
0     38
1    331
2    284
3     42
4    202
5     18
6     44
7    243
8    355
ema
0     38.000000
1    205.428571
2    239.405405
3    167.211429
4    178.614597
5    129.767152
6    105.022329
7    143.354269
8    200.561055
Name: value, dtype: float64
ema is: 200.56105518000834
dataframe_val
   value
0      2
1      1
2      1
3      1
4      0
5      1
6      1
7      2
8      2
ema
0    2.000000
1    1.428571
2    1.243243
3    1.154286
4    0.775928
5    0.844075
6    0.889061
7    1.197694
8    1.414553
Name: value, dtype: float64
ema is: 1.4145532683606847
dataframe_val
   value
0      5
1     14
2     22
3      1
4     14
5      6
6      1
7     12
8     18
ema
0     5.000000
1    10.142857
2    15.270270
3    10.051429
4    11.345711
5     9.719929
6     7.204128
7     8.536482
8    11.094423
Name: value, dtype: float64
ema is: 11.094423433046964
dataframe_val
   value
0      1
1      0
2     11
3      3
4      0
5      1
6      2
7     12
8     16
ema
0    1.000000
1    0.428571
2    5.000000
3    4.268571
4    2.869398
5    2.300861
6    2.214059
7    4.932717
8    7.924149
Name: value, dtype: float64
ema is: 7.924148625964588
dataframe_val
   value
0    282
1    331
2    273
3    338
4    202
5    207
6    144
7    231
8    339
ema
0    282.000000
1    310.000000
2    294.000000
3    310.091429
4    274.660691
5    254.083160
6    222.322885
7    224.733497
8    255.619163
Name: value, dtype: float64
ema is: 255.61916349433517
dataframe_val
   value
0    436
1    489
2    363
3    416
4    311
5    269
6    257
7    286
8    404
ema
0    436.000000
1    466.285714
2    421.621622
3    419.565714
4    383.979513
5    349.010989
6    322.464746
7    312.334379
8    337.111140
Name: value, dtype: float64
ema is: 337.1111395234698
dataframe_val
   value
0      4
1      0
2      1
3      0
4      0
5      1
6      0
7      0
8      1
ema
0    4.000000
1    1.714286
2    1.405405
3    0.891429
4    0.599232
5    0.721117
6    0.513066
7    0.370530
8    0.540673
Name: value, dtype: float64
ema is: 0.5406725205290748
dataframe_val
   value
0      2
1      0
2      0
3      0
4      1
5      0
6      4
7      1
8      3
ema
0    2.000000
1    0.857143
2    0.486486
3    0.308571
4    0.535211
5    0.372438
6    1.419032
7    1.302620
8    1.761413
Name: value, dtype: float64
ema is: 1.7614131757272304
dataframe_val
   value
0      3
1      1
2      1
3      1
4      1
5      2
6      0
7      3
8      5
ema
0    3.000000
1    1.857143
2    1.486486
3    1.308571
4    1.207426
5    1.448470
6    1.030570
7    1.577702
8    2.502732
Name: value, dtype: float64
ema is: 2.502732398200123
dataframe_val
   value
0      8
1     29
2     29
3      8
4     28
5      7
6      5
7     25
8     15
ema
0     8.000000
1    20.000000
2    23.891892
3    18.080000
4    21.331626
5    16.972973
6    13.518631
7    16.708300
8    16.246555
Name: value, dtype: float64
ema is: 16.246555116080525
dataframe_val
       value
0  53.846154
1  33.333333
2  38.461538
3  61.538462
4  53.333333
5  50.000000
6  41.666667
7  50.000000
8  33.333333
ema
0    53.846154
1    42.124542
2    40.540541
3    48.219780
4    49.895926
5    49.927578
6    47.544209
7    48.226458
8    44.200921
Name: value, dtype: float64
ema is: 44.200920919980895
dataframe_val
   value
0  100.0
1   75.0
2  100.0
3  100.0
4    0.0
5    0.0
6    0.0
7  100.0
8  100.0
ema
0    100.000000
1     85.714286
2     91.891892
3     94.857143
4     63.764405
5     44.371844
6     31.570050
7     50.580755
8     63.938530
Name: value, dtype: float64
ema is: 63.93853032034018
dataframe_val
   value
0     38
1     34
2     29
3     28
4     31
5     27
6     26
7     32
8     29
ema
0    38.000000
1    35.714286
2    32.810811
3    31.051429
4    31.034571
5    29.807544
6    28.709023
7    29.623298
8    29.454824
Name: value, dtype: float64
ema is: 29.454823662362195
dataframe_val
   value
0   35.0
1   40.0
2   42.0
3   44.0
4   40.0
5   41.0
6   22.0
7   42.0
8   42.0
ema
0    35.000000
1    37.857143
2    39.648649
3    41.240000
4    40.833547
5    40.884170
6    35.435867
7    37.259466
8    38.540809
Name: value, dtype: float64
ema is: 38.54080862489225
dataframe_val
   value
0   26.0
1   27.0
2   29.0
3   27.0
4   26.0
5   28.0
6   15.0
7   29.0
8   27.0
ema
0    26.000000
1    26.571429
2    27.621622
3    27.394286
4    26.937260
5    27.260469
6    23.723181
7    25.189148
8    25.678612
Name: value, dtype: float64
ema is: 25.678612230420562
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    1.0
4    0.0
5    1.0
6    0.0
7    2.0
8    2.0
ema
0    1.000000
1    1.000000
2    1.000000
3    1.000000
4    0.672215
5    0.771904
6    0.549201
7    0.952251
8    1.235452
Name: value, dtype: float64
ema is: 1.2354522995450814
dataframe_val
   value
0   67.0
1   54.0
2   23.0
3   39.0
4   21.0
5   21.0
6   67.0
7   17.0
8   68.0
ema
0    67.000000
1    59.571429
2    43.756757
3    42.017143
4    35.128041
5    30.831304
6    41.266394
7    34.524883
8    43.573041
Name: value, dtype: float64
ema is: 43.573040612717094
dataframe_val
   value
0    5.0
1    0.0
2    3.0
3    1.0
4    0.0
5    6.0
6    1.0
7    1.0
8    2.0
ema
0    5.000000
1    2.142857
2    2.513514
3    1.960000
4    1.317542
5    2.741610
6    2.239135
7    1.894888
8    1.923299
Name: value, dtype: float64
ema is: 1.9232990047883989
dataframe_val
   value
0    2.0
1    3.0
2    3.0
3    2.0
4    1.0
5    1.0
6    2.0
7    0.0
8    0.0
ema
0    2.000000
1    2.571429
2    2.756757
3    2.480000
4    1.994878
5    1.692308
6    1.781081
7    1.286274
8    0.938600
Name: value, dtype: float64
ema is: 0.9386004347090873
dataframe_val
   value
0  141.0
1  125.0
2  100.0
3  111.0
4   96.0
5   91.0
6  117.0
7   78.0
8  174.0
ema
0    141.000000
1    131.857143
2    118.081081
3    115.491429
4    109.102433
5    103.596971
6    107.463901
7     99.278457
8    119.475318
Name: value, dtype: float64
ema is: 119.47531767995677
dataframe_val
   value
0   35.0
1   31.0
2   23.0
3   20.0
4   27.0
5   20.0
6   29.0
7   23.0
8   19.0
ema
0    35.000000
1    32.714286
2    28.513514
3    25.400000
4    25.924456
5    24.122661
6    25.529830
7    24.827011
8    23.251999
Name: value, dtype: float64
ema is: 23.25199929060756
dataframe_val
   value
0   55.0
1   55.0
2   49.0
3   24.0
4   39.0
5   19.0
6   54.0
7   23.0
8   29.0
ema
0    55.000000
1    55.000000
2    52.405405
3    42.017143
4    41.028169
5    34.328779
6    40.004156
7    35.280187
8    33.582683
Name: value, dtype: float64
ema is: 33.58268340062938
dataframe_val
   value
0    0.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    2.0
7    1.0
8    1.0
ema
0    0.000000
1    0.571429
2    0.756757
3    0.845714
4    0.896287
5    0.927829
6    1.237163
7    1.171276
8    1.124981
Name: value, dtype: float64
ema is: 1.1249809247672822
dataframe_val
   value
0  154.0
1  158.0
2   90.0
3   78.0
4  109.0
5   62.0
6  113.0
7   55.0
8   65.0
ema
0    154.000000
1    156.285714
2    127.621622
3    109.474286
4    109.318822
5     94.927829
6    100.141861
7     87.600882
8     81.491976
Name: value, dtype: float64
ema is: 81.49197602913458
dataframe_val
   value
0    2.0
1    4.0
2    4.0
3    3.0
4    2.0
5    2.0
6    4.0
7    1.0
8    1.0
ema
0    2.000000
1    3.142857
2    3.513514
3    3.325714
4    2.891165
5    2.620137
6    3.018243
7    2.457550
8    2.063581
Name: value, dtype: float64
ema is: 2.0635813594763692
dataframe_val
   value
0    1.0
1    3.0
2    3.0
3    0.0
4    1.0
5    1.0
6    4.0
7    0.0
8    1.0
ema
0    1.000000
1    2.142857
2    2.513514
3    1.594286
4    1.399488
5    1.277992
6    2.063323
7    1.490106
8    1.357633
Name: value, dtype: float64
ema is: 1.3576327739306528
dataframe_val
   value
0    1.0
1    1.0
2    0.0
3    0.0
4    0.0
5    0.0
6    2.0
7    0.0
8    0.0
ema
0    1.000000
1    1.000000
2    0.567568
3    0.360000
4    0.241997
5    0.168399
6    0.696837
7    0.503247
8    0.367222
Name: value, dtype: float64
ema is: 0.36722194497259353
dataframe_val
   value
0   52.0
1   17.0
2    8.0
3    0.0
4   46.0
5   23.0
6   81.0
7    0.0
8    0.0
ema
0    52.000000
1    32.000000
2    21.621622
3    13.714286
4    24.297055
5    23.902584
6    40.375854
7    29.158932
8    21.277418
Name: value, dtype: float64
ema is: 21.277417811524323
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    3.0
1    0.0
2    2.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    1.0
ema
0    3.000000
1    1.285714
2    1.594595
3    1.011429
4    0.679898
5    0.473121
6    0.336620
7    0.243103
8    0.447688
Name: value, dtype: float64
ema is: 0.4476884942320621
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0   12.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    12.000000
1     5.142857
2     2.918919
3     1.851429
4     1.244558
5     0.866053
6     0.616187
7     0.445002
8     0.324720
Name: value, dtype: float64
ema is: 0.32472026428992706
dataframe_val
   value
0    1.0
1    2.0
2    4.0
3    3.0
4    2.0
5    1.0
6    2.0
7    2.0
8    3.0
ema
0    1.000000
1    1.571429
2    2.621622
3    2.760000
4    2.510883
5    2.051381
6    2.036557
7    2.026401
8    2.289560
Name: value, dtype: float64
ema is: 2.2895599704694773
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    6.0
1    7.0
2    2.0
3    4.0
4    3.0
5    7.0
6    6.0
7    4.0
8    6.0
ema
0    6.000000
1    6.571429
2    4.594595
3    4.377143
4    3.925736
5    4.860707
6    5.189406
7    4.858974
8    5.167388
Name: value, dtype: float64
ema is: 5.1673877448331895
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0   67.0
1   84.0
2   47.0
3   89.0
4   41.0
5  174.0
6   83.0
7   39.0
8   60.0
ema
0    67.000000
1    76.714286
2    63.864865
3    73.057143
4    62.549296
5    96.444609
6    92.565683
7    77.684460
8    72.904438
Name: value, dtype: float64
ema is: 72.90443823955192
dataframe_val
   value
0    2.0
1    1.0
2    7.0
3    2.0
4    3.0
5    3.0
6    6.0
7    4.0
8    3.0
ema
0    2.000000
1    1.428571
2    3.837838
3    3.165714
4    3.111396
5    3.077517
6    3.920687
7    3.942721
8    3.687909
Name: value, dtype: float64
ema is: 3.687908570862943
dataframe_val
       value
0  39.500000
1  41.000000
2  37.714286
3  31.000000
4  34.333333
5  46.000000
6  48.500000
7  40.500000
8  39.000000
ema
0    39.500000
1    40.357143
2    39.214286
3    36.210204
4    35.594994
5    38.759451
6    41.569713
7    41.272533
8    40.658279
Name: value, dtype: float64
ema is: 40.65827876883882
dataframe_val
   value
0    2.0
1    3.0
2    0.0
3    3.0
4    2.0
5    2.0
6    1.0
7    1.0
8    1.0
ema
0    2.000000
1    2.571429
2    1.459459
3    2.022857
4    2.015365
5    2.010692
6    1.719096
7    1.519322
8    1.378952
Name: value, dtype: float64
ema is: 1.378951666453574
dataframe_val
      value
0  0.500000
1  0.666667
2  0.000000
3  0.333333
4  1.000000
5  0.500000
6  1.000000
7  0.000000
8  0.000000
ema
0    0.500000
1    0.595238
2    0.337838
3    0.336190
4    0.553777
5    0.537422
6    0.670881
7    0.484502
8    0.353543
Name: value, dtype: float64
ema is: 0.3535434564734123
dataframe_val
   value
0    3.0
1    5.0
2    4.0
3    3.0
4    2.0
5    2.0
6    4.0
7    1.0
8    1.0
ema
0    3.000000
1    4.142857
2    4.081081
3    3.685714
4    3.133163
5    2.788536
6    3.138057
7    2.544078
8    2.126721
Name: value, dtype: float64
ema is: 2.126721410866077
dataframe_val
   value
0   1.00
1   1.00
2   1.00
3   1.00
4   1.00
5   1.00
6   0.75
7   1.00
8   1.00
ema
0    1.000000
1    1.000000
2    1.000000
3    1.000000
4    1.000000
5    1.000000
6    0.927872
7    0.947910
8    0.961990
Name: value, dtype: float64
ema is: 0.9619897633021394
dataframe_val
   value
0     24
1     41
2     28
3     24
4     20
5     17
6     44
7      7
8      7
ema
0    24.000000
1    33.714286
2    31.243243
3    28.594286
4    25.777209
5    23.107811
6    29.135451
7    22.985943
8    18.665022
Name: value, dtype: float64
ema is: 18.66502241597618
dataframe_val
   value
0     22
1     10
2      3
3     27
4      6
5     18
6     10
7     11
8     13
ema
0    22.000000
1    15.142857
2     9.891892
3    16.148571
4    12.822023
5    14.396792
6    13.128267
7    12.537007
8    12.662152
Name: value, dtype: float64
ema is: 12.662151851225557
dataframe_val
   value
0     17
1     28
2     14
3     14
4     17
5     21
6     17
7     21
8     21
9     19
ema
0    17.000000
1    23.285714
2    19.270270
3    17.342857
4    17.230474
5    18.376893
6    17.979644
7    18.818737
8    19.408321
9    19.300149
Name: value, dtype: float64
ema is: 19.300149465350618
dataframe_val
   value
0     33
1    102
2    151
3     16
4     37
5     51
6    108
7     41
8     79
9     40
ema
0     33.000000
1     72.428571
2    106.405405
3     73.342857
4     61.430218
5     58.258093
6     72.609213
7     63.827774
8     67.928751
9     60.529909
Name: value, dtype: float64
ema is: 60.529908734172984
dataframe_val
   value
0      0
1     35
2     29
3      0
4      1
5     25
6     33
7      2
8     38
9      2
ema
0     0.000000
1    20.000000
2    23.891892
3    15.154286
4    10.514725
5    14.920107
6    20.136367
7    15.097855
8    21.288191
9    16.178392
Name: value, dtype: float64
ema is: 16.17839230258497
dataframe_val
   value
0     78
1      1
2      0
3    124
4     56
5      0
6      2
7     85
8      2
9     70
ema
0    78.000000
1    34.000000
2    19.297297
3    57.588571
4    57.067862
5    39.711910
6    28.831584
7    44.435880
8    32.965673
9    42.776751
Name: value, dtype: float64
ema is: 42.776750912304564
dataframe_val
   value
0     18
1     14
2     30
3     29
4      7
5     42
6     47
7     15
8     39
9     17
ema
0    18.000000
1    15.714286
2    21.891892
3    24.491429
4    18.758003
5    25.826552
6    31.935338
7    27.230487
8    30.411728
9    26.858713
Name: value, dtype: float64
ema is: 26.858713304437373
dataframe_val
   value
0    278
1      1
2      0
3    272
4     78
5      1
6      2
7    164
8      0
9    137
ema
0    278.000000
1    119.714286
2     67.945946
3    142.571429
4    121.405890
5     84.787051
6     60.902022
7     89.543942
8     65.340661
9     84.324545
Name: value, dtype: float64
ema is: 84.32454495935937
dataframe_val
   value
0      0
1     29
2     19
3      2
4      1
5     27
6     16
7      0
8     21
9      1
ema
0     0.000000
1    16.571429
2    17.621622
3    11.908571
4     8.332907
5    14.010098
6    14.584208
7    10.532531
8    13.361836
9    10.086957
Name: value, dtype: float64
ema is: 10.086956697492843
dataframe_val
   value
0     46
1    183
2    164
3     37
4     41
5    329
6    209
7     40
8    201
9     42
ema
0     46.000000
1    124.285714
2    141.459459
3    103.257143
4     82.850192
5    157.711316
6    172.508699
7    135.696109
8    153.347425
9    123.849433
Name: value, dtype: float64
ema is: 123.84943311299237
dataframe_val
   value
0      1
1      1
2      0
3      2
4      0
5      0
6      0
7      1
8      1
9      0
ema
0    1.000000
1    1.000000
2    0.567568
3    1.091429
4    0.733675
5    0.510544
6    0.363246
7    0.540144
8    0.664441
9    0.488418
Name: value, dtype: float64
ema is: 0.48841820384890955
dataframe_val
   value
0      0
1     15
2     10
3      1
4      1
5     19
6     24
7      1
8     22
9      3
ema
0     0.000000
1     8.571429
2     9.189189
3     6.194286
4     4.491677
5     8.904069
6    13.259421
7     9.853599
8    13.136711
9    10.451309
Name: value, dtype: float64
ema is: 10.451308554491186
dataframe_val
   value
0      3
1      5
2     23
3      1
4      7
5     12
6      6
7      3
8     11
9      4
ema
0     3.000000
1     4.142857
2    12.297297
3     8.165714
4     7.783611
5     9.065934
6     8.181376
7     6.741925
8     7.892861
9     6.861570
Name: value, dtype: float64
ema is: 6.861570224966069
dataframe_val
   value
0    278
1    178
2    141
3    263
4     72
5    317
6    203
7    161
8    190
9    120
ema
0    278.000000
1    220.857143
2    186.324324
3    214.365714
4    167.700384
5    213.106623
6    210.190745
7    196.524934
8    194.761277
9    174.955632
Name: value, dtype: float64
ema is: 174.95563233747032
dataframe_val
   value
0    419
1    333
2    262
3    322
4    293
5    379
6    353
7    332
8    368
9    286
ema
0    419.000000
1    369.857143
2    323.216216
3    322.771429
4    313.012804
5    333.081378
6    338.828133
7    336.931191
8    345.328935
9    329.611603
Name: value, dtype: float64

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    6.0
1    6.0
2    4.0
3    7.0
4    9.0
5    5.0
6    8.0
7    6.0
8    9.0
9    7.0
ema
0    6.000000
1    6.000000
2    5.135135
3    5.817143
4    6.860435
5    6.294624
6    6.786645
7    6.568105
8    7.225434
9    7.165713
Name: value, dtype: float64
ema is: 7.165712507086719
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0   79.0
1  141.0
2   45.0
3   91.0
4  143.0
5  130.0
6   91.0
7   75.0
8  179.0
9   98.0
ema
0     79.000000
1    114.428571
2     84.405405
3     86.817143
4    105.233035
5    112.765370
6    106.485807
7     97.738652
8    119.703189
9    113.953613
Name: value, dtype: float64
ema is: 113.9536131909488
dataframe_val
   value
0    5.0
1    3.0
2    5.0
3    3.0
4    7.0
5    1.0
6    2.0
7    4.0
8    3.0
9    4.0
ema
0    5.000000
1    3.857143
2    4.351351
3    3.857143
4    4.887324
5    3.705079
6    3.213144
7    3.431742
8    3.315044
9    3.496502
Name: value, dtype: float64
ema is: 3.4965018640219014
dataframe_val
       value
0  38.400000
1  34.333333
2  43.600000
3  35.333333
4  39.571429
5  29.000000
6  39.500000
7  37.250000
8  35.666667
9  41.750000
ema
0    38.400000
1    36.076190
2    39.329730
3    37.868190
4    38.426486
5    35.559625
6    36.696469
7    36.850247
8    36.530331
9    37.913118
Name: value, dtype: float64
ema is: 37.91311791246871
dataframe_val
   value
0    1.0
1    1.0
2    4.0
3    0.0
4    1.0
5    3.0
6    4.0
7    0.0
8    3.0
9    0.0
ema
0    1.000000
1    1.000000
2    2.297297
3    1.457143
4    1.307298
5    1.822097
6    2.450447
7    1.769682
8    2.102231
9    1.545311
Name: value, dtype: float64
ema is: 1.5453110425486114
dataframe_val
      value
0  1.000000
1  1.000000
2  1.000000
3  0.000000
4  1.000000
5  1.000000
6  1.000000
7  0.000000
8  0.666667
9  0.000000
ema
0    1.000000
1    1.000000
2    1.000000
3    0.634286
4    0.754161
5    0.828928
6    0.878284
7    0.634286
8    0.643038
9    0.472685
Name: value, dtype: float64
ema is: 0.47268543455610607
dataframe_val
   value
0    4.0
1    3.0
2    1.0
3    4.0
4    4.0
5    3.0
6    3.0
7    2.0
8    4.0
9    4.0
ema
0    4.000000
1    3.428571
2    2.378378
3    2.971429
4    3.308579
5    3.214731
6    3.152779
7    2.832522
8    3.148086
9    3.373774
Name: value, dtype: float64
ema is: 3.373773530181592
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
9    1.0
ema
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
9    1.0
Name: value, dtype: float64
ema is: 1.0
dataframe_val
   value
0     31
1     24
2     25
3     28
4     31
5     30
6     35
7     14
8     34
9     28
ema
0    31.000000
1    27.000000
2    26.135135
3    26.817143
4    28.188220
5    28.739234
6    30.545538
7    25.948978
8    28.125129
9    28.091980
Name: value, dtype: float64
ema is: 28.091980309784372
dataframe_val
   value
0     14
1     27
2      6
3     34
4     27
5     27
6     32
7      6
8     37
9     35
ema
0    14.000000
1    21.428571
2    14.756757
3    21.794286
4    23.500640
5    24.564895
6    26.710009
7    20.956507
8    25.292983
9    27.864551
Name: value, dtype: float64
ema is: 27.864551447307655
dataframe_val
   value
0     27
1     19
2     18
3     17
4     22
5     23
6     24
7     23
8     18
9     22
ema
0    27.000000
1    22.428571
2    20.513514
3    19.228571
4    20.137004
5    21.007722
6    21.871029
7    22.184671
8    21.053576
9    21.304301
Name: value, dtype: float64
ema is: 21.304300943784252
dataframe_val
   value
0     60
1    182
2     28
3     26
4    121
5     27
6    115
7    143
8     37
9     35
ema
0     60.000000
1    129.714286
2     85.729730
3     63.885714
4     82.606914
5     65.695278
6     79.920265
7     97.444612
8     81.106735
9     68.892208
Name: value, dtype: float64
ema is: 68.89220809538294
dataframe_val
   value
0     28
1     21
2      0
3      1
4     19
5      1
6     48
7     31
8      2
9      2
ema
0    28.000000
1    24.000000
2    13.621622
3     9.005714
4    12.281690
5     8.850609
6    20.145665
7    23.161136
8    17.441386
9    13.350678
Name: value, dtype: float64
ema is: 13.350677646997001
dataframe_val
   value
0      1
1      0
2     90
3     87
4      0
5    150
6      2
7      2
8    132
9     75
ema
0     1.000000
1     0.428571
2    39.162162
3    56.657143
4    38.085787
5    72.122067
6    51.891033
7    38.030674
8    63.430115
9    66.495191
Name: value, dtype: float64
ema is: 66.49519113677545
dataframe_val
   value
0     29
1     21
2     22
3     24
4     34
5     25
6     31
7     46
8     13
9     14
ema
0    29.000000
1    24.428571
2    23.378378
3    23.605714
4    27.012804
5    26.400653
6    27.727619
7    32.803917
8    27.451017
9    23.887594
Name: value, dtype: float64
ema is: 23.88759376954848
dataframe_val
   value
0      2
1      2
2    248
3    252
4      2
5    237
6      1
7      2
8    173
9    209
ema
0      2.000000
1      2.000000
2    108.378378
3    160.902857
4    108.816901
5    147.801010
6    105.447207
7     76.708266
8    102.735442
9    130.886888
Name: value, dtype: float64
ema is: 130.88688838202495
dataframe_val
   value
0     30
1     25
2      3
3      0
4     27
5      1
6     23
7     22
8      0
9      0
ema
0    30.000000
1    27.142857
2    16.702703
3    10.594286
4    15.971831
5    11.418473
6    14.759879
7    16.771276
8    12.238084
9     8.995989
Name: value, dtype: float64
ema is: 8.995988992720765
dataframe_val
   value
0    302
1    267
2     42
3     38
4    271
5     40
6    262
7    228
8     37
9     46
ema
0    302.000000
1    282.000000
2    178.216216
3    126.937143
4    174.158771
5    133.357291
6    170.472212
7    186.454159
8    146.057444
9    119.550377
Name: value, dtype: float64
ema is: 119.55037709936161
dataframe_val
   value
0      0
1      2
2      3
3      1
4      0
5      2
6      0
7      0
8      0
9      2
ema
0    0.000000
1    1.142857
2    1.945946
3    1.600000
4    1.075544
5    1.356697
6    0.965274
7    0.697109
8    0.508684
9    0.903761
Name: value, dtype: float64
ema is: 0.9037610898944647
dataframe_val
   value
0     13
1      0
2      4
3      4
4      5
5      3
6     25
7     18
8      0
9      1
ema
0    13.000000
1     5.571429
2     4.891892
3     4.565714
4     4.708067
5     4.188595
6    10.192928
7    12.361831
8     9.020490
9     6.895714
Name: value, dtype: float64
ema is: 6.8957138107398785
dataframe_val
   value
0      0
1     14
2      3
3      2
4     23
5      2
6      0
7      0
8      5
9      2
ema
0     0.000000
1     8.000000
2     5.837838
3     4.434286
4    10.519846
5     7.928720
6     5.641192
7     4.073997
8     4.324291
9     3.708544
Name: value, dtype: float64
ema is: 3.7085435768806714
dataframe_val
   value
0    302
1    253
2    226
3    224
4    248
5    213
6    262
7    228
8    173
9    205
ema
0    302.000000
1    274.000000
2    253.243243
3    242.548571
4    244.335467
5    234.805465
6    242.651405
7    238.581060
8    220.854826
9    216.654590
Name: value, dtype: float64
ema is: 216.65458951600107
dataframe_val
   value
0    427
1    292
2    302
3    332
4    329
5    321
6    423
7    326
8    345
9    352
ema
0    427.000000
1    349.857143
2    329.162162
3    330.200000
4    329.806658
5    327.128304
6    354.788406
7    346.790623
8    346.306627
9    347.814907
Name: value, dtype: float64
ema is: 347.81490651594146
dataframe_val
   value
0      0
1      2
2      1
3      4
4      0
5      3
6      3
7      1
8      2
9      1
ema
0    0.000000
1    1.142857
2    1.081081
3    2.148571
4    1.444302
5    1.917434
6    2.229767
7    1.888122
8    1.918362
9    1.675071
Name: value, dtype: float64
ema is: 1.6750710187796796
dataframe_val
   value
0      0
1      1
2      1
3      2
4      2
5      0
6      1
7      2
8      2
9      1
ema
0    0.000000
1    0.571429
2    0.756757
3    1.211429
4    1.469910
5    1.022869
6    1.016271
7    1.289563
8    1.481591
9    1.354009
Name: value, dtype: float64
ema is: 1.3540085313488162
dataframe_val
   value
0      0
1      3
2      4
3      3
4      2
5      2
6      1
7      2
8      2
9      0
ema
0    0.000000
1    1.714286
2    2.702703
3    2.811429
4    2.545455
5    2.379566
6    1.981545
7    1.986672
8    1.990275
9    1.463014
Name: value, dtype: float64
ema is: 1.4630141471632405
dataframe_val
   value
0     45
1     64
2      4
3      8
4     77
5      5
6     29
7     69
8      8
9      2
ema
0    45.000000
1    55.857143
2    33.432432
3    24.131429
4    41.460948
5    30.372141
6    29.976263
7    40.817550
8    31.947130
9    24.013581
Name: value, dtype: float64
ema is: 24.013581236287646
dataframe_val
       value
0  40.000000
1  33.333333
2  50.000000
3  33.333333
4  26.666667
5  35.294118
6  50.000000
7  44.444444
8  30.769231
9  50.000000
ema
0    40.000000
1    36.190476
2    42.162162
3    38.933333
4    34.912505
5    35.028564
6    39.347998
7    40.763855
8    38.062358
9    41.224860
Name: value, dtype: float64
ema is: 41.22486017783706
dataframe_val
   value
0  100.0
1   20.0
2   25.0
3   50.0
4    0.0
5    0.0
6   50.0
7  100.0
8   50.0
9   50.0
ema
0    100.000000
1     54.285714
2     41.621622
3     44.685714
4     30.038412
5     20.902881
6     29.297739
7     48.939720
8     49.226309
9     49.431274
Name: value, dtype: float64
ema is: 49.4312737297719
dataframe_val
   value
0     33
1     27
2     30
3     27
4     25
5     28
6     39
7     27
8     28
9     29
ema
0    33.000000
1    29.571429
2    29.756757
3    28.748571
4    27.519846
5    27.665875
6    30.935902
7    29.842459
8    29.344451
9    29.253200
Name: value, dtype: float64
ema is: 29.253199761097978
dataframe_val
   value
0   47.0
1   51.0
2   52.0
3   45.0
4   59.0
5   47.0
6   40.0
7   44.0
8   27.0
9   25.0
ema
0    47.000000
1    49.285714
2    50.459459
3    48.462857
4    51.916773
5    50.421443
6    47.414736
7    46.466079
8    41.204495
9    36.911624
Name: value, dtype: float64
ema is: 36.91162444278933
dataframe_val
   value
0   30.0
1   25.0
2   22.0
3   24.0
4   27.0
5   25.0
6   23.0
7   22.0
8   13.0
9   14.0
ema
0    30.000000
1    27.142857
2    24.918919
3    24.582857
4    25.375160
5    25.261063
6    24.608720
7    23.883985
8    20.942098
9    19.103008
Name: value, dtype: float64
ema is: 19.103007800696698
dataframe_val
   value
0    0.0
1    2.0
2    3.0
3    0.0
4    0.0
5    1.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.000000
1    1.142857
2    1.945946
3    1.234286
4    0.829706
5    0.881497
6    0.627175
7    0.452938
8    0.330511
9    0.242952
Name: value, dtype: float64
ema is: 0.24295244091368903
dataframe_val
   value
0   32.0
1   33.0
2   38.0
3   72.0
4   45.0
5   22.0
6   35.0
7   21.0
8   35.0
9   47.0
ema
0    32.000000
1    32.571429
2    34.918919
3    48.480000
4    47.339309
5    39.632908
6    38.296260
7    33.491140
8    33.898978
9    37.369681
Name: value, dtype: float64
ema is: 37.36968066561094
dataframe_val
   value
0    0.0
1    1.0
2    4.0
3    4.0
4    2.0
5    3.0
6    0.0
7    0.0
8    0.0
9    1.0
ema
0    0.000000
1    0.571429
2    2.054054
3    2.765714
4    2.514725
5    2.662311
6    1.894203
7    1.367969
8    0.998214
9    0.998687
Name: value, dtype: float64
ema is: 0.9986872515858587
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    1.0
4    0.0
5    2.0
6    1.0
7    0.0
8    0.0
9    2.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.365714
4    0.245839
5    0.779329
6    0.842995
7    0.608800
8    0.444245
9    0.856393
Name: value, dtype: float64
ema is: 0.8563930039301606
dataframe_val
   value
0  112.0
1  106.0
2   94.0
3  142.0
4  128.0
5  114.0
6  126.0
7  109.0
8  104.0
9  102.0
ema
0    112.000000
1    108.571429
2    102.270270
3    116.800000
4    120.471191
5    118.503119
6    120.666056
7    117.425078
8    113.796347
9    110.671276
Name: value, dtype: float64
ema is: 110.6712762764432
dataframe_val
   value
0   28.0
1   21.0
2   28.0
3   26.0
4   19.0
5   27.0
6   48.0
7   31.0
8   37.0
9   35.0
ema
0    28.000000
1    24.000000
2    25.729730
3    25.828571
4    23.590269
5    24.627265
6    31.370571
7    31.267622
8    32.817055
9    33.395358
Name: value, dtype: float64
ema is: 33.395357579934654
dataframe_val
   value
0   39.0
1   10.0
2   18.0
3   41.0
4   36.0
5   46.0
6   40.0
7   32.0
8   55.0
9   26.0
ema
0    39.000000
1    22.428571
2    20.513514
3    28.005714
4    30.626120
5    35.301752
6    36.657252
7    35.363408
8    40.671081
9    36.784440
Name: value, dtype: float64
ema is: 36.78444044477816
dataframe_val
   value
0    1.0
1    0.0
2    0.0
3    1.0
4    0.0
5    1.0
6    2.0
7    2.0
8    2.0
9    2.0
ema
0    1.000000
1    0.428571
2    0.243243
3    0.520000
4    0.349552
5    0.547372
6    0.966472
7    1.253599
8    1.455347
9    1.599636
Name: value, dtype: float64
ema is: 1.5996359876991735
dataframe_val
   value
0  125.0
1   39.0
2   76.0
3  108.0
4   81.0
5  108.0
6  161.0
7   98.0
8  172.0
9  147.0
ema
0    125.000000
1     75.857143
2     75.918919
3     87.651429
4     85.471191
5     92.322839
6    112.137001
7    108.209563
8    125.451800
9    131.160317
Name: value, dtype: float64
ema is: 131.16031699994036
dataframe_val
   value
0    1.0
1    0.0
2    0.0
3    2.0
4    0.0
5    3.0
6    3.0
7    2.0
8    2.0
9    4.0
ema
0    1.000000
1    0.428571
2    0.243243
3    0.885714
4    0.595391
5    1.326700
6    1.809467
7    1.862399
8    1.899592
9    2.456029
Name: value, dtype: float64
ema is: 2.456028991629334
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    0.0
6    0.0
7    1.0
8    1.0
9    2.0
ema
0    1.000000
1    1.000000
2    1.000000
3    1.000000
4    1.000000
5    0.695872
6    0.495105
7    0.635371
8    0.733928
9    1.069334
Name: value, dtype: float64
ema is: 1.0693341364106286
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    1.0
3   21.0
4    0.0
5    0.0
6    0.0
7    4.0
8    0.0
9   45.0
ema
0     0.000000
1     0.000000
2     0.432432
3     7.954286
4     5.346991
5     3.720820
6     2.647320
7     3.023111
8     2.205980
9    13.542907
Name: value, dtype: float64
ema is: 13.542906863582298
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    2.0
2    0.0
3    2.0
4    1.0
5    2.0
6    3.0
7    1.0
8    1.0
9    2.0
ema
0    0.000000
1    1.142857
2    0.648649
3    1.142857
4    1.096031
5    1.370953
6    1.840952
7    1.607325
8    1.443168
9    1.590683
Name: value, dtype: float64
ema is: 1.5906832254198218
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3   -2.0
4    0.0
5   30.0
6   11.0
7    0.0
8    0.0
9    0.0
ema
0    0.000000
1    0.000000
2    0.000000
3   -0.731429
4   -0.491677
5    8.781705
6    9.421709
7    6.804239
8    4.965087
9    3.649744
Name: value, dtype: float64
ema is: 3.6497437664662007
dataframe_val
   value
0    3.0
1    0.0
2    3.0
3    2.0
4    1.0
5    2.0
6    4.0
7    2.0
8    5.0
9    2.0
ema
0    3.000000
1    1.285714
2    2.027027
3    2.017143
4    1.683739
5    1.779923
6    2.420441
7    2.303637
8    3.032451
9    2.758935
Name: value, dtype: float64
ema is: 2.758935329708032
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    6.0
1    5.0
2    5.0
3    8.0
4   11.0
5    9.0
6    5.0
7    8.0
8    8.0
9    5.0
ema
0    6.000000
1    5.428571
2    5.243243
3    6.251429
4    7.807939
5    8.170478
6    7.255758
7    7.462518
8    7.607797
9    6.916943
Name: value, dtype: float64
ema is: 6.916943145563486
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0   54.0
1  105.0
2  119.0
3  152.0
4  150.0
5  168.0
6   89.0
7   92.0
8  129.0
9  158.0
ema
0     54.000000
1     83.142857
2     98.648649
3    118.160000
4    128.596671
5    140.580339
6    125.698810
7    116.336855
8    119.759640
9    129.890218
Name: value, dtype: float64
ema is: 129.89021825579292
dataframe_val
   value
0    5.0
1    3.0
2    3.0
3    5.0
4    5.0
5    7.0
6    6.0
7    8.0
8    5.0
9    2.0
ema
0    5.000000
1    3.857143
2    3.486486
3    4.040000
4    4.354673
5    5.159192
6    5.401775
7    6.123595
8    5.819893
9    4.807932
Name: value, dtype: float64
ema is: 4.807932476829839
dataframe_val
       value
0  37.800000
1  33.000000
2  40.333333
3  38.400000
4  39.600000
5  45.000000
6  28.333333
7  32.375000
8  41.400000
9  44.000000
ema
0    37.800000
1    35.057143
2    37.338739
3    37.726857
4    38.340845
5    40.366083
6    36.894494
7    35.638922
8    37.196112
9    38.998588
Name: value, dtype: float64
ema is: 38.99858801225231
dataframe_val
   value
0    3.0
1    1.0
2    2.0
3    1.0
4    1.0
5    2.0
6    3.0
7    1.0
8    2.0
9    3.0
ema
0    3.000000
1    1.857143
2    1.918919
3    1.582857
4    1.391805
5    1.576775
6    1.987392
7    1.713082
8    1.790634
9    2.111018
Name: value, dtype: float64
ema is: 2.111017688249032
dataframe_val
      value
0  1.000000
1  1.000000
2  0.500000
3  1.000000
4  1.000000
5  1.000000
6  0.666667
7  1.000000
8  1.000000
9  0.666667
ema
0    1.000000
1    1.000000
2    0.783784
3    0.862857
4    0.907810
5    0.935848
6    0.858186
7    0.897584
8    0.925266
9    0.856758
Name: value, dtype: float64
ema is: 0.8567584984206258
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    2.0
4    0.0
5    2.0
6    3.0
7    2.0
8    2.0
9    4.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.731429
4    0.491677
5    0.950401
6    1.541734
7    1.669046
8    1.758501
9    2.352316
Name: value, dtype: float64
ema is: 2.3523158034091036
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    1.0
4    0.0
5    1.0
6    1.0
7    1.0
8    1.0
9    1.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.365714
4    0.245839
5    0.475200
6    0.626611
7    0.730343
8    0.803230
9    0.855358
Name: value, dtype: float64

0     46.000000
1     73.428571
2     86.648649
3     94.091429
4    130.773367
5    117.460647
6     93.092766
7    106.402001
8     90.345936
9     93.963150
Name: value, dtype: float64
ema is: 93.96315007069035
dataframe_val
   value
0   10.0
1   10.0
2    6.0
3    3.0
4    8.0
5    4.0
6   10.0
7    6.0
8    6.0
9    2.0
ema
0    10.000000
1    10.000000
2     8.270270
3     6.342857
4     6.886044
5     6.008316
6     7.159963
7     6.837711
8     6.611282
9     5.389668
Name: value, dtype: float64
ema is: 5.389667992889532
dataframe_val
       value
0  40.600000
1  42.800000
2  39.000000
3  42.333333
4  42.625000
5  44.250000
6  44.600000
7  37.000000
8  41.666667
9  42.000000
ema
0    40.600000
1    41.857143
2    40.621622
3    41.247619
4    41.699104
5    42.474903
6    43.088019
7    41.396690
8    41.469663
9    41.610159
Name: value, dtype: float64
ema is: 41.610159399389815
dataframe_val
   value
0    2.0
1    4.0
2    1.0
3    0.0
4    2.0
5    5.0
6    2.0
7    4.0
8    2.0
9    2.0
ema
0    2.000000
1    3.142857
2    2.216216
3    1.405714
4    1.600512
5    2.634393
6    2.451363
7    2.881594
8    2.643303
9    2.472880
Name: value, dtype: float64
ema is: 2.4728804772381148
dataframe_val
   value
0   1.00
1   0.75
2   1.00
3   0.00
4   1.00
5   0.80
6   1.00
7   0.50
8   1.00
9   0.50
ema
0    1.000000
1    0.857143
2    0.918919
3    0.582857
4    0.719590
5    0.744045
6    0.817891
7    0.729577
8    0.802671
9    0.722488
Name: value, dtype: float64
ema is: 0.7224878148852937
dataframe_val
   value
0    2.0
1    0.0
2    1.0
3    2.0
4    3.0
5    2.0
6    2.0
7    2.0
8    1.0
9    2.0
ema
0    2.000000
1    0.857143
2    0.918919
3    1.314286
4    1.866837
5    1.907336
6    1.934071
7    1.952387
8    1.694961
9    1.775772
Name: value, dtype: float64
ema is: 1.775771656559144
dataframe_val
   value
0    1.0
1    0.0
2    1.0
3    0.5
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
9    1.0
ema
0    1.000000
1    0.428571
2    0.675676
3    0.611429
4    0.738796
5    0.818236
6    0.870677
7    0.906604
8    0.931849
9    0.949903
Name: value, dtype: float64
ema is: 0.9499033376552636
dataframe_val
   value
0     20
1      9
2     10
3     13
4     27
5     26
6     20
7     20
8     13
9     17
ema
0    20.000000
1    13.714286
2    12.108108
3    12.434286
4    17.208707
5    19.882388
6    19.916320
7    19.939568
8    18.063837
9    17.782007
Name: value, dtype: float64
ema is: 17.782006958880356
dataframe_val
   value
0     23
1     31
2     31
3     20
4     31
5     15
6      3
7     17
8      7
9     28
ema
0    23.000000
1    27.571429
2    29.054054
3    25.742857
4    27.466069
5    23.674785
6    17.709868
7    17.512658
8    14.671139
9    18.202201
Name: value, dtype: float64
ema is: 18.20220064738001
dataframe_val
   value
0     24
1     17
2     28
3     12
4     18
5     23
6     24
7     19
8     24
9     15
ema
0    24.000000
1    20.000000
2    23.459459
3    19.268571
4    18.852753
5    20.114048
6    21.235191
7    20.614226
8    21.529384
9    19.799630
Name: value, dtype: float64
ema is: 19.79962951996257
dataframe_val
   value
0     60
1     21
2    129
3     15
4     19
5     35
6     21
7    171
8     74
9     20
ema
0    60.000000
1    37.714286
2    77.189189
3    54.445714
4    42.827145
5    40.446688
6    34.836092
7    72.664146
8    73.025221
9    58.977859
Name: value, dtype: float64
ema is: 58.97785911854856
dataframe_val
   value
0     37
1      0
2     33
3      0
4      0
5      2
6     33
7     26
8     30
9      0
ema
0    37.000000
1    15.857143
2    23.270270
3    14.760000
4     9.921895
5     7.512623
6    14.866028
7    17.959186
8    21.213758
9    15.593841
Name: value, dtype: float64
ema is: 15.59384129993421
dataframe_val
   value
0      1
1    162
2      3
3    158
4    230
5     81
6      0
7      0
8      2
9    125
ema
0      1.000000
1     93.000000
2     54.081081
3     92.085714
4    137.291933
5    120.171963
6     85.500951
7     61.747707
8     45.598199
9     66.633205
Name: value, dtype: float64
ema is: 66.63320455126541
dataframe_val
   value
0     32
1     17
2     26
3     19
4     23
5     21
6     45
7     28
8     32
9     22
ema
0    32.000000
1    23.428571
2    24.540541
3    22.514286
4    22.673496
5    22.164538
6    28.752835
7    28.543688
8    29.477912
9    27.496875
Name: value, dtype: float64
ema is: 27.49687476946056
dataframe_val
   value
0      1
1    222
2      3
3    186
4    243
5    287
6      0
7      1
8      0
9    181
ema
0      1.000000
1    127.285714
2     73.540541
3    114.668571
4    156.733675
5    196.351351
6    139.701698
7    101.168614
8     73.823242
9    102.216347
Name: value, dtype: float64
ema is: 102.21634680003679
dataframe_val
   value
0     22
1      1
2     30
3      0
4      0
5      1
6     26
7     21
8     17
9      0
ema
0    22.000000
1    10.000000
2    18.648649
3    11.828571
4     7.951344
5     5.837244
6    11.654434
7    14.250750
8    14.993859
9    11.021708
Name: value, dtype: float64
ema is: 11.02170835156595
dataframe_val
   value
0    317
1     31
2    327
3     32
4     24
5     59
6    371
7    214
8    268
9     37
ema
0    317.000000
1    153.571429
2    228.567568
3    156.680000
4    113.189501
5     96.708940
6    175.845108
7    186.445019
8    208.488924
9    163.058337
Name: value, dtype: float64
ema is: 163.05833696301363
dataframe_val
   value
0      1
1      2
2      0
3      0
4      0
5      0
6      0
7      2
8      0
9      1
ema
0    1.000000
1    1.571429
2    0.891892
3    0.565714
4    0.380282
5    0.264627
6    0.188279
7    0.691598
8    0.504663
9    0.635887
Name: value, dtype: float64
ema is: 0.635886640788983
dataframe_val
   value
0     16
1      3
2      8
3      1
4      0
5      1
6     27
7      3
8     42
9      3
ema
0    16.000000
1     8.571429
2     8.324324
3     5.645714
4     3.795134
5     2.945055
6     9.885187
7     7.972395
8    17.169887
9    13.416022
Name: value, dtype: float64
ema is: 13.41602199838913
dataframe_val
   value
0     18
1      0
2      9
3      2
4      4
5      2
6     20
7     14
8     10
9      1
ema
0    18.000000
1     7.714286
2     8.270270
3     5.977143
4     5.329065
5     4.316602
6     8.841445
7    10.274557
8    10.200346
9     7.763004
Name: value, dtype: float64
ema is: 7.763003940266409
dataframe_val
   value
0    299
1    198
2    318
3    181
4    243
5    282
6    351
7    200
8    258
9    148
ema
0    299.000000
1    241.285714
2    274.459459
3    240.280000
4    241.171575
5    253.588655
6    281.692963
7    258.997626
8    258.727973
9    229.394085
Name: value, dtype: float64
ema is: 229.3940852548743
dataframe_val
   value
0    439
1    287
2    476
3    246
4    318
5    403
6    475
7    285
8    406
9    280
ema
0    439.000000
1    352.142857
2    405.702703
3    347.297143
4    337.693982
5    357.555391
6    391.439529
7    361.869284
8    373.797596
9    348.948879
Name: value, dtype: float64
ema is: 348.9488786056368
dataframe_val
   value
0      0
1      1
2      0
3      0
4      2
5      1
6      2
7      0
8      2
9      1
ema
0    0.000000
1    0.571429
2    0.324324
3    0.205714
4    0.793854
5    0.856549
6    1.186448
7    0.856838
8    1.165829
9    1.121898
Name: value, dtype: float64
ema is: 1.1218976339200446
dataframe_val
   value
0      0
1      1
2      0
3      0
4      0
5      3
6      3
7      1
8      1
9      0
ema
0    0.000000
1    0.571429
2    0.324324
3    0.205714
4    0.138284
5    1.008613
6    1.583151
7    1.421145
8    1.307311
9    0.960980
Name: value, dtype: float64
ema is: 0.960980347175974
dataframe_val
   value
0      1
1      2
2      0
3      0
4      1
5      1
6      3
7      3
8      1
9      1
ema
0    1.000000
1    1.571429
2    0.891892
3    0.565714
4    0.708067
5    0.796852
6    1.432486
7    1.867961
8    1.633355
9    1.465568
Name: value, dtype: float64
ema is: 1.4655678925385562
dataframe_val
   value
0     76
1      9
2     30
3     13
4      5
5      8
6     77
7     38
8     56
9      6
ema
0    76.000000
1    37.714286
2    34.378378
3    26.560000
4    19.492958
5    15.997624
6    33.597521
7    34.820585
8    40.545275
9    31.393593
Name: value, dtype: float64
ema is: 31.393593100541977
dataframe_val
       value
0  47.368421
1  30.769231
2  60.000000
3  23.076923
4  42.857143
5  38.461538
6  50.000000
7  40.000000
8  40.000000
9  36.363636
ema
0    47.368421
1    37.883169
2    47.447204
3    38.534644
4    39.951494
5    39.498356
6    42.528203
7    41.825836
8    41.332322
9    40.016025
Name: value, dtype: float64
ema is: 40.01602515836721
dataframe_val
        value
0    0.000000
1  100.000000
2   66.666667
3    0.000000
4    0.000000
5    0.000000
6    0.000000
7   33.333333
8    0.000000
9    0.000000
ema
0     0.000000
1    57.142857
2    61.261261
3    38.857143
4    26.120359
5    18.176418
6    12.932310
7    18.599972
8    13.572492
9     9.976888
Name: value, dtype: float64
ema is: 9.976887947473893
dataframe_val
   value
0     37
1     25
2     38
3     23
4     22
5     34
6     36
7     27
8     27
9     25
ema
0    37.000000
1    30.142857
2    33.540541
3    29.685714
4    27.166453
5    29.244728
6    31.193703
7    30.028639
8    29.210013
9    28.094703
Name: value, dtype: float64
ema is: 28.094702822661738
dataframe_val
   value
0   41.0
1   35.0
2   47.0
3   34.0
4   45.0
5   34.0
6   49.0
7   40.0
8   22.0
9   32.0
ema
0    41.000000
1    37.571429
2    41.648649
3    38.851429
4    40.866837
5    38.778438
6    41.727478
7    41.247563
8    36.045042
9    34.973436
Name: value, dtype: float64
ema is: 34.97343579306072
dataframe_val
   value
0   22.0
1   17.0
2   30.0
3   19.0
4   23.0
5   21.0
6   26.0
7   21.0
8   17.0
9   22.0
ema
0    22.000000
1    19.142857
2    23.837838
3    22.068571
4    22.373880
5    21.956044
6    23.122772
7    22.533039
8    21.037486
9    21.292474
Name: value, dtype: float64
ema is: 21.292474081050845
dataframe_val
   value
0    1.0
1    1.0
2    0.0
3    0.0
4    0.0
5    1.0
6    0.0
7    2.0
8    0.0
9    0.0
ema
0    1.000000
1    1.000000
2    0.567568
3    0.360000
4    0.241997
5    0.472527
6    0.336198
7    0.798423
8    0.582613
9    0.428268
Name: value, dtype: float64
ema is: 0.42826825341804714
dataframe_val
   value
0   49.0
1   77.0
2   43.0
3   22.0
4   41.0
5   60.0
6   59.0
7   22.0
8   59.0
9   60.0
ema
0    49.000000
1    65.000000
2    55.486486
3    43.240000
4    42.505762
5    47.826255
6    51.050011
7    42.979551
8    47.309798
9    50.671667
Name: value, dtype: float64
ema is: 50.67166737239105
dataframe_val
   value
0    2.0
1    3.0
2    1.0
3    1.0
4    0.0
5    1.0
6    2.0
7    3.0
8    1.0
9    3.0
ema
0    2.000000
1    2.571429
2    1.891892
3    1.565714
4    1.052497
5    1.036531
6    1.314503
7    1.782755
8    1.571181
9    1.949701
Name: value, dtype: float64
ema is: 1.9497012208863427
dataframe_val
   value
0    0.0
1    3.0
2    2.0
3    0.0
4    1.0
5    2.0
6    2.0
7    1.0
8    3.0
9    1.0
ema
0    0.000000
1    1.714286
2    1.837838
3    1.165714
4    1.111396
5    1.381645
6    1.560048
7    1.404460
8    1.835726
9    1.614327
Name: value, dtype: float64
ema is: 1.6143268450481898
dataframe_val
   value
0  124.0
1  113.0
2  171.0
3  116.0
4  103.0
5  161.0
6  167.0
7   91.0
8  187.0
9  103.0
ema
0    124.000000
1    117.714286
2    140.756757
3    131.702857
4    122.294494
5    134.065934
6    143.567796
7    128.963798
8    144.650694
9    133.616655
Name: value, dtype: float64
ema is: 133.61665523022617
dataframe_val
   value
0   37.0
1   21.0
2   33.0
3   15.0
4   19.0
5   35.0
6   33.0
7   26.0
8   30.0
9   20.0
ema
0    37.000000
1    27.857143
2    30.081081
3    24.565714
4    22.741357
5    26.469557
6    28.353666
7    27.699788
8    28.321524
9    26.116998
Name: value, dtype: float64
ema is: 26.1169983234414
dataframe_val
   value
0   53.0
1   36.0
2   41.0
3   47.0
4   42.0
5   41.0
6   51.0
7   25.0
8   49.0
9   79.0
ema
0    53.000000
1    43.285714
2    42.297297
3    44.017143
4    43.355954
5    42.639442
6    45.051560
7    39.480983
8    42.053926
9    51.841624
Name: value, dtype: float64
ema is: 51.84162433162511
dataframe_val
   value
0    1.0
1    0.0
2    3.0
3    0.0
4    0.0
5    2.0
6    0.0
7    0.0
8    2.0
9    0.0
ema
0    1.000000
1    0.428571
2    1.540541
3    0.977143
4    0.656850
5    1.065340
6    0.757977
7    0.547401
8    0.940032
9    0.691000
Name: value, dtype: float64
ema is: 0.6909998413383364
dataframe_val
   value
0  140.0
1   89.0
2  158.0
3   65.0
4   75.0
5  121.0
6  124.0
7   85.0
8  148.0
9  132.0
ema
0    140.000000
1    110.857143
2    131.243243
3    107.017143
4     96.522407
5    103.966736
6    109.746566
7    102.871657
8    115.069624
9    119.554793
Name: value, dtype: float64
ema is: 119.55479335076254
dataframe_val
   value
0    1.0
1    3.0
2    5.0
3    0.0
4    1.0
5    4.0
6    2.0
7    1.0
8    5.0
9    1.0
ema
0    1.000000
1    2.142857
2    3.378378
3    2.142857
4    1.768246
5    2.446985
6    2.318025
7    1.951861
8    2.775758
9    2.305327
Name: value, dtype: float64
ema is: 2.3053266863865263
dataframe_val
   value
0    0.0
1    1.0
2    1.0
3    1.0
4    0.0
5    0.0
6    2.0
7    0.0
8    0.0
9    0.0
ema
0    0.000000
1    0.571429
2    0.756757
3    0.845714
4    0.568502
5    0.395604
6    0.858491
7    0.619992
8    0.452411
9    0.332559
Name: value, dtype: float64
ema is: 0.3325588892470847
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1   11.0
2    1.0
3    4.0
4    0.0
5    0.0
6   37.0
7    0.0
8    0.0
9    0.0
ema
0     0.000000
1     6.285714
2     4.000000
3     4.000000
4     2.688860
5     1.871102
6    12.006198
7     8.670725
8     6.327071
9     4.650913
Name: value, dtype: float64
ema is: 4.650913011974408
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    2.0
1    0.0
2    0.0
3    0.0
4    1.0
5    3.0
6    4.0
7    2.0
8    2.0
9    0.0
ema
0    2.000000
1    0.857143
2    0.486486
3    0.308571
4    0.535211
5    1.284823
6    2.068183
7    2.049241
8    2.035932
9    1.496576
Name: value, dtype: float64
ema is: 1.4965756366425573
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    9.0
6   38.0
7   -5.0
8    0.0
9    0.0
ema
0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     2.737155
6    12.910897
7     7.935023
8     5.790226
9     4.256288
Name: value, dtype: float64
ema is: 4.256288105327091
dataframe_val
   value
0    2.0
1    0.0
2    1.0
3    2.0
4    4.0
5    2.0
6    3.0
7    1.0
8    6.0
9    1.0
ema
0    2.000000
1    0.857143
2    0.918919
3    1.314286
4    2.194622
5    2.135432
6    2.384870
7    2.000136
8    3.081279
9    2.529910
Name: value, dtype: float64
ema is: 2.5299097447568384
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    2.0
1    6.0
2    5.0
3    5.0
4    5.0
5    4.0
6    4.0
7    5.0
8    5.0
9    6.0
ema
0    2.000000
1    4.285714
2    4.594595
3    4.742857
4    4.827145
5    4.575587
6    4.409523
7    4.573565
8    4.688828
9    5.036182
Name: value, dtype: float64
ema is: 5.036181933388376
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0   34.0
1  140.0
2  111.0
3   78.0
4   90.0
5   62.0
6   17.0
7  109.0
8   94.0
9  144.0
ema
0     34.000000
1     94.571429
2    101.675676
3     93.017143
4     92.028169
5     82.895753
6     63.884060
7     76.417838
8     81.170209
9     97.814982
Name: value, dtype: float64
ema is: 97.8149823097298
dataframe_val
   value
0    4.0
1    5.0
2    2.0
3    5.0
4    3.0
5    5.0
6    3.0
7    5.0
8    1.0
9    4.0
ema
0    4.000000
1    4.571429
2    3.459459
3    4.022857
4    3.687580
5    4.086724
6    3.773192
7    4.114014
8    3.272312
9    3.465090
Name: value, dtype: float64
ema is: 3.4650898863800585
dataframe_val
   value
0  47.75
1  46.40
2  52.50
3  39.80
4  40.00
5  33.20
6  56.00
7  36.40
8  42.00
9  37.25
ema
0    47.750000
1    46.978571
2    49.366216
3    45.867714
4    43.944366
5    40.676700
6    45.097651
7    42.681334
8    42.497173
9    41.107100
Name: value, dtype: float64
ema is: 41.10709950309592
dataframe_val
   value
0    6.0
1    0.0
2    1.0
3    2.0
4    3.0
5    3.0
6    4.0
7    0.0
8    1.0
9    2.0
ema
0    6.000000
1    2.571429
2    1.891892
3    1.931429
4    2.281690
5    2.500149
6    2.932873
7    2.118084
8    1.815871
9    1.864650
Name: value, dtype: float64
ema is: 1.8646504845244243
dataframe_val
      value
0  0.833333
1  0.000000
2  1.000000
3  1.000000
4  0.333333
5  1.000000
6  1.000000
7  0.000000
8  1.000000
9  1.000000
ema
0    0.833333
1    0.357143
2    0.635135
3    0.768571
4    0.625907
5    0.739679
6    0.814785
7    0.588427
8    0.699673
9    0.779235
Name: value, dtype: float64
ema is: 0.779235432686526
dataframe_val
   value
0    1.0
1    3.0
2    5.0
3    0.0
4    1.0
5    4.0
6    1.0
7    1.0
8    5.0
9    1.0
ema
0    1.000000
1    2.142857
2    3.378378
3    2.142857
4    1.768246
5    2.446985
6    2.029513
7    1.743501
8    2.623717
9    2.193564
Name: value, dtype: float64
ema is: 2.1935641978440206
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    0.0
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
9    1.0
ema
0    1.000000
1    1.000000
2    1.000000
3    0.634286
4    0.754161
5    0.828928
6    0.878284
7    0.912098
8    0.935858
9    0.952850
Name: value, dtype: float64
ema is: 0.9528502001461304
dataframe_val
   value
0     22
1     21
2     38
3      6
4     10
5     37
6     27
7      7
8     38
9     13
ema
0    22.000000
1    21.428571
2    28.594595
3    20.331429
4    16.944942
5    23.044253
6    24.185532
7    19.411174
8    24.435641
9    21.406128
Name: value, dtype: float64
ema is: 21.406128382550452
dataframe_val
   value
0      7
1     31
2     31
3     17
4     27
5      3
6      0
7     21
8      6
9     31
ema
0     7.000000
1    20.714286
2    25.162162
3    22.177143
4    23.758003
5    17.444906
6    12.411848
7    14.797745
8    12.419758
9    17.342008
Name: value, dtype: float64
ema is: 17.342007848194136
dataframe_val
   value
0     22
1     21
2     16
3     27
4     26
5     23
6     21

   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    1.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    0.000000
5    0.000000
6    0.000000
7    0.000000
8    0.000000
9    0.264918
Name: value, dtype: float64
ema is: 0.26491849136001344
dataframe_val
   value
0   64.0
1  146.0
2   79.0
3   94.0
4   94.0
5   51.0
6   25.0
7   57.0
8  101.0
9  132.0
ema
0     64.000000
1    110.857143
2     97.081081
3     95.954286
4     95.313700
5     81.836650
6     65.438614
7     63.094260
8     73.339993
9     88.880113
Name: value, dtype: float64
ema is: 88.88011342793072
dataframe_val
   value
0    1.0
1    2.0
2    3.0
3    0.0
4    1.0
5    1.0
6    0.0
7    2.0
8    1.0
9    1.0
ema
0    1.000000
1    1.571429
2    2.189189
3    1.388571
4    1.261204
5    1.181764
6    0.840811
7    1.162849
8    1.118831
9    1.087351
Name: value, dtype: float64
ema is: 1.0873508251922384
dataframe_val
   value
0    2.0
1    1.0
2    1.0
3    1.0
4    0.0
5    1.0
6    2.0
7    3.0
8    0.0
9    0.0
ema
0    2.000000
1    1.428571
2    1.243243
3    1.154286
4    0.775928
5    0.844075
6    1.177573
7    1.683866
8    1.228725
9    0.903213
Name: value, dtype: float64
ema is: 0.9032133534506891
dataframe_val
   value
0    0.0
1    1.0
2    0.0
3    0.0
4    0.0
5    0.0
6    1.0
7    0.0
8    0.0
9    0.0
ema
0    0.000000
1    0.571429
2    0.324324
3    0.205714
4    0.138284
5    0.096228
6    0.356977
7    0.257804
8    0.188121
9    0.138284
Name: value, dtype: float64
ema is: 0.1382842509603073
dataframe_val
   value
0   13.0
1   49.0
2    0.0
3    0.0
4    0.0
5   20.0
6   15.0
7   48.0
8    0.0
9    0.0
ema
0    13.000000
1    33.571429
2    19.054054
3    12.085714
4     8.124200
5    11.735967
6    12.677678
7    22.490666
8    16.411551
9    12.063827
Name: value, dtype: float64
ema is: 12.063827465041378
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    3.0
1    3.0
2    2.0
3    2.0
4    1.0
5    1.0
6    3.0
7    4.0
8    1.0
9    3.0
ema
0    3.000000
1    3.000000
2    2.567568
3    2.360000
4    1.914213
5    1.636175
6    2.029654
7    2.577041
8    2.150775
9    2.375750
Name: value, dtype: float64
ema is: 2.3757502321816384
dataframe_val
   value
0    1.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    1.000000
1    0.428571
2    0.243243
3    0.154286
4    0.103713
5    0.072171
6    0.051349
7    0.037084
8    0.027060
9    0.019891
Name: value, dtype: float64
ema is: 0.019891321813351227
dataframe_val
   value
0    3.0
1    0.0
2    0.0
3    0.0
4   -2.0
5    4.0
6    0.0
7   -9.0
8    0.0
9    0.0
ema
0    3.000000
1    1.285714
2    0.729730
3    0.462857
4   -0.344430
5    0.976834
6    0.695006
7   -1.998389
8   -1.458235
9   -1.071921
Name: value, dtype: float64
ema is: -1.0719212310528161
dataframe_val
   value
0    1.0
1    4.0
2    6.0
3    3.0
4    4.0
5    1.0
6    4.0
7    3.0
8    4.0
9    0.0
ema
0    1.000000
1    2.714286
2    4.135135
3    3.720000
4    3.811780
5    2.956638
6    3.257660
7    3.186079
8    3.406078
9    2.503745
Name: value, dtype: float64
ema is: 2.5037447184361823
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0   11.0
1    4.0
2    6.0
3    3.0
4   11.0
5    7.0
6    6.0
7    8.0
8    7.0
9    7.0
ema
0    11.000000
1     7.000000
2     6.567568
3     5.262857
4     7.143406
5     7.099792
6     6.782489
7     7.120729
8     7.088097
9     7.064758
Name: value, dtype: float64
ema is: 7.064758212762259
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0  174.0
1   32.0
2   83.0
3   77.0
4  221.0
5   90.0
6   77.0
7  154.0
8  107.0
9   71.0
ema
0    174.000000
1     92.857143
2     88.594595
3     84.354286
4    129.144686
5    117.239679
6    105.630063
7    119.067842
8    115.805965
9    103.936036
Name: value, dtype: float64
ema is: 103.9360361061396
dataframe_val
   value
0    7.0
1    4.0
2    5.0
3    5.0
4    7.0
5    5.0
6    7.0
7    6.0
8    4.0
9    8.0
ema
0    7.000000
1    5.285714
2    5.162162
3    5.102857
4    5.724712
5    5.504307
6    5.935832
7    5.953658
8    5.425594
9    6.107602
Name: value, dtype: float64
ema is: 6.107601914854269
dataframe_val
       value
0  40.571429
1  45.000000
2  39.000000
3  46.600000
4  48.285714
5  43.400000
6  40.000000
7  41.166667
8  38.750000
9  37.375000
ema
0    40.571429
1    43.102041
2    41.328185
3    43.256163
4    44.904774
5    44.447130
6    43.164081
7    42.609174
8    41.566059
9    40.455770
Name: value, dtype: float64
ema is: 40.455769618067166
dataframe_val
   value
0    1.0
1    1.0
2    2.0
3    1.0
4    1.0
5    2.0
6    2.0
7    1.0
8    1.0
9    0.0
ema
0    1.000000
1    1.000000
2    1.432432
3    1.274286
4    1.184379
5    1.432432
6    1.596182
7    1.430555
8    1.314178
9    0.966028
Name: value, dtype: float64
ema is: 0.9660282134797737
dataframe_val
   value
0    0.0
1    1.0
2    1.0
3    1.0
4    1.0
5    0.5
6    1.0
7    1.0
8    1.0
9    0.0
ema
0    0.000000
1    0.571429
2    0.756757
3    0.845714
4    0.896287
5    0.775765
6    0.840459
7    0.884782
8    0.915925
9    0.673279
Name: value, dtype: float64
ema is: 0.6732792536231957
dataframe_val
   value
0    2.0
1    3.0
2    3.0
3    0.0
4    1.0
5    1.0
6    1.0
7    2.0
8    1.0
9    1.0
ema
0    2.000000
1    2.571429
2    2.756757
3    1.748571
4    1.503201
5    1.350163
6    1.249137
7    1.457736
8    1.334012
9    1.245526
Name: value, dtype: float64
ema is: 1.2455263979658968
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    0.0
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
9    1.0
ema
0    1.000000
1    1.000000
2    1.000000
3    0.634286
4    0.754161
5    0.828928
6    0.878284
7    0.912098
8    0.935858
9    0.952850
Name: value, dtype: float64
ema is: 0.9528502001461304
dataframe_val
   value
0     14
1     24
2     27
3      3
4     10
5     10
6     15
7     17
8     10
9      7
ema
0    14.000000
1    19.714286
2    22.864865
3    15.600000
4    13.764405
5    12.619543
6    13.306332
7    14.332480
8    13.161432
9    11.529155
Name: value, dtype: float64
ema is: 11.529154838624919
dataframe_val
   value
0     52
1     27
2     10
3     13
4     47
5     29
6     26
7     16
8     17
9     20
ema
0    52.000000
1    37.714286
2    25.729730
3    21.074286
4    29.572343
5    29.398277
6    28.417835
7    24.968003
8    22.814292
9    22.068734
Name: value, dtype: float64
ema is: 22.068733849606932
dataframe_val
   value
0     26
1     19
2     21
3     22
4     21
5     16
6     24
7     20
8     27
9     22
ema
0    26.000000
1    22.000000
2    21.567568
3    21.725714
4    21.487836
5    19.818830
6    21.025146
7    20.740348
8    22.432300
9    22.317776
Name: value, dtype: float64
ema is: 22.31777606876821
dataframe_val
   value
0    122
1     36
2     23
3    134
4     95
5     23
6     93
7     84
8     32
9     77
ema
0    122.000000
1     72.857143
2     51.297297
3     81.542857
4     85.953905
5     66.807841
6     74.364584
7     77.041424
8     64.866952
9     68.081221
Name: value, dtype: float64
ema is: 68.08122062359087
dataframe_val
   value
0     33
1      1
2      0
3     25
4     39
5      0
6     22
7     33
8      2
9     41
ema
0    33.000000
1    14.714286
2     8.351351
3    14.440000
4    22.490397
5    15.650431
6    17.482355
7    21.793353
8    16.443308
9    22.948830
Name: value, dtype: float64
ema is: 22.948830097612294
dataframe_val
   value
0      2
1     38
2     46
3      2
4      2
5     96
6      0
7      1
8    120
9      0
ema
0     2.000000
1    22.571429
2    32.702703
3    21.474286
4    15.090909
5    39.697654
6    28.244418
7    20.675574
8    47.522472
9    34.932890
Name: value, dtype: float64
ema is: 34.932890158631345
dataframe_val
   value
0     32
1     13
2     28
3     31
4     41
5     19
6     22
7     33
8     34
9     19
ema
0    32.000000
1    21.142857
2    24.108108
3    26.628571
4    31.339309
5    27.586576
6    25.974783
7    27.926477
8    29.568120
9    26.768430
Name: value, dtype: float64
ema is: 26.768429764928094
dataframe_val
   value
0      2
1    123
2    306
3      2
4      1
5    282
6      3
7      1
8    341
9      0
ema
0      2.000000
1     71.142857
2    172.702703
3    110.274286
4     74.455826
5    137.575884
6     98.749172
7     71.593217
8    144.412528
9    106.154979
Name: value, dtype: float64
ema is: 106.15497909607316
dataframe_val
   value
0     22
1      0
2      3
3     29
4     12
5      0
6     30
7     17
8      2
9     18
ema
0    22.000000
1     9.428571
2     6.648649
3    14.822857
4    13.897567
5     9.670924
6    15.536099
7    15.942789
8    12.174123
9    13.717505
Name: value, dtype: float64
ema is: 13.717505434414624
dataframe_val
   value
0    212
1     35
2     33
3    338
4    147
5     30
6    359
7    178
8     28
9    169
ema
0    212.000000
1    110.857143
2     77.189189
3    172.571429
4    164.189501
5    123.378675
6    191.358174
7    187.647105
8    144.495288
9    150.987039
Name: value, dtype: float64
ema is: 150.98703926219295
dataframe_val
   value
0      4
1      0
2      1
3      6
4      1
5      1
6      1
7      0
8      3
9      0
ema
0    4.000000
1    1.714286
2    1.405405
3    3.085714
4    2.402049
5    1.975646
6    1.694161
7    1.223501
8    1.703680
9    1.252344
Name: value, dtype: float64
ema is: 1.2523437965815991
dataframe_val
   value
0     15
1      0
2      4
3      5
4     25
5      0
6      0
7     44
8      5
9     24
ema
0    15.000000
1     6.428571
2     5.378378
3     5.240000
4    11.717029
5     8.153549
6     5.801155
7    16.413277
8    13.328325
9    16.155449
Name: value, dtype: float64
ema is: 16.155449017560915
dataframe_val
   value
0      8
1      4
2      3
3      3
4      6
5      4
6     12
7      0
8      1
9     12
ema
0    8.000000
1    5.714286
2    4.540541
3    3.977143
4    4.640205
5    4.445500
6    6.625062
7    4.784536
8    3.761595
9    5.944101
Name: value, dtype: float64
ema is: 5.944100565219545
dataframe_val
   value
0    204
1    123
2    273
3    335
4    141
5    282
6    347
7    178
8    298
9    157
ema
0    204.000000
1    157.714286
2    207.567568
3    254.171429
4    217.075544
5    236.820909
6    268.608861
7    243.436575
8    258.184797
9    231.379073
Name: value, dtype: float64
ema is: 231.3790730318627
dataframe_val
   value
0    354
1    250
2    366
3    405
4    261
5    350
6    468
7    316
8    383
9    310
ema
0    354.000000
1    294.571429
2    325.459459
3    354.548571
4    323.884763
5    331.827146
6    371.114602
7    355.803069
8    363.154264
9    349.072717
Name: value, dtype: float64
ema is: 349.07271656053854
dataframe_val
   value
0      0
1      1
2      2
3      2
4      0
5      3
6      0
7      1
8      3
9      0
ema
0    0.000000
1    0.571429
2    1.189189
3    1.485714
4    0.998720
5    1.607366
6    1.143622
7    1.103722
8    1.616276
9    1.188095
Name: value, dtype: float64
ema is: 1.1880949180770206
dataframe_val
   value
0      0
1      2
2      3
3      1
4      0
5      1
6      0
7      1
8      3
9      0
ema
0    0.000000
1    1.142857
2    1.945946
3    1.600000
4    1.075544
5    1.052569
6    0.748891
7    0.818652
8    1.408259
9    1.035185
Name: value, dtype: float64
ema is: 1.0351854977175963
dataframe_val
   value
0      4
1      1
2      5
3      7
4      1
5      1
6      1
7      1
8      4
9      0
ema
0    4.000000
1    2.285714
2    3.459459
3    4.754286
4    3.523688
5    2.756163
6    2.249489
7    1.902365
8    2.469346
9    1.815170
Name: value, dtype: float64
ema is: 1.8151702783248966
dataframe_val
   value
0     83
1     12
2     11
3     39
4    134
5      5
6     10
7     67
8      8
9     89
ema
0    83.000000
1    42.428571
2    28.837838
3    32.554286
4    65.806658
5    47.313632
6    36.548214
7    45.008105
8    35.004999
9    49.309273
Name: value, dtype: float64
ema is: 49.309273016299706
dataframe_val
       value
0  57.142857
1  45.454545
2  31.250000
3  37.500000
4  40.000000
5  23.076923
6  50.000000
7  30.000000
8  57.142857
9  44.444444
ema
0    57.142857
1    50.463822
2    42.155142
3    40.452690
4    40.304305
5    35.064971
6    39.373901
7    36.769713
8    42.276472
9    42.850808
Name: value, dtype: float64
ema is: 42.85080807025129
dataframe_val
   value
0    0.0
1    0.0
2   75.0
3  100.0
4    0.0
5    0.0
6    0.0
7    0.0
8   50.0
9  100.0
ema
0     0.000000
1     0.000000
2    32.432432
3    57.142857
4    38.412292
5    26.730027
6    19.018102
7    13.734633
8    23.536981
9    43.793449
Name: value, dtype: float64
ema is: 43.79344878916897
dataframe_val
   value
0     33
1     30
2     31
3     33
4     33
5     27
6     32
7     31
8     40
9     40
ema
0    33.000000
1    31.285714
2    31.162162
3    31.834286
4    32.216389
5    30.629938
6    31.025217
7    31.018211
8    33.445944
9    35.182235
Name: value, dtype: float64
ema is: 35.18223454236216
dataframe_val
   value
0   35.0
1   22.0
2   52.0
3   49.0
4   21.0
5   35.0
6   52.0
7   25.0
8   52.0
9   32.0
ema
0    35.000000
1    27.571429
2    38.135135
3    42.108571
4    35.189501
5    35.131868
6    39.998521
7    35.831742
8    40.201942
9    38.029096
Name: value, dtype: float64
ema is: 38.02909571947001
dataframe_val
   value
0   22.0
1   13.0
2   28.0
3   29.0
4   12.0
5   19.0
6   30.0
7   17.0
8   34.0
9   18.0
ema
0    22.000000
1    16.857143
2    21.675676
3    24.354286
4    20.304738
5    19.907930
6    22.819610
7    21.202849
8    24.661855
9    22.897006
Name: value, dtype: float64
ema is: 22.897006347477127
dataframe_val
   value
0    4.0
1    0.0
2    3.0
3    6.0
4    1.0
5    0.0
6    1.0
7    0.0
8    2.0
9    0.0
ema
0    4.000000
1    1.714286
2    2.270270
3    3.634286
4    2.770807
5    1.928126
6    1.660351
7    1.199084
8    1.415568
9    1.040558
Name: value, dtype: float64
ema is: 1.0405577614355142
dataframe_val
   value
0   40.0
1   18.0
2   46.0
3   71.0
4   25.0
5   43.0
6   27.0
7   32.0
8   27.0
9   26.0
ema
0    40.000000
1    27.428571
2    35.459459
3    48.457143
4    40.768246
5    41.446985
6    37.278862
7    35.812327
8    33.430399
9    31.461949
Name: value, dtype: float64
ema is: 31.461948991791026
dataframe_val
   value
0    1.0
1    0.0
2    4.0
3    2.0
4    1.0
5    0.0
6    1.0
7    0.0
8    5.0
9    1.0
ema
0    1.000000
1    0.428571
2    1.972973
3    1.982857
4    1.660691
5    1.155628
6    1.110728
7    0.802153
8    1.936810
9    1.688632
Name: value, dtype: float64
ema is: 1.688632043390428
dataframe_val
   value
0    0.0
1    1.0
2    1.0
3    1.0
4    0.0
5    1.0
6    0.0
7    2.0
8    2.0
9    2.0
ema
0    0.000000
1    0.571429
2    0.756757
3    0.845714
4    0.568502
5    0.699733
6    0.497852
7    0.915167
8    1.208392
9    1.418104
Name: value, dtype: float64
ema is: 1.4181038011090148
dataframe_val
   value
0   89.0
1   94.0
2  137.0
3  153.0
4   84.0
5  115.0
6  164.0
7   70.0
8  144.0
9  111.0
ema
0     89.000000
1     91.857143
2    111.378378
3    126.600000
4    112.636364
5    113.355212
6    127.966824
7    111.862908
8    120.549404
9    118.019590
Name: value, dtype: float64
ema is: 118.01959016782766
dataframe_val
   value
0   33.0
1   36.0
2   23.0
3   25.0
4   39.0
5   23.0
6   22.0
7   33.0
8   32.0
9   41.0
ema
0    33.000000
1    34.714286
2    29.648649
3    27.948571
4    31.571063
5    28.964360
6    26.955061
7    28.634421
8    29.544120
9    32.578995
Name: value, dtype: float64
ema is: 32.57899481267312
dataframe_val
   value
0   69.0
1   40.0
2   41.0
3   24.0
4   25.0
5   25.0
6   83.0
7   48.0
8   28.0
9   34.0
ema
0    69.000000
1    52.428571
2    47.486486
3    38.897143
4    34.341869
5    31.500743
6    46.358879
7    46.814803
8    41.729255
9    39.681633
Name: value, dtype: float64
ema is: 39.6816327396827
dataframe_val
   value
0    2.0
1    1.0
2    0.0
3    2.0
4    2.0
5    0.0
6    0.0
7    1.0
8    2.0
9    0.0
ema
0    2.000000
1    1.428571
2    0.810811
3    1.245714
4    1.492958
5    1.038907
6    0.739170
7    0.811632
8    1.132842
9    0.832731
Name: value, dtype: float64
ema is: 0.8327311937925898
dataframe_val
   value
0  150.0
1  127.0
2   93.0
3   70.0
4  120.0
5   68.0
6  121.0
7  138.0
8   85.0
9  153.0
ema
0    150.000000
1    136.857143
2    117.891892
3    100.377143
4    106.809219
5     95.006237
6    102.505741
7    112.366494
8    104.969467
9    117.693644
Name: value, dtype: float64
ema is: 117.69364352867582
dataframe_val
   value
0    2.0
1    2.0
2    1.0
3    3.0
4    2.0
5    1.0
6    0.0
7    3.0
8    4.0
9    2.0
ema
0    2.000000
1    2.000000
2    1.567568
3    2.091429
4    2.061460
5    1.738640
6    1.237022
7    1.726799
8    2.341234
9    2.250835
Name: value, dtype: float64
ema is: 2.2508349949016044
dataframe_val
   value
0    1.0
1    2.0
2    0.0
3    2.0
4    4.0
5    0.0
6    0.0
7    0.0
8    3.0
9    1.0
ema
0    1.000000
1    1.571429
2    0.891892
3    1.297143
4    2.183099
5    1.519157
6    1.080862
7    0.780585
8    1.380482
9    1.279685
Name: value, dtype: float64
ema is: 1.279685142497375
dataframe_val
   value
0    0.0
1    1.0
2    0.0
3    0.0
4    2.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.000000
1    0.571429
2    0.324324
3    0.205714
4    0.793854
5    0.552421
6    0.393041
7    0.283849
8    0.207126
9    0.152255
Name: value, dtype: float64
ema is: 0.15225456202812052
dataframe_val
   value
0   26.0
1   36.0
2    0.0
3    6.0
4  108.0
5    0.0
6    0.0
7    0.0
8   79.0
9    9.0
ema
0    26.000000
1    31.714286
2    18.000000
3    13.611429
4    44.550576
5    31.001485
6    22.057195
7    15.929428
8    32.977089
9    26.625115
Name: value, dtype: float64
ema is: 26.625114827589343
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    2.0
1    1.0
2    0.0
3    3.0
4    0.0
5    2.0
6    0.0
7    2.0
8    3.0
9    0.0
ema
0    2.000000
1    1.428571
2    0.810811
3    1.611429
4    1.083227
5    1.362043
6    0.969078
7    1.255481
8    1.727016
9    1.269497
Name: value, dtype: float64
ema is: 1.2694974467599167
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    4.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0

ema
0    0.000000
1    1.142857
2    0.648649
3    0.777143
4    0.522407
5    1.275913
6    1.196309
7    0.863959
8    0.900730
9    1.456866
Name: value, dtype: float64
ema is: 1.4568657550526665
dataframe_val
   value
0  111.0
1  168.0
2  138.0
3  107.0
4  155.0
5  272.0
6  153.0
7  114.0
8  110.0
9  125.0
ema
0    111.000000
1    143.571429
2    141.162162
3    128.668571
4    137.299616
5    178.265815
6    170.976333
7    155.147588
8    142.944420
9    138.190611
Name: value, dtype: float64
ema is: 138.1906112718501
dataframe_val
   value
0    0.0
1    3.0
2    3.0
3    1.0
4    0.0
5    4.0
6    1.0
7    1.0
8    1.0
9    4.0
ema
0    0.000000
1    1.714286
2    2.270270
3    1.805714
4    1.213828
5    2.061182
6    1.755019
7    1.545265
8    1.397883
9    2.087232
Name: value, dtype: float64
ema is: 2.087231576298575
dataframe_val
   value
0    1.0
1    2.0
2    0.0
3    2.0
4    1.0
5    1.0
6    3.0
7    2.0
8    1.0
9    0.0
ema
0    1.000000
1    1.571429
2    0.891892
3    1.297143
4    1.199744
5    1.138996
6    1.675917
7    1.765952
8    1.558919
9    1.145932
Name: value, dtype: float64
ema is: 1.1459323494962745
dataframe_val
   value
0    0.0
1    1.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.000000
1    0.571429
2    0.324324
3    0.205714
4    0.138284
5    0.096228
6    0.068465
7    0.049445
8    0.036080
9    0.026522
Name: value, dtype: float64
ema is: 0.026521762417801634
dataframe_val
   value
0    3.0
1   44.0
2    0.0
3   21.0
4    0.0
5   18.0
6   41.0
7   23.0
8   35.0
9    0.0
ema
0     3.000000
1    26.428571
2    15.000000
3    17.194286
4    11.558259
5    13.517375
6    21.446432
7    21.878033
8    25.424835
9    18.689326
Name: value, dtype: float64
ema is: 18.689326314491673
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    1.0
1    0.0
2    1.0
3    3.0
4    0.0
5    2.0
6    1.0
7    4.0
8    1.0
9    1.0
ema
0    1.000000
1    0.428571
2    0.675676
3    1.525714
4    1.025608
5    1.321948
6    1.229062
7    1.998864
8    1.728876
9    1.535783
Name: value, dtype: float64
ema is: 1.53578325806168
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    1.0
4    0.0
5    0.0
6    1.0
7    1.0
8    0.0
9    0.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.365714
4    0.245839
5    0.171072
6    0.410228
7    0.574074
8    0.418904
9    0.307929
Name: value, dtype: float64
ema is: 0.30792893978638286
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3   45.0
4    0.0
5    0.0
6   58.0
7   37.0
8    0.0
9   25.0
ema
0     0.000000
1     0.000000
2     0.000000
3    16.457143
4    11.062740
5     7.698248
6    22.210890
7    26.319491
8    19.205464
9    20.740544
Name: value, dtype: float64
ema is: 20.740543714320076
dataframe_val
   value
0    1.0
1    1.0
2    1.0
3    2.0
4    3.0
5    3.0
6    6.0
7    6.0
8    0.0
9    3.0
ema
0    1.000000
1    1.000000
2    1.000000
3    1.365714
4    1.901408
5    2.235521
6    3.321617
7    4.065706
8    2.966766
9    2.975570
Name: value, dtype: float64
ema is: 2.9755701461405297
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    6.0
1    6.0
2    7.0
3    8.0
4    6.0
5    8.0
6    7.0
7    4.0
8    7.0
9    5.0
ema
0    6.000000
1    6.000000
2    6.432432
3    7.005714
4    6.676056
5    7.078705
6    7.055998
7    6.207003
8    6.421346
9    6.044805
Name: value, dtype: float64
ema is: 6.044805245334387
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0  113.0
1  130.0
2  141.0
3  127.0
4  109.0
5  125.0
6   85.0
7   46.0
8  122.0
9   70.0
ema
0    113.000000
1    122.714286
2    130.621622
3    129.297143
4    122.644046
5    123.360558
6    112.293090
7     93.876032
8    101.477801
9     93.138749
Name: value, dtype: float64
ema is: 93.13874911952882
dataframe_val
   value
0    6.0
1    4.0
2    7.0
3    2.0
4    4.0
5    4.0
6    6.0
7    7.0
8    6.0
9    4.0
ema
0    6.000000
1    4.857143
2    5.783784
3    4.400000
4    4.268886
5    4.187110
6    4.710150
7    5.346299
8    5.522991
9    5.119523
Name: value, dtype: float64
ema is: 5.119522761885224
dataframe_val
       value
0  44.666667
1  44.000000
2  51.142857
3  46.500000
4  44.250000
5  37.000000
6  40.333333
7  46.571429
8  46.333333
9  38.000000
ema
0    44.666667
1    44.285714
2    47.250965
3    46.976327
4    46.082678
5    43.320378
6    42.458581
7    43.601182
8    44.339669
9    42.660173
Name: value, dtype: float64
ema is: 42.66017342484989
dataframe_val
   value
0    2.0
1    2.0
2    1.0
3    2.0
4    5.0
5    3.0
6    2.0
7    2.0
8    2.0
9    2.0
ema
0    2.000000
1    2.000000
2    1.567568
3    1.725714
4    2.798976
5    2.860113
6    2.611960
7    2.441950
8    2.322493
9    2.237059
Name: value, dtype: float64
ema is: 2.2370587159319553
dataframe_val
   value
0    1.0
1    0.5
2    0.0
3    0.5
4    1.0
5    1.0
6    0.5
7    1.0
8    1.0
9    0.5
ema
0    1.000000
1    0.714286
2    0.405405
3    0.440000
4    0.623560
5    0.738046
6    0.669367
7    0.761221
8    0.825762
9    0.739461
Name: value, dtype: float64
ema is: 0.7394613790225026
dataframe_val
   value
0    0.0
1    4.0
2    3.0
3    2.0
4    0.0
5    4.0
6    2.0
7    2.0
8    0.0
9    4.0
ema
0    0.000000
1    2.285714
2    2.594595
3    2.377143
4    1.597951
5    2.328482
6    2.233711
7    2.168783
8    1.582572
9    2.222993
Name: value, dtype: float64
ema is: 2.2229934099827493
dataframe_val
   value
0    0.0
1    1.0
2    1.0
3    1.0
4    0.0
5    1.0
6    1.0
7    1.0
8    0.0
9    1.0
ema
0    0.000000
1    0.571429
2    0.756757
3    0.845714
4    0.568502
5    0.699733
6    0.786363
7    0.845714
8    0.617122
9    0.718553
Name: value, dtype: float64
ema is: 0.7185534098614793
dataframe_val
   value
0      6
1     31
2     21
3     17
4     15
5     37
6     17
7     20
8     12
9     31
ema
0     6.000000
1    20.285714
2    20.594595
3    19.280000
4    17.877081
5    23.692902
6    21.761922
7    21.272437
8    18.766144
9    22.007119
Name: value, dtype: float64
ema is: 22.007118552601394
dataframe_val
   value
0     21
1     19
2     27
3     48
4     10
5     34
6     14
7      9
8     34
9     13
ema
0    21.000000
1    19.857143
2    22.945946
3    32.108571
4    24.861716
5    27.640927
6    23.705360
7    19.620025
8    23.506861
9    20.723399
Name: value, dtype: float64
ema is: 20.723399159396358
dataframe_val
   value
0     18
1     17
2     18
3     20
4     23
5     13
6     18
7     27
8     14
9     16
ema
0    18.000000
1    17.428571
2    17.675676
3    18.525714
4    19.992318
5    17.865756
6    17.904487
7    20.431335
8    18.692977
9    17.979558
Name: value, dtype: float64
ema is: 17.97955790999134
dataframe_val
   value
0     23
1    119
2     23
3    137
4     48
5     23
6     29
7    179
8    184
9     31
ema
0     23.000000
1     77.857143
2     54.135135
3     84.440000
4     72.495519
5     57.442530
6     49.236529
7     85.286460
8    111.968238
9     90.518255
Name: value, dtype: float64
ema is: 90.51825468127701
dataframe_val
   value
0      0
1     30
2      0
3     15
4     24
5      0
6      0
7     21
8     26
9      1
ema
0     0.000000
1    17.142857
2     9.729730
3    11.657143
4    15.702945
5    10.927235
6     7.774600
7    11.448783
8    15.381905
9    11.571872
Name: value, dtype: float64
ema is: 11.571872217736352
dataframe_val
   value
0    144
1      1
2    143
3      1
4      0
5    117
6    121
7      0
8      0
9    107
ema
0    144.000000
1     62.285714
2     97.189189
3     62.011429
4     41.685019
5     64.590437
6     80.865253
7     58.399864
8     42.614672
9     59.671536
Name: value, dtype: float64
ema is: 59.67153599649125
dataframe_val
   value
0     19
1     30
2     23
3     26
4     48
5     16
6     18
7     46
8     30
9     21
ema
0    19.000000
1    25.285714
2    24.297297
3    24.920000
4    32.485275
5    27.471636
6    24.738959
7    30.645545
8    30.471057
9    27.961999
Name: value, dtype: float64
ema is: 27.961999015691337
dataframe_val
   value
0    249
1      1
2    291
3      4
4      2
5    210
6    275
7      1
8      1
9    220
ema
0    249.000000
1    107.285714
2    186.729730
3    119.902857
4     81.256082
5    120.410751
6    165.011552
7    119.447071
8     87.431418
9    122.551287
Name: value, dtype: float64
ema is: 122.55128662482176
dataframe_val
   value
0      0
1     20
2      1
3     24
4     18
5      3
6      0
7     25
8     16
9      1
ema
0     0.000000
1    11.428571
2     6.918919
3    13.165714
4    14.750320
5    11.176715
6     7.952103
7    12.688224
8    13.583380
9    10.249810
Name: value, dtype: float64
ema is: 10.249810262883175
dataframe_val
   value
0     44
1    247
2     30
3    356
4    201
5     33
6     52
7    322
8    159
9     44
ema
0     44.000000
1    160.000000
2    103.783784
3    196.022857
4    197.654289
5    147.578260
6    120.002817
7    176.120187
8    171.492685
9    137.717516
Name: value, dtype: float64
ema is: 137.71751554025306
dataframe_val
   value
0      2
1      0
2      2
3      0
4      0
5      0
6      0
7      2
8      2
9      1
ema
0    2.000000
1    0.857143
2    1.351351
3    0.857143
4    0.576184
5    0.400950
6    0.285272
7    0.761645
8    1.096366
9    1.070837
Name: value, dtype: float64
ema is: 1.0708368745875554
dataframe_val
   value
0      0
1     39
2      1
3      2
4      8
5      1
6      0
7      9
8     10
9      0
ema
0     0.000000
1    22.285714
2    13.081081
3     9.028571
4     8.691421
5     6.352242
6     4.519546
7     5.764273
8     6.909169
9     5.078802
Name: value, dtype: float64
ema is: 5.0788022964507284
dataframe_val
   value
0      4
1     19
2      2
3      9
4      3
5      7
6      1
7     30
8     38
9      4
ema
0     4.000000
1    12.571429
2     8.000000
3     8.365714
4     6.606914
5     6.726463
6     5.074311
7    11.998983
8    19.026928
9    15.046017
Name: value, dtype: float64
ema is: 15.046016935364065
dataframe_val
   value
0    249
1    228
2    291
3    347
4    198
5    204
6    275
7    292
8    121
9    220
ema
0    249.000000
1    237.000000
2    260.351351
3    292.040000
4    261.215109
5    243.814375
6    252.811791
7    263.698771
8    225.128004
9    223.769501
Name: value, dtype: float64
ema is: 223.76950098380337
dataframe_val
   value
0    336
1    346
2    401
3    407
4    342
5    312
6    368
7    384
8    240
9    300
ema
0    336.000000
1    341.714286
2    367.351351
3    381.851429
4    368.788732
5    351.517672
6    356.273015
7    363.975922
8    330.465848
9    322.394882
Name: value, dtype: float64
ema is: 322.39488159494385
dataframe_val
   value
0      1
1      1
2      1
3      1
4      0
5      3
6      1
7      1
8      0
9      2
ema
0    1.000000
1    1.000000
2    1.000000
3    1.000000
4    0.672215
5    1.380160
6    1.270480
7    1.195337
8    0.872243
9    1.171007
Name: value, dtype: float64
ema is: 1.1710069558486025
dataframe_val
   value
0      3
1      2
2      0
3      2
4      0
5      2
6      1
7      2
8      1
9      5
ema
0    3.000000
1    2.428571
2    1.378378
3    1.605714
4    1.079385
5    1.359370
6    1.255688
7    1.462467
8    1.337465
9    2.307738
Name: value, dtype: float64
ema is: 2.3077379394397526
dataframe_val
   value
0      1
1      2
2      1
3      2
4      0
5      6
6      0
7      4
8      3
9      3
ema
0    1.000000
1    1.571429
2    1.324324
3    1.571429
4    1.056338
5    2.559846
6    1.821300
7    2.426571
8    2.581566
9    2.692417
Name: value, dtype: float64
ema is: 2.692416679888472
dataframe_val
   value
0      5
1     59
2      8
3     67
4    143
5      7
6      2
7    188
8     90
9      5
ema
0     5.000000
1    35.857143
2    23.810811
3    39.605714
4    73.496799
5    53.273240
6    38.480313
7    80.018771
8    82.716647
9    62.128070
Name: value, dtype: float64
ema is: 62.12807028004289
dataframe_val
       value
0   0.000000
1  42.857143
2  25.000000
3  46.153846
4  45.454545
5  27.272727
6  58.333333
7  46.153846
8  15.384615
9  33.333333
ema
0     0.000000
1    24.489796
2    24.710425
3    32.552590
4    36.781656
5    33.889722
6    40.941989
7    42.389909
8    35.090512
9    34.625003
Name: value, dtype: float64
ema is: 34.625003149156605
dataframe_val
   value
0    0.0
1   50.0
2  100.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8  100.0
9    0.0
ema
0     0.000000
1    28.571429
2    59.459459
3    37.714286
4    25.352113
5    17.641818
6    12.551948
7     9.064858
8    33.644174
9    24.731210
Name: value, dtype: float64
ema is: 24.731209961931306
dataframe_val
   value
0     23
1     30
2     28
3     23
4     27
5     24
6     27
7     30
8     26
9     31
ema
0    23.000000
1    27.000000
2    27.432432
3    25.811429
4    26.201024
5    25.531631
6    25.955272
7    27.078949
8    26.787314
9    27.903333
Name: value, dtype: float64
ema is: 27.903332602344353
dataframe_val
   value
0   34.0
1   30.0
2   43.0
3   46.0
4   35.0
5   31.0
6   22.0
7   46.0
8   31.0
9   34.0
ema
0    34.000000
1    31.714286
2    36.594595
3    40.034286
4    38.384123
5    36.138402
6    32.059308
7    35.932209
8    34.599057
9    34.440356
Name: value, dtype: float64
ema is: 34.44035584678336
dataframe_val
   value
0   19.0
1   20.0
2   23.0
3   24.0
4   18.0
5   16.0
6   18.0
7   25.0
8   16.0
9   21.0
ema
0    19.000000
1    19.571429
2    21.054054
3    22.131429
4    20.777209
5    19.324324
6    18.942241
7    20.625163
8    19.375005
9    19.805496
Name: value, dtype: float64
ema is: 19.805495959180497
dataframe_val
   value
0    0.0
1    0.0
2    1.0
3    0.0
4    0.0
5    3.0
6    0.0
7    2.0
8    2.0
9    1.0
ema
0    0.000000
1    0.000000
2    0.432432
3    0.274286
4    0.184379
5    1.040689
6    0.740438
7    1.090360
8    1.336231
9    1.247157
Name: value, dtype: float64
ema is: 1.2471574802910885
dataframe_val
   value
0   41.0
1   68.0
2   93.0
3   56.0
4   44.0
5   37.0
6   47.0
7   65.0
8   22.0
9   30.0
ema
0    41.000000
1    56.428571
2    72.243243
3    66.302857
4    58.992318
5    52.303831
6    50.773614
7    54.725884
8    45.880241
9    41.673271
Name: value, dtype: float64
ema is: 41.67327116895244
dataframe_val
   value
0    0.0
1    3.0
2    1.0
3    1.0
4    1.0
5    1.0
6    0.0
7    5.0
8    4.0
9    0.0
ema
0    0.000000
1    1.714286
2    1.405405
3    1.257143
4    1.172855
5    1.120285
6    0.797070
7    1.964697
8    2.514829
9    1.848604
Name: value, dtype: float64
ema is: 1.8486044342397934
dataframe_val
   value
0    1.0
1    2.0
2    2.0
3    3.0
4    3.0
5    1.0
6    3.0
7    3.0
8    1.0
9    2.0
ema
0    1.000000
1    1.571429
2    1.756757
3    2.211429
4    2.469910
5    2.022869
6    2.304783
7    2.497923
8    2.093042
9    2.068393
Name: value, dtype: float64
ema is: 2.068393282851302
dataframe_val
   value
0   93.0
1  129.0
2  151.0
3  140.0
4  106.0
5  127.0
6  145.0
7  140.0
8   69.0
9   84.0
ema
0     93.000000
1    113.571429
2    129.756757
3    133.502857
4    124.487836
5    125.251856
6    130.949426
7    133.463790
8    116.039549
9    107.551680
Name: value, dtype: float64
ema is: 107.55167974193732
dataframe_val
   value
0   23.0
1   30.0
2   23.0
3   15.0
4   24.0
5   23.0
6   29.0
7   21.0
8   26.0
9   31.0
ema
0    23.000000
1    27.000000
2    25.270270
3    21.514286
4    22.329065
5    22.533116
6    24.398887
7    23.454633
8    24.142633
9    25.959277
Name: value, dtype: float64
ema is: 25.95927650281397
dataframe_val
   value
0   32.0
1   52.0
2   51.0
3   40.0
4   52.0
5   63.0
6   36.0
7   36.0
8   61.0
9   21.0
ema
0    32.000000
1    43.428571
2    46.702703
3    44.251429
4    46.791293
5    51.720820
6    47.185180
7    44.077796
8    48.651783
9    41.326314
Name: value, dtype: float64
ema is: 41.326314491671276
dataframe_val
   value
0    0.0
1    1.0
2    0.0
3    1.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    1.0
ema
0    0.000000
1    0.571429
2    0.324324
3    0.571429
4    0.384123
5    0.267300
6    0.190181
7    0.137346
8    0.100222
9    0.338590
Name: value, dtype: float64
ema is: 0.33859005363168465
dataframe_val
   value
0   87.0
1  118.0
2  110.0
3   60.0
4  144.0
5  108.0
6   93.0
7   92.0
8  119.0
9   80.0
ema
0     87.000000
1    104.714286
2    107.000000
3     89.811429
4    107.573624
5    107.703297
6    103.461224
7    100.277151
8    105.337844
9     98.625381
Name: value, dtype: float64
ema is: 98.62538061114047
dataframe_val
   value
0    1.0
1    3.0
2    2.0
3    4.0
4    3.0
5    1.0
6    3.0
7    3.0
8    1.0
9    3.0
ema
0    1.000000
1    2.142857
2    2.081081
3    2.782857
4    2.854033
5    2.290169
6    2.494964
7    2.635269
8    2.193264
9    2.406983
Name: value, dtype: float64
ema is: 2.4069833364829862
dataframe_val
   value
0    3.0
1    1.0
2    1.0
3    0.0
4    1.0
5    0.0
6    1.0
7    1.0
8    1.0
9    1.0
ema
0    3.000000
1    1.857143
2    1.486486
3    0.942857
4    0.961588
5    0.669142
6    0.764598
7    0.829996
8    0.875947
9    0.908811
Name: value, dtype: float64
ema is: 0.9088109773659536
dataframe_val
   value
0    0.0
1    0.0
2    1.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.000000
1    0.000000
2    0.432432
3    0.274286
4    0.184379
5    0.128304
6    0.091287
7    0.065926
8    0.048107
9    0.035362
Name: value, dtype: float64
ema is: 0.035362349890402184
dataframe_val
   value
0   28.0
1   24.0
2   17.0
3    0.0
4    3.0
5    0.0
6    0.0
7   13.0
8   23.0
9    1.0
ema
0    28.000000
1    25.714286
2    21.945946
3    13.920000
4    10.340589
5     7.195723
6     5.119673
7     7.308928
8    11.550146
9     8.755217
Name: value, dtype: float64
ema is: 8.755217391743733
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    1.0
2    1.0
3    1.0
4    0.0
5    0.0
6    1.0
7    1.0
8    0.0
9    3.0
ema
0    0.000000
1    0.571429
2    0.756757
3    0.845714
4    0.568502
5    0.395604
6    0.569980
7    0.689445
8    0.503091
9    1.164569
Name: value, dtype: float64
ema is: 1.1645685261746268
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
ema
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
   value
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    8.0
ema
0    0.000000
1    0.000000
2    0.000000
3    0.000000

dataframe_val
    value
0   108.0
1   125.0
2    45.0
3    97.0
4    77.0
5    79.0
6   110.0
7    77.0
8   180.0
9    71.0
10  102.0
ema
0     108.000000
1     117.714286
2      86.270270
3      90.194286
4      85.869398
5      83.780220
6      91.344932
7      87.359729
8     112.399932
9     101.432325
10    101.580502
Name: value, dtype: float64
ema is: 101.58050183251488
dataframe_val
    value
0     5.0
1     6.0
2     8.0
3     2.0
4     3.0
5     1.0
6     8.0
7     6.0
8     6.0
9     4.0
10    5.0
ema
0     5.000000
1     5.571429
2     6.621622
3     4.931429
4     4.298335
5     3.295218
6     4.652603
7     5.026927
8     5.289944
9     4.948214
10    4.961731
Name: value, dtype: float64
ema is: 4.961731144687649
dataframe_val
        value
0   43.800000
1   39.333333
2   47.125000
3   34.500000
4   36.333333
5   40.000000
6   40.875000
7   41.000000
8   42.166667
9   48.750000
10  43.800000
ema
0     43.800000
1     41.247619
2     43.789189
3     40.392000
4     39.061630
5     39.347015
6     39.787857
7     40.124605
8     40.676564
9     42.815367
10    43.072380
Name: value, dtype: float64
ema is: 43.07238004389671
dataframe_val
    value
0     1.0
1     1.0
2     2.0
3     1.0
4     3.0
5     0.0
6     2.0
7     1.0
8     2.0
9     2.0
10    2.0
ema
0     1.000000
1     1.000000
2     1.432432
3     1.274286
4     1.839949
5     1.280368
6     1.487990
7     1.352421
8     1.527458
9     1.652643
10    1.743312
Name: value, dtype: float64
ema is: 1.7433117500759865
dataframe_val
       value
0   0.000000
1   1.000000
2   1.000000
3   1.000000
4   0.666667
5   0.000000
6   1.000000
7   1.000000
8   0.500000
9   1.000000
10  0.500000
ema
0     0.000000
1     0.571429
2     0.756757
3     0.845714
4     0.787025
5     0.547669
6     0.678171
7     0.767579
8     0.695254
9     0.775987
10    0.703948
Name: value, dtype: float64
ema is: 0.7039475927876356
dataframe_val
    value
0     0.0
1     2.0
2     0.0
3     6.0
4     0.0
5     3.0
6     0.0
7     3.0
8     1.0
9     1.0
10    2.0
ema
0     0.000000
1     1.142857
2     0.648649
3     2.605714
4     1.751601
5     2.131274
6     1.516377
7     1.928546
8     1.677565
9     1.498065
10    1.629082
Name: value, dtype: float64
ema is: 1.6290824580667373
dataframe_val
    value
0     0.0
1     1.0
2     0.0
3     1.0
4     0.0
5     1.0
6     0.0
7     1.0
8     1.0
9     1.0
10    1.0
ema
0     0.000000
1     0.571429
2     0.324324
3     0.571429
4     0.384123
5     0.571429
6     0.406565
7     0.571429
8     0.687269
9     0.770117
10    0.830122
Name: value, dtype: float64
ema is: 0.8301223975064953
dataframe_val
    value
0       0
1      17
2       6
3      45
4       6
5      27
6      14
7      24
8      28
9      13
10     19
ema
0      0.000000
1      9.714286
2      8.108108
3     21.600000
4     16.486556
5     19.683992
6     18.044094
7     19.698720
8     21.942514
9     19.573477
10    19.423786
Name: value, dtype: float64
ema is: 19.423785527924352
dataframe_val
    value
0      35
1      20
2      14
3      29
4      20
5      21
6      17
7      15
8      30
9      17
10     28
ema
0     35.000000
1     26.428571
2     21.054054
3     23.960000
4     22.661972
5     22.156519
6     20.668803
7     19.093938
8     22.041792
9     20.706128
10    22.610007
Name: value, dtype: float64
ema is: 22.61000677842564
dataframe_val
    value
0      14
1      16
2      17
3      23
4      22
5      23
6      14
7      11
8      12
9      27
10     20
ema
0     14.000000
1     15.142857
2     15.945946
3     18.525714
4     19.664533
5     20.678943
6     18.751990
7     16.598389
8     15.355467
9     18.440319
10    18.847434
Name: value, dtype: float64
ema is: 18.8474341431017
dataframe_val
    value
0      20
1     101
2      91
3      36
4      51
5      78
6      20
7      17
8      27
9      67
10     36
ema
0     20.000000
1     66.285714
2     76.972973
3     61.988571
4     58.386684
5     64.351648
6     51.555681
7     41.955676
8     37.913231
9     45.618854
10    43.108099
Name: value, dtype: float64
ema is: 43.10809858813086
dataframe_val
    value
0       0
1      43
2      29
3       0
4      45
5      38
6       0
7       0
8       0
9      48
10      2
ema
0      0.000000
1     24.571429
2     26.486486
3     16.800000
4     26.043534
5     29.679834
6     21.116856
7     15.250326
8     11.128239
9     20.896250
10    15.963868
Name: value, dtype: float64
ema is: 15.963867979269917
dataframe_val
    value
0     140
1       2
2       1
3      90
4       1
5       0
6     161
7     148
8     100
9       0
10     74
ema
0     140.000000
1      61.142857
2      35.135135
3      55.200000
4      37.434059
5      26.049302
6      64.984152
7      88.047003
8      91.277838
9      67.096651
10     68.898594
Name: value, dtype: float64
ema is: 68.89859370694249
dataframe_val
    value
0      15
1      23
2      33
3      27
4      32
5      34
6      20
7      18
8      15
9      34
10     22
ema
0     15.000000
1     19.571429
2     25.378378
3     25.971429
4     27.947503
5     29.788239
6     26.964218
7     24.473845
8     21.913112
9     25.115152
10    24.302021
Name: value, dtype: float64
ema is: 24.302021305117027
dataframe_val
    value
0     190
1       0
2       1
3     256
4       1
5       1
6     211
7     150
8     250
9       0
10    316
ema
0     190.000000
1      81.428571
2      46.648649
3     123.211429
4      83.152369
5      58.167508
6     102.261464
7     115.523832
8     151.872070
9     111.638350
10    164.981728
Name: value, dtype: float64
ema is: 164.98172762478538
dataframe_val
    value
0       0
1       4
2      19
3       1
4       9
5      21
6       0
7       0
8       0
9      22
10      0
ema
0      0.000000
1      2.285714
2      9.513514
3      6.400000
4      7.252241
5     11.433323
6      8.134676
7      5.874760
8      4.286842
9      8.979385
10     6.635546
Name: value, dtype: float64
ema is: 6.635546482251005
dataframe_val
    value
0      41
1     176
2     201
3      35
4     101
5     275
6      40
7      35
8      28
9     272
10     43
ema
0      41.000000
1     118.142857
2     153.972973
3     110.462857
4     107.361076
5     158.344817
6     124.200958
7      99.419805
8      80.115388
9     130.949170
10    107.992290
Name: value, dtype: float64
ema is: 107.9922903187503
dataframe_val
    value
0       0
1       3
2       0
3       0
4       1
5       0
6       1
7       0
8       0
9       1
10      3
ema
0     0.000000
1     1.714286
2     0.972973
3     0.617143
4     0.742638
5     0.516781
6     0.656195
7     0.473896
8     0.345804
9     0.519113
10    1.166685
Name: value, dtype: float64
ema is: 1.1666847972334664
dataframe_val
    value
0       2
1      32
2      36
3       1
4      36
5      28
6       4
7       2
8       1
9      27
10      3
ema
0      2.000000
1     19.142857
2     26.432432
3     17.131429
4     23.316261
5     24.740719
6     18.756780
7     14.101535
8     10.560255
9     14.915447
10    11.805225
Name: value, dtype: float64
ema is: 11.805224938930692
dataframe_val
    value
0       2
1       0
2       0
3       3
4       3
5      16
6       0
7       2
8       4
9      11
10      4
ema
0     2.000000
1     0.857143
2     0.486486
3     1.405714
4     1.928297
5     6.207900
6     4.416849
7     3.745418
8     3.814230
9     5.717873
10    5.269466
Name: value, dtype: float64
ema is: 5.26946644106765
dataframe_val
    value
0     174
1     176
2     201
3     246
4      98
5     259
6     186
7     139
8     244
9     261
10    285
ema
0     174.000000
1     175.142857
2     186.324324
3     208.148571
4     172.043534
5     198.489456
6     194.886103
7     179.360237
8     196.832043
9     213.831321
10    232.408083
Name: value, dtype: float64
ema is: 232.40808312943707
dataframe_val
    value
0     234
1     348
2     261
3     406
4     318
5     374
6     301
7     186
8     324
9     415
10    373
ema
0     234.000000
1     299.142857
2     282.648649
3     327.760000
4     324.560819
5     339.596674
6     328.461083
7     288.883595
8     298.375384
9     329.271401
10    340.685633
Name: value, dtype: float64
ema is: 340.6856326501553
dataframe_val
    value
0       0
1       0
2       1
3       1
4       2
5       1
6       3
7       1
8       0
9       1
10      3
ema
0     0.000000
1     0.000000
2     0.432432
3     0.640000
4     1.085787
5     1.059697
6     1.619497
7     1.447393
8     1.056170
9     1.041289
10    1.552561
Name: value, dtype: float64
ema is: 1.5525606791071398
dataframe_val
    value
0       2
1       0
2       1
3       1
4       1
5       0
6       1
7       0
8       2
9       1
10      1
ema
0     2.000000
1     0.857143
2     0.918919
3     0.948571
4     0.965429
5     0.671815
6     0.766500
7     0.553557
8     0.944523
9     0.959220
10    0.969865
Name: value, dtype: float64
ema is: 0.9698645086562462
dataframe_val
    value
0       0
1       3
2       1
3       2
4       2
5       0
6       3
7       0
8       0
9       2
10      1
ema
0     0.000000
1     1.714286
2     1.405405
3     1.622857
4     1.746479
5     1.215325
6     1.730225
7     1.249546
8     0.911800
9     1.200084
10    1.147858
Name: value, dtype: float64
ema is: 1.147857551995105
dataframe_val
    value
0       9
1      50
2     112
3       9
4      79
5      35
6       4
7       2
8       5
9      61
10      4
ema
0      9.000000
1     32.428571
2     66.837838
3     45.685714
4     56.605634
5     50.034749
6     36.753187
7     27.098313
8     21.125249
9     31.688808
10    24.461353
Name: value, dtype: float64
ema is: 24.461353389972057
dataframe_val
        value
0    8.333333
1   42.857143
2   40.000000
3   58.333333
4   16.666667
5   35.294118
6    9.090909
7   26.666667
8    0.000000
9   33.333333
10  44.444444
ema
0      8.333333
1     28.061224
2     33.223938
3     42.406803
4     33.969575
5     34.372406
6     27.078399
7     26.964015
8     19.675776
9     23.293915
10    28.814720
Name: value, dtype: float64
ema is: 28.814719635330345
dataframe_val
         value
0    33.333333
1     0.000000
2     0.000000
3     0.000000
4   100.000000
5   100.000000
6     0.000000
7     0.000000
8     0.000000
9   100.000000
10   50.000000
ema
0     33.333333
1     14.285714
2      8.108108
3      5.142857
4     36.235595
5     55.628156
6     39.578784
7     28.583298
8     20.857375
9     41.823720
10    43.957928
Name: value, dtype: float64
ema is: 43.957928455372794
dataframe_val
    value
0      22
1      29
2      26
3      32
4      28
5      31
6      20
7      23
8      25
9      34
10     31
ema
0     22.000000
1     26.000000
2     26.000000
3     28.194286
4     28.130602
5     29.003267
6     26.405720
7     25.459568
8     25.335349
9     27.630775
10    28.510225
Name: value, dtype: float64
ema is: 28.510225017344357
dataframe_val
    value
0    32.0
1    21.0
2    35.0
3    34.0
4    22.0
5    36.0
6    31.0
7    37.0
8    24.0
9    36.0
10   37.0
ema
0     32.000000
1     25.714286
2     29.729730
3     31.291429
4     28.245839
5     30.604099
6     30.718321
7     32.463451
8     30.175822
9     31.718755
10    33.097288
Name: value, dtype: float64
ema is: 33.09728845549228
dataframe_val
    value
0    15.0
1     4.0
2    19.0
3    27.0
4     9.0
5    21.0
6    20.0
7    18.0
8    15.0
9    22.0
10   22.0
ema
0     15.000000
1      8.714286
2     13.162162
3     18.222857
4     15.199744
5     16.963766
6     17.839755
7     17.884273
8     17.104668
9     18.401532
10    19.340820
Name: value, dtype: float64
ema is: 19.3408201372264
dataframe_val
    value
0     0.0
1     3.0
2     0.0
3     1.0
4     1.0
5     0.0
6     0.0
7     0.0
8     0.0
9     1.0
10    0.0
ema
0     0.000000
1     1.714286
2     0.972973
3     0.982857
4     0.988476
5     0.687853
6     0.489399
7     0.353438
8     0.257905
9     0.454500
10    0.335864
Name: value, dtype: float64
ema is: 0.33586439364953874
dataframe_val
    value
0    52.0
1    77.0
2    37.0
3    41.0
4    18.0
5    31.0
6    45.0
7    20.0
8    65.0
9    43.0
10   47.0
ema
0     52.000000
1     66.285714
2     53.621622
3     49.005714
4     38.842510
5     36.457380
6     38.922026
7     33.665248
8     42.134875
9     42.364063
10    43.574156
Name: value, dtype: float64
ema is: 43.57415555329304
dataframe_val
    value
0     2.0
1     0.0
2     1.0
3     1.0
4     1.0
5     2.0
6     4.0
7     2.0
8     1.0
9     2.0
10    3.0
ema
0     2.000000
1     0.857143
2     0.918919
3     0.948571
4     0.965429
5     1.280071
6     2.064802
7     2.046799
8     1.763855
9     1.826414
10    2.132749
Name: value, dtype: float64
ema is: 2.1327486080329945
dataframe_val
    value
0     1.0
1     1.0
2     0.0
3     2.0
4     1.0
5     3.0
6     1.0
7     0.0
8     1.0
9     2.0
10    2.0
ema
0     1.000000
1     1.000000
2     0.567568
3     1.091429
4     1.061460
5     1.651025
6     1.463196
7     1.056702
8     1.041376
9     1.295333
10    1.479268
Name: value, dtype: float64
ema is: 1.4792682984508696
dataframe_val
    value
0    90.0
1   137.0
2    98.0
3   124.0
4    45.0
5   110.0
6   114.0
7    79.0
8   162.0
9   106.0
10  187.0
ema
0      90.000000
1     116.857143
2     108.702703
3     114.297143
4      91.582586
5      97.183843
6     102.035500
7      95.635947
8     113.573820
9     111.567375
10    131.257131
Name: value, dtype: float64
ema is: 131.25713085149522
dataframe_val
    value
0    20.0
1    43.0
2    29.0
3    36.0
4    45.0
5    38.0
6    20.0
7    17.0
8    27.0
9    48.0
10   36.0
ema
0     20.000000
1     33.142857
2     31.351351
3     33.051429
4     36.967990
5     37.281853
6     32.295837
7     28.046460
8     27.763607
9     33.124602
10    33.875151
Name: value, dtype: float64
ema is: 33.87515100853663
dataframe_val
    value
0    27.0
1    45.0
2    19.0
3    44.0
4    65.0
5    34.0
6    61.0
7    24.0
8    24.0
9    26.0
10   40.0
ema
0     27.000000
1     37.285714
2     29.378378
3     34.725714
4     44.649168
5     41.410454
6     47.062267
7     40.655278
8     36.153439
9     33.463605
10    35.169764
Name: value, dtype: float64
ema is: 35.16976384044736
dataframe_val
    value
0     0.0
1     2.0
2     1.0
3     0.0
4     1.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    2.0
ema
0     0.000000
1     1.142857
2     1.081081
3     0.685714
4     0.788732
5     0.548857
6     0.390505
7     0.282018
8     0.205790
9     0.151272
10    0.633835
Name: value, dtype: float64
ema is: 0.6338353218457731
dataframe_val
    value
0    60.0
1   172.0
2    60.0
3   160.0
4   220.0
5   115.0
6   115.0
7    47.0
8    80.0
9   154.0
10   88.0
ema
0      60.000000
1     124.000000
2      96.324324
3     119.611429
4     152.517286
5     141.107217
6     133.574981
7     109.523357
8     101.543341
9     115.440080
10    108.277550
Name: value, dtype: float64
ema is: 108.27754952071825
dataframe_val
    value
0     1.0
1     3.0
2     1.0
3     2.0
4     2.0
5     3.0
6     1.0
7     0.0
8     1.0
9     2.0
10    4.0
ema
0     1.000000
1     2.142857
2     1.648649
3     1.777143
4     1.850192
5     2.199881
6     1.853701
7     1.338720
8     1.247166
9     1.446605
10    2.113104
Name: value, dtype: float64
ema is: 2.1131036202966427
dataframe_val
    value
0     1.0
1     1.0
2     0.0
3     1.0
4     2.0
5     3.0
6     0.0
7     0.0
8     1.0
9     1.0
10    2.0
ema
0     1.000000
1     1.000000
2     0.567568
3     0.725714
4     1.143406
5     1.708049
6     1.215257
7     0.877643
8     0.910716
9     0.934369
10    1.212524
Name: value, dtype: float64
ema is: 1.2125244295903794
dataframe_val
    value
0     0.0
1     1.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
ema
0     0.000000
1     0.571429
2     0.324324
3     0.205714
4     0.138284
5     0.096228
6     0.068465
7     0.049445
8     0.036080
9     0.026522
10    0.019599
Name: value, dtype: float64
ema is: 0.019598935266906422
dataframe_val
    value
0    10.0
1    32.0
2     0.0
3     0.0
4    29.0
5    29.0
6     0.0
7     0.0
8     0.0
9     0.0
10   55.0
ema
0     10.000000
1     22.571429
2     12.810811
3      8.125714
4     14.967990
5     19.235521
6     13.685849
7      9.883747
8      7.212220
9      5.301569
10    18.274072
Name: value, dtype: float64
ema is: 18.274072434808996
dataframe_val
    value
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
ema
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
    value
0     0.0
1     2.0
2     2.0
3     0.0
4     2.0
5     2.0
6     1.0
7     1.0
8     2.0
9     3.0
10    3.0
ema
0     0.000000
1     1.142857
2     1.513514
3     0.960000
4     1.300896
5     1.513514
6     1.365359
7     1.263858
8     1.462833
9     1.870057
10    2.165000
Name: value, dtype: float64
ema is: 2.164999774716298
dataframe_val
    value
0     0.0
1     0.0
2     1.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
ema
0     0.000000
1     0.000000
2     0.432432
3     0.274286
4     0.184379
5     0.128304
6     0.091287
7     0.065926
8     0.048107
9     0.035362
10    0.026132
Name: value, dtype: float64
ema is: 0.02613191368920856
dataframe_val
    value
0     0.0
1     0.0
2     0.0
3     0.0
4     2.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
ema
0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.655570
5     0.456192
6     0.324576
7     0.234404
8     0.171046
9     0.125733
10    0.092913
Name: value, dtype: float64
ema is: 0.09291347089496381
dataframe_val
    value
0     2.0
1     2.0
2     5.0
3     3.0
4     4.0
5     4.0
6     0.0
7     1.0
8     4.0
9     5.0
10    4.0
ema
0     2.000000
1     2.000000
2     3.297297
3     3.188571
4     3.454545
5     3.620434
6     2.575896
7     2.138092
8     2.641357
9     3.266205
10    3.457743
Name: value, dtype: float64
ema is: 3.457743374232075
dataframe_val
    value
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
ema
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
    value
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
ema
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
    value
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
ema
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
    value
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
ema
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
    value
0    10.0
1     8.0
2     4.0
3     8.0
4     7.0
5     4.0
6     8.0
7    10.0
8     7.0
9     3.0
10    7.0
ema
0     10.000000
1      8.857143
2      6.756757
3      7.211429
4      7.142125
5      6.186516
6      6.709727
7      7.623807
8      7.455195
9      6.274931
10     6.464192
Name: value, dtype: float64
ema is: 6.464191964615772
dataframe_val
    value
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
ema
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
    value
0   143.0
1    58.0
2    44.0
3   146.0
4   150.0
5    48.0
6   137.0
7   152.0
8   123.0
9    18.0
10   98.0
ema
0     143.000000

ema
0     2.000000
1     2.000000
2     1.567568
3     2.091429
4     1.733675
5     2.118800
6     2.084525
7     1.783230
8     2.382412
9     2.546022
10    2.403497
Name: value, dtype: float64
ema is: 2.4034972992093664
dataframe_val
    value
0     2.0
1     0.0
2     3.0
3     0.0
4     2.0
5     2.0
6     2.0
7     1.0
8     0.0
9     0.0
10    2.0
ema
0     2.000000
1     0.857143
2     1.783784
3     1.131429
4     1.416133
5     1.593704
6     1.710925
7     1.513421
8     1.104351
9     0.811788
10    1.121940
Name: value, dtype: float64
ema is: 1.1219402179202853
dataframe_val
    value
0   127.0
1   131.0
2   132.0
3   100.0
4   134.0
5   114.0
6   192.0
7    95.0
8   136.0
9   106.0
10  143.0
ema
0     127.000000
1     129.285714
2     130.459459
3     119.320000
4     124.131882
5     121.050490
6     141.520251
7     128.596337
8     130.597511
9     124.081175
10    129.019450
Name: value, dtype: float64
ema is: 129.01945007377108
dataframe_val
    value
0    40.0
1    24.0
2    20.0
3    24.0
4    34.0
5    26.0
6    18.0
7    32.0
8    28.0
9    18.0
10   22.0
ema
0     40.000000
1     30.857143
2     26.162162
3     25.371429
4     28.199744
5     27.530740
6     24.781010
7     26.786537
8     27.114530
9     24.699922
10    23.995177
Name: value, dtype: float64
ema is: 23.995176688389325
dataframe_val
    value
0   137.0
1    47.0
2    59.0
3    38.0
4    23.0
5    26.0
6    12.0
7    55.0
8    41.0
9    21.0
10   27.0
ema
0     137.000000
1      85.571429
2      74.081081
3      60.885714
4      48.467350
5      41.634393
6      33.084525
7      39.172921
8      39.666771
9      34.721598
10     32.706073
Name: value, dtype: float64
ema is: 32.70607272755334
dataframe_val
    value
0     1.0
1     0.0
2     1.0
3     0.0
4     1.0
5     1.0
6     0.0
7     2.0
8     1.0
9     0.0
10    0.0
ema
0     1.000000
1     0.428571
2     0.675676
3     0.428571
4     0.615877
5     0.732700
6     0.521307
7     0.932107
8     0.950458
9     0.698664
10    0.516296
Name: value, dtype: float64
ema is: 0.5162957285463327
dataframe_val
    value
0   259.0
1    98.0
2   129.0
3    95.0
4   136.0
5    65.0
6    42.0
7   166.0
8   103.0
9    79.0
10   67.0
ema
0     259.000000
1     167.000000
2     150.567568
3     130.245714
4     132.131882
5     111.715177
6      91.601536
7     112.270369
8     109.764634
9     101.614514
10     92.579281
Name: value, dtype: float64
ema is: 92.57928106867618
dataframe_val
    value
0     3.0
1     0.0
2     4.0
3     0.0
4     3.0
5     3.0
6     2.0
7     3.0
8     1.0
9     0.0
10    2.0
ema
0     3.000000
1     1.285714
2     2.459459
3     1.560000
4     2.032010
5     2.326403
6     2.232232
7     2.445528
8     2.054809
9     1.510452
10    1.638236
Name: value, dtype: float64
ema is: 1.638235946466618
dataframe_val
    value
0     4.0
1     0.0
2     0.0
3     0.0
4     1.0
5     1.0
6     1.0
7     1.0
8     0.0
9     1.0
10    2.0
ema
0     4.000000
1     1.714286
2     0.972973
3     0.617143
4     0.742638
5     0.820909
6     0.872579
7     0.907978
8     0.662556
9     0.751951
10    1.077722
Name: value, dtype: float64
ema is: 1.0777223792846533
dataframe_val
    value
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     1.0
8     0.0
9     0.0
10    0.0
ema
0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.277813
8     0.202721
9     0.149017
10    0.110120
Name: value, dtype: float64
ema is: 0.11011966920884596
dataframe_val
    value
0    66.0
1     0.0
2     0.0
3     0.0
4    34.0
5     0.0
6     0.0
7     7.0
8     0.0
9    22.0
10    6.0
ema
0     66.000000
1     28.285714
2     16.054054
3     10.182857
4     17.989757
5     12.518563
6      8.906811
7      8.377075
8      6.112793
9     10.321608
10     9.193563
Name: value, dtype: float64
ema is: 9.193563009859957
dataframe_val
    value
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
ema
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
    value
0     2.0
1     3.0
2     0.0
3     2.0
4     3.0
5     4.0
6     2.0
7     3.0
8     2.0
9     2.0
10    0.0
ema
0     2.000000
1     2.571429
2     1.459459
3     1.657143
4     2.097311
5     2.675973
6     2.480947
7     2.625146
8     2.456172
9     2.335324
10    1.725747
Name: value, dtype: float64
ema is: 1.7257473382294994
dataframe_val
    value
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
ema
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
    value
0     0.0
1    -3.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
ema
0     0.000000
1    -1.714286
2    -0.972973
3    -0.617143
4    -0.414853
5    -0.288684
6    -0.205396
7    -0.148334
8    -0.108240
9    -0.079565
10   -0.058797
Name: value, dtype: float64
ema is: -0.05879680580071926
dataframe_val
    value
0     1.0
1     0.0
2     1.0
3     2.0
4     2.0
5     1.0
6     2.0
7     2.0
8     2.0
9     2.0
10    2.0
ema
0     1.000000
1     0.428571
2     0.675676
3     1.160000
4     1.435339
5     1.302940
6     1.504050
7     1.641831
8     1.738643
9     1.807881
10    1.858029
Name: value, dtype: float64
ema is: 1.858028700396823
dataframe_val
    value
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
ema
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
    value
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
ema
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
    value
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
ema
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
    value
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
ema
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
    value
0     3.0
1     6.0
2     6.0
3     5.0
4     6.0
5     8.0
6     5.0
7     8.0
8     7.0
9     5.0
10    9.0
ema
0     3.000000
1     4.714286
2     5.270270
3     5.171429
4     5.443022
5     6.220671
6     5.868493
7     6.460653
8     6.606436
9     6.180861
10    6.916725
Name: value, dtype: float64
ema is: 6.9167251864938315
dataframe_val
    value
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     1.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
ema
0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.304128
6     0.216384
7     0.156270
8     0.114031
9     0.083822
10    0.061942
Name: value, dtype: float64
ema is: 0.06194231392997583
dataframe_val
    value
0    55.0
1   140.0
2   240.0
3    67.0
4   160.0
5   210.0
6   146.0
7   178.0
8   111.0
9    73.0
10  140.0
ema
0      55.000000
1     103.571429
2     162.567568
3     127.617143
4     138.231754
5     160.058509
6     156.002465
7     162.113658
8     148.297891
9     128.350087
10    131.390999
Name: value, dtype: float64
ema is: 131.39099890793412
dataframe_val
    value
0     4.0
1     2.0
2     2.0
3     4.0
4     3.0
5     5.0
6     4.0
7     6.0
8     3.0
9    10.0
10    5.0
ema
0     4.000000
1     2.857143
2     2.486486
3     3.040000
4     3.026889
5     3.626968
6     3.734592
7     4.363951
8     3.995282
9     5.586043
10    5.433071
Name: value, dtype: float64
ema is: 5.433071199358153
dataframe_val
        value
0   44.750000
1   38.500000
2   49.000000
3   41.000000
4   40.333333
5   40.800000
6   42.750000
7   44.833333
8   48.333333
9   39.700000
10  37.800000
ema
0     44.750000
1     41.178571
2     44.560811
3     43.258571
4     42.299723
5     41.843614
6     42.105117
7     42.863050
8     44.341640
9     43.111984
10    41.725427
Name: value, dtype: float64
ema is: 41.72542660144973
dataframe_val
    value
0     2.0
1     3.0
2     2.0
3     3.0
4     2.0
5     3.0
6     2.0
7     4.0
8     3.0
9     1.0
10    2.0
ema
0     2.000000
1     2.571429
2     2.324324
3     2.571429
4     2.384123
5     2.571429
6     2.406565
7     2.849241
8     2.889991
9     2.389297
10    2.287681
Name: value, dtype: float64
ema is: 2.287681063996254
dataframe_val
       value
0   1.000000
1   0.666667
2   0.500000
3   0.666667
4   1.000000
5   0.666667
6   1.000000
7   0.750000
8   1.000000
9   1.000000
10  1.000000
ema
0     1.000000
1     0.809524
2     0.675676
3     0.672381
4     0.779770
5     0.745372
6     0.818835
7     0.799712
8     0.853849
9     0.892567
10    0.920610
Name: value, dtype: float64
ema is: 0.920609525592353
dataframe_val
    value
0     3.0
1     0.0
2     4.0
3     0.0
4     3.0
5     4.0
6     2.0
7     3.0
8     0.0
9     0.0
10    2.0
ema
0     3.000000
1     1.285714
2     2.459459
3     1.560000
4     2.032010
5     2.630532
6     2.448616
7     2.601797
8     1.898545
9     1.395585
10    1.553352
Name: value, dtype: float64
ema is: 1.5533520347847993
dataframe_val
    value
0     1.0
1     0.0
2     1.0
3     0.0
4     1.0
5     1.0
6     1.0
7     1.0
8     0.0
9     0.0
10    1.0
ema
0     1.000000
1     0.428571
2     0.675676
3     0.428571
4     0.615877
5     0.732700
6     0.809819
7     0.862654
8     0.629483
9     0.462721
10    0.602964
Name: value, dtype: float64
ema is: 0.6029639867199614
dataframe_val
    value
0      27
1       8
2      31
3       6
4      27
5      34
6      20
7      36
8      15
9       3
10     20
ema
0     27.000000
1     16.142857
2     22.567568
3     16.508571
4     19.947503
5     24.221265
6     23.003381
7     26.614006
8     23.474798
9     18.050645
10    18.559475
Name: value, dtype: float64
ema is: 18.55947452389837
dataframe_val
    value
0       7
1      20
2      38
3      14
4      23
5      37
6      24
7      30
8      24
9      24
10     27
ema
0      7.000000
1     14.428571
2     24.621622
3     20.737143
4     21.478873
5     26.199287
6     25.564767
7     26.796931
8     26.040934
9     25.500253
10    25.891724
Name: value, dtype: float64
ema is: 25.891723674230306
dataframe_val
    value
0      24
1      25
2      17
3      16
4      22
5      14
6      13
7      10
8      16
9      15
10     18
ema
0     24.000000
1     24.571429
2     21.297297
3     19.360000
4     20.225352
5     18.332046
6     16.793689
7     14.906316
8     15.201934
9     15.148438
10    15.892765
Name: value, dtype: float64
ema is: 15.892764957904308
dataframe_val
    value
0      87
1      31
2      28
3      37
4      26
5      62
6      21
7     101
8      80
9      26
10     39
ema
0     87.000000
1     55.000000
2     43.324324
3     41.011429
4     36.090909
5     43.970597
6     37.343312
7     55.027944
8     61.777766
9     52.299574
10    48.828061
Name: value, dtype: float64
ema is: 48.82806098940121
dataframe_val
    value
0      31
1       0
2       1
3      36
4       0
5      34
6       2
7      23
8      31
9       1
10      1
ema
0     31.000000
1     13.285714
2      7.972973
3     18.222857
4     12.249680
5     18.864568
6     13.998943
7     16.499551
8     20.418950
9     15.274511
10    11.548515
Name: value, dtype: float64
ema is: 11.548515280831694
dataframe_val
    value
0       0
1     146
2      60
3       3
4     148
5       0
6      74
7       1
8       1
9      69
10     51
ema
0      0.000000
1     83.428571
2     73.297297
3     47.588571
4     80.501921
5     56.019008
6     61.206734
7     44.480543
8     32.727969
9     42.337100
10    44.598329
Name: value, dtype: float64
ema is: 44.59832861897108
dataframe_val
    value
0      34
1      23
2      19
3      45
4      25
5      41
6      17
7      31
8      24
9      15
10     20
ema
0     34.000000
1     27.714286
2     23.945946
3     31.645714
4     29.467350
5     32.974755
6     28.365852
7     29.097652
8     27.719782
9     24.350076
10    23.214600
Name: value, dtype: float64
ema is: 23.214600275767165
dataframe_val
    value
0       1
1     264
2     241
3       2
4     319
5       1
6     200
7       1
8       1
9     187
10    232
ema
0       1.000000
1     151.285714
2     190.081081
3     121.297143
4     186.101152
5     129.806653
6     150.058252
7     108.647986
8      79.551272
9     108.016427
10    140.379165
Name: value, dtype: float64
ema is: 140.37916491688028
dataframe_val
    value
0      28
1       1
2       0
3      11
4       0
5      12
6       0
7       9
8      16
9       0
10      1
ema
0     28.000000
1     12.571429
2      7.135135
3      8.548571
4      5.746479
5      7.648352
6      5.441713
7      6.430250
8      9.016906
9      6.628161
10     5.159073
Name: value, dtype: float64
ema is: 5.159073444229339
dataframe_val
    value
0     282
1      30
2      35
3     146
4      31
5     175
6      35
7      87
8     248
9      37
10     39
ema
0     282.000000
1     138.000000
2      93.459459
3     112.674286
4      85.902689
5     112.999703
6      90.495879
7      89.524680
8     132.359769
9     107.097203
10     89.322171
Name: value, dtype: float64
ema is: 89.32217137642367
dataframe_val
    value
0       3
1       2
2       0
3       1
4       1
5       1
6       2
7       0
8       1
9       2
10      0
ema
0     3.000000
1     2.428571
2     1.378378
3     1.240000
4     1.161332
5     1.112266
6     1.368388
7     0.988232
8     0.991413
9     1.258606
10    0.930079
Name: value, dtype: float64
ema is: 0.9300794069039372
dataframe_val
    value
0       0
1       4
2       5
3      21
4       2
5      22
6       4
7      14
8       6
9       1
10      0
ema
0      0.000000
1      2.285714
2      3.459459
3      9.874286
4      7.293214
5     11.765964
6      9.525393
7     10.768495
8      9.479595
9      7.233193
10     5.345153
Name: value, dtype: float64
ema is: 5.345153301202815
dataframe_val
    value
0      36
1       0
2       1
3       0
4       0
5       6
6       3
7      25
8      29
9       1
10      5
ema
0     36.000000
1     15.428571
2      9.189189
3      5.828571
4      3.918054
5      4.551233
6      4.103684
7      9.908944
8     15.069162
9     11.341981
10     9.686569
Name: value, dtype: float64
ema is: 9.686568884412534
dataframe_val
    value
0     246
1     239
2     205
3     146
4     310
5     169
6     163
7      62
8     219
9     180
10    232
ema
0     246.000000
1     242.000000
2     226.000000
3     196.742857
4     233.866837
5     214.138996
6     199.384800
7     161.217567
8     176.835871
9     177.674107
10    191.854491
Name: value, dtype: float64
ema is: 191.85449062608208
dataframe_val
    value
0     390
1     361
2     296
3     381
4     419
5     257
6     254
7     114
8     319
9     300
10    370
ema
0     390.000000
1     373.428571
2     339.945946
3     354.960000
4     375.951344
5     339.774874
6     315.027823
7     259.179754
8     275.348868
9     281.879409
10    304.881034
Name: value, dtype: float64
ema is: 304.8810335269446
dataframe_val
    value
0       1
1       2
2       3
3       1
4       2
5       1
6       3
7       0
8       0
9       2
10      1
ema
0     1.000000
1     1.571429
2     2.189189
3     1.754286
4     1.834827
5     1.580933
6     1.990350
7     1.437406
8     1.048882
9     1.300851
10    1.222321
Name: value, dtype: float64
ema is: 1.22232140790116
dataframe_val
    value
0       0
1       4
2       2
3       1
4       0
5       0
6       3
7       0
8       2
9       1
10      3
ema
0     0.000000
1     2.285714
2     2.162162
3     1.737143
4     1.167734
5     0.812593
6     1.443685
7     1.042611
8     1.301389
9     1.221545
10    1.685765
Name: value, dtype: float64
ema is: 1.6857653310537777
dataframe_val
    value
0       3
1       3
2       1
3       2
4       1
5       1
6       2
7       0
8       3
9       1
10      1
ema
0     3.000000
1     3.000000
2     2.135135
3     2.085714
4     1.729834
5     1.507871
6     1.649856
7     1.191505
8     1.680332
9     1.500100
10    1.369561
Name: value, dtype: float64
ema is: 1.3695613589411617
dataframe_val
    value
0      30
1       5
2      11
3      75
4       8
5      55
6       6
7      35
8      51
9      10
10      4
ema
0     30.000000
1     15.714286
2     13.675676
3     36.102857
4     26.891165
5     35.439857
6     26.946115
7     29.183586
8     35.080454
9     28.436178
10    22.057739
Name: value, dtype: float64
ema is: 22.05773934152935
dataframe_val
        value
0   50.000000
1   46.153846
2   21.428571
3   45.454545
4   22.222222
5   46.153846
6   25.000000
7   36.363636
8   28.571429
9   37.500000
10  38.461538
ema
0     50.000000
1     47.802198
2     36.397386
3     39.709719
4     33.977582
5     37.680728
6     34.022190
7     34.672674
8     33.023538
9     34.209435
10    35.319338
Name: value, dtype: float64
ema is: 35.31933791098419
dataframe_val
         value
0   100.000000
1     0.000000
2    66.666667
3     0.000000
4   100.000000
5     0.000000
6     0.000000
7     0.000000
8    50.000000
9     0.000000
10    0.000000
ema
0     100.000000
1      42.857143
2      53.153153
3      33.714286
4      55.441741
5      38.580339
6      27.449461
7      19.823654
8      27.980170
9      20.567706
10     15.199033
Name: value, dtype: float64
ema is: 15.199032549636476
dataframe_val
    value
0      38
1      33
2      33
3      30
4      29
5      32
6      28
7      24
8      34
9      28
10     38
ema
0     38.000000
1     35.142857
2     34.216216
3     32.674286
4     31.469910
5     31.631126
6     30.583504
7     28.754523
8     30.172349
9     29.596854
10    31.790280
Name: value, dtype: float64
ema is: 31.790280041332714
dataframe_val
    value
0    44.0
1    34.0
2    33.0
3    19.0
4    33.0
5    18.0
6    26.0
7    16.0
8    28.0
9    20.0
10   27.0
ema
0     44.000000
1     38.285714
2     36.000000
3     29.782857
4     30.837388
5     26.933175
6     26.663943
7     23.701365
8     24.863265
9     23.574896
10    24.468932
Name: value, dtype: float64
ema is: 24.468931634984642
dataframe_val
    value
0    28.0
1    23.0
2    19.0
3    11.0
4    25.0
5    12.0
6    17.0
7     9.0
8    16.0
9    15.0
10   20.0
ema
0     28.000000
1     25.142857
2     22.486486
3     18.285714
4     20.486556
5     17.905554
6     17.644291
7     15.242798
8     15.447466
9     15.328924
10    16.548189
Name: value, dtype: float64
ema is: 16.54818868169703
dataframe_val
    value
0     3.0
1     1.0
2     0.0
3     1.0
4     0.0
5     1.0
6     0.0
7     0.0
8     1.0
9     0.0
10    1.0
ema
0     3.000000
1     1.857143
2     1.054054
3     1.034286
4     0.695262
5     0.787942
6     0.560611
7     0.404866
8     0.565728
9     0.415856
10    0.568332
Name: value, dtype: float64
ema is: 0.5683320318324626
dataframe_val
    value
0    53.0
1    53.0
2    32.0
3    52.0
4    47.0
5    42.0
6    50.0
7    22.0
8   104.0
9    59.0
10   40.0
ema
0     53.000000
1     53.000000
2     43.918919
3     46.874286
4     46.915493
5     45.420552
6     46.741776
7     39.868198
8     57.202705
9     57.678842
10    53.064232
Name: value, dtype: float64
ema is: 53.06423249078888
dataframe_val
    value
0     4.0
1     4.0
2     5.0
3     0.0
4     2.0
5     1.0
6     4.0
7     4.0
8     4.0
9     1.0
10    0.0
ema
0     4.000000
1     4.000000
2     4.432432
3     2.811429
4     2.545455
5     2.075438
6     2.630697
7     3.011106
8     3.278399

0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
    value
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
ema
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
    value
0     6.0
1     6.0
2     7.0
3     8.0
4     6.0
5     8.0
6     7.0
7     4.0
8     7.0
9     5.0
10    4.0
ema
0     6.000000
1     6.000000
2     6.432432
3     7.005714
4     6.676056
5     7.078705
6     7.055998
7     6.207003
8     6.421346
9     6.044805
10    5.511061
Name: value, dtype: float64
ema is: 5.511061180830124
dataframe_val
    value
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
ema
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
Name: value, dtype: float64
ema is: 0.0
dataframe_val
    value
0   113.0
1   130.0
2   141.0
3   127.0
4   109.0
5   125.0
6    85.0
7    46.0
8   122.0
9    70.0
10   76.0
ema
0     113.000000
1     122.714286
2     130.621622
3     129.297143
4     122.644046
5     123.360558
6     112.293090
7      93.876032
8     101.477801
9      93.138749
10     88.665117
Name: value, dtype: float64
ema is: 88.66511739521259
dataframe_val
    value
0     6.0
1     4.0
2     7.0
3     2.0
4     4.0
5     4.0
6     6.0
7     7.0
8     6.0
9     4.0
10    5.0
ema
0     6.000000
1     4.857143
2     5.783784
3     4.400000
4     4.268886
5     4.187110
6     4.710150
7     5.346299
8     5.522991
9     5.119523
10    5.088324
Name: value, dtype: float64
ema is: 5.0883244045477936
dataframe_val
        value
0   44.666667
1   44.000000
2   51.142857
3   46.500000
4   44.250000
5   37.000000
6   40.333333
7   46.571429
8   46.333333
9   38.000000
10  44.800000
ema
0     44.666667
1     44.285714
2     47.250965
3     46.976327
4     46.082678
5     43.320378
6     42.458581
7     43.601182
8     44.339669
9     42.660173
10    43.218720
Name: value, dtype: float64
ema is: 43.218720375059846
dataframe_val
    value
0     2.0
1     2.0
2     1.0
3     2.0
4     5.0
5     3.0
6     2.0
7     2.0
8     2.0
9     2.0
10    0.0
ema
0     2.000000
1     2.000000
2     1.567568
3     1.725714
4     2.798976
5     2.860113
6     2.611960
7     2.441950
8     2.322493
9     2.237059
10    1.653132
Name: value, dtype: float64
ema is: 1.6531318044079433
dataframe_val
    value
0     1.0
1     0.5
2     0.0
3     0.5
4     1.0
5     1.0
6     0.5
7     1.0
8     1.0
9     0.5
10    0.0
ema
0     1.000000
1     0.714286
2     0.405405
3     0.440000
4     0.623560
5     0.738046
6     0.669367
7     0.761221
8     0.825762
9     0.739461
10    0.546444
Name: value, dtype: float64
ema is: 0.5464439154357174
dataframe_val

KeyboardInterrupt:

# UMAP

In [15]:
# df["D_passing_rushing_td"].head()
print((df["D_kick_punt_returns_td"] > 0).sum())
print((df["D_kick_punt_returns_td"] == 0).sum())

1422
2593

In [16]:
import seaborn as sns
from sklearn.preprocessing import StandardScaler


# Explosive play indicators
return_game_explosives = ["D_kick_punt_returns_lng", "D_kick_punt_returns_rt", "D_kick_punt_returns_yds"]
return_game_df = df[return_game_explosives]
scaled_return_game_df = StandardScaler().fit_transform(return_game_df)

reducer = umap.UMAP(random_state=42, n_neighbors=40, min_dist=0.1)
embedding = reducer.fit_transform(scaled_return_game_df)
print(embedding.shape)

# Create the two new columns, drop the 4
df['kick_punt_umap_dim_1'] = embedding[:,0]
df['kick_punt_umap_dim_2'] = embedding[:,1]
df.drop(return_game_explosives + ['D_kick_punt_returns_td'], axis=1, inplace=True)
# Save UMAP model as pickle




# ------------- UMAP explore parameters -------------
# start_neighbors = 5
#while start_neighbors < 41:
#    start_dist = 0.1
#    while start_dist < 0.5:
#        reducer = umap.UMAP(random_state=42, n_neighbors=start_neighbors, min_dist=0.1)
#        embedding = reducer.fit_transform(scaled_return_game_df)
#        # Create a new figure for each plot
#        plt.scatter(
#            embedding[:, 0],
#            embedding[:, 1],
#            #c=df["D_kick_punt_returns_td"].astype(float),
#            #c=df["H_Won"],
#            c=df["D_Final"],            
#            cmap='Spectral',
#            s=5
#        )
#        plt.gca().set_aspect('equal', 'datalim')
#        plt.title(f'UMAP with n_neighbors={start_neighbors} start_dist={start_dist}')
#        plt.show()
#        start_dist = start_dist * 2
#    start_neighbors = start_neighbors * 2

/Users/forbesjon2/anaconda3/envs/pytorchenv/lib/python3.9/site-packages/umap/umap_.py:1952: UserWarning: n_jobs value 1 overridden to 1 by setting random_state. Use no seed for parallelism.
  warn(
OMP: Info #276: omp_set_nested routine deprecated, please use omp_set_max_active_levels instead.

(5308, 2)

/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_17373/3859661322.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['kick_punt_umap_dim_1'] = embedding[:,0]
/var/folders/k0/7b4qgkdx2vb9ml4ktdckf0hc0000gn/T/ipykernel_17373/3859661322.py:16: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['kick_punt_umap_dim_2'] = embedding[:,1]

In [17]:
df.to_csv(f'./footballData/CombinedSlidingWindow{minimum_window}.csv')

In [18]:
print(len(cont_cols))

173